//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armterraform

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AzureTerraformManagementClient contains the methods for the AzureTerraformManagementClient group.
// Don't use this type directly, use NewAzureTerraformManagementClient() instead.
type AzureTerraformManagementClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewAzureTerraformManagementClient creates a new instance of AzureTerraformManagementClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewAzureTerraformManagementClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*AzureTerraformManagementClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &AzureTerraformManagementClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginExportTerraform - Exports the Terraform configuration of the specified resource(s).
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-07-01-preview
//   - exportParameter - The export parameter
//   - options - AzureTerraformManagementClientBeginExportTerraformOptions contains the optional parameters for the AzureTerraformManagementClient.BeginExportTerraform
//     method.
func (client *AzureTerraformManagementClient) BeginExportTerraform(ctx context.Context, exportParameter BaseExportModelClassification, options *AzureTerraformManagementClientBeginExportTerraformOptions) (*runtime.Poller[AzureTerraformManagementClientExportTerraformResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.exportTerraform(ctx, exportParameter, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[AzureTerraformManagementClientExportTerraformResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[AzureTerraformManagementClientExportTerraformResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// ExportTerraform - Exports the Terraform configuration of the specified resource(s).
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-07-01-preview
func (client *AzureTerraformManagementClient) exportTerraform(ctx context.Context, exportParameter BaseExportModelClassification, options *AzureTerraformManagementClientBeginExportTerraformOptions) (*http.Response, error) {
	var err error
	const operationName = "AzureTerraformManagementClient.BeginExportTerraform"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.exportTerraformCreateRequest(ctx, exportParameter, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// exportTerraformCreateRequest creates the ExportTerraform request.
func (client *AzureTerraformManagementClient) exportTerraformCreateRequest(ctx context.Context, exportParameter BaseExportModelClassification, options *AzureTerraformManagementClientBeginExportTerraformOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.AzureTerraform/exportTerraform"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, exportParameter); err != nil {
		return nil, err
	}
	return req, nil
}
