//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armedgesites

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ListSitesClient contains the methods for the ListSites group.
// Don't use this type directly, use NewListSitesClient() instead.
type ListSitesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewListSitesClient creates a new instance of ListSitesClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewListSitesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ListSitesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ListSitesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewByResourceGroupPager - List Site resources by ResourceGroup
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ListSitesClientByResourceGroupOptions contains the optional parameters for the ListSitesClient.NewByResourceGroupPager
//     method.
func (client *ListSitesClient) NewByResourceGroupPager(resourceGroupName string, options *ListSitesClientByResourceGroupOptions) *runtime.Pager[ListSitesClientByResourceGroupResponse] {
	return runtime.NewPager(runtime.PagingHandler[ListSitesClientByResourceGroupResponse]{
		More: func(page ListSitesClientByResourceGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ListSitesClientByResourceGroupResponse) (ListSitesClientByResourceGroupResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ListSitesClient.NewByResourceGroupPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.byResourceGroupCreateRequest(ctx, resourceGroupName, options)
			}, nil)
			if err != nil {
				return ListSitesClientByResourceGroupResponse{}, err
			}
			return client.byResourceGroupHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// byResourceGroupCreateRequest creates the ByResourceGroup request.
func (client *ListSitesClient) byResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *ListSitesClientByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// byResourceGroupHandleResponse handles the ByResourceGroup response.
func (client *ListSitesClient) byResourceGroupHandleResponse(resp *http.Response) (ListSitesClientByResourceGroupResponse, error) {
	result := ListSitesClientByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SiteListResult); err != nil {
		return ListSitesClientByResourceGroupResponse{}, err
	}
	return result, nil
}

// NewBySubscriptionPager - List Site resources by Subscription
//
// Generated from API version 2023-08-01-preview
//   - options - ListSitesClientBySubscriptionOptions contains the optional parameters for the ListSitesClient.NewBySubscriptionPager
//     method.
func (client *ListSitesClient) NewBySubscriptionPager(options *ListSitesClientBySubscriptionOptions) *runtime.Pager[ListSitesClientBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[ListSitesClientBySubscriptionResponse]{
		More: func(page ListSitesClientBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ListSitesClientBySubscriptionResponse) (ListSitesClientBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ListSitesClient.NewBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.bySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return ListSitesClientBySubscriptionResponse{}, err
			}
			return client.bySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// bySubscriptionCreateRequest creates the BySubscription request.
func (client *ListSitesClient) bySubscriptionCreateRequest(ctx context.Context, options *ListSitesClientBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// bySubscriptionHandleResponse handles the BySubscription response.
func (client *ListSitesClient) bySubscriptionHandleResponse(resp *http.Response) (ListSitesClientBySubscriptionResponse, error) {
	result := ListSitesClientBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SiteListResult); err != nil {
		return ListSitesClientBySubscriptionResponse{}, err
	}
	return result, nil
}
