//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armedgesites

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SitesUpdateClient contains the methods for the SitesUpdate group.
// Don't use this type directly, use NewSitesUpdateClient() instead.
type SitesUpdateClient struct {
	internal       *arm.Client
	subscriptionID string
	siteName       string
}

// NewSitesUpdateClient creates a new instance of SitesUpdateClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - siteName - Name of Site
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSitesUpdateClient(subscriptionID string, siteName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SitesUpdateClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SitesUpdateClient{
		subscriptionID: subscriptionID,
		siteName:       siteName,
		internal:       cl,
	}
	return client, nil
}

// AtSubscription - Update a Site at Subscription Scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - site - The resource properties to be updated.
//   - options - SitesUpdateClientAtSubscriptionOptions contains the optional parameters for the SitesUpdateClient.AtSubscription
//     method.
func (client *SitesUpdateClient) AtSubscription(ctx context.Context, site SiteUpdate, options *SitesUpdateClientAtSubscriptionOptions) (SitesUpdateClientAtSubscriptionResponse, error) {
	var err error
	const operationName = "SitesUpdateClient.AtSubscription"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.atSubscriptionCreateRequest(ctx, site, options)
	if err != nil {
		return SitesUpdateClientAtSubscriptionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SitesUpdateClientAtSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SitesUpdateClientAtSubscriptionResponse{}, err
	}
	resp, err := client.atSubscriptionHandleResponse(httpResp)
	return resp, err
}

// atSubscriptionCreateRequest creates the AtSubscription request.
func (client *SitesUpdateClient) atSubscriptionCreateRequest(ctx context.Context, site SiteUpdate, options *SitesUpdateClientAtSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, site); err != nil {
		return nil, err
	}
	return req, nil
}

// atSubscriptionHandleResponse handles the AtSubscription response.
func (client *SitesUpdateClient) atSubscriptionHandleResponse(resp *http.Response) (SitesUpdateClientAtSubscriptionResponse, error) {
	result := SitesUpdateClientAtSubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Site); err != nil {
		return SitesUpdateClientAtSubscriptionResponse{}, err
	}
	return result, nil
}

// ByResourceGroup - Update a Site at Resource Group scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - site - The resource properties to be updated.
//   - options - SitesUpdateClientByResourceGroupOptions contains the optional parameters for the SitesUpdateClient.ByResourceGroup
//     method.
func (client *SitesUpdateClient) ByResourceGroup(ctx context.Context, resourceGroupName string, site SiteUpdate, options *SitesUpdateClientByResourceGroupOptions) (SitesUpdateClientByResourceGroupResponse, error) {
	var err error
	const operationName = "SitesUpdateClient.ByResourceGroup"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.byResourceGroupCreateRequest(ctx, resourceGroupName, site, options)
	if err != nil {
		return SitesUpdateClientByResourceGroupResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SitesUpdateClientByResourceGroupResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SitesUpdateClientByResourceGroupResponse{}, err
	}
	resp, err := client.byResourceGroupHandleResponse(httpResp)
	return resp, err
}

// byResourceGroupCreateRequest creates the ByResourceGroup request.
func (client *SitesUpdateClient) byResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, site SiteUpdate, options *SitesUpdateClientByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, site); err != nil {
		return nil, err
	}
	return req, nil
}

// byResourceGroupHandleResponse handles the ByResourceGroup response.
func (client *SitesUpdateClient) byResourceGroupHandleResponse(resp *http.Response) (SitesUpdateClientByResourceGroupResponse, error) {
	result := SitesUpdateClientByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Site); err != nil {
		return SitesUpdateClientByResourceGroupResponse{}, err
	}
	return result, nil
}
