//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armedgesites

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SitesCreateClient contains the methods for the SitesCreate group.
// Don't use this type directly, use NewSitesCreateClient() instead.
type SitesCreateClient struct {
	internal       *arm.Client
	subscriptionID string
	siteName       string
}

// NewSitesCreateClient creates a new instance of SitesCreateClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - siteName - Name of Site
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSitesCreateClient(subscriptionID string, siteName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SitesCreateClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SitesCreateClient{
		subscriptionID: subscriptionID,
		siteName:       siteName,
		internal:       cl,
	}
	return client, nil
}

// BeginAtSubscription - Create a Site at Subscription scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - site - Resource create parameters.
//   - options - SitesCreateClientBeginAtSubscriptionOptions contains the optional parameters for the SitesCreateClient.BeginAtSubscription
//     method.
func (client *SitesCreateClient) BeginAtSubscription(ctx context.Context, site Site, options *SitesCreateClientBeginAtSubscriptionOptions) (*runtime.Poller[SitesCreateClientAtSubscriptionResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.atSubscription(ctx, site, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[SitesCreateClientAtSubscriptionResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[SitesCreateClientAtSubscriptionResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// AtSubscription - Create a Site at Subscription scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
func (client *SitesCreateClient) atSubscription(ctx context.Context, site Site, options *SitesCreateClientBeginAtSubscriptionOptions) (*http.Response, error) {
	var err error
	const operationName = "SitesCreateClient.BeginAtSubscription"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.atSubscriptionCreateRequest(ctx, site, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// atSubscriptionCreateRequest creates the AtSubscription request.
func (client *SitesCreateClient) atSubscriptionCreateRequest(ctx context.Context, site Site, options *SitesCreateClientBeginAtSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, site); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginByResourceGroup - Create a Site at Resource Group scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - site - Resource create parameters.
//   - options - SitesCreateClientBeginByResourceGroupOptions contains the optional parameters for the SitesCreateClient.BeginByResourceGroup
//     method.
func (client *SitesCreateClient) BeginByResourceGroup(ctx context.Context, resourceGroupName string, site Site, options *SitesCreateClientBeginByResourceGroupOptions) (*runtime.Poller[SitesCreateClientByResourceGroupResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.byResourceGroup(ctx, resourceGroupName, site, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[SitesCreateClientByResourceGroupResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[SitesCreateClientByResourceGroupResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// ByResourceGroup - Create a Site at Resource Group scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
func (client *SitesCreateClient) byResourceGroup(ctx context.Context, resourceGroupName string, site Site, options *SitesCreateClientBeginByResourceGroupOptions) (*http.Response, error) {
	var err error
	const operationName = "SitesCreateClient.BeginByResourceGroup"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.byResourceGroupCreateRequest(ctx, resourceGroupName, site, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// byResourceGroupCreateRequest creates the ByResourceGroup request.
func (client *SitesCreateClient) byResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, site Site, options *SitesCreateClientBeginByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, site); err != nil {
		return nil, err
	}
	return req, nil
}
