//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armedgesites

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SitesDeleteClient contains the methods for the SitesDelete group.
// Don't use this type directly, use NewSitesDeleteClient() instead.
type SitesDeleteClient struct {
	internal       *arm.Client
	subscriptionID string
	siteName       string
}

// NewSitesDeleteClient creates a new instance of SitesDeleteClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - siteName - Name of Site
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSitesDeleteClient(subscriptionID string, siteName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SitesDeleteClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SitesDeleteClient{
		subscriptionID: subscriptionID,
		siteName:       siteName,
		internal:       cl,
	}
	return client, nil
}

// AtSubscription - Delete a Site at Subscription scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - options - SitesDeleteClientAtSubscriptionOptions contains the optional parameters for the SitesDeleteClient.AtSubscription
//     method.
func (client *SitesDeleteClient) AtSubscription(ctx context.Context, options *SitesDeleteClientAtSubscriptionOptions) (SitesDeleteClientAtSubscriptionResponse, error) {
	var err error
	const operationName = "SitesDeleteClient.AtSubscription"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.atSubscriptionCreateRequest(ctx, options)
	if err != nil {
		return SitesDeleteClientAtSubscriptionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SitesDeleteClientAtSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return SitesDeleteClientAtSubscriptionResponse{}, err
	}
	return SitesDeleteClientAtSubscriptionResponse{}, nil
}

// atSubscriptionCreateRequest creates the AtSubscription request.
func (client *SitesDeleteClient) atSubscriptionCreateRequest(ctx context.Context, options *SitesDeleteClientAtSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// ByResourceGroup - Delete a Site at ResourceGroup scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - SitesDeleteClientByResourceGroupOptions contains the optional parameters for the SitesDeleteClient.ByResourceGroup
//     method.
func (client *SitesDeleteClient) ByResourceGroup(ctx context.Context, resourceGroupName string, options *SitesDeleteClientByResourceGroupOptions) (SitesDeleteClientByResourceGroupResponse, error) {
	var err error
	const operationName = "SitesDeleteClient.ByResourceGroup"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.byResourceGroupCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return SitesDeleteClientByResourceGroupResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SitesDeleteClientByResourceGroupResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return SitesDeleteClientByResourceGroupResponse{}, err
	}
	return SitesDeleteClientByResourceGroupResponse{}, nil
}

// byResourceGroupCreateRequest creates the ByResourceGroup request.
func (client *SitesDeleteClient) byResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *SitesDeleteClientByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}
