//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armedgesites

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SitesGetClient contains the methods for the SitesGet group.
// Don't use this type directly, use NewSitesGetClient() instead.
type SitesGetClient struct {
	internal       *arm.Client
	subscriptionID string
	siteName       string
}

// NewSitesGetClient creates a new instance of SitesGetClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - siteName - Name of Site
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSitesGetClient(subscriptionID string, siteName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SitesGetClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SitesGetClient{
		subscriptionID: subscriptionID,
		siteName:       siteName,
		internal:       cl,
	}
	return client, nil
}

// AtSubscription - Get a Site at Subscription scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - options - SitesGetClientAtSubscriptionOptions contains the optional parameters for the SitesGetClient.AtSubscription method.
func (client *SitesGetClient) AtSubscription(ctx context.Context, options *SitesGetClientAtSubscriptionOptions) (SitesGetClientAtSubscriptionResponse, error) {
	var err error
	const operationName = "SitesGetClient.AtSubscription"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.atSubscriptionCreateRequest(ctx, options)
	if err != nil {
		return SitesGetClientAtSubscriptionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SitesGetClientAtSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SitesGetClientAtSubscriptionResponse{}, err
	}
	resp, err := client.atSubscriptionHandleResponse(httpResp)
	return resp, err
}

// atSubscriptionCreateRequest creates the AtSubscription request.
func (client *SitesGetClient) atSubscriptionCreateRequest(ctx context.Context, options *SitesGetClientAtSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// atSubscriptionHandleResponse handles the AtSubscription response.
func (client *SitesGetClient) atSubscriptionHandleResponse(resp *http.Response) (SitesGetClientAtSubscriptionResponse, error) {
	result := SitesGetClientAtSubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Site); err != nil {
		return SitesGetClientAtSubscriptionResponse{}, err
	}
	return result, nil
}

// ByResourceGroup - Get a Site at Resource Group scope
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - SitesGetClientByResourceGroupOptions contains the optional parameters for the SitesGetClient.ByResourceGroup
//     method.
func (client *SitesGetClient) ByResourceGroup(ctx context.Context, resourceGroupName string, options *SitesGetClientByResourceGroupOptions) (SitesGetClientByResourceGroupResponse, error) {
	var err error
	const operationName = "SitesGetClient.ByResourceGroup"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.byResourceGroupCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return SitesGetClientByResourceGroupResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SitesGetClientByResourceGroupResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SitesGetClientByResourceGroupResponse{}, err
	}
	resp, err := client.byResourceGroupHandleResponse(httpResp)
	return resp, err
}

// byResourceGroupCreateRequest creates the ByResourceGroup request.
func (client *SitesGetClient) byResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *SitesGetClientByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// byResourceGroupHandleResponse handles the ByResourceGroup response.
func (client *SitesGetClient) byResourceGroupHandleResponse(resp *http.Response) (SitesGetClientByResourceGroupResponse, error) {
	result := SitesGetClientByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Site); err != nil {
		return SitesGetClientByResourceGroupResponse{}, err
	}
	return result, nil
}
