//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armedgesites

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// SiteAwareResourceTypesClient contains the methods for the SiteAwareResourceTypes group.
// Don't use this type directly, use NewSiteAwareResourceTypesClient() instead.
type SiteAwareResourceTypesClient struct {
	internal *arm.Client
}

// NewSiteAwareResourceTypesClient creates a new instance of SiteAwareResourceTypesClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSiteAwareResourceTypesClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SiteAwareResourceTypesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SiteAwareResourceTypesClient{
		internal: cl,
	}
	return client, nil
}

// NewListPager - Get Site Aware Resource Types
//
// Generated from API version 2023-08-01-preview
//   - options - SiteAwareResourceTypesClientListOptions contains the optional parameters for the SiteAwareResourceTypesClient.NewListPager
//     method.
func (client *SiteAwareResourceTypesClient) NewListPager(options *SiteAwareResourceTypesClientListOptions) *runtime.Pager[SiteAwareResourceTypesClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[SiteAwareResourceTypesClientListResponse]{
		More: func(page SiteAwareResourceTypesClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SiteAwareResourceTypesClientListResponse) (SiteAwareResourceTypesClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "SiteAwareResourceTypesClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return SiteAwareResourceTypesClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *SiteAwareResourceTypesClient) listCreateRequest(ctx context.Context, options *SiteAwareResourceTypesClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Edge/siteAwareResourceTypes"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *SiteAwareResourceTypesClient) listHandleResponse(resp *http.Response) (SiteAwareResourceTypesClientListResponse, error) {
	result := SiteAwareResourceTypesClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SiteAwareResourceTypesList); err != nil {
		return SiteAwareResourceTypesClientListResponse{}, err
	}
	return result, nil
}
