//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armtestbase

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// ActionRequestsClient contains the methods for the ActionRequests group.
// Don't use this type directly, use NewActionRequestsClient() instead.
type ActionRequestsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewActionRequestsClient creates a new instance of ActionRequestsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewActionRequestsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ActionRequestsClient, error) {
	cl, err := arm.NewClient(moduleName+".ActionRequestsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ActionRequestsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Delete - Delete (revoke) an action request. Only requests in review can be deleted.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - options - ActionRequestsClientDeleteOptions contains the optional parameters for the ActionRequestsClient.Delete method.
func (client *ActionRequestsClient) Delete(ctx context.Context, resourceGroupName string, testBaseAccountName string, actionRequestName string, options *ActionRequestsClientDeleteOptions) (ActionRequestsClientDeleteResponse, error) {
	var err error
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, testBaseAccountName, actionRequestName, options)
	if err != nil {
		return ActionRequestsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ActionRequestsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return ActionRequestsClientDeleteResponse{}, err
	}
	return ActionRequestsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ActionRequestsClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, actionRequestName string, options *ActionRequestsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/actionRequests/{actionRequestName}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	if actionRequestName == "" {
		return nil, errors.New("parameter actionRequestName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{actionRequestName}", url.PathEscape(actionRequestName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get the action request under the specified test base account.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - options - ActionRequestsClientGetOptions contains the optional parameters for the ActionRequestsClient.Get method.
func (client *ActionRequestsClient) Get(ctx context.Context, resourceGroupName string, testBaseAccountName string, actionRequestName string, options *ActionRequestsClientGetOptions) (ActionRequestsClientGetResponse, error) {
	var err error
	req, err := client.getCreateRequest(ctx, resourceGroupName, testBaseAccountName, actionRequestName, options)
	if err != nil {
		return ActionRequestsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ActionRequestsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ActionRequestsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ActionRequestsClient) getCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, actionRequestName string, options *ActionRequestsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/actionRequests/{actionRequestName}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	if actionRequestName == "" {
		return nil, errors.New("parameter actionRequestName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{actionRequestName}", url.PathEscape(actionRequestName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ActionRequestsClient) getHandleResponse(resp *http.Response) (ActionRequestsClientGetResponse, error) {
	result := ActionRequestsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ActionRequest); err != nil {
		return ActionRequestsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - List all action requests under the specified test base account.
//
// Generated from API version 2023-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - options - ActionRequestsClientListOptions contains the optional parameters for the ActionRequestsClient.NewListPager method.
func (client *ActionRequestsClient) NewListPager(resourceGroupName string, testBaseAccountName string, options *ActionRequestsClientListOptions) *runtime.Pager[ActionRequestsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ActionRequestsClientListResponse]{
		More: func(page ActionRequestsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ActionRequestsClientListResponse) (ActionRequestsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, resourceGroupName, testBaseAccountName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return ActionRequestsClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return ActionRequestsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return ActionRequestsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *ActionRequestsClient) listCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, options *ActionRequestsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/actionRequests"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-11-01-preview")
	if options != nil && options.RequestType != nil {
		reqQP.Set("requestType", *options.RequestType)
	}
	if options != nil && options.Top != nil {
		reqQP.Set("top", strconv.FormatInt(int64(*options.Top), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ActionRequestsClient) listHandleResponse(resp *http.Response) (ActionRequestsClientListResponse, error) {
	result := ActionRequestsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ActionRequests); err != nil {
		return ActionRequestsClientListResponse{}, err
	}
	return result, nil
}

// Put - Create (submit) an action request.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - options - ActionRequestsClientPutOptions contains the optional parameters for the ActionRequestsClient.Put method.
func (client *ActionRequestsClient) Put(ctx context.Context, resourceGroupName string, testBaseAccountName string, actionRequestName string, options *ActionRequestsClientPutOptions) (ActionRequestsClientPutResponse, error) {
	var err error
	req, err := client.putCreateRequest(ctx, resourceGroupName, testBaseAccountName, actionRequestName, options)
	if err != nil {
		return ActionRequestsClientPutResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ActionRequestsClientPutResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return ActionRequestsClientPutResponse{}, err
	}
	resp, err := client.putHandleResponse(httpResp)
	return resp, err
}

// putCreateRequest creates the Put request.
func (client *ActionRequestsClient) putCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, actionRequestName string, options *ActionRequestsClientPutOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/actionRequests/{actionRequestName}"
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	if actionRequestName == "" {
		return nil, errors.New("parameter actionRequestName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{actionRequestName}", url.PathEscape(actionRequestName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.ActionRequest != nil {
		if err := runtime.MarshalAsJSON(req, *options.ActionRequest); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// putHandleResponse handles the Put response.
func (client *ActionRequestsClient) putHandleResponse(resp *http.Response) (ActionRequestsClientPutResponse, error) {
	result := ActionRequestsClientPutResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ActionRequest); err != nil {
		return ActionRequestsClientPutResponse{}, err
	}
	return result, nil
}
