// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armtestbase

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ChatSessionClient contains the methods for the ChatSession group.
// Don't use this type directly, use NewChatSessionClient() instead.
type ChatSessionClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewChatSessionClient creates a new instance of ChatSessionClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewChatSessionClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ChatSessionClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ChatSessionClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginChat - Start a new chat turn. Ask a question and see the answer in response.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - chatSessionName - The chat session name.
//   - parameters - Payload to ask a question.
//   - options - ChatSessionClientBeginChatOptions contains the optional parameters for the ChatSessionClient.BeginChat method.
func (client *ChatSessionClient) BeginChat(ctx context.Context, resourceGroupName string, testBaseAccountName string, chatSessionName string, parameters ChatRequest, options *ChatSessionClientBeginChatOptions) (*runtime.Poller[ChatSessionClientChatResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.chat(ctx, resourceGroupName, testBaseAccountName, chatSessionName, parameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ChatSessionClientChatResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ChatSessionClientChatResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Chat - Start a new chat turn. Ask a question and see the answer in response.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-11-01-preview
func (client *ChatSessionClient) chat(ctx context.Context, resourceGroupName string, testBaseAccountName string, chatSessionName string, parameters ChatRequest, options *ChatSessionClientBeginChatOptions) (*http.Response, error) {
	var err error
	const operationName = "ChatSessionClient.BeginChat"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.chatCreateRequest(ctx, resourceGroupName, testBaseAccountName, chatSessionName, parameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// chatCreateRequest creates the Chat request.
func (client *ChatSessionClient) chatCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, chatSessionName string, parameters ChatRequest, _ *ChatSessionClientBeginChatOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/chatSessions/{chatSessionName}/chat"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	if chatSessionName == "" {
		return nil, errors.New("parameter chatSessionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{chatSessionName}", url.PathEscape(chatSessionName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}
