// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armtestbase

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// FeatureUpdateSupportedOsesClient contains the methods for the FeatureUpdateSupportedOses group.
// Don't use this type directly, use NewFeatureUpdateSupportedOsesClient() instead.
type FeatureUpdateSupportedOsesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewFeatureUpdateSupportedOsesClient creates a new instance of FeatureUpdateSupportedOsesClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewFeatureUpdateSupportedOsesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*FeatureUpdateSupportedOsesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &FeatureUpdateSupportedOsesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListPager - Lists all the available OSs to run a package under a Test Base Account.
//
// Generated from API version 2023-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - options - FeatureUpdateSupportedOsesClientListOptions contains the optional parameters for the FeatureUpdateSupportedOsesClient.NewListPager
//     method.
func (client *FeatureUpdateSupportedOsesClient) NewListPager(resourceGroupName string, testBaseAccountName string, options *FeatureUpdateSupportedOsesClientListOptions) *runtime.Pager[FeatureUpdateSupportedOsesClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[FeatureUpdateSupportedOsesClientListResponse]{
		More: func(page FeatureUpdateSupportedOsesClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *FeatureUpdateSupportedOsesClientListResponse) (FeatureUpdateSupportedOsesClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "FeatureUpdateSupportedOsesClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, resourceGroupName, testBaseAccountName, options)
			}, nil)
			if err != nil {
				return FeatureUpdateSupportedOsesClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *FeatureUpdateSupportedOsesClient) listCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, _ *FeatureUpdateSupportedOsesClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/featureUpdateSupportedOses"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *FeatureUpdateSupportedOsesClient) listHandleResponse(resp *http.Response) (FeatureUpdateSupportedOsesClientListResponse, error) {
	result := FeatureUpdateSupportedOsesClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.FeatureUpdateSupportedOsesResult); err != nil {
		return FeatureUpdateSupportedOsesClientListResponse{}, err
	}
	return result, nil
}
