//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armtestbase

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// FirstPartyAppsClient contains the methods for the FirstPartyApps group.
// Don't use this type directly, use NewFirstPartyAppsClient() instead.
type FirstPartyAppsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewFirstPartyAppsClient creates a new instance of FirstPartyAppsClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewFirstPartyAppsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*FirstPartyAppsClient, error) {
	cl, err := arm.NewClient(moduleName+".FirstPartyAppsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &FirstPartyAppsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Gets a first party application to prepare a test run for a Test Base Account.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-07-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - firstPartyAppResourceName - The resource name of a first party application.
//   - options - FirstPartyAppsClientGetOptions contains the optional parameters for the FirstPartyAppsClient.Get method.
func (client *FirstPartyAppsClient) Get(ctx context.Context, resourceGroupName string, testBaseAccountName string, firstPartyAppResourceName string, options *FirstPartyAppsClientGetOptions) (FirstPartyAppsClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, testBaseAccountName, firstPartyAppResourceName, options)
	if err != nil {
		return FirstPartyAppsClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return FirstPartyAppsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return FirstPartyAppsClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *FirstPartyAppsClient) getCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, firstPartyAppResourceName string, options *FirstPartyAppsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/firstPartyApps/{firstPartyAppResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	if firstPartyAppResourceName == "" {
		return nil, errors.New("parameter firstPartyAppResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{firstPartyAppResourceName}", url.PathEscape(firstPartyAppResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *FirstPartyAppsClient) getHandleResponse(resp *http.Response) (FirstPartyAppsClientGetResponse, error) {
	result := FirstPartyAppsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.FirstPartyAppResource); err != nil {
		return FirstPartyAppsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Lists all first party applications currently available for test runs under a Test Base Account.
//
// Generated from API version 2023-07-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - testBaseAccountName - The resource name of the Test Base Account.
//   - options - FirstPartyAppsClientListOptions contains the optional parameters for the FirstPartyAppsClient.NewListPager method.
func (client *FirstPartyAppsClient) NewListPager(resourceGroupName string, testBaseAccountName string, options *FirstPartyAppsClientListOptions) *runtime.Pager[FirstPartyAppsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[FirstPartyAppsClientListResponse]{
		More: func(page FirstPartyAppsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *FirstPartyAppsClientListResponse) (FirstPartyAppsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, resourceGroupName, testBaseAccountName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return FirstPartyAppsClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return FirstPartyAppsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return FirstPartyAppsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *FirstPartyAppsClient) listCreateRequest(ctx context.Context, resourceGroupName string, testBaseAccountName string, options *FirstPartyAppsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/firstPartyApps"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if testBaseAccountName == "" {
		return nil, errors.New("parameter testBaseAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{testBaseAccountName}", url.PathEscape(testBaseAccountName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *FirstPartyAppsClient) listHandleResponse(resp *http.Response) (FirstPartyAppsClientListResponse, error) {
	result := FirstPartyAppsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.FirstPartyAppListResult); err != nil {
		return FirstPartyAppsClientListResponse{}, err
	}
	return result, nil
}
