//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrate

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HypervDependencyMapControllerClient contains the methods for the HypervDependencyMapController group.
// Don't use this type directly, use NewHypervDependencyMapControllerClient() instead.
type HypervDependencyMapControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewHypervDependencyMapControllerClient creates a new instance of HypervDependencyMapControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHypervDependencyMapControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*HypervDependencyMapControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &HypervDependencyMapControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginClientGroupMembers - API to list client group members for the selected client group.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - mapRequest - The content of the action request
//   - options - HypervDependencyMapControllerClientBeginClientGroupMembersOptions contains the optional parameters for the HypervDependencyMapControllerClient.BeginClientGroupMembers
//     method.
func (client *HypervDependencyMapControllerClient) BeginClientGroupMembers(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsClientGroupMembersRequest, options *HypervDependencyMapControllerClientBeginClientGroupMembersOptions) (*runtime.Poller[HypervDependencyMapControllerClientClientGroupMembersResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.clientGroupMembers(ctx, resourceGroupName, siteName, mapRequest, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[HypervDependencyMapControllerClientClientGroupMembersResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[HypervDependencyMapControllerClientClientGroupMembersResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// ClientGroupMembers - API to list client group members for the selected client group.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *HypervDependencyMapControllerClient) clientGroupMembers(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsClientGroupMembersRequest, options *HypervDependencyMapControllerClientBeginClientGroupMembersOptions) (*http.Response, error) {
	var err error
	const operationName = "HypervDependencyMapControllerClient.BeginClientGroupMembers"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.clientGroupMembersCreateRequest(ctx, resourceGroupName, siteName, mapRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// clientGroupMembersCreateRequest creates the ClientGroupMembers request.
func (client *HypervDependencyMapControllerClient) clientGroupMembersCreateRequest(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsClientGroupMembersRequest, options *HypervDependencyMapControllerClientBeginClientGroupMembersOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/clientGroupMembers"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, mapRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginExportDependencies - API to generate report containing agentless dependencies.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - requestBody - The content of the action request
//   - options - HypervDependencyMapControllerClientBeginExportDependenciesOptions contains the optional parameters for the HypervDependencyMapControllerClient.BeginExportDependencies
//     method.
func (client *HypervDependencyMapControllerClient) BeginExportDependencies(ctx context.Context, resourceGroupName string, siteName string, requestBody DependencyMapServiceMapextensionsExportDependenciesRequest, options *HypervDependencyMapControllerClientBeginExportDependenciesOptions) (*runtime.Poller[HypervDependencyMapControllerClientExportDependenciesResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.exportDependencies(ctx, resourceGroupName, siteName, requestBody, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[HypervDependencyMapControllerClientExportDependenciesResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[HypervDependencyMapControllerClientExportDependenciesResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// ExportDependencies - API to generate report containing agentless dependencies.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *HypervDependencyMapControllerClient) exportDependencies(ctx context.Context, resourceGroupName string, siteName string, requestBody DependencyMapServiceMapextensionsExportDependenciesRequest, options *HypervDependencyMapControllerClientBeginExportDependenciesOptions) (*http.Response, error) {
	var err error
	const operationName = "HypervDependencyMapControllerClient.BeginExportDependencies"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.exportDependenciesCreateRequest(ctx, resourceGroupName, siteName, requestBody, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// exportDependenciesCreateRequest creates the ExportDependencies request.
func (client *HypervDependencyMapControllerClient) exportDependenciesCreateRequest(ctx context.Context, resourceGroupName string, siteName string, requestBody DependencyMapServiceMapextensionsExportDependenciesRequest, options *HypervDependencyMapControllerClientBeginExportDependenciesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/exportDependencies"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, requestBody); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginGenerateCoarseMap - API to generate coarse map for the list of machines.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - mapRequest - The content of the action request
//   - options - HypervDependencyMapControllerClientBeginGenerateCoarseMapOptions contains the optional parameters for the HypervDependencyMapControllerClient.BeginGenerateCoarseMap
//     method.
func (client *HypervDependencyMapControllerClient) BeginGenerateCoarseMap(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsScopeMapRequest, options *HypervDependencyMapControllerClientBeginGenerateCoarseMapOptions) (*runtime.Poller[HypervDependencyMapControllerClientGenerateCoarseMapResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.generateCoarseMap(ctx, resourceGroupName, siteName, mapRequest, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[HypervDependencyMapControllerClientGenerateCoarseMapResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[HypervDependencyMapControllerClientGenerateCoarseMapResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// GenerateCoarseMap - API to generate coarse map for the list of machines.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *HypervDependencyMapControllerClient) generateCoarseMap(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsScopeMapRequest, options *HypervDependencyMapControllerClientBeginGenerateCoarseMapOptions) (*http.Response, error) {
	var err error
	const operationName = "HypervDependencyMapControllerClient.BeginGenerateCoarseMap"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.generateCoarseMapCreateRequest(ctx, resourceGroupName, siteName, mapRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// generateCoarseMapCreateRequest creates the GenerateCoarseMap request.
func (client *HypervDependencyMapControllerClient) generateCoarseMapCreateRequest(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsScopeMapRequest, options *HypervDependencyMapControllerClientBeginGenerateCoarseMapOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/generateCoarseMap"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, mapRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginGenerateDetailedMap - API to generate detailed map for a selected machine.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - mapRequest - The content of the action request
//   - options - HypervDependencyMapControllerClientBeginGenerateDetailedMapOptions contains the optional parameters for the HypervDependencyMapControllerClient.BeginGenerateDetailedMap
//     method.
func (client *HypervDependencyMapControllerClient) BeginGenerateDetailedMap(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsSingleMachineDetailedMapRequest, options *HypervDependencyMapControllerClientBeginGenerateDetailedMapOptions) (*runtime.Poller[HypervDependencyMapControllerClientGenerateDetailedMapResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.generateDetailedMap(ctx, resourceGroupName, siteName, mapRequest, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[HypervDependencyMapControllerClientGenerateDetailedMapResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[HypervDependencyMapControllerClientGenerateDetailedMapResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// GenerateDetailedMap - API to generate detailed map for a selected machine.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *HypervDependencyMapControllerClient) generateDetailedMap(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsSingleMachineDetailedMapRequest, options *HypervDependencyMapControllerClientBeginGenerateDetailedMapOptions) (*http.Response, error) {
	var err error
	const operationName = "HypervDependencyMapControllerClient.BeginGenerateDetailedMap"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.generateDetailedMapCreateRequest(ctx, resourceGroupName, siteName, mapRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// generateDetailedMapCreateRequest creates the GenerateDetailedMap request.
func (client *HypervDependencyMapControllerClient) generateDetailedMapCreateRequest(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsSingleMachineDetailedMapRequest, options *HypervDependencyMapControllerClientBeginGenerateDetailedMapOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/generateDetailedMap"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, mapRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginServerGroupMembers - API to list server group members for the selected server group.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - mapRequest - The content of the action request
//   - options - HypervDependencyMapControllerClientBeginServerGroupMembersOptions contains the optional parameters for the HypervDependencyMapControllerClient.BeginServerGroupMembers
//     method.
func (client *HypervDependencyMapControllerClient) BeginServerGroupMembers(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsServerGroupMembersRequest, options *HypervDependencyMapControllerClientBeginServerGroupMembersOptions) (*runtime.Poller[HypervDependencyMapControllerClientServerGroupMembersResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.serverGroupMembers(ctx, resourceGroupName, siteName, mapRequest, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[HypervDependencyMapControllerClientServerGroupMembersResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[HypervDependencyMapControllerClientServerGroupMembersResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// ServerGroupMembers - API to list server group members for the selected server group.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *HypervDependencyMapControllerClient) serverGroupMembers(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsServerGroupMembersRequest, options *HypervDependencyMapControllerClientBeginServerGroupMembersOptions) (*http.Response, error) {
	var err error
	const operationName = "HypervDependencyMapControllerClient.BeginServerGroupMembers"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.serverGroupMembersCreateRequest(ctx, resourceGroupName, siteName, mapRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// serverGroupMembersCreateRequest creates the ServerGroupMembers request.
func (client *HypervDependencyMapControllerClient) serverGroupMembersCreateRequest(ctx context.Context, resourceGroupName string, siteName string, mapRequest DependencyMapServiceMapextensionsServerGroupMembersRequest, options *HypervDependencyMapControllerClientBeginServerGroupMembersOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/serverGroupMembers"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, mapRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginUpdateDependencyMapStatus - Method to enable disable dependency map status for machines in a site.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - mapRequest - The content of the action request
//   - options - HypervDependencyMapControllerClientBeginUpdateDependencyMapStatusOptions contains the optional parameters for
//     the HypervDependencyMapControllerClient.BeginUpdateDependencyMapStatus method.
func (client *HypervDependencyMapControllerClient) BeginUpdateDependencyMapStatus(ctx context.Context, resourceGroupName string, siteName string, mapRequest UpdateMachineDepMapStatus, options *HypervDependencyMapControllerClientBeginUpdateDependencyMapStatusOptions) (*runtime.Poller[HypervDependencyMapControllerClientUpdateDependencyMapStatusResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateDependencyMapStatus(ctx, resourceGroupName, siteName, mapRequest, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[HypervDependencyMapControllerClientUpdateDependencyMapStatusResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[HypervDependencyMapControllerClientUpdateDependencyMapStatusResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// UpdateDependencyMapStatus - Method to enable disable dependency map status for machines in a site.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *HypervDependencyMapControllerClient) updateDependencyMapStatus(ctx context.Context, resourceGroupName string, siteName string, mapRequest UpdateMachineDepMapStatus, options *HypervDependencyMapControllerClientBeginUpdateDependencyMapStatusOptions) (*http.Response, error) {
	var err error
	const operationName = "HypervDependencyMapControllerClient.BeginUpdateDependencyMapStatus"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateDependencyMapStatusCreateRequest(ctx, resourceGroupName, siteName, mapRequest, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateDependencyMapStatusCreateRequest creates the UpdateDependencyMapStatus request.
func (client *HypervDependencyMapControllerClient) updateDependencyMapStatusCreateRequest(ctx context.Context, resourceGroupName string, siteName string, mapRequest UpdateMachineDepMapStatus, options *HypervDependencyMapControllerClientBeginUpdateDependencyMapStatusOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/updateDependencyMapStatus"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, mapRequest); err != nil {
		return nil, err
	}
	return req, nil
}
