//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armmigrate

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HyperVRunAsAccountsClient contains the methods for the HyperVRunAsAccounts group.
// Don't use this type directly, use NewHyperVRunAsAccountsClient() instead.
type HyperVRunAsAccountsClient struct {
	host string
	pl   runtime.Pipeline
}

// NewHyperVRunAsAccountsClient creates a new instance of HyperVRunAsAccountsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHyperVRunAsAccountsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*HyperVRunAsAccountsClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &HyperVRunAsAccountsClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// NewGetAllRunAsAccountsInSitePager - Method to get run as accounts.
//
// Generated from API version 2020-01-01
//   - subscriptionID - The ID of the target subscription.
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name.
//   - options - HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteOptions contains the optional parameters for the HyperVRunAsAccountsClient.NewGetAllRunAsAccountsInSitePager
//     method.
func (client *HyperVRunAsAccountsClient) NewGetAllRunAsAccountsInSitePager(subscriptionID string, resourceGroupName string, siteName string, options *HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteOptions) *runtime.Pager[HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse] {
	return runtime.NewPager(runtime.PagingHandler[HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse]{
		More: func(page HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse) (HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.getAllRunAsAccountsInSiteCreateRequest(ctx, subscriptionID, resourceGroupName, siteName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse{}, runtime.NewResponseError(resp)
			}
			return client.getAllRunAsAccountsInSiteHandleResponse(resp)
		},
	})
}

// getAllRunAsAccountsInSiteCreateRequest creates the GetAllRunAsAccountsInSite request.
func (client *HyperVRunAsAccountsClient) getAllRunAsAccountsInSiteCreateRequest(ctx context.Context, subscriptionID string, resourceGroupName string, siteName string, options *HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/runAsAccounts"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getAllRunAsAccountsInSiteHandleResponse handles the GetAllRunAsAccountsInSite response.
func (client *HyperVRunAsAccountsClient) getAllRunAsAccountsInSiteHandleResponse(resp *http.Response) (HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse, error) {
	result := HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.HyperVRunAsAccountCollection); err != nil {
		return HyperVRunAsAccountsClientGetAllRunAsAccountsInSiteResponse{}, err
	}
	return result, nil
}

// GetRunAsAccount - Method to get run as account.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2020-01-01
//   - subscriptionID - The ID of the target subscription.
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name.
//   - accountName - Run as account ARM name.
//   - options - HyperVRunAsAccountsClientGetRunAsAccountOptions contains the optional parameters for the HyperVRunAsAccountsClient.GetRunAsAccount
//     method.
func (client *HyperVRunAsAccountsClient) GetRunAsAccount(ctx context.Context, subscriptionID string, resourceGroupName string, siteName string, accountName string, options *HyperVRunAsAccountsClientGetRunAsAccountOptions) (HyperVRunAsAccountsClientGetRunAsAccountResponse, error) {
	req, err := client.getRunAsAccountCreateRequest(ctx, subscriptionID, resourceGroupName, siteName, accountName, options)
	if err != nil {
		return HyperVRunAsAccountsClientGetRunAsAccountResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return HyperVRunAsAccountsClientGetRunAsAccountResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HyperVRunAsAccountsClientGetRunAsAccountResponse{}, runtime.NewResponseError(resp)
	}
	return client.getRunAsAccountHandleResponse(resp)
}

// getRunAsAccountCreateRequest creates the GetRunAsAccount request.
func (client *HyperVRunAsAccountsClient) getRunAsAccountCreateRequest(ctx context.Context, subscriptionID string, resourceGroupName string, siteName string, accountName string, options *HyperVRunAsAccountsClientGetRunAsAccountOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/HyperVSites/{siteName}/runAsAccounts/{accountName}"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if accountName == "" {
		return nil, errors.New("parameter accountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{accountName}", url.PathEscape(accountName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getRunAsAccountHandleResponse handles the GetRunAsAccount response.
func (client *HyperVRunAsAccountsClient) getRunAsAccountHandleResponse(resp *http.Response) (HyperVRunAsAccountsClientGetRunAsAccountResponse, error) {
	result := HyperVRunAsAccountsClientGetRunAsAccountResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.HyperVRunAsAccount); err != nil {
		return HyperVRunAsAccountsClientGetRunAsAccountResponse{}, err
	}
	return result, nil
}
