//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrate

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SQLOperationsStatusControllerClient contains the methods for the SQLOperationsStatusController group.
// Don't use this type directly, use NewSQLOperationsStatusControllerClient() instead.
type SQLOperationsStatusControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewSQLOperationsStatusControllerClient creates a new instance of SQLOperationsStatusControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSQLOperationsStatusControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SQLOperationsStatusControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SQLOperationsStatusControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetSQLOperationStatus - Method to get operation status.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - sqlSiteName - SQL site name.
//   - operationStatusName - Operation status Arm Name.
//   - options - SQLOperationsStatusControllerClientGetSQLOperationStatusOptions contains the optional parameters for the SQLOperationsStatusControllerClient.GetSQLOperationStatus
//     method.
func (client *SQLOperationsStatusControllerClient) GetSQLOperationStatus(ctx context.Context, resourceGroupName string, siteName string, sqlSiteName string, operationStatusName string, options *SQLOperationsStatusControllerClientGetSQLOperationStatusOptions) (SQLOperationsStatusControllerClientGetSQLOperationStatusResponse, error) {
	var err error
	const operationName = "SQLOperationsStatusControllerClient.GetSQLOperationStatus"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSQLOperationStatusCreateRequest(ctx, resourceGroupName, siteName, sqlSiteName, operationStatusName, options)
	if err != nil {
		return SQLOperationsStatusControllerClientGetSQLOperationStatusResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SQLOperationsStatusControllerClientGetSQLOperationStatusResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SQLOperationsStatusControllerClientGetSQLOperationStatusResponse{}, err
	}
	resp, err := client.getSQLOperationStatusHandleResponse(httpResp)
	return resp, err
}

// getSQLOperationStatusCreateRequest creates the GetSQLOperationStatus request.
func (client *SQLOperationsStatusControllerClient) getSQLOperationStatusCreateRequest(ctx context.Context, resourceGroupName string, siteName string, sqlSiteName string, operationStatusName string, options *SQLOperationsStatusControllerClientGetSQLOperationStatusOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/sqlSites/{sqlSiteName}/operationsStatus/{operationStatusName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if sqlSiteName == "" {
		return nil, errors.New("parameter sqlSiteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlSiteName}", url.PathEscape(sqlSiteName))
	if operationStatusName == "" {
		return nil, errors.New("parameter operationStatusName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{operationStatusName}", url.PathEscape(operationStatusName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSQLOperationStatusHandleResponse handles the GetSQLOperationStatus response.
func (client *SQLOperationsStatusControllerClient) getSQLOperationStatusHandleResponse(resp *http.Response) (SQLOperationsStatusControllerClientGetSQLOperationStatusResponse, error) {
	result := SQLOperationsStatusControllerClientGetSQLOperationStatusResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationStatus); err != nil {
		return SQLOperationsStatusControllerClientGetSQLOperationStatusResponse{}, err
	}
	return result, nil
}
