//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armpostgresqlhsc

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ServerGroupClient contains the methods for the ServerGroup group.
// Don't use this type directly, use NewServerGroupClient() instead.
type ServerGroupClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewServerGroupClient creates a new instance of ServerGroupClient with the specified values.
// subscriptionID - The ID of the target subscription.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewServerGroupClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ServerGroupClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &ServerGroupClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// BeginPromoteReadReplica - Promote the read replica cluster.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2020-10-05-privatepreview
// resourceGroupName - The name of the resource group. The name is case insensitive.
// serverGroupName - The name of the server group.
// options - ServerGroupClientBeginPromoteReadReplicaOptions contains the optional parameters for the ServerGroupClient.BeginPromoteReadReplica
// method.
func (client *ServerGroupClient) BeginPromoteReadReplica(ctx context.Context, resourceGroupName string, serverGroupName string, options *ServerGroupClientBeginPromoteReadReplicaOptions) (*runtime.Poller[ServerGroupClientPromoteReadReplicaResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.promoteReadReplica(ctx, resourceGroupName, serverGroupName, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller[ServerGroupClientPromoteReadReplicaResponse](resp, client.pl, nil)
	} else {
		return runtime.NewPollerFromResumeToken[ServerGroupClientPromoteReadReplicaResponse](options.ResumeToken, client.pl, nil)
	}
}

// PromoteReadReplica - Promote the read replica cluster.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2020-10-05-privatepreview
func (client *ServerGroupClient) promoteReadReplica(ctx context.Context, resourceGroupName string, serverGroupName string, options *ServerGroupClientBeginPromoteReadReplicaOptions) (*http.Response, error) {
	req, err := client.promoteReadReplicaCreateRequest(ctx, resourceGroupName, serverGroupName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// promoteReadReplicaCreateRequest creates the PromoteReadReplica request.
func (client *ServerGroupClient) promoteReadReplicaCreateRequest(ctx context.Context, resourceGroupName string, serverGroupName string, options *ServerGroupClientBeginPromoteReadReplicaOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBForPostgreSql/serverGroupsv2/{serverGroupName}/promote"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serverGroupName == "" {
		return nil, errors.New("parameter serverGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverGroupName}", url.PathEscape(serverGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-10-05-privatepreview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}
