// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdesktopvirtualization

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ControlSessionHostProvisioningClient contains the methods for the ControlSessionHostProvisioning group.
// Don't use this type directly, use NewControlSessionHostProvisioningClient() instead.
type ControlSessionHostProvisioningClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewControlSessionHostProvisioningClient creates a new instance of ControlSessionHostProvisioningClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewControlSessionHostProvisioningClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ControlSessionHostProvisioningClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ControlSessionHostProvisioningClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginPost - Control provisioning of a hostpool.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - hostPoolName - The name of the host pool within the specified resource group
//   - hostPoolProvisioningControlParameter - Object containing control action for hostpool provisioning.
//   - options - ControlSessionHostProvisioningClientBeginPostOptions contains the optional parameters for the ControlSessionHostProvisioningClient.BeginPost
//     method.
func (client *ControlSessionHostProvisioningClient) BeginPost(ctx context.Context, resourceGroupName string, hostPoolName string, hostPoolProvisioningControlParameter HostPoolProvisioningControlParameter, options *ControlSessionHostProvisioningClientBeginPostOptions) (*runtime.Poller[ControlSessionHostProvisioningClientPostResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.post(ctx, resourceGroupName, hostPoolName, hostPoolProvisioningControlParameter, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ControlSessionHostProvisioningClientPostResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ControlSessionHostProvisioningClientPostResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Post - Control provisioning of a hostpool.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01-preview
func (client *ControlSessionHostProvisioningClient) post(ctx context.Context, resourceGroupName string, hostPoolName string, hostPoolProvisioningControlParameter HostPoolProvisioningControlParameter, options *ControlSessionHostProvisioningClientBeginPostOptions) (*http.Response, error) {
	var err error
	const operationName = "ControlSessionHostProvisioningClient.BeginPost"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.postCreateRequest(ctx, resourceGroupName, hostPoolName, hostPoolProvisioningControlParameter, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// postCreateRequest creates the Post request.
func (client *ControlSessionHostProvisioningClient) postCreateRequest(ctx context.Context, resourceGroupName string, hostPoolName string, hostPoolProvisioningControlParameter HostPoolProvisioningControlParameter, _ *ControlSessionHostProvisioningClientBeginPostOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/controlSessionHostProvisioning"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if hostPoolName == "" {
		return nil, errors.New("parameter hostPoolName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{hostPoolName}", url.PathEscape(hostPoolName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, hostPoolProvisioningControlParameter); err != nil {
		return nil, err
	}
	return req, nil
}
