//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurityinsights

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AttackPatternClient contains the methods for the AttackPattern group.
// Don't use this type directly, use NewAttackPatternClient() instead.
type AttackPatternClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewAttackPatternClient creates a new instance of AttackPatternClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewAttackPatternClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*AttackPatternClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &AttackPatternClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates an Attack Pattern.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-04-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - attackPatternID - Attack Pattern ID
//   - attackPattern - The Attack Pattern
//   - options - AttackPatternClientCreateOrUpdateOptions contains the optional parameters for the AttackPatternClient.CreateOrUpdate
//     method.
func (client *AttackPatternClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, workspaceName string, attackPatternID string, attackPattern AttackPattern, options *AttackPatternClientCreateOrUpdateOptions) (AttackPatternClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "AttackPatternClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, workspaceName, attackPatternID, attackPattern, options)
	if err != nil {
		return AttackPatternClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return AttackPatternClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return AttackPatternClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *AttackPatternClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, attackPatternID string, attackPattern AttackPattern, options *AttackPatternClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/stixAttackPatterns/{attackPatternId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	if attackPatternID == "" {
		return nil, errors.New("parameter attackPatternID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{attackPatternId}", url.PathEscape(attackPatternID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, attackPattern); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *AttackPatternClient) createOrUpdateHandleResponse(resp *http.Response) (AttackPatternClientCreateOrUpdateResponse, error) {
	result := AttackPatternClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AttackPattern); err != nil {
		return AttackPatternClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete an Attack Pattern
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-04-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - attackPatternID - Attack Pattern ID
//   - options - AttackPatternClientDeleteOptions contains the optional parameters for the AttackPatternClient.Delete method.
func (client *AttackPatternClient) Delete(ctx context.Context, resourceGroupName string, workspaceName string, attackPatternID string, options *AttackPatternClientDeleteOptions) (AttackPatternClientDeleteResponse, error) {
	var err error
	const operationName = "AttackPatternClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, workspaceName, attackPatternID, options)
	if err != nil {
		return AttackPatternClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return AttackPatternClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return AttackPatternClientDeleteResponse{}, err
	}
	return AttackPatternClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *AttackPatternClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, attackPatternID string, options *AttackPatternClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/stixAttackPatterns/{attackPatternId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	if attackPatternID == "" {
		return nil, errors.New("parameter attackPatternID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{attackPatternId}", url.PathEscape(attackPatternID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets an Attack Pattern.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-04-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - attackPatternID - Attack Pattern ID
//   - options - AttackPatternClientGetOptions contains the optional parameters for the AttackPatternClient.Get method.
func (client *AttackPatternClient) Get(ctx context.Context, resourceGroupName string, workspaceName string, attackPatternID string, options *AttackPatternClientGetOptions) (AttackPatternClientGetResponse, error) {
	var err error
	const operationName = "AttackPatternClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, workspaceName, attackPatternID, options)
	if err != nil {
		return AttackPatternClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return AttackPatternClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return AttackPatternClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *AttackPatternClient) getCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, attackPatternID string, options *AttackPatternClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/threatIntelligence/main/stixAttackPatterns/{attackPatternId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	if attackPatternID == "" {
		return nil, errors.New("parameter attackPatternID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{attackPatternId}", url.PathEscape(attackPatternID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *AttackPatternClient) getHandleResponse(resp *http.Response) (AttackPatternClientGetResponse, error) {
	result := AttackPatternClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AttackPattern); err != nil {
		return AttackPatternClientGetResponse{}, err
	}
	return result, nil
}
