//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurityinsights

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// BusinessApplicationAgentsClient contains the methods for the BusinessApplicationAgents group.
// Don't use this type directly, use NewBusinessApplicationAgentsClient() instead.
type BusinessApplicationAgentsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewBusinessApplicationAgentsClient creates a new instance of BusinessApplicationAgentsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewBusinessApplicationAgentsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*BusinessApplicationAgentsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &BusinessApplicationAgentsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates the Business Application Agent.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-04-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - agentResourceName - Business Application Agent Name
//   - options - BusinessApplicationAgentsClientCreateOrUpdateOptions contains the optional parameters for the BusinessApplicationAgentsClient.CreateOrUpdate
//     method.
func (client *BusinessApplicationAgentsClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, workspaceName string, agentResourceName string, options *BusinessApplicationAgentsClientCreateOrUpdateOptions) (BusinessApplicationAgentsClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "BusinessApplicationAgentsClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, workspaceName, agentResourceName, options)
	if err != nil {
		return BusinessApplicationAgentsClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BusinessApplicationAgentsClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return BusinessApplicationAgentsClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *BusinessApplicationAgentsClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, agentResourceName string, options *BusinessApplicationAgentsClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/businessApplicationAgents/{agentResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	if agentResourceName == "" {
		return nil, errors.New("parameter agentResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{agentResourceName}", url.PathEscape(agentResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.AgentToUpsert != nil {
		if err := runtime.MarshalAsJSON(req, *options.AgentToUpsert); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *BusinessApplicationAgentsClient) createOrUpdateHandleResponse(resp *http.Response) (BusinessApplicationAgentsClientCreateOrUpdateResponse, error) {
	result := BusinessApplicationAgentsClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BusinessApplicationAgentResource); err != nil {
		return BusinessApplicationAgentsClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete the Business Application Agent.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-04-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - agentResourceName - Business Application Agent Name
//   - options - BusinessApplicationAgentsClientDeleteOptions contains the optional parameters for the BusinessApplicationAgentsClient.Delete
//     method.
func (client *BusinessApplicationAgentsClient) Delete(ctx context.Context, resourceGroupName string, workspaceName string, agentResourceName string, options *BusinessApplicationAgentsClientDeleteOptions) (BusinessApplicationAgentsClientDeleteResponse, error) {
	var err error
	const operationName = "BusinessApplicationAgentsClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, workspaceName, agentResourceName, options)
	if err != nil {
		return BusinessApplicationAgentsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BusinessApplicationAgentsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return BusinessApplicationAgentsClientDeleteResponse{}, err
	}
	return BusinessApplicationAgentsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *BusinessApplicationAgentsClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, agentResourceName string, options *BusinessApplicationAgentsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/businessApplicationAgents/{agentResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	if agentResourceName == "" {
		return nil, errors.New("parameter agentResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{agentResourceName}", url.PathEscape(agentResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// NewListPager - Gets all Business Application Agents under the workspace.
//
// Generated from API version 2024-04-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - options - BusinessApplicationAgentsClientListOptions contains the optional parameters for the BusinessApplicationAgentsClient.NewListPager
//     method.
func (client *BusinessApplicationAgentsClient) NewListPager(resourceGroupName string, workspaceName string, options *BusinessApplicationAgentsClientListOptions) *runtime.Pager[BusinessApplicationAgentsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[BusinessApplicationAgentsClientListResponse]{
		More: func(page BusinessApplicationAgentsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *BusinessApplicationAgentsClientListResponse) (BusinessApplicationAgentsClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "BusinessApplicationAgentsClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, resourceGroupName, workspaceName, options)
			}, nil)
			if err != nil {
				return BusinessApplicationAgentsClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *BusinessApplicationAgentsClient) listCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, options *BusinessApplicationAgentsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/businessApplicationAgents"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	if options != nil && options.SkipToken != nil {
		reqQP.Set("$skipToken", *options.SkipToken)
	}
	reqQP.Set("api-version", "2024-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *BusinessApplicationAgentsClient) listHandleResponse(resp *http.Response) (BusinessApplicationAgentsClientListResponse, error) {
	result := BusinessApplicationAgentsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.BusinessApplicationAgentsList); err != nil {
		return BusinessApplicationAgentsClientListResponse{}, err
	}
	return result, nil
}
