//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetworkcloud

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// EdgeClusterRuntimeVersionsClient contains the methods for the EdgeClusterRuntimeVersions group.
// Don't use this type directly, use NewEdgeClusterRuntimeVersionsClient() instead.
type EdgeClusterRuntimeVersionsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewEdgeClusterRuntimeVersionsClient creates a new instance of EdgeClusterRuntimeVersionsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewEdgeClusterRuntimeVersionsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*EdgeClusterRuntimeVersionsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &EdgeClusterRuntimeVersionsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get the properties of the specified edge cluster runtime version.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - edgeClusterRuntimeVersionName - The name of the edge cluster runtime version.
//   - options - EdgeClusterRuntimeVersionsClientGetOptions contains the optional parameters for the EdgeClusterRuntimeVersionsClient.Get
//     method.
func (client *EdgeClusterRuntimeVersionsClient) Get(ctx context.Context, edgeClusterRuntimeVersionName string, options *EdgeClusterRuntimeVersionsClientGetOptions) (EdgeClusterRuntimeVersionsClientGetResponse, error) {
	var err error
	const operationName = "EdgeClusterRuntimeVersionsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, edgeClusterRuntimeVersionName, options)
	if err != nil {
		return EdgeClusterRuntimeVersionsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return EdgeClusterRuntimeVersionsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return EdgeClusterRuntimeVersionsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *EdgeClusterRuntimeVersionsClient) getCreateRequest(ctx context.Context, edgeClusterRuntimeVersionName string, options *EdgeClusterRuntimeVersionsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterRuntimeVersions/{edgeClusterRuntimeVersionName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if edgeClusterRuntimeVersionName == "" {
		return nil, errors.New("parameter edgeClusterRuntimeVersionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{edgeClusterRuntimeVersionName}", url.PathEscape(edgeClusterRuntimeVersionName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *EdgeClusterRuntimeVersionsClient) getHandleResponse(resp *http.Response) (EdgeClusterRuntimeVersionsClientGetResponse, error) {
	result := EdgeClusterRuntimeVersionsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EdgeClusterRuntimeVersion); err != nil {
		return EdgeClusterRuntimeVersionsClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - Get a list of edge cluster runtime versions in the provided subscription.
//
// Generated from API version 2024-05-01-preview
//   - options - EdgeClusterRuntimeVersionsClientListBySubscriptionOptions contains the optional parameters for the EdgeClusterRuntimeVersionsClient.NewListBySubscriptionPager
//     method.
func (client *EdgeClusterRuntimeVersionsClient) NewListBySubscriptionPager(options *EdgeClusterRuntimeVersionsClientListBySubscriptionOptions) *runtime.Pager[EdgeClusterRuntimeVersionsClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[EdgeClusterRuntimeVersionsClientListBySubscriptionResponse]{
		More: func(page EdgeClusterRuntimeVersionsClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *EdgeClusterRuntimeVersionsClientListBySubscriptionResponse) (EdgeClusterRuntimeVersionsClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "EdgeClusterRuntimeVersionsClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return EdgeClusterRuntimeVersionsClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *EdgeClusterRuntimeVersionsClient) listBySubscriptionCreateRequest(ctx context.Context, options *EdgeClusterRuntimeVersionsClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterRuntimeVersions"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *EdgeClusterRuntimeVersionsClient) listBySubscriptionHandleResponse(resp *http.Response) (EdgeClusterRuntimeVersionsClientListBySubscriptionResponse, error) {
	result := EdgeClusterRuntimeVersionsClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EdgeClusterRuntimeVersionList); err != nil {
		return EdgeClusterRuntimeVersionsClientListBySubscriptionResponse{}, err
	}
	return result, nil
}
