//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetworkcloud

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// EdgeClusterSKUsClient contains the methods for the EdgeClusterSKUs group.
// Don't use this type directly, use NewEdgeClusterSKUsClient() instead.
type EdgeClusterSKUsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewEdgeClusterSKUsClient creates a new instance of EdgeClusterSKUsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewEdgeClusterSKUsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*EdgeClusterSKUsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &EdgeClusterSKUsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get the properties of the specified edge cluster SKU.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - edgeClusterSKUName - The name of the edge cluster SKU.
//   - options - EdgeClusterSKUsClientGetOptions contains the optional parameters for the EdgeClusterSKUsClient.Get method.
func (client *EdgeClusterSKUsClient) Get(ctx context.Context, edgeClusterSKUName string, options *EdgeClusterSKUsClientGetOptions) (EdgeClusterSKUsClientGetResponse, error) {
	var err error
	const operationName = "EdgeClusterSKUsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, edgeClusterSKUName, options)
	if err != nil {
		return EdgeClusterSKUsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return EdgeClusterSKUsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return EdgeClusterSKUsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *EdgeClusterSKUsClient) getCreateRequest(ctx context.Context, edgeClusterSKUName string, options *EdgeClusterSKUsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterSkus/{edgeClusterSkuName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if edgeClusterSKUName == "" {
		return nil, errors.New("parameter edgeClusterSKUName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{edgeClusterSkuName}", url.PathEscape(edgeClusterSKUName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *EdgeClusterSKUsClient) getHandleResponse(resp *http.Response) (EdgeClusterSKUsClientGetResponse, error) {
	result := EdgeClusterSKUsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EdgeClusterSKU); err != nil {
		return EdgeClusterSKUsClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - Get a list of edge cluster SKUs in the provided subscription.
//
// Generated from API version 2024-05-01-preview
//   - options - EdgeClusterSKUsClientListBySubscriptionOptions contains the optional parameters for the EdgeClusterSKUsClient.NewListBySubscriptionPager
//     method.
func (client *EdgeClusterSKUsClient) NewListBySubscriptionPager(options *EdgeClusterSKUsClientListBySubscriptionOptions) *runtime.Pager[EdgeClusterSKUsClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[EdgeClusterSKUsClientListBySubscriptionResponse]{
		More: func(page EdgeClusterSKUsClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *EdgeClusterSKUsClientListBySubscriptionResponse) (EdgeClusterSKUsClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "EdgeClusterSKUsClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return EdgeClusterSKUsClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *EdgeClusterSKUsClient) listBySubscriptionCreateRequest(ctx context.Context, options *EdgeClusterSKUsClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterSkus"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *EdgeClusterSKUsClient) listBySubscriptionHandleResponse(resp *http.Response) (EdgeClusterSKUsClientListBySubscriptionResponse, error) {
	result := EdgeClusterSKUsClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EdgeClusterSKUList); err != nil {
		return EdgeClusterSKUsClientListBySubscriptionResponse{}, err
	}
	return result, nil
}
