//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetworkcloud

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// EdgeClusterMachineSKUsClient contains the methods for the EdgeClusterMachineSKUs group.
// Don't use this type directly, use NewEdgeClusterMachineSKUsClient() instead.
type EdgeClusterMachineSKUsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewEdgeClusterMachineSKUsClient creates a new instance of EdgeClusterMachineSKUsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewEdgeClusterMachineSKUsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*EdgeClusterMachineSKUsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &EdgeClusterMachineSKUsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get the properties of the specified edge cluster machine SKU.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - edgeClusterMachineSKUName - The name of the edge cluster machine SKU.
//   - options - EdgeClusterMachineSKUsClientGetOptions contains the optional parameters for the EdgeClusterMachineSKUsClient.Get
//     method.
func (client *EdgeClusterMachineSKUsClient) Get(ctx context.Context, edgeClusterMachineSKUName string, options *EdgeClusterMachineSKUsClientGetOptions) (EdgeClusterMachineSKUsClientGetResponse, error) {
	var err error
	const operationName = "EdgeClusterMachineSKUsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, edgeClusterMachineSKUName, options)
	if err != nil {
		return EdgeClusterMachineSKUsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return EdgeClusterMachineSKUsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return EdgeClusterMachineSKUsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *EdgeClusterMachineSKUsClient) getCreateRequest(ctx context.Context, edgeClusterMachineSKUName string, options *EdgeClusterMachineSKUsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterMachineSkus/{edgeClusterMachineSkuName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if edgeClusterMachineSKUName == "" {
		return nil, errors.New("parameter edgeClusterMachineSKUName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{edgeClusterMachineSkuName}", url.PathEscape(edgeClusterMachineSKUName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *EdgeClusterMachineSKUsClient) getHandleResponse(resp *http.Response) (EdgeClusterMachineSKUsClientGetResponse, error) {
	result := EdgeClusterMachineSKUsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EdgeClusterMachineSKU); err != nil {
		return EdgeClusterMachineSKUsClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - Get a list of edge cluster machine SKUs in the provided subscription.
//
// Generated from API version 2024-05-01-preview
//   - options - EdgeClusterMachineSKUsClientListBySubscriptionOptions contains the optional parameters for the EdgeClusterMachineSKUsClient.NewListBySubscriptionPager
//     method.
func (client *EdgeClusterMachineSKUsClient) NewListBySubscriptionPager(options *EdgeClusterMachineSKUsClientListBySubscriptionOptions) *runtime.Pager[EdgeClusterMachineSKUsClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[EdgeClusterMachineSKUsClientListBySubscriptionResponse]{
		More: func(page EdgeClusterMachineSKUsClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *EdgeClusterMachineSKUsClientListBySubscriptionResponse) (EdgeClusterMachineSKUsClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "EdgeClusterMachineSKUsClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return EdgeClusterMachineSKUsClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *EdgeClusterMachineSKUsClient) listBySubscriptionCreateRequest(ctx context.Context, options *EdgeClusterMachineSKUsClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterMachineSkus"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *EdgeClusterMachineSKUsClient) listBySubscriptionHandleResponse(resp *http.Response) (EdgeClusterMachineSKUsClientListBySubscriptionResponse, error) {
	result := EdgeClusterMachineSKUsClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EdgeClusterMachineSKUList); err != nil {
		return EdgeClusterMachineSKUsClientListBySubscriptionResponse{}, err
	}
	return result, nil
}
