//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetworkcloud

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// RegistrationHubImagesClient contains the methods for the RegistrationHubImages group.
// Don't use this type directly, use NewRegistrationHubImagesClient() instead.
type RegistrationHubImagesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewRegistrationHubImagesClient creates a new instance of RegistrationHubImagesClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewRegistrationHubImagesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*RegistrationHubImagesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &RegistrationHubImagesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Create a new registration hub image or update properties of the existing one.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - registrationHubName - The name of the registration hub.
//   - imageName - The name of the registration hub image.
//   - registrationHubImageParameters - The request body.
//   - options - RegistrationHubImagesClientBeginCreateOrUpdateOptions contains the optional parameters for the RegistrationHubImagesClient.BeginCreateOrUpdate
//     method.
func (client *RegistrationHubImagesClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, registrationHubImageParameters RegistrationHubImage, options *RegistrationHubImagesClientBeginCreateOrUpdateOptions) (*runtime.Poller[RegistrationHubImagesClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceGroupName, registrationHubName, imageName, registrationHubImageParameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[RegistrationHubImagesClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[RegistrationHubImagesClientCreateOrUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrUpdate - Create a new registration hub image or update properties of the existing one.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *RegistrationHubImagesClient) createOrUpdate(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, registrationHubImageParameters RegistrationHubImage, options *RegistrationHubImagesClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "RegistrationHubImagesClient.BeginCreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, registrationHubName, imageName, registrationHubImageParameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *RegistrationHubImagesClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, registrationHubImageParameters RegistrationHubImage, options *RegistrationHubImagesClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/registrationHubs/{registrationHubName}/images/{imageName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if registrationHubName == "" {
		return nil, errors.New("parameter registrationHubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{registrationHubName}", url.PathEscape(registrationHubName))
	if imageName == "" {
		return nil, errors.New("parameter imageName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{imageName}", url.PathEscape(imageName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, registrationHubImageParameters); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Delete the provided registration hub image.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - registrationHubName - The name of the registration hub.
//   - imageName - The name of the registration hub image.
//   - options - RegistrationHubImagesClientBeginDeleteOptions contains the optional parameters for the RegistrationHubImagesClient.BeginDelete
//     method.
func (client *RegistrationHubImagesClient) BeginDelete(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, options *RegistrationHubImagesClientBeginDeleteOptions) (*runtime.Poller[RegistrationHubImagesClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceGroupName, registrationHubName, imageName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[RegistrationHubImagesClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[RegistrationHubImagesClientDeleteResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Delete - Delete the provided registration hub image.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *RegistrationHubImagesClient) deleteOperation(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, options *RegistrationHubImagesClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	const operationName = "RegistrationHubImagesClient.BeginDelete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, registrationHubName, imageName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *RegistrationHubImagesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, options *RegistrationHubImagesClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/registrationHubs/{registrationHubName}/images/{imageName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if registrationHubName == "" {
		return nil, errors.New("parameter registrationHubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{registrationHubName}", url.PathEscape(registrationHubName))
	if imageName == "" {
		return nil, errors.New("parameter imageName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{imageName}", url.PathEscape(imageName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get properties of the provided registration hub image.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - registrationHubName - The name of the registration hub.
//   - imageName - The name of the registration hub image.
//   - options - RegistrationHubImagesClientGetOptions contains the optional parameters for the RegistrationHubImagesClient.Get
//     method.
func (client *RegistrationHubImagesClient) Get(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, options *RegistrationHubImagesClientGetOptions) (RegistrationHubImagesClientGetResponse, error) {
	var err error
	const operationName = "RegistrationHubImagesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, registrationHubName, imageName, options)
	if err != nil {
		return RegistrationHubImagesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return RegistrationHubImagesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return RegistrationHubImagesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *RegistrationHubImagesClient) getCreateRequest(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, options *RegistrationHubImagesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/registrationHubs/{registrationHubName}/images/{imageName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if registrationHubName == "" {
		return nil, errors.New("parameter registrationHubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{registrationHubName}", url.PathEscape(registrationHubName))
	if imageName == "" {
		return nil, errors.New("parameter imageName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{imageName}", url.PathEscape(imageName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RegistrationHubImagesClient) getHandleResponse(resp *http.Response) (RegistrationHubImagesClientGetResponse, error) {
	result := RegistrationHubImagesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RegistrationHubImage); err != nil {
		return RegistrationHubImagesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByRegistrationHubPager - Get a list of images in the provided registration hub.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - registrationHubName - The name of the registration hub.
//   - options - RegistrationHubImagesClientListByRegistrationHubOptions contains the optional parameters for the RegistrationHubImagesClient.NewListByRegistrationHubPager
//     method.
func (client *RegistrationHubImagesClient) NewListByRegistrationHubPager(resourceGroupName string, registrationHubName string, options *RegistrationHubImagesClientListByRegistrationHubOptions) *runtime.Pager[RegistrationHubImagesClientListByRegistrationHubResponse] {
	return runtime.NewPager(runtime.PagingHandler[RegistrationHubImagesClientListByRegistrationHubResponse]{
		More: func(page RegistrationHubImagesClientListByRegistrationHubResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *RegistrationHubImagesClientListByRegistrationHubResponse) (RegistrationHubImagesClientListByRegistrationHubResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "RegistrationHubImagesClient.NewListByRegistrationHubPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByRegistrationHubCreateRequest(ctx, resourceGroupName, registrationHubName, options)
			}, nil)
			if err != nil {
				return RegistrationHubImagesClientListByRegistrationHubResponse{}, err
			}
			return client.listByRegistrationHubHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByRegistrationHubCreateRequest creates the ListByRegistrationHub request.
func (client *RegistrationHubImagesClient) listByRegistrationHubCreateRequest(ctx context.Context, resourceGroupName string, registrationHubName string, options *RegistrationHubImagesClientListByRegistrationHubOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/registrationHubs/{registrationHubName}/images"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if registrationHubName == "" {
		return nil, errors.New("parameter registrationHubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{registrationHubName}", url.PathEscape(registrationHubName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByRegistrationHubHandleResponse handles the ListByRegistrationHub response.
func (client *RegistrationHubImagesClient) listByRegistrationHubHandleResponse(resp *http.Response) (RegistrationHubImagesClientListByRegistrationHubResponse, error) {
	result := RegistrationHubImagesClientListByRegistrationHubResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RegistrationHubImageList); err != nil {
		return RegistrationHubImagesClientListByRegistrationHubResponse{}, err
	}
	return result, nil
}

// BeginUpdate - Patch properties of the provided registration hub image, or update the tags associated with the registration
// hub image. Properties and tag updates can be done independently.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - registrationHubName - The name of the registration hub.
//   - imageName - The name of the registration hub image.
//   - registrationHubImageUpdateParameters - The request body.
//   - options - RegistrationHubImagesClientBeginUpdateOptions contains the optional parameters for the RegistrationHubImagesClient.BeginUpdate
//     method.
func (client *RegistrationHubImagesClient) BeginUpdate(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, registrationHubImageUpdateParameters RegistrationHubImagePatchParameters, options *RegistrationHubImagesClientBeginUpdateOptions) (*runtime.Poller[RegistrationHubImagesClientUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.update(ctx, resourceGroupName, registrationHubName, imageName, registrationHubImageUpdateParameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[RegistrationHubImagesClientUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[RegistrationHubImagesClientUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Update - Patch properties of the provided registration hub image, or update the tags associated with the registration hub
// image. Properties and tag updates can be done independently.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
func (client *RegistrationHubImagesClient) update(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, registrationHubImageUpdateParameters RegistrationHubImagePatchParameters, options *RegistrationHubImagesClientBeginUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "RegistrationHubImagesClient.BeginUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, resourceGroupName, registrationHubName, imageName, registrationHubImageUpdateParameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCreateRequest creates the Update request.
func (client *RegistrationHubImagesClient) updateCreateRequest(ctx context.Context, resourceGroupName string, registrationHubName string, imageName string, registrationHubImageUpdateParameters RegistrationHubImagePatchParameters, options *RegistrationHubImagesClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetworkCloud/registrationHubs/{registrationHubName}/images/{imageName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if registrationHubName == "" {
		return nil, errors.New("parameter registrationHubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{registrationHubName}", url.PathEscape(registrationHubName))
	if imageName == "" {
		return nil, errors.New("parameter imageName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{imageName}", url.PathEscape(imageName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, registrationHubImageUpdateParameters); err != nil {
		return nil, err
	}
	return req, nil
}
