//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armautomation

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DeletedRunbooksClient contains the methods for the DeletedRunbooks group.
// Don't use this type directly, use NewDeletedRunbooksClient() instead.
type DeletedRunbooksClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewDeletedRunbooksClient creates a new instance of DeletedRunbooksClient with the specified values.
//   - subscriptionID - Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID
//     forms part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDeletedRunbooksClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DeletedRunbooksClient, error) {
	cl, err := arm.NewClient(moduleName+".DeletedRunbooksClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &DeletedRunbooksClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListByAutomationAccountPager - Retrieve the deleted runbooks for an automation account.
//
// Generated from API version 2022-08-08
//   - resourceGroupName - Name of an Azure Resource group.
//   - automationAccountName - The name of the automation account.
//   - options - DeletedRunbooksClientListByAutomationAccountOptions contains the optional parameters for the DeletedRunbooksClient.NewListByAutomationAccountPager
//     method.
func (client *DeletedRunbooksClient) NewListByAutomationAccountPager(resourceGroupName string, automationAccountName string, options *DeletedRunbooksClientListByAutomationAccountOptions) *runtime.Pager[DeletedRunbooksClientListByAutomationAccountResponse] {
	return runtime.NewPager(runtime.PagingHandler[DeletedRunbooksClientListByAutomationAccountResponse]{
		More: func(page DeletedRunbooksClientListByAutomationAccountResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DeletedRunbooksClientListByAutomationAccountResponse) (DeletedRunbooksClientListByAutomationAccountResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByAutomationAccountCreateRequest(ctx, resourceGroupName, automationAccountName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DeletedRunbooksClientListByAutomationAccountResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return DeletedRunbooksClientListByAutomationAccountResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DeletedRunbooksClientListByAutomationAccountResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByAutomationAccountHandleResponse(resp)
		},
	})
}

// listByAutomationAccountCreateRequest creates the ListByAutomationAccount request.
func (client *DeletedRunbooksClient) listByAutomationAccountCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, options *DeletedRunbooksClientListByAutomationAccountOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/listDeletedRunbooks"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-08-08")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAutomationAccountHandleResponse handles the ListByAutomationAccount response.
func (client *DeletedRunbooksClient) listByAutomationAccountHandleResponse(resp *http.Response) (DeletedRunbooksClientListByAutomationAccountResponse, error) {
	result := DeletedRunbooksClientListByAutomationAccountResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeletedRunbookListResult); err != nil {
		return DeletedRunbooksClientListByAutomationAccountResponse{}, err
	}
	return result, nil
}
