//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armautomation

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// RuntimeClient contains the methods for the Runtime group.
// Don't use this type directly, use NewRuntimeClient() instead.
type RuntimeClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewRuntimeClient creates a new instance of RuntimeClient with the specified values.
// subscriptionID - Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID
// forms part of the URI for every service call.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewRuntimeClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*RuntimeClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &RuntimeClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// Create - Create a runtime.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-06-30-preview
// resourceGroupName - Name of an Azure Resource group.
// automationAccountName - The name of the automation account.
// runtimeName - The runtime name
// runtimeCreationParameters - The create or update parameters for runtime.
// options - RuntimeClientCreateOptions contains the optional parameters for the RuntimeClient.Create method.
func (client *RuntimeClient) Create(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, runtimeCreationParameters Runtime, options *RuntimeClientCreateOptions) (RuntimeClientCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, resourceGroupName, automationAccountName, runtimeName, runtimeCreationParameters, options)
	if err != nil {
		return RuntimeClientCreateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RuntimeClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RuntimeClientCreateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *RuntimeClient) createCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, runtimeCreationParameters Runtime, options *RuntimeClientCreateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runtimes/{runtimeName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if runtimeName == "" {
		return nil, errors.New("parameter runtimeName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{runtimeName}", url.PathEscape(runtimeName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-06-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, runtimeCreationParameters)
}

// createHandleResponse handles the Create response.
func (client *RuntimeClient) createHandleResponse(resp *http.Response) (RuntimeClientCreateResponse, error) {
	result := RuntimeClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Runtime); err != nil {
		return RuntimeClientCreateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a runtime.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-06-30-preview
// resourceGroupName - Name of an Azure Resource group.
// automationAccountName - The name of the automation account.
// runtimeName - The runtime name
// options - RuntimeClientDeleteOptions contains the optional parameters for the RuntimeClient.Delete method.
func (client *RuntimeClient) Delete(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, options *RuntimeClientDeleteOptions) (RuntimeClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, automationAccountName, runtimeName, options)
	if err != nil {
		return RuntimeClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RuntimeClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return RuntimeClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return RuntimeClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *RuntimeClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, options *RuntimeClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runtimes/{runtimeName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if runtimeName == "" {
		return nil, errors.New("parameter runtimeName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{runtimeName}", url.PathEscape(runtimeName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-06-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Retrieve a runtime.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-06-30-preview
// resourceGroupName - Name of an Azure Resource group.
// automationAccountName - The name of the automation account.
// runtimeName - The runtime name
// options - RuntimeClientGetOptions contains the optional parameters for the RuntimeClient.Get method.
func (client *RuntimeClient) Get(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, options *RuntimeClientGetOptions) (RuntimeClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, automationAccountName, runtimeName, options)
	if err != nil {
		return RuntimeClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RuntimeClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RuntimeClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *RuntimeClient) getCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, options *RuntimeClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runtimes/{runtimeName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if runtimeName == "" {
		return nil, errors.New("parameter runtimeName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{runtimeName}", url.PathEscape(runtimeName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-06-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *RuntimeClient) getHandleResponse(resp *http.Response) (RuntimeClientGetResponse, error) {
	result := RuntimeClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Runtime); err != nil {
		return RuntimeClientGetResponse{}, err
	}
	return result, nil
}

// NewListByAutomationAccountPager - Retrieve a list of runtimes.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-06-30-preview
// resourceGroupName - Name of an Azure Resource group.
// automationAccountName - The name of the automation account.
// options - RuntimeClientListByAutomationAccountOptions contains the optional parameters for the RuntimeClient.ListByAutomationAccount
// method.
func (client *RuntimeClient) NewListByAutomationAccountPager(resourceGroupName string, automationAccountName string, options *RuntimeClientListByAutomationAccountOptions) *runtime.Pager[RuntimeClientListByAutomationAccountResponse] {
	return runtime.NewPager(runtime.PagingHandler[RuntimeClientListByAutomationAccountResponse]{
		More: func(page RuntimeClientListByAutomationAccountResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *RuntimeClientListByAutomationAccountResponse) (RuntimeClientListByAutomationAccountResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByAutomationAccountCreateRequest(ctx, resourceGroupName, automationAccountName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return RuntimeClientListByAutomationAccountResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return RuntimeClientListByAutomationAccountResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return RuntimeClientListByAutomationAccountResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByAutomationAccountHandleResponse(resp)
		},
	})
}

// listByAutomationAccountCreateRequest creates the ListByAutomationAccount request.
func (client *RuntimeClient) listByAutomationAccountCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, options *RuntimeClientListByAutomationAccountOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runtimes"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	reqQP.Set("api-version", "2022-06-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByAutomationAccountHandleResponse handles the ListByAutomationAccount response.
func (client *RuntimeClient) listByAutomationAccountHandleResponse(resp *http.Response) (RuntimeClientListByAutomationAccountResponse, error) {
	result := RuntimeClientListByAutomationAccountResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RuntimeListResult); err != nil {
		return RuntimeClientListByAutomationAccountResponse{}, err
	}
	return result, nil
}

// Update - Update a runtime.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-06-30-preview
// resourceGroupName - Name of an Azure Resource group.
// automationAccountName - The name of the automation account.
// runtimeName - The runtime name
// parameters - The runtime
// options - RuntimeClientUpdateOptions contains the optional parameters for the RuntimeClient.Update method.
func (client *RuntimeClient) Update(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, parameters RuntimeUpdateProperties, options *RuntimeClientUpdateOptions) (RuntimeClientUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, resourceGroupName, automationAccountName, runtimeName, parameters, options)
	if err != nil {
		return RuntimeClientUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return RuntimeClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return RuntimeClientUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *RuntimeClient) updateCreateRequest(ctx context.Context, resourceGroupName string, automationAccountName string, runtimeName string, parameters RuntimeUpdateProperties, options *RuntimeClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runtimes/{runtimeName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if automationAccountName == "" {
		return nil, errors.New("parameter automationAccountName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{automationAccountName}", url.PathEscape(automationAccountName))
	if runtimeName == "" {
		return nil, errors.New("parameter runtimeName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{runtimeName}", url.PathEscape(runtimeName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-06-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, parameters)
}

// updateHandleResponse handles the Update response.
func (client *RuntimeClient) updateHandleResponse(resp *http.Response) (RuntimeClientUpdateResponse, error) {
	result := RuntimeClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Runtime); err != nil {
		return RuntimeClientUpdateResponse{}, err
	}
	return result, nil
}
