//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armedgeorder

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HciCatalogVendorsClient contains the methods for the HciCatalogVendors group.
// Don't use this type directly, use NewHciCatalogVendorsClient() instead.
type HciCatalogVendorsClient struct {
	internal *arm.Client
}

// NewHciCatalogVendorsClient creates a new instance of HciCatalogVendorsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHciCatalogVendorsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*HciCatalogVendorsClient, error) {
	cl, err := arm.NewClient(moduleName+".HciCatalogVendorsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &HciCatalogVendorsClient{
		internal: cl,
	}
	return client, nil
}

// Get - Get HCI catalog vendor by id.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - vendorID - Unique identifier for HCI catalog vendor.
//   - options - HciCatalogVendorsClientGetOptions contains the optional parameters for the HciCatalogVendorsClient.Get method.
func (client *HciCatalogVendorsClient) Get(ctx context.Context, catalogName string, vendorID string, options *HciCatalogVendorsClientGetOptions) (HciCatalogVendorsClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, catalogName, vendorID, options)
	if err != nil {
		return HciCatalogVendorsClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciCatalogVendorsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciCatalogVendorsClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *HciCatalogVendorsClient) getCreateRequest(ctx context.Context, catalogName string, vendorID string, options *HciCatalogVendorsClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/vendors/{vendorId}"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if vendorID == "" {
		return nil, errors.New("parameter vendorID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vendorId}", url.PathEscape(vendorID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *HciCatalogVendorsClient) getHandleResponse(resp *http.Response) (HciCatalogVendorsClientGetResponse, error) {
	result := HciCatalogVendorsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.VendorResource); err != nil {
		return HciCatalogVendorsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - List HCI catalog vendor resources.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - options - HciCatalogVendorsClientListOptions contains the optional parameters for the HciCatalogVendorsClient.NewListPager
//     method.
func (client *HciCatalogVendorsClient) NewListPager(catalogName string, options *HciCatalogVendorsClientListOptions) *runtime.Pager[HciCatalogVendorsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[HciCatalogVendorsClientListResponse]{
		More: func(page HciCatalogVendorsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *HciCatalogVendorsClientListResponse) (HciCatalogVendorsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, catalogName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return HciCatalogVendorsClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return HciCatalogVendorsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return HciCatalogVendorsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *HciCatalogVendorsClient) listCreateRequest(ctx context.Context, catalogName string, options *HciCatalogVendorsClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/vendors"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	if options != nil && options.SkipToken != nil {
		reqQP.Set("$skipToken", *options.SkipToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *HciCatalogVendorsClient) listHandleResponse(resp *http.Response) (HciCatalogVendorsClientListResponse, error) {
	result := HciCatalogVendorsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.VendorResourceList); err != nil {
		return HciCatalogVendorsClientListResponse{}, err
	}
	return result, nil
}
