//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armedgeorder

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HciCatalogProjectsClient contains the methods for the HciCatalogProjects group.
// Don't use this type directly, use NewHciCatalogProjectsClient() instead.
type HciCatalogProjectsClient struct {
	internal *arm.Client
}

// NewHciCatalogProjectsClient creates a new instance of HciCatalogProjectsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHciCatalogProjectsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*HciCatalogProjectsClient, error) {
	cl, err := arm.NewClient(moduleName+".HciCatalogProjectsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &HciCatalogProjectsClient{
		internal: cl,
	}
	return client, nil
}

// NewListPager - List project resources.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - location - The name of Azure region.
//   - options - HciCatalogProjectsClientListOptions contains the optional parameters for the HciCatalogProjectsClient.NewListPager
//     method.
func (client *HciCatalogProjectsClient) NewListPager(catalogName string, location string, options *HciCatalogProjectsClientListOptions) *runtime.Pager[HciCatalogProjectsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[HciCatalogProjectsClientListResponse]{
		More: func(page HciCatalogProjectsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *HciCatalogProjectsClientListResponse) (HciCatalogProjectsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, catalogName, location, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return HciCatalogProjectsClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return HciCatalogProjectsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return HciCatalogProjectsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *HciCatalogProjectsClient) listCreateRequest(ctx context.Context, catalogName string, location string, options *HciCatalogProjectsClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/locations/{location}/projects"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	if options != nil && options.Filter != nil {
		reqQP.Set("$filter", *options.Filter)
	}
	if options != nil && options.SkipToken != nil {
		reqQP.Set("$skipToken", *options.SkipToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *HciCatalogProjectsClient) listHandleResponse(resp *http.Response) (HciCatalogProjectsClientListResponse, error) {
	result := HciCatalogProjectsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProjectResourceList); err != nil {
		return HciCatalogProjectsClientListResponse{}, err
	}
	return result, nil
}
