//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armedgeorder

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HciCatalogProjectClient contains the methods for the HciCatalogProject group.
// Don't use this type directly, use NewHciCatalogProjectClient() instead.
type HciCatalogProjectClient struct {
	internal *arm.Client
}

// NewHciCatalogProjectClient creates a new instance of HciCatalogProjectClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHciCatalogProjectClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*HciCatalogProjectClient, error) {
	cl, err := arm.NewClient(moduleName+".HciCatalogProjectClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &HciCatalogProjectClient{
		internal: cl,
	}
	return client, nil
}

// Create - Create a project. Existing project cannot be updated with this api and should instead be updated with the Update
// project API.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - location - The name of Azure region.
//   - projectName - The name of the project Resource. project names must be between 3 and 72 characters in length and use any
//     alphanumeric and underscore only.
//   - projectResource - Project details from request body.
//   - options - HciCatalogProjectClientCreateOptions contains the optional parameters for the HciCatalogProjectClient.Create
//     method.
func (client *HciCatalogProjectClient) Create(ctx context.Context, catalogName string, location string, projectName string, projectResource ProjectResource, options *HciCatalogProjectClientCreateOptions) (HciCatalogProjectClientCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, catalogName, location, projectName, projectResource, options)
	if err != nil {
		return HciCatalogProjectClientCreateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciCatalogProjectClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return HciCatalogProjectClientCreateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *HciCatalogProjectClient) createCreateRequest(ctx context.Context, catalogName string, location string, projectName string, projectResource ProjectResource, options *HciCatalogProjectClientCreateOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/locations/{location}/projects/{projectName}"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, projectResource)
}

// createHandleResponse handles the Create response.
func (client *HciCatalogProjectClient) createHandleResponse(resp *http.Response) (HciCatalogProjectClientCreateResponse, error) {
	result := HciCatalogProjectClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProjectResource); err != nil {
		return HciCatalogProjectClientCreateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a project by id.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - location - The name of Azure region.
//   - projectName - The name of the project Resource. project names must be between 3 and 72 characters in length and use any
//     alphanumeric and underscore only.
//   - options - HciCatalogProjectClientDeleteOptions contains the optional parameters for the HciCatalogProjectClient.Delete
//     method.
func (client *HciCatalogProjectClient) Delete(ctx context.Context, catalogName string, location string, projectName string, options *HciCatalogProjectClientDeleteOptions) (HciCatalogProjectClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, catalogName, location, projectName, options)
	if err != nil {
		return HciCatalogProjectClientDeleteResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciCatalogProjectClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return HciCatalogProjectClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return HciCatalogProjectClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *HciCatalogProjectClient) deleteCreateRequest(ctx context.Context, catalogName string, location string, projectName string, options *HciCatalogProjectClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/locations/{location}/projects/{projectName}"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a project.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - location - The name of Azure region.
//   - projectName - The name of the project Resource. project names must be between 3 and 72 characters in length and use any
//     alphanumeric and underscore only.
//   - options - HciCatalogProjectClientGetOptions contains the optional parameters for the HciCatalogProjectClient.Get method.
func (client *HciCatalogProjectClient) Get(ctx context.Context, catalogName string, location string, projectName string, options *HciCatalogProjectClientGetOptions) (HciCatalogProjectClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, catalogName, location, projectName, options)
	if err != nil {
		return HciCatalogProjectClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciCatalogProjectClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciCatalogProjectClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *HciCatalogProjectClient) getCreateRequest(ctx context.Context, catalogName string, location string, projectName string, options *HciCatalogProjectClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/locations/{location}/projects/{projectName}"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *HciCatalogProjectClient) getHandleResponse(resp *http.Response) (HciCatalogProjectClientGetResponse, error) {
	result := HciCatalogProjectClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProjectResource); err != nil {
		return HciCatalogProjectClientGetResponse{}, err
	}
	return result, nil
}

// SolutionRecommendations - Get solution recommendation for the Project.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - location - The name of Azure region.
//   - projectName - The name of the project Resource. project names must be between 3 and 72 characters in length and use any
//     alphanumeric and underscore only.
//   - options - HciCatalogProjectClientSolutionRecommendationsOptions contains the optional parameters for the HciCatalogProjectClient.SolutionRecommendations
//     method.
func (client *HciCatalogProjectClient) SolutionRecommendations(ctx context.Context, catalogName string, location string, projectName string, options *HciCatalogProjectClientSolutionRecommendationsOptions) (HciCatalogProjectClientSolutionRecommendationsResponse, error) {
	req, err := client.solutionRecommendationsCreateRequest(ctx, catalogName, location, projectName, options)
	if err != nil {
		return HciCatalogProjectClientSolutionRecommendationsResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciCatalogProjectClientSolutionRecommendationsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciCatalogProjectClientSolutionRecommendationsResponse{}, runtime.NewResponseError(resp)
	}
	return client.solutionRecommendationsHandleResponse(resp)
}

// solutionRecommendationsCreateRequest creates the SolutionRecommendations request.
func (client *HciCatalogProjectClient) solutionRecommendationsCreateRequest(ctx context.Context, catalogName string, location string, projectName string, options *HciCatalogProjectClientSolutionRecommendationsOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/locations/{location}/projects/{projectName}/solutionRecommendations"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// solutionRecommendationsHandleResponse handles the SolutionRecommendations response.
func (client *HciCatalogProjectClient) solutionRecommendationsHandleResponse(resp *http.Response) (HciCatalogProjectClientSolutionRecommendationsResponse, error) {
	result := HciCatalogProjectClientSolutionRecommendationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecommendedSolutionArray); err != nil {
		return HciCatalogProjectClientSolutionRecommendationsResponse{}, err
	}
	return result, nil
}

// Update - Update the properties of an existing project.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - location - The name of Azure region.
//   - projectName - The name of the project Resource. project names must be between 3 and 72 characters in length and use any
//     alphanumeric and underscore only.
//   - projectUpdateParameter - Project update parameters from request body.
//   - options - HciCatalogProjectClientUpdateOptions contains the optional parameters for the HciCatalogProjectClient.Update
//     method.
func (client *HciCatalogProjectClient) Update(ctx context.Context, catalogName string, location string, projectName string, projectUpdateParameter ProjectUpdateParameter, options *HciCatalogProjectClientUpdateOptions) (HciCatalogProjectClientUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, catalogName, location, projectName, projectUpdateParameter, options)
	if err != nil {
		return HciCatalogProjectClientUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciCatalogProjectClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciCatalogProjectClientUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *HciCatalogProjectClient) updateCreateRequest(ctx context.Context, catalogName string, location string, projectName string, projectUpdateParameter ProjectUpdateParameter, options *HciCatalogProjectClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciCatalog/{catalogName}/locations/{location}/projects/{projectName}"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	if projectName == "" {
		return nil, errors.New("parameter projectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{projectName}", url.PathEscape(projectName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	if options != nil && options.IfMatch != nil {
		req.Raw().Header["If-Match"] = []string{*options.IfMatch}
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, projectUpdateParameter)
}

// updateHandleResponse handles the Update response.
func (client *HciCatalogProjectClient) updateHandleResponse(resp *http.Response) (HciCatalogProjectClientUpdateResponse, error) {
	result := HciCatalogProjectClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProjectResource); err != nil {
		return HciCatalogProjectClientUpdateResponse{}, err
	}
	return result, nil
}
