//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armedgeorder

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HciFlightCatalogClient contains the methods for the HciFlightCatalog group.
// Don't use this type directly, use NewHciFlightCatalogClient() instead.
type HciFlightCatalogClient struct {
	internal *arm.Client
}

// NewHciFlightCatalogClient creates a new instance of HciFlightCatalogClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHciFlightCatalogClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*HciFlightCatalogClient, error) {
	cl, err := arm.NewClient(moduleName+".HciFlightCatalogClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &HciFlightCatalogClient{
		internal: cl,
	}
	return client, nil
}

// Get - Get default HciCatalog resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - options - HciFlightCatalogClientGetOptions contains the optional parameters for the HciFlightCatalogClient.Get method.
func (client *HciFlightCatalogClient) Get(ctx context.Context, catalogName string, options *HciFlightCatalogClientGetOptions) (HciFlightCatalogClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, catalogName, options)
	if err != nil {
		return HciFlightCatalogClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciFlightCatalogClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciFlightCatalogClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *HciFlightCatalogClient) getCreateRequest(ctx context.Context, catalogName string, options *HciFlightCatalogClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciFlightCatalog/{catalogName}"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *HciFlightCatalogClient) getHandleResponse(resp *http.Response) (HciFlightCatalogClientGetResponse, error) {
	result := HciFlightCatalogClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.HciCatalogResource); err != nil {
		return HciFlightCatalogClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - List HciCatalog resources.
//
// Generated from API version 2023-05-01-preview
//   - options - HciFlightCatalogClientListOptions contains the optional parameters for the HciFlightCatalogClient.NewListPager
//     method.
func (client *HciFlightCatalogClient) NewListPager(options *HciFlightCatalogClientListOptions) *runtime.Pager[HciFlightCatalogClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[HciFlightCatalogClientListResponse]{
		More: func(page HciFlightCatalogClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *HciFlightCatalogClientListResponse) (HciFlightCatalogClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return HciFlightCatalogClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return HciFlightCatalogClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return HciFlightCatalogClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *HciFlightCatalogClient) listCreateRequest(ctx context.Context, options *HciFlightCatalogClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciFlightCatalog"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *HciFlightCatalogClient) listHandleResponse(resp *http.Response) (HciFlightCatalogClientListResponse, error) {
	result := HciFlightCatalogClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.HciCatalogResourceList); err != nil {
		return HciFlightCatalogClientListResponse{}, err
	}
	return result, nil
}

// ListSolutionRecommendations - Get solution recommendation.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - solutionRecommendationRequest - Captures requirement and workloads for which solution is required.
//   - options - HciFlightCatalogClientListSolutionRecommendationsOptions contains the optional parameters for the HciFlightCatalogClient.ListSolutionRecommendations
//     method.
func (client *HciFlightCatalogClient) ListSolutionRecommendations(ctx context.Context, catalogName string, solutionRecommendationRequest SolutionRecommendationRequest, options *HciFlightCatalogClientListSolutionRecommendationsOptions) (HciFlightCatalogClientListSolutionRecommendationsResponse, error) {
	req, err := client.listSolutionRecommendationsCreateRequest(ctx, catalogName, solutionRecommendationRequest, options)
	if err != nil {
		return HciFlightCatalogClientListSolutionRecommendationsResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciFlightCatalogClientListSolutionRecommendationsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciFlightCatalogClientListSolutionRecommendationsResponse{}, runtime.NewResponseError(resp)
	}
	return client.listSolutionRecommendationsHandleResponse(resp)
}

// listSolutionRecommendationsCreateRequest creates the ListSolutionRecommendations request.
func (client *HciFlightCatalogClient) listSolutionRecommendationsCreateRequest(ctx context.Context, catalogName string, solutionRecommendationRequest SolutionRecommendationRequest, options *HciFlightCatalogClientListSolutionRecommendationsOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciFlightCatalog/{catalogName}/listSolutionRecommendations"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, solutionRecommendationRequest)
}

// listSolutionRecommendationsHandleResponse handles the ListSolutionRecommendations response.
func (client *HciFlightCatalogClient) listSolutionRecommendationsHandleResponse(resp *http.Response) (HciFlightCatalogClientListSolutionRecommendationsResponse, error) {
	result := HciFlightCatalogClientListSolutionRecommendationsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.RecommendedSolutionArray); err != nil {
		return HciFlightCatalogClientListSolutionRecommendationsResponse{}, err
	}
	return result, nil
}

// Search - Search HCI catalog.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - hciCatalogSearchRequest - Hci Catalog search request.
//   - options - HciFlightCatalogClientSearchOptions contains the optional parameters for the HciFlightCatalogClient.Search method.
func (client *HciFlightCatalogClient) Search(ctx context.Context, catalogName string, hciCatalogSearchRequest HciCatalogSearchRequestClassification, options *HciFlightCatalogClientSearchOptions) (HciFlightCatalogClientSearchResponse, error) {
	req, err := client.searchCreateRequest(ctx, catalogName, hciCatalogSearchRequest, options)
	if err != nil {
		return HciFlightCatalogClientSearchResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciFlightCatalogClientSearchResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciFlightCatalogClientSearchResponse{}, runtime.NewResponseError(resp)
	}
	return client.searchHandleResponse(resp)
}

// searchCreateRequest creates the Search request.
func (client *HciFlightCatalogClient) searchCreateRequest(ctx context.Context, catalogName string, hciCatalogSearchRequest HciCatalogSearchRequestClassification, options *HciFlightCatalogClientSearchOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciFlightCatalog/{catalogName}/search"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, hciCatalogSearchRequest)
}

// searchHandleResponse handles the Search response.
func (client *HciFlightCatalogClient) searchHandleResponse(resp *http.Response) (HciFlightCatalogClientSearchResponse, error) {
	result := HciFlightCatalogClientSearchResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result); err != nil {
		return HciFlightCatalogClientSearchResponse{}, err
	}
	return result, nil
}
