//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armedgeorder

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HciFlightCatalogVendorsClient contains the methods for the HciFlightCatalogVendors group.
// Don't use this type directly, use NewHciFlightCatalogVendorsClient() instead.
type HciFlightCatalogVendorsClient struct {
	internal *arm.Client
}

// NewHciFlightCatalogVendorsClient creates a new instance of HciFlightCatalogVendorsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHciFlightCatalogVendorsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*HciFlightCatalogVendorsClient, error) {
	cl, err := arm.NewClient(moduleName+".HciFlightCatalogVendorsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &HciFlightCatalogVendorsClient{
		internal: cl,
	}
	return client, nil
}

// Get - Get HCI catalog vendor by id.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - vendorID - Unique identifier for HCI catalog vendor.
//   - options - HciFlightCatalogVendorsClientGetOptions contains the optional parameters for the HciFlightCatalogVendorsClient.Get
//     method.
func (client *HciFlightCatalogVendorsClient) Get(ctx context.Context, catalogName string, vendorID string, options *HciFlightCatalogVendorsClientGetOptions) (HciFlightCatalogVendorsClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, catalogName, vendorID, options)
	if err != nil {
		return HciFlightCatalogVendorsClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HciFlightCatalogVendorsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return HciFlightCatalogVendorsClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *HciFlightCatalogVendorsClient) getCreateRequest(ctx context.Context, catalogName string, vendorID string, options *HciFlightCatalogVendorsClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciFlightCatalog/{catalogName}/vendors/{vendorId}"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	if vendorID == "" {
		return nil, errors.New("parameter vendorID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vendorId}", url.PathEscape(vendorID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *HciFlightCatalogVendorsClient) getHandleResponse(resp *http.Response) (HciFlightCatalogVendorsClientGetResponse, error) {
	result := HciFlightCatalogVendorsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.VendorResource); err != nil {
		return HciFlightCatalogVendorsClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - List HCI catalog vendor resources.
//
// Generated from API version 2023-05-01-preview
//   - catalogName - Name of HCI catalog resource.
//   - options - HciFlightCatalogVendorsClientListOptions contains the optional parameters for the HciFlightCatalogVendorsClient.NewListPager
//     method.
func (client *HciFlightCatalogVendorsClient) NewListPager(catalogName string, options *HciFlightCatalogVendorsClientListOptions) *runtime.Pager[HciFlightCatalogVendorsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[HciFlightCatalogVendorsClientListResponse]{
		More: func(page HciFlightCatalogVendorsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *HciFlightCatalogVendorsClientListResponse) (HciFlightCatalogVendorsClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, catalogName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return HciFlightCatalogVendorsClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return HciFlightCatalogVendorsClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return HciFlightCatalogVendorsClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *HciFlightCatalogVendorsClient) listCreateRequest(ctx context.Context, catalogName string, options *HciFlightCatalogVendorsClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.EdgeOrder/hciFlightCatalog/{catalogName}/vendors"
	if catalogName == "" {
		return nil, errors.New("parameter catalogName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{catalogName}", url.PathEscape(catalogName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-01-preview")
	if options != nil && options.SkipToken != nil {
		reqQP.Set("$skipToken", *options.SkipToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *HciFlightCatalogVendorsClient) listHandleResponse(resp *http.Response) (HciFlightCatalogVendorsClientListResponse, error) {
	result := HciFlightCatalogVendorsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.VendorResourceList); err != nil {
		return HciFlightCatalogVendorsClientListResponse{}, err
	}
	return result, nil
}
