// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/logic/armlogic/v2"
	"net/http"
	"net/url"
	"regexp"
)

// WorkflowsOperationsServer is a fake server for instances of the armlogic.WorkflowsOperationsClient type.
type WorkflowsOperationsServer struct {
	// ValidateByLocation is the fake for method WorkflowsOperationsClient.ValidateByLocation
	// HTTP status codes to indicate success: http.StatusOK
	ValidateByLocation func(ctx context.Context, resourceGroupName string, location string, workflowName string, validate armlogic.Workflow, options *armlogic.WorkflowsOperationsClientValidateByLocationOptions) (resp azfake.Responder[armlogic.WorkflowsOperationsClientValidateByLocationResponse], errResp azfake.ErrorResponder)
}

// NewWorkflowsOperationsServerTransport creates a new instance of WorkflowsOperationsServerTransport with the provided implementation.
// The returned WorkflowsOperationsServerTransport instance is connected to an instance of armlogic.WorkflowsOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewWorkflowsOperationsServerTransport(srv *WorkflowsOperationsServer) *WorkflowsOperationsServerTransport {
	return &WorkflowsOperationsServerTransport{srv: srv}
}

// WorkflowsOperationsServerTransport connects instances of armlogic.WorkflowsOperationsClient to instances of WorkflowsOperationsServer.
// Don't use this type directly, use NewWorkflowsOperationsServerTransport instead.
type WorkflowsOperationsServerTransport struct {
	srv *WorkflowsOperationsServer
}

// Do implements the policy.Transporter interface for WorkflowsOperationsServerTransport.
func (w *WorkflowsOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return w.dispatchToMethodFake(req, method)
}

func (w *WorkflowsOperationsServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if workflowsOperationsServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = workflowsOperationsServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "WorkflowsOperationsClient.ValidateByLocation":
				res.resp, res.err = w.dispatchValidateByLocation(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (w *WorkflowsOperationsServerTransport) dispatchValidateByLocation(req *http.Request) (*http.Response, error) {
	if w.srv.ValidateByLocation == nil {
		return nil, &nonRetriableError{errors.New("fake for method ValidateByLocation not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Logic/locations/(?P<location>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/workflows/(?P<workflowName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/validate/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/locations/{location}/{workflowName}/validateByLocation`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	body, err := server.UnmarshalRequestAsJSON[armlogic.Workflow](req)
	if err != nil {
		return nil, err
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	locationParam, err := url.PathUnescape(matches[regex.SubexpIndex("location")])
	if err != nil {
		return nil, err
	}
	workflowNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("workflowName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := w.srv.ValidateByLocation(req.Context(), resourceGroupNameParam, locationParam, workflowNameParam, body, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.NewResponse(respContent, req, nil)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to WorkflowsOperationsServerTransport
var workflowsOperationsServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
