// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsecurity

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// CenterClient contains the methods for the SecurityCenter group.
// Don't use this type directly, use NewCenterClient() instead.
type CenterClient struct {
	internal *arm.Client
}

// NewCenterClient creates a new instance of CenterClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewCenterClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*CenterClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &CenterClient{
		internal: cl,
	}
	return client, nil
}

// View - Fetch Microsoft Defender for Cloud data over a specified view
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-05-01-preview
//   - options - CenterClientViewOptions contains the optional parameters for the CenterClient.View method.
func (client *CenterClient) View(ctx context.Context, options *CenterClientViewOptions) (CenterClientViewResponse, error) {
	var err error
	const operationName = "CenterClient.View"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.viewCreateRequest(ctx, options)
	if err != nil {
		return CenterClientViewResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CenterClientViewResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return CenterClientViewResponse{}, err
	}
	resp, err := client.viewHandleResponse(httpResp)
	return resp, err
}

// viewCreateRequest creates the View request.
func (client *CenterClient) viewCreateRequest(ctx context.Context, options *CenterClientViewOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Security/view"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.Parameters != nil {
		if err := runtime.MarshalAsJSON(req, *options.Parameters); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// viewHandleResponse handles the View response.
func (client *CenterClient) viewHandleResponse(resp *http.Response) (CenterClientViewResponse, error) {
	result := CenterClientViewResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ScenarioResponse); err != nil {
		return CenterClientViewResponse{}, err
	}
	return result, nil
}
