//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armsecurity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ManagementGroupGovernanceRuleClient contains the methods for the ManagementGroupGovernanceRule group.
// Don't use this type directly, use NewManagementGroupGovernanceRuleClient() instead.
type ManagementGroupGovernanceRuleClient struct {
	host              string
	managementGroupID string
	pl                runtime.Pipeline
}

// NewManagementGroupGovernanceRuleClient creates a new instance of ManagementGroupGovernanceRuleClient with the specified values.
// managementGroupID - Azure Management Group ID
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewManagementGroupGovernanceRuleClient(managementGroupID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ManagementGroupGovernanceRuleClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &ManagementGroupGovernanceRuleClient{
		managementGroupID: managementGroupID,
		host:              ep,
		pl:                pl,
	}
	return client, nil
}

// NewListPager - Get a list of all relevant governance rules over a management group level scope
// Generated from API version 2022-01-01-preview
// options - ManagementGroupGovernanceRuleClientListOptions contains the optional parameters for the ManagementGroupGovernanceRuleClient.List
// method.
func (client *ManagementGroupGovernanceRuleClient) NewListPager(options *ManagementGroupGovernanceRuleClientListOptions) *runtime.Pager[ManagementGroupGovernanceRuleClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ManagementGroupGovernanceRuleClientListResponse]{
		More: func(page ManagementGroupGovernanceRuleClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ManagementGroupGovernanceRuleClientListResponse) (ManagementGroupGovernanceRuleClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return ManagementGroupGovernanceRuleClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return ManagementGroupGovernanceRuleClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return ManagementGroupGovernanceRuleClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *ManagementGroupGovernanceRuleClient) listCreateRequest(ctx context.Context, options *ManagementGroupGovernanceRuleClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Security/governanceRules"
	if client.managementGroupID == "" {
		return nil, errors.New("parameter client.managementGroupID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managementGroupId}", url.PathEscape(client.managementGroupID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ManagementGroupGovernanceRuleClient) listHandleResponse(resp *http.Response) (ManagementGroupGovernanceRuleClientListResponse, error) {
	result := ManagementGroupGovernanceRuleClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GovernanceRuleList); err != nil {
		return ManagementGroupGovernanceRuleClientListResponse{}, err
	}
	return result, nil
}
