//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armsecurity

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// VMScannersClient contains the methods for the VMScanners group.
// Don't use this type directly, use NewVMScannersClient() instead.
type VMScannersClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewVMScannersClient creates a new instance of VMScannersClient with the specified values.
// subscriptionID - Azure subscription ID
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewVMScannersClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*VMScannersClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &VMScannersClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// CreateOrUpdate - Create a VM scanner
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-01-preview
// vmScannerName - Name of the VM scanner.
// options - VMScannersClientCreateOrUpdateOptions contains the optional parameters for the VMScannersClient.CreateOrUpdate
// method.
func (client *VMScannersClient) CreateOrUpdate(ctx context.Context, vmScannerName string, options *VMScannersClientCreateOrUpdateOptions) (VMScannersClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, vmScannerName, options)
	if err != nil {
		return VMScannersClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return VMScannersClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return VMScannersClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *VMScannersClient) createOrUpdateCreateRequest(ctx context.Context, vmScannerName string, options *VMScannersClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/vmScanners/{vmScannerName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if vmScannerName == "" {
		return nil, errors.New("parameter vmScannerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vmScannerName}", url.PathEscape(vmScannerName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *VMScannersClient) createOrUpdateHandleResponse(resp *http.Response) (VMScannersClientCreateOrUpdateResponse, error) {
	result := VMScannersClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ScannerConfiguration); err != nil {
		return VMScannersClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a VM scanner configuration.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-01-preview
// vmScannerName - Name of the VM scanner.
// options - VMScannersClientDeleteOptions contains the optional parameters for the VMScannersClient.Delete method.
func (client *VMScannersClient) Delete(ctx context.Context, vmScannerName string, options *VMScannersClientDeleteOptions) (VMScannersClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, vmScannerName, options)
	if err != nil {
		return VMScannersClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return VMScannersClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return VMScannersClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return VMScannersClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *VMScannersClient) deleteCreateRequest(ctx context.Context, vmScannerName string, options *VMScannersClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/vmScanners/{vmScannerName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if vmScannerName == "" {
		return nil, errors.New("parameter vmScannerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vmScannerName}", url.PathEscape(vmScannerName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets the subscription's VM scanner configuration.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-01-preview
// vmScannerName - Name of the VM scanner.
// options - VMScannersClientGetOptions contains the optional parameters for the VMScannersClient.Get method.
func (client *VMScannersClient) Get(ctx context.Context, vmScannerName string, options *VMScannersClientGetOptions) (VMScannersClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, vmScannerName, options)
	if err != nil {
		return VMScannersClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return VMScannersClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return VMScannersClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *VMScannersClient) getCreateRequest(ctx context.Context, vmScannerName string, options *VMScannersClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/vmScanners/{vmScannerName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if vmScannerName == "" {
		return nil, errors.New("parameter vmScannerName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vmScannerName}", url.PathEscape(vmScannerName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *VMScannersClient) getHandleResponse(resp *http.Response) (VMScannersClientGetResponse, error) {
	result := VMScannersClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ScannerConfiguration); err != nil {
		return VMScannersClientGetResponse{}, err
	}
	return result, nil
}

// ListBySubscription - Gets the subscription's VM scanner configurations.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-03-01-preview
// options - VMScannersClientListBySubscriptionOptions contains the optional parameters for the VMScannersClient.ListBySubscription
// method.
func (client *VMScannersClient) ListBySubscription(ctx context.Context, options *VMScannersClientListBySubscriptionOptions) (VMScannersClientListBySubscriptionResponse, error) {
	req, err := client.listBySubscriptionCreateRequest(ctx, options)
	if err != nil {
		return VMScannersClientListBySubscriptionResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return VMScannersClientListBySubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return VMScannersClientListBySubscriptionResponse{}, runtime.NewResponseError(resp)
	}
	return client.listBySubscriptionHandleResponse(resp)
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *VMScannersClient) listBySubscriptionCreateRequest(ctx context.Context, options *VMScannersClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Security/vmScanners"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-03-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *VMScannersClient) listBySubscriptionHandleResponse(resp *http.Response) (VMScannersClientListBySubscriptionResponse, error) {
	result := VMScannersClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ScannerConfigurationList); err != nil {
		return VMScannersClientListBySubscriptionResponse{}, err
	}
	return result, nil
}
