// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package bicep

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DecompileClient contains the methods for the Decompile group.
// Don't use this type directly, use NewDecompileClient() instead.
type DecompileClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewDecompileClient creates a new instance of DecompileClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDecompileClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DecompileClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &DecompileClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Bicep - Decompiles an ARM json template into a Bicep template
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-11-01
//   - decompileOperationRequest - Decompile operation request supplied to the operation.
//   - options - DecompileClientBicepOptions contains the optional parameters for the DecompileClient.Bicep method.
func (client *DecompileClient) Bicep(ctx context.Context, decompileOperationRequest DecompileOperationRequest, options *DecompileClientBicepOptions) (DecompileClientBicepResponse, error) {
	var err error
	const operationName = "DecompileClient.Bicep"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.bicepCreateRequest(ctx, decompileOperationRequest, options)
	if err != nil {
		return DecompileClientBicepResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DecompileClientBicepResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return DecompileClientBicepResponse{}, err
	}
	resp, err := client.bicepHandleResponse(httpResp)
	return resp, err
}

// bicepCreateRequest creates the Bicep request.
func (client *DecompileClient) bicepCreateRequest(ctx context.Context, decompileOperationRequest DecompileOperationRequest, _ *DecompileClientBicepOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/decompileBicep"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-11-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, decompileOperationRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// bicepHandleResponse handles the Bicep response.
func (client *DecompileClient) bicepHandleResponse(resp *http.Response) (DecompileClientBicepResponse, error) {
	result := DecompileClientBicepResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DecompileOperationSuccessResponse); err != nil {
		return DecompileClientBicepResponse{}, err
	}
	return result, nil
}
