//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armcostmanagement

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// BillingAccountScopeClient contains the methods for the BillingAccountScope group.
// Don't use this type directly, use NewBillingAccountScopeClient() instead.
type BillingAccountScopeClient struct {
	internal *arm.Client
}

// NewBillingAccountScopeClient creates a new instance of BillingAccountScopeClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewBillingAccountScopeClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*BillingAccountScopeClient, error) {
	cl, err := arm.NewClient(moduleName+".BillingAccountScopeClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &BillingAccountScopeClient{
		internal: cl,
	}
	return client, nil
}

// BeginGenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the
// provided billing account. This API supports only enrollment accounts.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
//   - billingAccountID - Billing account ID
//   - benefitUtilizationSummariesRequest - Async Benefit Utilization Summary report to be created.
//   - options - BillingAccountScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions contains the optional parameters
//     for the BillingAccountScopeClient.BeginGenerateBenefitUtilizationSummariesReport method.
func (client *BillingAccountScopeClient) BeginGenerateBenefitUtilizationSummariesReport(ctx context.Context, billingAccountID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *BillingAccountScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*runtime.Poller[BillingAccountScopeClientGenerateBenefitUtilizationSummariesReportResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.generateBenefitUtilizationSummariesReport(ctx, billingAccountID, benefitUtilizationSummariesRequest, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[BillingAccountScopeClientGenerateBenefitUtilizationSummariesReportResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
		})
	} else {
		return runtime.NewPollerFromResumeToken[BillingAccountScopeClientGenerateBenefitUtilizationSummariesReportResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// GenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the provided
// billing account. This API supports only enrollment accounts.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
func (client *BillingAccountScopeClient) generateBenefitUtilizationSummariesReport(ctx context.Context, billingAccountID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *BillingAccountScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*http.Response, error) {
	req, err := client.generateBenefitUtilizationSummariesReportCreateRequest(ctx, billingAccountID, benefitUtilizationSummariesRequest, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// generateBenefitUtilizationSummariesReportCreateRequest creates the GenerateBenefitUtilizationSummariesReport request.
func (client *BillingAccountScopeClient) generateBenefitUtilizationSummariesReportCreateRequest(ctx context.Context, billingAccountID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *BillingAccountScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport"
	if billingAccountID == "" {
		return nil, errors.New("parameter billingAccountID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{billingAccountId}", url.PathEscape(billingAccountID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-03-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, benefitUtilizationSummariesRequest)
}
