//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armcostmanagement

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ReservationScopeClient contains the methods for the ReservationScope group.
// Don't use this type directly, use NewReservationScopeClient() instead.
type ReservationScopeClient struct {
	internal *arm.Client
}

// NewReservationScopeClient creates a new instance of ReservationScopeClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewReservationScopeClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*ReservationScopeClient, error) {
	cl, err := arm.NewClient(moduleName+".ReservationScopeClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ReservationScopeClient{
		internal: cl,
	}
	return client, nil
}

// BeginGenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the
// provided reservation.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
//   - reservationOrderID - Reservation Order ID
//   - reservationID - Reservation ID
//   - benefitUtilizationSummariesRequest - Async Benefit Utilization Summary report to be created.
//   - options - ReservationScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions contains the optional parameters
//     for the ReservationScopeClient.BeginGenerateBenefitUtilizationSummariesReport method.
func (client *ReservationScopeClient) BeginGenerateBenefitUtilizationSummariesReport(ctx context.Context, reservationOrderID string, reservationID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *ReservationScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*runtime.Poller[ReservationScopeClientGenerateBenefitUtilizationSummariesReportResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.generateBenefitUtilizationSummariesReport(ctx, reservationOrderID, reservationID, benefitUtilizationSummariesRequest, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ReservationScopeClientGenerateBenefitUtilizationSummariesReportResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
		})
	} else {
		return runtime.NewPollerFromResumeToken[ReservationScopeClientGenerateBenefitUtilizationSummariesReportResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// GenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the provided
// reservation.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
func (client *ReservationScopeClient) generateBenefitUtilizationSummariesReport(ctx context.Context, reservationOrderID string, reservationID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *ReservationScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*http.Response, error) {
	req, err := client.generateBenefitUtilizationSummariesReportCreateRequest(ctx, reservationOrderID, reservationID, benefitUtilizationSummariesRequest, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// generateBenefitUtilizationSummariesReportCreateRequest creates the GenerateBenefitUtilizationSummariesReport request.
func (client *ReservationScopeClient) generateBenefitUtilizationSummariesReportCreateRequest(ctx context.Context, reservationOrderID string, reservationID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *ReservationScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport"
	if reservationOrderID == "" {
		return nil, errors.New("parameter reservationOrderID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{reservationOrderId}", url.PathEscape(reservationOrderID))
	if reservationID == "" {
		return nil, errors.New("parameter reservationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{reservationId}", url.PathEscape(reservationID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-03-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, benefitUtilizationSummariesRequest)
}
