//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armcostmanagement

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ReservationOrderScopeClient contains the methods for the ReservationOrderScope group.
// Don't use this type directly, use NewReservationOrderScopeClient() instead.
type ReservationOrderScopeClient struct {
	internal *arm.Client
}

// NewReservationOrderScopeClient creates a new instance of ReservationOrderScopeClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewReservationOrderScopeClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*ReservationOrderScopeClient, error) {
	cl, err := arm.NewClient(moduleName+".ReservationOrderScopeClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ReservationOrderScopeClient{
		internal: cl,
	}
	return client, nil
}

// BeginGenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the
// provided reservation order.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
//   - reservationOrderID - Reservation Order ID
//   - benefitUtilizationSummariesRequest - Async Benefit Utilization Summary report to be created.
//   - options - ReservationOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions contains the optional parameters
//     for the ReservationOrderScopeClient.BeginGenerateBenefitUtilizationSummariesReport method.
func (client *ReservationOrderScopeClient) BeginGenerateBenefitUtilizationSummariesReport(ctx context.Context, reservationOrderID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *ReservationOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*runtime.Poller[ReservationOrderScopeClientGenerateBenefitUtilizationSummariesReportResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.generateBenefitUtilizationSummariesReport(ctx, reservationOrderID, benefitUtilizationSummariesRequest, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ReservationOrderScopeClientGenerateBenefitUtilizationSummariesReportResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
		})
	} else {
		return runtime.NewPollerFromResumeToken[ReservationOrderScopeClientGenerateBenefitUtilizationSummariesReportResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// GenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the provided
// reservation order.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
func (client *ReservationOrderScopeClient) generateBenefitUtilizationSummariesReport(ctx context.Context, reservationOrderID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *ReservationOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*http.Response, error) {
	req, err := client.generateBenefitUtilizationSummariesReportCreateRequest(ctx, reservationOrderID, benefitUtilizationSummariesRequest, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// generateBenefitUtilizationSummariesReportCreateRequest creates the GenerateBenefitUtilizationSummariesReport request.
func (client *ReservationOrderScopeClient) generateBenefitUtilizationSummariesReportCreateRequest(ctx context.Context, reservationOrderID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *ReservationOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport"
	if reservationOrderID == "" {
		return nil, errors.New("parameter reservationOrderID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{reservationOrderId}", url.PathEscape(reservationOrderID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-03-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, benefitUtilizationSummariesRequest)
}
