//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armcostmanagement

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SavingsPlanOrderScopeClient contains the methods for the SavingsPlanOrderScope group.
// Don't use this type directly, use NewSavingsPlanOrderScopeClient() instead.
type SavingsPlanOrderScopeClient struct {
	internal *arm.Client
}

// NewSavingsPlanOrderScopeClient creates a new instance of SavingsPlanOrderScopeClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSavingsPlanOrderScopeClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SavingsPlanOrderScopeClient, error) {
	cl, err := arm.NewClient(moduleName+".SavingsPlanOrderScopeClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SavingsPlanOrderScopeClient{
		internal: cl,
	}
	return client, nil
}

// BeginGenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the
// provided savings plan order.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
//   - savingsPlanOrderID - Savings plan order ID.
//   - benefitUtilizationSummariesRequest - Async Benefit Utilization Summary report to be created.
//   - options - SavingsPlanOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions contains the optional parameters
//     for the SavingsPlanOrderScopeClient.BeginGenerateBenefitUtilizationSummariesReport method.
func (client *SavingsPlanOrderScopeClient) BeginGenerateBenefitUtilizationSummariesReport(ctx context.Context, savingsPlanOrderID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *SavingsPlanOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*runtime.Poller[SavingsPlanOrderScopeClientGenerateBenefitUtilizationSummariesReportResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.generateBenefitUtilizationSummariesReport(ctx, savingsPlanOrderID, benefitUtilizationSummariesRequest, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[SavingsPlanOrderScopeClientGenerateBenefitUtilizationSummariesReportResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
		})
	} else {
		return runtime.NewPollerFromResumeToken[SavingsPlanOrderScopeClientGenerateBenefitUtilizationSummariesReportResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// GenerateBenefitUtilizationSummariesReport - Triggers generation of a benefit utilization summaries report for the provided
// savings plan order.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-03-01
func (client *SavingsPlanOrderScopeClient) generateBenefitUtilizationSummariesReport(ctx context.Context, savingsPlanOrderID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *SavingsPlanOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*http.Response, error) {
	req, err := client.generateBenefitUtilizationSummariesReportCreateRequest(ctx, savingsPlanOrderID, benefitUtilizationSummariesRequest, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// generateBenefitUtilizationSummariesReportCreateRequest creates the GenerateBenefitUtilizationSummariesReport request.
func (client *SavingsPlanOrderScopeClient) generateBenefitUtilizationSummariesReportCreateRequest(ctx context.Context, savingsPlanOrderID string, benefitUtilizationSummariesRequest BenefitUtilizationSummariesRequest, options *SavingsPlanOrderScopeClientBeginGenerateBenefitUtilizationSummariesReportOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/providers/Microsoft.CostManagement/generateBenefitUtilizationSummariesReport"
	if savingsPlanOrderID == "" {
		return nil, errors.New("parameter savingsPlanOrderID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{savingsPlanOrderId}", url.PathEscape(savingsPlanOrderID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-03-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, benefitUtilizationSummariesRequest)
}
