//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armedgemarketplace

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PublishersClient contains the methods for the Publishers group.
// Don't use this type directly, use NewPublishersClient() instead.
type PublishersClient struct {
	internal *arm.Client
}

// NewPublishersClient creates a new instance of PublishersClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewPublishersClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*PublishersClient, error) {
	cl, err := arm.NewClient(moduleName+".PublishersClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PublishersClient{
		internal: cl,
	}
	return client, nil
}

// Get - Get a Publisher
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-04-01-preview
//   - resourceURI - The fully qualified Azure Resource manager identifier of the resource.
//   - publisherName - Name of the publisher
//   - options - PublishersClientGetOptions contains the optional parameters for the PublishersClient.Get method.
func (client *PublishersClient) Get(ctx context.Context, resourceURI string, publisherName string, options *PublishersClientGetOptions) (PublishersClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceURI, publisherName, options)
	if err != nil {
		return PublishersClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PublishersClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return PublishersClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *PublishersClient) getCreateRequest(ctx context.Context, resourceURI string, publisherName string, options *PublishersClientGetOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/Microsoft.EdgeMarketPlace/publishers/{publisherName}"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	if publisherName == "" {
		return nil, errors.New("parameter publisherName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{publisherName}", url.PathEscape(publisherName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *PublishersClient) getHandleResponse(resp *http.Response) (PublishersClientGetResponse, error) {
	result := PublishersClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Publisher); err != nil {
		return PublishersClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - List Publisher resources by parent
//
// Generated from API version 2023-04-01-preview
//   - resourceURI - The fully qualified Azure Resource manager identifier of the resource.
//   - options - PublishersClientListOptions contains the optional parameters for the PublishersClient.NewListPager method.
func (client *PublishersClient) NewListPager(resourceURI string, options *PublishersClientListOptions) *runtime.Pager[PublishersClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[PublishersClientListResponse]{
		More: func(page PublishersClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *PublishersClientListResponse) (PublishersClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, resourceURI, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return PublishersClientListResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return PublishersClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return PublishersClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *PublishersClient) listCreateRequest(ctx context.Context, resourceURI string, options *PublishersClientListOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/Microsoft.EdgeMarketPlace/publishers"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *PublishersClient) listHandleResponse(resp *http.Response) (PublishersClientListResponse, error) {
	result := PublishersClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PublisherListResult); err != nil {
		return PublishersClientListResponse{}, err
	}
	return result, nil
}
