//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armalertsmanagement

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// CROSSClient contains the methods for the CROSS group.
// Don't use this type directly, use NewCROSSClient() instead.
type CROSSClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewCROSSClient creates a new instance of CROSSClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewCROSSClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*CROSSClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &CROSSClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionPager - Retrieve Prometheus all rule group definitions in
// a subscription.
//
// Generated from API version 2024-05-01
//   - options - CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionOptions contains the optional parameters
//     for the CROSSClient.NewVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionPager method.
func (client *CROSSClient) NewVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionPager(options *CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionOptions) *runtime.Pager[CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse]{
		More: func(page CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse) bool {
			return false
		},
		Fetcher: func(ctx context.Context, page *CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse) (CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "CROSSClient.NewVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionPager")
			req, err := client.verbreakingchangetestPrometheusRuleGroupsListBySubscriptionCreateRequest(ctx, options)
			if err != nil {
				return CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse{}, runtime.NewResponseError(resp)
			}
			return client.verbreakingchangetestPrometheusRuleGroupsListBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// verbreakingchangetestPrometheusRuleGroupsListBySubscriptionCreateRequest creates the VERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscription request.
func (client *CROSSClient) verbreakingchangetestPrometheusRuleGroupsListBySubscriptionCreateRequest(ctx context.Context, options *CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/prometheusRuleGroups"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// verbreakingchangetestPrometheusRuleGroupsListBySubscriptionHandleResponse handles the VERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscription response.
func (client *CROSSClient) verbreakingchangetestPrometheusRuleGroupsListBySubscriptionHandleResponse(resp *http.Response) (CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse, error) {
	result := CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PrometheusRuleGroupResourceCollection); err != nil {
		return CROSSClientVERBREAKINGCHANGETESTPrometheusRuleGroupsListBySubscriptionResponse{}, err
	}
	return result, nil
}
