//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armalertsmanagement

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// OperationsClient contains the methods for the Operations group.
// Don't use this type directly, use NewOperationsClient() instead.
type OperationsClient struct {
	internal *arm.Client
}

// NewOperationsClient creates a new instance of OperationsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewOperationsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*OperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &OperationsClient{
		internal: cl,
	}
	return client, nil
}

// NewListTestPager - List all operations available through Azure Alerts Management Resource Provider.
//
// Generated from API version 2024-01-01-preview
//   - options - OperationsClientListTestOptions contains the optional parameters for the OperationsClient.NewListTestPager method.
func (client *OperationsClient) NewListTestPager(options *OperationsClientListTestOptions) *runtime.Pager[OperationsClientListTestResponse] {
	return runtime.NewPager(runtime.PagingHandler[OperationsClientListTestResponse]{
		More: func(page OperationsClientListTestResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *OperationsClientListTestResponse) (OperationsClientListTestResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "OperationsClient.NewListTestPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listTestCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return OperationsClientListTestResponse{}, err
			}
			return client.listTestHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listTestCreateRequest creates the ListTest request.
func (client *OperationsClient) listTestCreateRequest(ctx context.Context, options *OperationsClientListTestOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AlertsManagement/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listTestHandleResponse handles the ListTest response.
func (client *OperationsClient) listTestHandleResponse(resp *http.Response) (OperationsClientListTestResponse, error) {
	result := OperationsClientListTestResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationsList); err != nil {
		return OperationsClientListTestResponse{}, err
	}
	return result, nil
}
