//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsignalr

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ReplicaClient contains the methods for the SignalRReplica group.
// Don't use this type directly, use NewReplicaClient() instead.
type ReplicaClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewReplicaClient creates a new instance of ReplicaClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewReplicaClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ReplicaClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ReplicaClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginSharedPrivateLinkResourcesCreateOrUpdate - Create or update a shared private link resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - resourceName - The name of the resource.
//   - replicaName - The name of the replica.
//   - sharedPrivateLinkResourceName - The name of the shared private link resource
//   - parameters - The shared private link resource
//   - options - ReplicaClientBeginSharedPrivateLinkResourcesCreateOrUpdateOptions contains the optional parameters for the ReplicaClient.BeginSharedPrivateLinkResourcesCreateOrUpdate
//     method.
func (client *ReplicaClient) BeginSharedPrivateLinkResourcesCreateOrUpdate(ctx context.Context, resourceGroupName string, resourceName string, replicaName string, sharedPrivateLinkResourceName string, parameters SharedPrivateLinkResource, options *ReplicaClientBeginSharedPrivateLinkResourcesCreateOrUpdateOptions) (*runtime.Poller[ReplicaClientSharedPrivateLinkResourcesCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.sharedPrivateLinkResourcesCreateOrUpdate(ctx, resourceGroupName, resourceName, replicaName, sharedPrivateLinkResourceName, parameters, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ReplicaClientSharedPrivateLinkResourcesCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ReplicaClientSharedPrivateLinkResourcesCreateOrUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// SharedPrivateLinkResourcesCreateOrUpdate - Create or update a shared private link resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
func (client *ReplicaClient) sharedPrivateLinkResourcesCreateOrUpdate(ctx context.Context, resourceGroupName string, resourceName string, replicaName string, sharedPrivateLinkResourceName string, parameters SharedPrivateLinkResource, options *ReplicaClientBeginSharedPrivateLinkResourcesCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "ReplicaClient.BeginSharedPrivateLinkResourcesCreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.sharedPrivateLinkResourcesCreateOrUpdateCreateRequest(ctx, resourceGroupName, resourceName, replicaName, sharedPrivateLinkResourceName, parameters, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// sharedPrivateLinkResourcesCreateOrUpdateCreateRequest creates the SharedPrivateLinkResourcesCreateOrUpdate request.
func (client *ReplicaClient) sharedPrivateLinkResourcesCreateOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, resourceName string, replicaName string, sharedPrivateLinkResourceName string, parameters SharedPrivateLinkResource, options *ReplicaClientBeginSharedPrivateLinkResourcesCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	if replicaName == "" {
		return nil, errors.New("parameter replicaName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{replicaName}", url.PathEscape(replicaName))
	if sharedPrivateLinkResourceName == "" {
		return nil, errors.New("parameter sharedPrivateLinkResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sharedPrivateLinkResourceName}", url.PathEscape(sharedPrivateLinkResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// SharedPrivateLinkResourcesGet - Get the specified shared private link resource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - resourceName - The name of the resource.
//   - replicaName - The name of the replica.
//   - sharedPrivateLinkResourceName - The name of the shared private link resource
//   - options - ReplicaClientSharedPrivateLinkResourcesGetOptions contains the optional parameters for the ReplicaClient.SharedPrivateLinkResourcesGet
//     method.
func (client *ReplicaClient) SharedPrivateLinkResourcesGet(ctx context.Context, resourceGroupName string, resourceName string, replicaName string, sharedPrivateLinkResourceName string, options *ReplicaClientSharedPrivateLinkResourcesGetOptions) (ReplicaClientSharedPrivateLinkResourcesGetResponse, error) {
	var err error
	const operationName = "ReplicaClient.SharedPrivateLinkResourcesGet"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.sharedPrivateLinkResourcesGetCreateRequest(ctx, resourceGroupName, resourceName, replicaName, sharedPrivateLinkResourceName, options)
	if err != nil {
		return ReplicaClientSharedPrivateLinkResourcesGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ReplicaClientSharedPrivateLinkResourcesGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ReplicaClientSharedPrivateLinkResourcesGetResponse{}, err
	}
	resp, err := client.sharedPrivateLinkResourcesGetHandleResponse(httpResp)
	return resp, err
}

// sharedPrivateLinkResourcesGetCreateRequest creates the SharedPrivateLinkResourcesGet request.
func (client *ReplicaClient) sharedPrivateLinkResourcesGetCreateRequest(ctx context.Context, resourceGroupName string, resourceName string, replicaName string, sharedPrivateLinkResourceName string, options *ReplicaClientSharedPrivateLinkResourcesGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources/{sharedPrivateLinkResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	if replicaName == "" {
		return nil, errors.New("parameter replicaName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{replicaName}", url.PathEscape(replicaName))
	if sharedPrivateLinkResourceName == "" {
		return nil, errors.New("parameter sharedPrivateLinkResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sharedPrivateLinkResourceName}", url.PathEscape(sharedPrivateLinkResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// sharedPrivateLinkResourcesGetHandleResponse handles the SharedPrivateLinkResourcesGet response.
func (client *ReplicaClient) sharedPrivateLinkResourcesGetHandleResponse(resp *http.Response) (ReplicaClientSharedPrivateLinkResourcesGetResponse, error) {
	result := ReplicaClientSharedPrivateLinkResourcesGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SharedPrivateLinkResource); err != nil {
		return ReplicaClientSharedPrivateLinkResourcesGetResponse{}, err
	}
	return result, nil
}

// NewSharedPrivateLinkResourcesListPager - List shared private link resources
//
// Generated from API version 2024-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - resourceName - The name of the resource.
//   - replicaName - The name of the replica.
//   - options - ReplicaClientSharedPrivateLinkResourcesListOptions contains the optional parameters for the ReplicaClient.NewSharedPrivateLinkResourcesListPager
//     method.
func (client *ReplicaClient) NewSharedPrivateLinkResourcesListPager(resourceGroupName string, resourceName string, replicaName string, options *ReplicaClientSharedPrivateLinkResourcesListOptions) *runtime.Pager[ReplicaClientSharedPrivateLinkResourcesListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ReplicaClientSharedPrivateLinkResourcesListResponse]{
		More: func(page ReplicaClientSharedPrivateLinkResourcesListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ReplicaClientSharedPrivateLinkResourcesListResponse) (ReplicaClientSharedPrivateLinkResourcesListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ReplicaClient.NewSharedPrivateLinkResourcesListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.sharedPrivateLinkResourcesListCreateRequest(ctx, resourceGroupName, resourceName, replicaName, options)
			}, nil)
			if err != nil {
				return ReplicaClientSharedPrivateLinkResourcesListResponse{}, err
			}
			return client.sharedPrivateLinkResourcesListHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// sharedPrivateLinkResourcesListCreateRequest creates the SharedPrivateLinkResourcesList request.
func (client *ReplicaClient) sharedPrivateLinkResourcesListCreateRequest(ctx context.Context, resourceGroupName string, resourceName string, replicaName string, options *ReplicaClientSharedPrivateLinkResourcesListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/signalR/{resourceName}/replicas/{replicaName}/sharedPrivateLinkResources"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	if replicaName == "" {
		return nil, errors.New("parameter replicaName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{replicaName}", url.PathEscape(replicaName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// sharedPrivateLinkResourcesListHandleResponse handles the SharedPrivateLinkResourcesList response.
func (client *ReplicaClient) sharedPrivateLinkResourcesListHandleResponse(resp *http.Response) (ReplicaClientSharedPrivateLinkResourcesListResponse, error) {
	result := ReplicaClientSharedPrivateLinkResourcesListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SharedPrivateLinkResourceList); err != nil {
		return ReplicaClientSharedPrivateLinkResourcesListResponse{}, err
	}
	return result, nil
}
