//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armappcontainers

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient contains the methods for the ConnectedEnvironmentsDaprResiliencyTimeoutPolicies group.
// Don't use this type directly, use NewConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient() instead.
type ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient creates a new instance of ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a Dapr Resiliency Timeout Policy in a Connected Environment.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - connectedEnvironmentName - Name of the Connected Environment.
//   - policyName - Name of the Dapr Resiliency Timeout Policy.
//   - daprResiliencyTimeoutPoliciesEnvelope - Configuration details of the Dapr Resiliency Timeout Policy.
//   - options - ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateOptions contains the optional parameters
//     for the ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient.CreateOrUpdate method.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, connectedEnvironmentName string, policyName string, daprResiliencyTimeoutPoliciesEnvelope DaprResiliencyTimeoutPolicy, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateOptions) (ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, connectedEnvironmentName, policyName, daprResiliencyTimeoutPoliciesEnvelope, options)
	if err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, connectedEnvironmentName string, policyName string, daprResiliencyTimeoutPoliciesEnvelope DaprResiliencyTimeoutPolicy, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/daprResiliencyTimeoutPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if connectedEnvironmentName == "" {
		return nil, errors.New("parameter connectedEnvironmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{connectedEnvironmentName}", url.PathEscape(connectedEnvironmentName))
	if policyName == "" {
		return nil, errors.New("parameter policyName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", url.PathEscape(policyName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, daprResiliencyTimeoutPoliciesEnvelope)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) createOrUpdateHandleResponse(resp *http.Response) (ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse, error) {
	result := ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprResiliencyTimeoutPolicy); err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a Dapr Resiliency Timeout Policy from a Connected Environment.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - connectedEnvironmentName - Name of the Connected Environment.
//   - policyName - Name of the Dapr Resiliency Timeout Policy.
//   - options - ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteOptions contains the optional parameters for the
//     ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient.Delete method.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) Delete(ctx context.Context, resourceGroupName string, connectedEnvironmentName string, policyName string, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteOptions) (ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, connectedEnvironmentName, policyName, options)
	if err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, connectedEnvironmentName string, policyName string, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/daprResiliencyTimeoutPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if connectedEnvironmentName == "" {
		return nil, errors.New("parameter connectedEnvironmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{connectedEnvironmentName}", url.PathEscape(connectedEnvironmentName))
	if policyName == "" {
		return nil, errors.New("parameter policyName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", url.PathEscape(policyName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a Dapr Resiliency Timeout Policy.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - connectedEnvironmentName - Name of the Connected Environment.
//   - policyName - Name of the Dapr Resiliency Timeout Policy.
//   - options - ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetOptions contains the optional parameters for the ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient.Get
//     method.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) Get(ctx context.Context, resourceGroupName string, connectedEnvironmentName string, policyName string, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetOptions) (ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, connectedEnvironmentName, policyName, options)
	if err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) getCreateRequest(ctx context.Context, resourceGroupName string, connectedEnvironmentName string, policyName string, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/daprResiliencyTimeoutPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if connectedEnvironmentName == "" {
		return nil, errors.New("parameter connectedEnvironmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{connectedEnvironmentName}", url.PathEscape(connectedEnvironmentName))
	if policyName == "" {
		return nil, errors.New("parameter policyName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", url.PathEscape(policyName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) getHandleResponse(resp *http.Response) (ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetResponse, error) {
	result := ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprResiliencyTimeoutPolicy); err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Get the Dapr Resiliency Timeout Policies for a connected environment.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - connectedEnvironmentName - Name of the Connected Environment.
//   - options - ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListOptions contains the optional parameters for the
//     ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient.NewListPager method.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) NewListPager(resourceGroupName string, connectedEnvironmentName string, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListOptions) *runtime.Pager[ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse]{
		More: func(page ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse) (ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, resourceGroupName, connectedEnvironmentName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) listCreateRequest(ctx context.Context, resourceGroupName string, connectedEnvironmentName string, options *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/connectedEnvironments/{connectedEnvironmentName}/daprResiliencyTimeoutPolicies"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if connectedEnvironmentName == "" {
		return nil, errors.New("parameter connectedEnvironmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{connectedEnvironmentName}", url.PathEscape(connectedEnvironmentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClient) listHandleResponse(resp *http.Response) (ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse, error) {
	result := ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprResiliencyTimeoutPoliciesCollection); err != nil {
		return ConnectedEnvironmentsDaprResiliencyTimeoutPoliciesClientListResponse{}, err
	}
	return result, nil
}
