//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armappcontainers

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DaprResiliencyTimeoutPoliciesClient contains the methods for the DaprResiliencyTimeoutPolicies group.
// Don't use this type directly, use NewDaprResiliencyTimeoutPoliciesClient() instead.
type DaprResiliencyTimeoutPoliciesClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewDaprResiliencyTimeoutPoliciesClient creates a new instance of DaprResiliencyTimeoutPoliciesClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDaprResiliencyTimeoutPoliciesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DaprResiliencyTimeoutPoliciesClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &DaprResiliencyTimeoutPoliciesClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// CreateOrUpdate - Creates or updates a Dapr Resiliency Timeout Policy in a Managed Environment.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - environmentName - Name of the Managed Environment.
//   - policyName - Name of the Dapr Resiliency Timeout Policy.
//   - daprResiliencyTimeoutPoliciesEnvelope - Configuration details of the Dapr Resiliency Timeout Policy.
//   - options - DaprResiliencyTimeoutPoliciesClientCreateOrUpdateOptions contains the optional parameters for the DaprResiliencyTimeoutPoliciesClient.CreateOrUpdate
//     method.
func (client *DaprResiliencyTimeoutPoliciesClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, environmentName string, policyName string, daprResiliencyTimeoutPoliciesEnvelope DaprResiliencyTimeoutPolicy, options *DaprResiliencyTimeoutPoliciesClientCreateOrUpdateOptions) (DaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, environmentName, policyName, daprResiliencyTimeoutPoliciesEnvelope, options)
	if err != nil {
		return DaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return DaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DaprResiliencyTimeoutPoliciesClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, environmentName string, policyName string, daprResiliencyTimeoutPoliciesEnvelope DaprResiliencyTimeoutPolicy, options *DaprResiliencyTimeoutPoliciesClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyTimeoutPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if environmentName == "" {
		return nil, errors.New("parameter environmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentName}", url.PathEscape(environmentName))
	if policyName == "" {
		return nil, errors.New("parameter policyName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", url.PathEscape(policyName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, daprResiliencyTimeoutPoliciesEnvelope)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *DaprResiliencyTimeoutPoliciesClient) createOrUpdateHandleResponse(resp *http.Response) (DaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse, error) {
	result := DaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprResiliencyTimeoutPolicy); err != nil {
		return DaprResiliencyTimeoutPoliciesClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a Dapr Resiliency Timeout Policy from a Managed Environment.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - environmentName - Name of the Managed Environment.
//   - policyName - Name of the Dapr Resiliency Timeout Policy.
//   - options - DaprResiliencyTimeoutPoliciesClientDeleteOptions contains the optional parameters for the DaprResiliencyTimeoutPoliciesClient.Delete
//     method.
func (client *DaprResiliencyTimeoutPoliciesClient) Delete(ctx context.Context, resourceGroupName string, environmentName string, policyName string, options *DaprResiliencyTimeoutPoliciesClientDeleteOptions) (DaprResiliencyTimeoutPoliciesClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, environmentName, policyName, options)
	if err != nil {
		return DaprResiliencyTimeoutPoliciesClientDeleteResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprResiliencyTimeoutPoliciesClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return DaprResiliencyTimeoutPoliciesClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return DaprResiliencyTimeoutPoliciesClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DaprResiliencyTimeoutPoliciesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, environmentName string, policyName string, options *DaprResiliencyTimeoutPoliciesClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyTimeoutPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if environmentName == "" {
		return nil, errors.New("parameter environmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentName}", url.PathEscape(environmentName))
	if policyName == "" {
		return nil, errors.New("parameter policyName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", url.PathEscape(policyName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a Dapr Resiliency Timeout Policy.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - environmentName - Name of the Managed Environment.
//   - policyName - Name of the Dapr Resiliency Timeout Policy.
//   - options - DaprResiliencyTimeoutPoliciesClientGetOptions contains the optional parameters for the DaprResiliencyTimeoutPoliciesClient.Get
//     method.
func (client *DaprResiliencyTimeoutPoliciesClient) Get(ctx context.Context, resourceGroupName string, environmentName string, policyName string, options *DaprResiliencyTimeoutPoliciesClientGetOptions) (DaprResiliencyTimeoutPoliciesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, environmentName, policyName, options)
	if err != nil {
		return DaprResiliencyTimeoutPoliciesClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return DaprResiliencyTimeoutPoliciesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return DaprResiliencyTimeoutPoliciesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *DaprResiliencyTimeoutPoliciesClient) getCreateRequest(ctx context.Context, resourceGroupName string, environmentName string, policyName string, options *DaprResiliencyTimeoutPoliciesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyTimeoutPolicies/{policyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if environmentName == "" {
		return nil, errors.New("parameter environmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentName}", url.PathEscape(environmentName))
	if policyName == "" {
		return nil, errors.New("parameter policyName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{policyName}", url.PathEscape(policyName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DaprResiliencyTimeoutPoliciesClient) getHandleResponse(resp *http.Response) (DaprResiliencyTimeoutPoliciesClientGetResponse, error) {
	result := DaprResiliencyTimeoutPoliciesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprResiliencyTimeoutPolicy); err != nil {
		return DaprResiliencyTimeoutPoliciesClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - Get the Dapr Resiliency Timeout Policies for a managed environment.
//
// Generated from API version 2022-11-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - environmentName - Name of the Managed Environment.
//   - options - DaprResiliencyTimeoutPoliciesClientListOptions contains the optional parameters for the DaprResiliencyTimeoutPoliciesClient.NewListPager
//     method.
func (client *DaprResiliencyTimeoutPoliciesClient) NewListPager(resourceGroupName string, environmentName string, options *DaprResiliencyTimeoutPoliciesClientListOptions) *runtime.Pager[DaprResiliencyTimeoutPoliciesClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[DaprResiliencyTimeoutPoliciesClientListResponse]{
		More: func(page DaprResiliencyTimeoutPoliciesClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DaprResiliencyTimeoutPoliciesClientListResponse) (DaprResiliencyTimeoutPoliciesClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, resourceGroupName, environmentName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return DaprResiliencyTimeoutPoliciesClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return DaprResiliencyTimeoutPoliciesClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return DaprResiliencyTimeoutPoliciesClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *DaprResiliencyTimeoutPoliciesClient) listCreateRequest(ctx context.Context, resourceGroupName string, environmentName string, options *DaprResiliencyTimeoutPoliciesClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/managedEnvironments/{environmentName}/daprResiliencyTimeoutPolicies"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if environmentName == "" {
		return nil, errors.New("parameter environmentName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{environmentName}", url.PathEscape(environmentName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DaprResiliencyTimeoutPoliciesClient) listHandleResponse(resp *http.Response) (DaprResiliencyTimeoutPoliciesClientListResponse, error) {
	result := DaprResiliencyTimeoutPoliciesClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DaprResiliencyTimeoutPoliciesCollection); err != nil {
		return DaprResiliencyTimeoutPoliciesClientListResponse{}, err
	}
	return result, nil
}
