//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcarbonoptimization

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// CarbonServiceClient contains the methods for the CarbonService group.
// Don't use this type directly, use NewCarbonServiceClient() instead.
type CarbonServiceClient struct {
	internal *arm.Client
}

// NewCarbonServiceClient creates a new instance of CarbonServiceClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewCarbonServiceClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*CarbonServiceClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &CarbonServiceClient{
		internal: cl,
	}
	return client, nil
}

// NewListCarbonEmissionReportsPager - API for Carbon Emissions Reports
//
// Generated from API version 2024-02-01-preview
//   - queryParameters - Query parameters
//   - options - CarbonServiceClientListCarbonEmissionReportsOptions contains the optional parameters for the CarbonServiceClient.NewListCarbonEmissionReportsPager
//     method.
func (client *CarbonServiceClient) NewListCarbonEmissionReportsPager(queryParameters QueryFilterClassification, options *CarbonServiceClientListCarbonEmissionReportsOptions) *runtime.Pager[CarbonServiceClientListCarbonEmissionReportsResponse] {
	return runtime.NewPager(runtime.PagingHandler[CarbonServiceClientListCarbonEmissionReportsResponse]{
		More: func(page CarbonServiceClientListCarbonEmissionReportsResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *CarbonServiceClientListCarbonEmissionReportsResponse) (CarbonServiceClientListCarbonEmissionReportsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "CarbonServiceClient.NewListCarbonEmissionReportsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCarbonEmissionReportsCreateRequest(ctx, queryParameters, options)
			}, nil)
			if err != nil {
				return CarbonServiceClientListCarbonEmissionReportsResponse{}, err
			}
			return client.listCarbonEmissionReportsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCarbonEmissionReportsCreateRequest creates the ListCarbonEmissionReports request.
func (client *CarbonServiceClient) listCarbonEmissionReportsCreateRequest(ctx context.Context, queryParameters QueryFilterClassification, options *CarbonServiceClientListCarbonEmissionReportsOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Carbon/carbonEmissionReports"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, queryParameters); err != nil {
		return nil, err
	}
	return req, nil
}

// listCarbonEmissionReportsHandleResponse handles the ListCarbonEmissionReports response.
func (client *CarbonServiceClient) listCarbonEmissionReportsHandleResponse(resp *http.Response) (CarbonServiceClientListCarbonEmissionReportsResponse, error) {
	result := CarbonServiceClientListCarbonEmissionReportsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CarbonEmissionDataListResult); err != nil {
		return CarbonServiceClientListCarbonEmissionReportsResponse{}, err
	}
	return result, nil
}

// QueryCarbonEmissionDataAvailableDateRange - API for query carbon emission data available date range
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-01-preview
//   - options - CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeOptions contains the optional parameters for the
//     CarbonServiceClient.QueryCarbonEmissionDataAvailableDateRange method.
func (client *CarbonServiceClient) QueryCarbonEmissionDataAvailableDateRange(ctx context.Context, options *CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeOptions) (CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeResponse, error) {
	var err error
	const operationName = "CarbonServiceClient.QueryCarbonEmissionDataAvailableDateRange"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.queryCarbonEmissionDataAvailableDateRangeCreateRequest(ctx, options)
	if err != nil {
		return CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeResponse{}, err
	}
	resp, err := client.queryCarbonEmissionDataAvailableDateRangeHandleResponse(httpResp)
	return resp, err
}

// queryCarbonEmissionDataAvailableDateRangeCreateRequest creates the QueryCarbonEmissionDataAvailableDateRange request.
func (client *CarbonServiceClient) queryCarbonEmissionDataAvailableDateRangeCreateRequest(ctx context.Context, options *CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Carbon/queryCarbonEmissionDataAvailableDateRange"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// queryCarbonEmissionDataAvailableDateRangeHandleResponse handles the QueryCarbonEmissionDataAvailableDateRange response.
func (client *CarbonServiceClient) queryCarbonEmissionDataAvailableDateRangeHandleResponse(resp *http.Response) (CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeResponse, error) {
	result := CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CarbonEmissionDataAvailableDateRange); err != nil {
		return CarbonServiceClientQueryCarbonEmissionDataAvailableDateRangeResponse{}, err
	}
	return result, nil
}
