//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armadvisor

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// TwelveRecommendationssMetadataClient contains the methods for the TwelveRecommendationssMetadata group.
// Don't use this type directly, use NewTwelveRecommendationssMetadataClient() instead.
type TwelveRecommendationssMetadataClient struct {
	host string
	pl   runtime.Pipeline
}

// NewTwelveRecommendationssMetadataClient creates a new instance of TwelveRecommendationssMetadataClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewTwelveRecommendationssMetadataClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*TwelveRecommendationssMetadataClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &TwelveRecommendationssMetadataClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// Get - Gets the metadata entity.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-09-01
// name - Name of metadata entity.
// options - TwelveRecommendationssMetadataClientGetOptions contains the optional parameters for the TwelveRecommendationssMetadataClient.Get
// method.
func (client *TwelveRecommendationssMetadataClient) Get(ctx context.Context, name string, options *TwelveRecommendationssMetadataClientGetOptions) (TwelveRecommendationssMetadataClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, name, options)
	if err != nil {
		return TwelveRecommendationssMetadataClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return TwelveRecommendationssMetadataClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return TwelveRecommendationssMetadataClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *TwelveRecommendationssMetadataClient) getCreateRequest(ctx context.Context, name string, options *TwelveRecommendationssMetadataClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Advisor/metadata/{name}"
	if name == "" {
		return nil, errors.New("parameter name cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{name}", url.PathEscape(name))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *TwelveRecommendationssMetadataClient) getHandleResponse(resp *http.Response) (TwelveRecommendationssMetadataClientGetResponse, error) {
	result := TwelveRecommendationssMetadataClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MetadataEntity); err != nil {
		return TwelveRecommendationssMetadataClientGetResponse{}, err
	}
	return result, nil
}
