//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmanagementgroups

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SubscriptionUnderManagementGroupsClient contains the methods for the SubscriptionUnderManagementGroups group.
// Don't use this type directly, use NewSubscriptionUnderManagementGroupsClient() instead.
type SubscriptionUnderManagementGroupsClient struct {
	internal *arm.Client
}

// NewSubscriptionUnderManagementGroupsClient creates a new instance of SubscriptionUnderManagementGroupsClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSubscriptionUnderManagementGroupsClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SubscriptionUnderManagementGroupsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SubscriptionUnderManagementGroupsClient{
		internal: cl,
	}
	return client, nil
}

// Create - Associates existing subscription with the management group.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-04-01
//   - groupID - Management Group ID.
//   - subscriptionID - Subscription ID.
//   - options - SubscriptionUnderManagementGroupsClientCreateOptions contains the optional parameters for the SubscriptionUnderManagementGroupsClient.Create
//     method.
func (client *SubscriptionUnderManagementGroupsClient) Create(ctx context.Context, groupID string, subscriptionID string, options *SubscriptionUnderManagementGroupsClientCreateOptions) (SubscriptionUnderManagementGroupsClientCreateResponse, error) {
	var err error
	const operationName = "SubscriptionUnderManagementGroupsClient.Create"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createCreateRequest(ctx, groupID, subscriptionID, options)
	if err != nil {
		return SubscriptionUnderManagementGroupsClientCreateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SubscriptionUnderManagementGroupsClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return SubscriptionUnderManagementGroupsClientCreateResponse{}, err
	}
	resp, err := client.createHandleResponse(httpResp)
	return resp, err
}

// createCreateRequest creates the Create request.
func (client *SubscriptionUnderManagementGroupsClient) createCreateRequest(ctx context.Context, groupID string, subscriptionID string, options *SubscriptionUnderManagementGroupsClientCreateOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}"
	if groupID == "" {
		return nil, errors.New("parameter groupID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupId}", url.PathEscape(groupID))
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.CacheControl != nil {
		req.Raw().Header["cache-control"] = []string{*options.CacheControl}
	}
	if options != nil && options.Resource != nil {
		if err := runtime.MarshalAsJSON(req, *options.Resource); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// createHandleResponse handles the Create response.
func (client *SubscriptionUnderManagementGroupsClient) createHandleResponse(resp *http.Response) (SubscriptionUnderManagementGroupsClientCreateResponse, error) {
	result := SubscriptionUnderManagementGroupsClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SubscriptionUnderManagementGroup); err != nil {
		return SubscriptionUnderManagementGroupsClientCreateResponse{}, err
	}
	return result, nil
}

// Delete - De-associates subscription from the management group.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-04-01
//   - groupID - Management Group ID.
//   - subscriptionID - Subscription ID.
//   - options - SubscriptionUnderManagementGroupsClientDeleteOptions contains the optional parameters for the SubscriptionUnderManagementGroupsClient.Delete
//     method.
func (client *SubscriptionUnderManagementGroupsClient) Delete(ctx context.Context, groupID string, subscriptionID string, options *SubscriptionUnderManagementGroupsClientDeleteOptions) (SubscriptionUnderManagementGroupsClientDeleteResponse, error) {
	var err error
	const operationName = "SubscriptionUnderManagementGroupsClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, groupID, subscriptionID, options)
	if err != nil {
		return SubscriptionUnderManagementGroupsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SubscriptionUnderManagementGroupsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return SubscriptionUnderManagementGroupsClientDeleteResponse{}, err
	}
	return SubscriptionUnderManagementGroupsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *SubscriptionUnderManagementGroupsClient) deleteCreateRequest(ctx context.Context, groupID string, subscriptionID string, options *SubscriptionUnderManagementGroupsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}"
	if groupID == "" {
		return nil, errors.New("parameter groupID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupId}", url.PathEscape(groupID))
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.CacheControl != nil {
		req.Raw().Header["cache-control"] = []string{*options.CacheControl}
	}
	return req, nil
}

// GetSubscription - Retrieves details about given subscription which is associated with the management group.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-04-01
//   - groupID - Management Group ID.
//   - subscriptionID - Subscription ID.
//   - options - SubscriptionUnderManagementGroupsClientGetSubscriptionOptions contains the optional parameters for the SubscriptionUnderManagementGroupsClient.GetSubscription
//     method.
func (client *SubscriptionUnderManagementGroupsClient) GetSubscription(ctx context.Context, groupID string, subscriptionID string, options *SubscriptionUnderManagementGroupsClientGetSubscriptionOptions) (SubscriptionUnderManagementGroupsClientGetSubscriptionResponse, error) {
	var err error
	const operationName = "SubscriptionUnderManagementGroupsClient.GetSubscription"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getSubscriptionCreateRequest(ctx, groupID, subscriptionID, options)
	if err != nil {
		return SubscriptionUnderManagementGroupsClientGetSubscriptionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SubscriptionUnderManagementGroupsClientGetSubscriptionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SubscriptionUnderManagementGroupsClientGetSubscriptionResponse{}, err
	}
	resp, err := client.getSubscriptionHandleResponse(httpResp)
	return resp, err
}

// getSubscriptionCreateRequest creates the GetSubscription request.
func (client *SubscriptionUnderManagementGroupsClient) getSubscriptionCreateRequest(ctx context.Context, groupID string, subscriptionID string, options *SubscriptionUnderManagementGroupsClientGetSubscriptionOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions/{subscriptionId}"
	if groupID == "" {
		return nil, errors.New("parameter groupID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupId}", url.PathEscape(groupID))
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.CacheControl != nil {
		req.Raw().Header["cache-control"] = []string{*options.CacheControl}
	}
	return req, nil
}

// getSubscriptionHandleResponse handles the GetSubscription response.
func (client *SubscriptionUnderManagementGroupsClient) getSubscriptionHandleResponse(resp *http.Response) (SubscriptionUnderManagementGroupsClientGetSubscriptionResponse, error) {
	result := SubscriptionUnderManagementGroupsClientGetSubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SubscriptionUnderManagementGroup); err != nil {
		return SubscriptionUnderManagementGroupsClientGetSubscriptionResponse{}, err
	}
	return result, nil
}

// NewGetSubscriptionsUnderManagementGroupPager - Retrieves details about all subscriptions which are associated with the
// management group.
//
// Generated from API version 2023-04-01
//   - groupID - Management Group ID.
//   - options - SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupOptions contains the optional parameters
//     for the SubscriptionUnderManagementGroupsClient.NewGetSubscriptionsUnderManagementGroupPager method.
func (client *SubscriptionUnderManagementGroupsClient) NewGetSubscriptionsUnderManagementGroupPager(groupID string, options *SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupOptions) *runtime.Pager[SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse] {
	return runtime.NewPager(runtime.PagingHandler[SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse]{
		More: func(page SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse) (SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "SubscriptionUnderManagementGroupsClient.NewGetSubscriptionsUnderManagementGroupPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.getSubscriptionsUnderManagementGroupCreateRequest(ctx, groupID, options)
			}, nil)
			if err != nil {
				return SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse{}, err
			}
			return client.getSubscriptionsUnderManagementGroupHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// getSubscriptionsUnderManagementGroupCreateRequest creates the GetSubscriptionsUnderManagementGroup request.
func (client *SubscriptionUnderManagementGroupsClient) getSubscriptionsUnderManagementGroupCreateRequest(ctx context.Context, groupID string, options *SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Management/managementGroups/{groupId}/subscriptions"
	if groupID == "" {
		return nil, errors.New("parameter groupID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{groupId}", url.PathEscape(groupID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	if options != nil && options.Skiptoken != nil {
		reqQP.Set("$skiptoken", *options.Skiptoken)
	}
	reqQP.Set("api-version", "2023-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getSubscriptionsUnderManagementGroupHandleResponse handles the GetSubscriptionsUnderManagementGroup response.
func (client *SubscriptionUnderManagementGroupsClient) getSubscriptionsUnderManagementGroupHandleResponse(resp *http.Response) (SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse, error) {
	result := SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SubscriptionUnderManagementGroupListResult); err != nil {
		return SubscriptionUnderManagementGroupsClientGetSubscriptionsUnderManagementGroupResponse{}, err
	}
	return result, nil
}
