//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpanngfw

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PaloAltoNetworksCloudngfwClient contains the methods for the PaloAltoNetworksCloudngfw group.
// Don't use this type directly, use NewPaloAltoNetworksCloudngfwClient() instead.
type PaloAltoNetworksCloudngfwClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewPaloAltoNetworksCloudngfwClient creates a new instance of PaloAltoNetworksCloudngfwClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewPaloAltoNetworksCloudngfwClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*PaloAltoNetworksCloudngfwClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PaloAltoNetworksCloudngfwClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateProductSerialNumber -
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-07-preview
//   - options - PaloAltoNetworksCloudngfwClientCreateProductSerialNumberOptions contains the optional parameters for the PaloAltoNetworksCloudngfwClient.CreateProductSerialNumber
//     method.
func (client *PaloAltoNetworksCloudngfwClient) CreateProductSerialNumber(ctx context.Context, options *PaloAltoNetworksCloudngfwClientCreateProductSerialNumberOptions) (PaloAltoNetworksCloudngfwClientCreateProductSerialNumberResponse, error) {
	var err error
	const operationName = "PaloAltoNetworksCloudngfwClient.CreateProductSerialNumber"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createProductSerialNumberCreateRequest(ctx, options)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientCreateProductSerialNumberResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientCreateProductSerialNumberResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return PaloAltoNetworksCloudngfwClientCreateProductSerialNumberResponse{}, err
	}
	resp, err := client.createProductSerialNumberHandleResponse(httpResp)
	return resp, err
}

// createProductSerialNumberCreateRequest creates the CreateProductSerialNumber request.
func (client *PaloAltoNetworksCloudngfwClient) createProductSerialNumberCreateRequest(ctx context.Context, options *PaloAltoNetworksCloudngfwClientCreateProductSerialNumberOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/createProductSerialNumber"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-07-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// createProductSerialNumberHandleResponse handles the CreateProductSerialNumber response.
func (client *PaloAltoNetworksCloudngfwClient) createProductSerialNumberHandleResponse(resp *http.Response) (PaloAltoNetworksCloudngfwClientCreateProductSerialNumberResponse, error) {
	result := PaloAltoNetworksCloudngfwClientCreateProductSerialNumberResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProductSerialNumberRequestStatus); err != nil {
		return PaloAltoNetworksCloudngfwClientCreateProductSerialNumberResponse{}, err
	}
	return result, nil
}

// ListCloudManagerTenants -
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-07-preview
//   - options - PaloAltoNetworksCloudngfwClientListCloudManagerTenantsOptions contains the optional parameters for the PaloAltoNetworksCloudngfwClient.ListCloudManagerTenants
//     method.
func (client *PaloAltoNetworksCloudngfwClient) ListCloudManagerTenants(ctx context.Context, options *PaloAltoNetworksCloudngfwClientListCloudManagerTenantsOptions) (PaloAltoNetworksCloudngfwClientListCloudManagerTenantsResponse, error) {
	var err error
	const operationName = "PaloAltoNetworksCloudngfwClient.ListCloudManagerTenants"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listCloudManagerTenantsCreateRequest(ctx, options)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientListCloudManagerTenantsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientListCloudManagerTenantsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return PaloAltoNetworksCloudngfwClientListCloudManagerTenantsResponse{}, err
	}
	resp, err := client.listCloudManagerTenantsHandleResponse(httpResp)
	return resp, err
}

// listCloudManagerTenantsCreateRequest creates the ListCloudManagerTenants request.
func (client *PaloAltoNetworksCloudngfwClient) listCloudManagerTenantsCreateRequest(ctx context.Context, options *PaloAltoNetworksCloudngfwClientListCloudManagerTenantsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listCloudManagerTenants"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-07-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listCloudManagerTenantsHandleResponse handles the ListCloudManagerTenants response.
func (client *PaloAltoNetworksCloudngfwClient) listCloudManagerTenantsHandleResponse(resp *http.Response) (PaloAltoNetworksCloudngfwClientListCloudManagerTenantsResponse, error) {
	result := PaloAltoNetworksCloudngfwClientListCloudManagerTenantsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CloudManagerTenantArray); err != nil {
		return PaloAltoNetworksCloudngfwClientListCloudManagerTenantsResponse{}, err
	}
	return result, nil
}

// ListProductSerialNumberStatus -
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-07-preview
//   - options - PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusOptions contains the optional parameters for the
//     PaloAltoNetworksCloudngfwClient.ListProductSerialNumberStatus method.
func (client *PaloAltoNetworksCloudngfwClient) ListProductSerialNumberStatus(ctx context.Context, options *PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusOptions) (PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusResponse, error) {
	var err error
	const operationName = "PaloAltoNetworksCloudngfwClient.ListProductSerialNumberStatus"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listProductSerialNumberStatusCreateRequest(ctx, options)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusResponse{}, err
	}
	resp, err := client.listProductSerialNumberStatusHandleResponse(httpResp)
	return resp, err
}

// listProductSerialNumberStatusCreateRequest creates the ListProductSerialNumberStatus request.
func (client *PaloAltoNetworksCloudngfwClient) listProductSerialNumberStatusCreateRequest(ctx context.Context, options *PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listProductSerialNumberStatus"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-07-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listProductSerialNumberStatusHandleResponse handles the ListProductSerialNumberStatus response.
func (client *PaloAltoNetworksCloudngfwClient) listProductSerialNumberStatusHandleResponse(resp *http.Response) (PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusResponse, error) {
	result := PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProductSerialNumberStatus); err != nil {
		return PaloAltoNetworksCloudngfwClientListProductSerialNumberStatusResponse{}, err
	}
	return result, nil
}

// ListSupportInfo -
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-02-07-preview
//   - options - PaloAltoNetworksCloudngfwClientListSupportInfoOptions contains the optional parameters for the PaloAltoNetworksCloudngfwClient.ListSupportInfo
//     method.
func (client *PaloAltoNetworksCloudngfwClient) ListSupportInfo(ctx context.Context, options *PaloAltoNetworksCloudngfwClientListSupportInfoOptions) (PaloAltoNetworksCloudngfwClientListSupportInfoResponse, error) {
	var err error
	const operationName = "PaloAltoNetworksCloudngfwClient.ListSupportInfo"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listSupportInfoCreateRequest(ctx, options)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientListSupportInfoResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PaloAltoNetworksCloudngfwClientListSupportInfoResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return PaloAltoNetworksCloudngfwClientListSupportInfoResponse{}, err
	}
	resp, err := client.listSupportInfoHandleResponse(httpResp)
	return resp, err
}

// listSupportInfoCreateRequest creates the ListSupportInfo request.
func (client *PaloAltoNetworksCloudngfwClient) listSupportInfoCreateRequest(ctx context.Context, options *PaloAltoNetworksCloudngfwClientListSupportInfoOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listSupportInfo"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-02-07-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listSupportInfoHandleResponse handles the ListSupportInfo response.
func (client *PaloAltoNetworksCloudngfwClient) listSupportInfoHandleResponse(resp *http.Response) (PaloAltoNetworksCloudngfwClientListSupportInfoResponse, error) {
	result := PaloAltoNetworksCloudngfwClientListSupportInfoResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SupportInfoModel); err != nil {
		return PaloAltoNetworksCloudngfwClientListSupportInfoResponse{}, err
	}
	return result, nil
}
