//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armfairfieldgardens

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"strings"
)

// DeviceProvisioningStatesClient contains the methods for the DeviceProvisioningStates group.
// Don't use this type directly, use NewDeviceProvisioningStatesClient() instead.
type DeviceProvisioningStatesClient struct {
	internal *arm.Client
}

// NewDeviceProvisioningStatesClient creates a new instance of DeviceProvisioningStatesClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDeviceProvisioningStatesClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*DeviceProvisioningStatesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &DeviceProvisioningStatesClient{
		internal: cl,
	}
	return client, nil
}

// CreateOrUpdate - Create a DeviceProvisioningState
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceURI - The fully qualified Azure Resource manager identifier of the resource.
//   - resource - Resource create parameters.
//   - options - DeviceProvisioningStatesClientCreateOrUpdateOptions contains the optional parameters for the DeviceProvisioningStatesClient.CreateOrUpdate
//     method.
func (client *DeviceProvisioningStatesClient) CreateOrUpdate(ctx context.Context, resourceURI string, resource DeviceProvisioningState, options *DeviceProvisioningStatesClientCreateOrUpdateOptions) (DeviceProvisioningStatesClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "DeviceProvisioningStatesClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceURI, resource, options)
	if err != nil {
		return DeviceProvisioningStatesClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DeviceProvisioningStatesClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return DeviceProvisioningStatesClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *DeviceProvisioningStatesClient) createOrUpdateCreateRequest(ctx context.Context, resourceURI string, resource DeviceProvisioningState, options *DeviceProvisioningStatesClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/Microsoft.FairfieldGardens/deviceProvisioningStates/default"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *DeviceProvisioningStatesClient) createOrUpdateHandleResponse(resp *http.Response) (DeviceProvisioningStatesClientCreateOrUpdateResponse, error) {
	result := DeviceProvisioningStatesClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeviceProvisioningState); err != nil {
		return DeviceProvisioningStatesClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a DeviceProvisioningState
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceURI - The fully qualified Azure Resource manager identifier of the resource.
//   - options - DeviceProvisioningStatesClientDeleteOptions contains the optional parameters for the DeviceProvisioningStatesClient.Delete
//     method.
func (client *DeviceProvisioningStatesClient) Delete(ctx context.Context, resourceURI string, options *DeviceProvisioningStatesClientDeleteOptions) (DeviceProvisioningStatesClientDeleteResponse, error) {
	var err error
	const operationName = "DeviceProvisioningStatesClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceURI, options)
	if err != nil {
		return DeviceProvisioningStatesClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DeviceProvisioningStatesClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return DeviceProvisioningStatesClientDeleteResponse{}, err
	}
	return DeviceProvisioningStatesClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DeviceProvisioningStatesClient) deleteCreateRequest(ctx context.Context, resourceURI string, options *DeviceProvisioningStatesClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/Microsoft.FairfieldGardens/deviceProvisioningStates/default"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a DeviceProvisioningState
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceURI - The fully qualified Azure Resource manager identifier of the resource.
//   - options - DeviceProvisioningStatesClientGetOptions contains the optional parameters for the DeviceProvisioningStatesClient.Get
//     method.
func (client *DeviceProvisioningStatesClient) Get(ctx context.Context, resourceURI string, options *DeviceProvisioningStatesClientGetOptions) (DeviceProvisioningStatesClientGetResponse, error) {
	var err error
	const operationName = "DeviceProvisioningStatesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceURI, options)
	if err != nil {
		return DeviceProvisioningStatesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DeviceProvisioningStatesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return DeviceProvisioningStatesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *DeviceProvisioningStatesClient) getCreateRequest(ctx context.Context, resourceURI string, options *DeviceProvisioningStatesClientGetOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/Microsoft.FairfieldGardens/deviceProvisioningStates/default"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DeviceProvisioningStatesClient) getHandleResponse(resp *http.Response) (DeviceProvisioningStatesClientGetResponse, error) {
	result := DeviceProvisioningStatesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeviceProvisioningState); err != nil {
		return DeviceProvisioningStatesClientGetResponse{}, err
	}
	return result, nil
}

// NewListPager - List DeviceProvisioningState resources by parent
//
// Generated from API version 2023-12-01-preview
//   - resourceURI - The fully qualified Azure Resource manager identifier of the resource.
//   - options - DeviceProvisioningStatesClientListOptions contains the optional parameters for the DeviceProvisioningStatesClient.NewListPager
//     method.
func (client *DeviceProvisioningStatesClient) NewListPager(resourceURI string, options *DeviceProvisioningStatesClientListOptions) *runtime.Pager[DeviceProvisioningStatesClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[DeviceProvisioningStatesClientListResponse]{
		More: func(page DeviceProvisioningStatesClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DeviceProvisioningStatesClientListResponse) (DeviceProvisioningStatesClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "DeviceProvisioningStatesClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, resourceURI, options)
			}, nil)
			if err != nil {
				return DeviceProvisioningStatesClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *DeviceProvisioningStatesClient) listCreateRequest(ctx context.Context, resourceURI string, options *DeviceProvisioningStatesClientListOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/Microsoft.FairfieldGardens/deviceProvisioningStates"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *DeviceProvisioningStatesClient) listHandleResponse(resp *http.Response) (DeviceProvisioningStatesClientListResponse, error) {
	result := DeviceProvisioningStatesClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeviceProvisioningStateListResult); err != nil {
		return DeviceProvisioningStatesClientListResponse{}, err
	}
	return result, nil
}

// Update - Update a DeviceProvisioningState
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceURI - The fully qualified Azure Resource manager identifier of the resource.
//   - properties - The resource properties to be updated.
//   - options - DeviceProvisioningStatesClientUpdateOptions contains the optional parameters for the DeviceProvisioningStatesClient.Update
//     method.
func (client *DeviceProvisioningStatesClient) Update(ctx context.Context, resourceURI string, properties DeviceProvisioningStateUpdate, options *DeviceProvisioningStatesClientUpdateOptions) (DeviceProvisioningStatesClientUpdateResponse, error) {
	var err error
	const operationName = "DeviceProvisioningStatesClient.Update"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, resourceURI, properties, options)
	if err != nil {
		return DeviceProvisioningStatesClientUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DeviceProvisioningStatesClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return DeviceProvisioningStatesClientUpdateResponse{}, err
	}
	resp, err := client.updateHandleResponse(httpResp)
	return resp, err
}

// updateCreateRequest creates the Update request.
func (client *DeviceProvisioningStatesClient) updateCreateRequest(ctx context.Context, resourceURI string, properties DeviceProvisioningStateUpdate, options *DeviceProvisioningStatesClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/{resourceUri}/providers/Microsoft.FairfieldGardens/deviceProvisioningStates/default"
	urlPath = strings.ReplaceAll(urlPath, "{resourceUri}", resourceURI)
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}

// updateHandleResponse handles the Update response.
func (client *DeviceProvisioningStatesClient) updateHandleResponse(resp *http.Response) (DeviceProvisioningStatesClientUpdateResponse, error) {
	result := DeviceProvisioningStatesClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeviceProvisioningState); err != nil {
		return DeviceProvisioningStatesClientUpdateResponse{}, err
	}
	return result, nil
}
