//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armfairfieldgardens

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ProvisioningResourcesClient contains the methods for the ProvisioningResources group.
// Don't use this type directly, use NewProvisioningResourcesClient() instead.
type ProvisioningResourcesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewProvisioningResourcesClient creates a new instance of ProvisioningResourcesClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewProvisioningResourcesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ProvisioningResourcesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ProvisioningResourcesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Create a ProvisioningResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - provisioningResourceName - The name of the Provisioning Resource.
//   - resource - Resource create parameters.
//   - options - ProvisioningResourcesClientBeginCreateOrUpdateOptions contains the optional parameters for the ProvisioningResourcesClient.BeginCreateOrUpdate
//     method.
func (client *ProvisioningResourcesClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, provisioningResourceName string, resource ProvisioningResource, options *ProvisioningResourcesClientBeginCreateOrUpdateOptions) (*runtime.Poller[ProvisioningResourcesClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceGroupName, provisioningResourceName, resource, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ProvisioningResourcesClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ProvisioningResourcesClientCreateOrUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrUpdate - Create a ProvisioningResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
func (client *ProvisioningResourcesClient) createOrUpdate(ctx context.Context, resourceGroupName string, provisioningResourceName string, resource ProvisioningResource, options *ProvisioningResourcesClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "ProvisioningResourcesClient.BeginCreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, provisioningResourceName, resource, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ProvisioningResourcesClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, provisioningResourceName string, resource ProvisioningResource, options *ProvisioningResourcesClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FairfieldGardens/provisioningResources/{provisioningResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if provisioningResourceName == "" {
		return nil, errors.New("parameter provisioningResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{provisioningResourceName}", url.PathEscape(provisioningResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Delete a ProvisioningResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - provisioningResourceName - The name of the Provisioning Resource.
//   - options - ProvisioningResourcesClientBeginDeleteOptions contains the optional parameters for the ProvisioningResourcesClient.BeginDelete
//     method.
func (client *ProvisioningResourcesClient) BeginDelete(ctx context.Context, resourceGroupName string, provisioningResourceName string, options *ProvisioningResourcesClientBeginDeleteOptions) (*runtime.Poller[ProvisioningResourcesClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceGroupName, provisioningResourceName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[ProvisioningResourcesClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[ProvisioningResourcesClientDeleteResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Delete - Delete a ProvisioningResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
func (client *ProvisioningResourcesClient) deleteOperation(ctx context.Context, resourceGroupName string, provisioningResourceName string, options *ProvisioningResourcesClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	const operationName = "ProvisioningResourcesClient.BeginDelete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, provisioningResourceName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ProvisioningResourcesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, provisioningResourceName string, options *ProvisioningResourcesClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FairfieldGardens/provisioningResources/{provisioningResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if provisioningResourceName == "" {
		return nil, errors.New("parameter provisioningResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{provisioningResourceName}", url.PathEscape(provisioningResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a ProvisioningResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - provisioningResourceName - The name of the Provisioning Resource.
//   - options - ProvisioningResourcesClientGetOptions contains the optional parameters for the ProvisioningResourcesClient.Get
//     method.
func (client *ProvisioningResourcesClient) Get(ctx context.Context, resourceGroupName string, provisioningResourceName string, options *ProvisioningResourcesClientGetOptions) (ProvisioningResourcesClientGetResponse, error) {
	var err error
	const operationName = "ProvisioningResourcesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, provisioningResourceName, options)
	if err != nil {
		return ProvisioningResourcesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ProvisioningResourcesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ProvisioningResourcesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ProvisioningResourcesClient) getCreateRequest(ctx context.Context, resourceGroupName string, provisioningResourceName string, options *ProvisioningResourcesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FairfieldGardens/provisioningResources/{provisioningResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if provisioningResourceName == "" {
		return nil, errors.New("parameter provisioningResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{provisioningResourceName}", url.PathEscape(provisioningResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ProvisioningResourcesClient) getHandleResponse(resp *http.Response) (ProvisioningResourcesClientGetResponse, error) {
	result := ProvisioningResourcesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProvisioningResource); err != nil {
		return ProvisioningResourcesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByResourceGroupPager - List ProvisioningResource resources by resource group
//
// Generated from API version 2023-12-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ProvisioningResourcesClientListByResourceGroupOptions contains the optional parameters for the ProvisioningResourcesClient.NewListByResourceGroupPager
//     method.
func (client *ProvisioningResourcesClient) NewListByResourceGroupPager(resourceGroupName string, options *ProvisioningResourcesClientListByResourceGroupOptions) *runtime.Pager[ProvisioningResourcesClientListByResourceGroupResponse] {
	return runtime.NewPager(runtime.PagingHandler[ProvisioningResourcesClientListByResourceGroupResponse]{
		More: func(page ProvisioningResourcesClientListByResourceGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ProvisioningResourcesClientListByResourceGroupResponse) (ProvisioningResourcesClientListByResourceGroupResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ProvisioningResourcesClient.NewListByResourceGroupPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByResourceGroupCreateRequest(ctx, resourceGroupName, options)
			}, nil)
			if err != nil {
				return ProvisioningResourcesClientListByResourceGroupResponse{}, err
			}
			return client.listByResourceGroupHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByResourceGroupCreateRequest creates the ListByResourceGroup request.
func (client *ProvisioningResourcesClient) listByResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *ProvisioningResourcesClientListByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FairfieldGardens/provisioningResources"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByResourceGroupHandleResponse handles the ListByResourceGroup response.
func (client *ProvisioningResourcesClient) listByResourceGroupHandleResponse(resp *http.Response) (ProvisioningResourcesClientListByResourceGroupResponse, error) {
	result := ProvisioningResourcesClientListByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProvisioningResourceListResult); err != nil {
		return ProvisioningResourcesClientListByResourceGroupResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - List ProvisioningResource resources by subscription ID
//
// Generated from API version 2023-12-01-preview
//   - options - ProvisioningResourcesClientListBySubscriptionOptions contains the optional parameters for the ProvisioningResourcesClient.NewListBySubscriptionPager
//     method.
func (client *ProvisioningResourcesClient) NewListBySubscriptionPager(options *ProvisioningResourcesClientListBySubscriptionOptions) *runtime.Pager[ProvisioningResourcesClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[ProvisioningResourcesClientListBySubscriptionResponse]{
		More: func(page ProvisioningResourcesClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ProvisioningResourcesClientListBySubscriptionResponse) (ProvisioningResourcesClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ProvisioningResourcesClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return ProvisioningResourcesClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *ProvisioningResourcesClient) listBySubscriptionCreateRequest(ctx context.Context, options *ProvisioningResourcesClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.FairfieldGardens/provisioningResources"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *ProvisioningResourcesClient) listBySubscriptionHandleResponse(resp *http.Response) (ProvisioningResourcesClientListBySubscriptionResponse, error) {
	result := ProvisioningResourcesClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProvisioningResourceListResult); err != nil {
		return ProvisioningResourcesClientListBySubscriptionResponse{}, err
	}
	return result, nil
}

// Update - Update a ProvisioningResource
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - provisioningResourceName - The name of the Provisioning Resource.
//   - properties - The resource properties to be updated.
//   - options - ProvisioningResourcesClientUpdateOptions contains the optional parameters for the ProvisioningResourcesClient.Update
//     method.
func (client *ProvisioningResourcesClient) Update(ctx context.Context, resourceGroupName string, provisioningResourceName string, properties ProvisioningResourceUpdate, options *ProvisioningResourcesClientUpdateOptions) (ProvisioningResourcesClientUpdateResponse, error) {
	var err error
	const operationName = "ProvisioningResourcesClient.Update"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, resourceGroupName, provisioningResourceName, properties, options)
	if err != nil {
		return ProvisioningResourcesClientUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ProvisioningResourcesClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ProvisioningResourcesClientUpdateResponse{}, err
	}
	resp, err := client.updateHandleResponse(httpResp)
	return resp, err
}

// updateCreateRequest creates the Update request.
func (client *ProvisioningResourcesClient) updateCreateRequest(ctx context.Context, resourceGroupName string, provisioningResourceName string, properties ProvisioningResourceUpdate, options *ProvisioningResourcesClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.FairfieldGardens/provisioningResources/{provisioningResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if provisioningResourceName == "" {
		return nil, errors.New("parameter provisioningResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{provisioningResourceName}", url.PathEscape(provisioningResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}

// updateHandleResponse handles the Update response.
func (client *ProvisioningResourcesClient) updateHandleResponse(resp *http.Response) (ProvisioningResourcesClientUpdateResponse, error) {
	result := ProvisioningResourcesClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProvisioningResource); err != nil {
		return ProvisioningResourcesClientUpdateResponse{}, err
	}
	return result, nil
}
