//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armmcpp

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MembershipByResourceGroupClient contains the methods for the MembershipByResourceGroup group.
// Don't use this type directly, use NewMembershipByResourceGroupClient() instead.
type MembershipByResourceGroupClient struct {
	host string
	pl   runtime.Pipeline
}

// NewMembershipByResourceGroupClient creates a new instance of MembershipByResourceGroupClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewMembershipByResourceGroupClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*MembershipByResourceGroupClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &MembershipByResourceGroupClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// List - Fetch list of CloudPartnerProgramMembership purchase details for a resource group under a given subscription
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-02-09-preview
//   - subscriptionID - The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
//   - resourceGroupName - The name of the resource group.
//   - options - MembershipByResourceGroupClientListOptions contains the optional parameters for the MembershipByResourceGroupClient.List
//     method.
func (client *MembershipByResourceGroupClient) List(ctx context.Context, subscriptionID string, resourceGroupName string, options *MembershipByResourceGroupClientListOptions) (MembershipByResourceGroupClientListResponse, error) {
	req, err := client.listCreateRequest(ctx, subscriptionID, resourceGroupName, options)
	if err != nil {
		return MembershipByResourceGroupClientListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return MembershipByResourceGroupClientListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MembershipByResourceGroupClientListResponse{}, runtime.NewResponseError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *MembershipByResourceGroupClient) listCreateRequest(ctx context.Context, subscriptionID string, resourceGroupName string, options *MembershipByResourceGroupClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudPartnerProgram/membership"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-02-09-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *MembershipByResourceGroupClient) listHandleResponse(resp *http.Response) (MembershipByResourceGroupClientListResponse, error) {
	result := MembershipByResourceGroupClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MembershipDetailsListResponse); err != nil {
		return MembershipByResourceGroupClientListResponse{}, err
	}
	return result, nil
}
