//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armmcpp

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MembershipBySubscriptionClient contains the methods for the MembershipBySubscription group.
// Don't use this type directly, use NewMembershipBySubscriptionClient() instead.
type MembershipBySubscriptionClient struct {
	host string
	pl   runtime.Pipeline
}

// NewMembershipBySubscriptionClient creates a new instance of MembershipBySubscriptionClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewMembershipBySubscriptionClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*MembershipBySubscriptionClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &MembershipBySubscriptionClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// List - Fetch list of CloudPartnerProgramMembership purchase details for a given subscription
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-02-09-preview
//   - subscriptionID - The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
//   - options - MembershipBySubscriptionClientListOptions contains the optional parameters for the MembershipBySubscriptionClient.List
//     method.
func (client *MembershipBySubscriptionClient) List(ctx context.Context, subscriptionID string, options *MembershipBySubscriptionClientListOptions) (MembershipBySubscriptionClientListResponse, error) {
	req, err := client.listCreateRequest(ctx, subscriptionID, options)
	if err != nil {
		return MembershipBySubscriptionClientListResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return MembershipBySubscriptionClientListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return MembershipBySubscriptionClientListResponse{}, runtime.NewResponseError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *MembershipBySubscriptionClient) listCreateRequest(ctx context.Context, subscriptionID string, options *MembershipBySubscriptionClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.CloudPartnerProgram/membership"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-02-09-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *MembershipBySubscriptionClient) listHandleResponse(resp *http.Response) (MembershipBySubscriptionClientListResponse, error) {
	result := MembershipBySubscriptionClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MembershipDetailsListResponse); err != nil {
		return MembershipBySubscriptionClientListResponse{}, err
	}
	return result, nil
}
