//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armredhatopenshift

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PlatformWorkloadIdentityRoleSetClient contains the methods for the PlatformWorkloadIdentityRoleSet group.
// Don't use this type directly, use NewPlatformWorkloadIdentityRoleSetClient() instead.
type PlatformWorkloadIdentityRoleSetClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewPlatformWorkloadIdentityRoleSetClient creates a new instance of PlatformWorkloadIdentityRoleSetClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewPlatformWorkloadIdentityRoleSetClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*PlatformWorkloadIdentityRoleSetClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PlatformWorkloadIdentityRoleSetClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListPager - This operation returns PlatformWorkloadIdentityRoleSet as a string
//
// Generated from API version 2024-08-12-preview
//   - location - The name of the Azure region.
//   - options - PlatformWorkloadIdentityRoleSetClientListOptions contains the optional parameters for the PlatformWorkloadIdentityRoleSetClient.NewListPager
//     method.
func (client *PlatformWorkloadIdentityRoleSetClient) NewListPager(location string, options *PlatformWorkloadIdentityRoleSetClientListOptions) *runtime.Pager[PlatformWorkloadIdentityRoleSetClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[PlatformWorkloadIdentityRoleSetClientListResponse]{
		More: func(page PlatformWorkloadIdentityRoleSetClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *PlatformWorkloadIdentityRoleSetClientListResponse) (PlatformWorkloadIdentityRoleSetClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "PlatformWorkloadIdentityRoleSetClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, location, options)
			}, nil)
			if err != nil {
				return PlatformWorkloadIdentityRoleSetClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *PlatformWorkloadIdentityRoleSetClient) listCreateRequest(ctx context.Context, location string, options *PlatformWorkloadIdentityRoleSetClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.RedHatOpenShift/locations/{location}/platformworkloadidentityroleset"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-08-12-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *PlatformWorkloadIdentityRoleSetClient) listHandleResponse(resp *http.Response) (PlatformWorkloadIdentityRoleSetClientListResponse, error) {
	result := PlatformWorkloadIdentityRoleSetClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PlatformWorkloadIdentityRoleSetList); err != nil {
		return PlatformWorkloadIdentityRoleSetClientListResponse{}, err
	}
	return result, nil
}
