//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmysqlflexibleservers

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// OperationsOngoingClient contains the methods for the OperationsOngoing group.
// Don't use this type directly, use NewOperationsOngoingClient() instead.
type OperationsOngoingClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewOperationsOngoingClient creates a new instance of OperationsOngoingClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewOperationsOngoingClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*OperationsOngoingClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &OperationsOngoingClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListPager - Lists all of operations according to specific operation type under a sub.
//
// Generated from API version 2024-10-01-preview
//   - locationName - The name of the location.
//   - filter - The operation type to query.
//   - options - OperationsOngoingClientListOptions contains the optional parameters for the OperationsOngoingClient.NewListPager
//     method.
func (client *OperationsOngoingClient) NewListPager(locationName string, filter string, options *OperationsOngoingClientListOptions) *runtime.Pager[OperationsOngoingClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[OperationsOngoingClientListResponse]{
		More: func(page OperationsOngoingClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *OperationsOngoingClientListResponse) (OperationsOngoingClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "OperationsOngoingClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, locationName, filter, options)
			}, nil)
			if err != nil {
				return OperationsOngoingClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *OperationsOngoingClient) listCreateRequest(ctx context.Context, locationName string, filter string, options *OperationsOngoingClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMySQL/locations/{locationName}/operationsOngoing"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if locationName == "" {
		return nil, errors.New("parameter locationName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{locationName}", url.PathEscape(locationName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-10-01-preview")
	reqQP.Set("filter", filter)
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *OperationsOngoingClient) listHandleResponse(resp *http.Response) (OperationsOngoingClientListResponse, error) {
	result := OperationsOngoingClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationOngoingListResult); err != nil {
		return OperationsOngoingClientListResponse{}, err
	}
	return result, nil
}
