//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armpostgresqlflexibleservers

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// TuningRecommendedIndexesClient contains the methods for the TuningRecommendedIndexes group.
// Don't use this type directly, use NewTuningRecommendedIndexesClient() instead.
type TuningRecommendedIndexesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewTuningRecommendedIndexesClient creates a new instance of TuningRecommendedIndexesClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewTuningRecommendedIndexesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*TuningRecommendedIndexesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &TuningRecommendedIndexesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Retrieve the list of available tuning index recommendations.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-03-01-privatepreview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - serverName - The name of the server.
//   - tuningOption - The name of the tuning option.
//   - options - TuningRecommendedIndexesClientGetOptions contains the optional parameters for the TuningRecommendedIndexesClient.Get
//     method.
func (client *TuningRecommendedIndexesClient) Get(ctx context.Context, resourceGroupName string, serverName string, tuningOption string, options *TuningRecommendedIndexesClientGetOptions) (TuningRecommendedIndexesClientGetResponse, error) {
	var err error
	const operationName = "TuningRecommendedIndexesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, serverName, tuningOption, options)
	if err != nil {
		return TuningRecommendedIndexesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TuningRecommendedIndexesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return TuningRecommendedIndexesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *TuningRecommendedIndexesClient) getCreateRequest(ctx context.Context, resourceGroupName string, serverName string, tuningOption string, options *TuningRecommendedIndexesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/recommendations"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if serverName == "" {
		return nil, errors.New("parameter serverName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverName}", url.PathEscape(serverName))
	if tuningOption == "" {
		return nil, errors.New("parameter tuningOption cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{tuningOption}", url.PathEscape(tuningOption))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-03-01-privatepreview")
	if options != nil && options.RecommendationType != nil {
		reqQP.Set("recommendationType", string(*options.RecommendationType))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *TuningRecommendedIndexesClient) getHandleResponse(resp *http.Response) (TuningRecommendedIndexesClientGetResponse, error) {
	result := TuningRecommendedIndexesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.IndexRecommendationListResult); err != nil {
		return TuningRecommendedIndexesClientGetResponse{}, err
	}
	return result, nil
}
