//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armiotoperationsmq

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// OperationGroupClient contains the methods for the OperationGroup group.
// Don't use this type directly, use NewOperationGroupClient() instead.
type OperationGroupClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewOperationGroupClient creates a new instance of OperationGroupClient with the specified values.
//   - subscriptionID - The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewOperationGroupClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*OperationGroupClient, error) {
	cl, err := arm.NewClient(moduleName+".OperationGroupClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &OperationGroupClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - This is a sample get operation, please see guidelines in azure-rest-api-specs repository for more info
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-04-preview
//   - resourceGroupName - The name of the resource group.
//   - options - OperationGroupClientGetOptions contains the optional parameters for the OperationGroupClient.Get method.
func (client *OperationGroupClient) Get(ctx context.Context, resourceGroupName string, options *OperationGroupClientGetOptions) (OperationGroupClientGetResponse, error) {
	var err error
	req, err := client.getCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return OperationGroupClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return OperationGroupClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return OperationGroupClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *OperationGroupClient) getCreateRequest(ctx context.Context, resourceGroupName string, options *OperationGroupClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTOperationsMQ/operations"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *OperationGroupClient) getHandleResponse(resp *http.Response) (OperationGroupClientGetResponse, error) {
	result := OperationGroupClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Result); err != nil {
		return OperationGroupClientGetResponse{}, err
	}
	return result, nil
}
