// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmysqldiscovery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MySQLServersClient contains the methods for the MySQLServers group.
// Don't use this type directly, use NewMySQLServersClient() instead.
type MySQLServersClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewMySQLServersClient creates a new instance of MySQLServersClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewMySQLServersClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*MySQLServersClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &MySQLServersClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateOrUpdate - Puts the MySQLServers resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - serverName - The name of Server
//   - body - The machines to add to the assessment
//   - options - MySQLServersClientCreateOrUpdateOptions contains the optional parameters for the MySQLServersClient.CreateOrUpdate
//     method.
func (client *MySQLServersClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, siteName string, serverName string, body MySQLServer, options *MySQLServersClientCreateOrUpdateOptions) (MySQLServersClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "MySQLServersClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, siteName, serverName, body, options)
	if err != nil {
		return MySQLServersClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MySQLServersClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return MySQLServersClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *MySQLServersClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, siteName string, serverName string, body MySQLServer, _ *MySQLServersClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers/{serverName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if serverName == "" {
		return nil, errors.New("parameter serverName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverName}", url.PathEscape(serverName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *MySQLServersClient) createOrUpdateHandleResponse(resp *http.Response) (MySQLServersClientCreateOrUpdateResponse, error) {
	result := MySQLServersClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MySQLServer); err != nil {
		return MySQLServersClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Deletes the MySQLServers resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - serverName - The name of Server
//   - options - MySQLServersClientDeleteOptions contains the optional parameters for the MySQLServersClient.Delete method.
func (client *MySQLServersClient) Delete(ctx context.Context, resourceGroupName string, siteName string, serverName string, options *MySQLServersClientDeleteOptions) (MySQLServersClientDeleteResponse, error) {
	var err error
	const operationName = "MySQLServersClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, siteName, serverName, options)
	if err != nil {
		return MySQLServersClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MySQLServersClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return MySQLServersClientDeleteResponse{}, err
	}
	return MySQLServersClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *MySQLServersClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, siteName string, serverName string, _ *MySQLServersClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers/{serverName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if serverName == "" {
		return nil, errors.New("parameter serverName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverName}", url.PathEscape(serverName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets the MySQLServers resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - serverName - The name of Server
//   - options - MySQLServersClientGetOptions contains the optional parameters for the MySQLServersClient.Get method.
func (client *MySQLServersClient) Get(ctx context.Context, resourceGroupName string, siteName string, serverName string, options *MySQLServersClientGetOptions) (MySQLServersClientGetResponse, error) {
	var err error
	const operationName = "MySQLServersClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, siteName, serverName, options)
	if err != nil {
		return MySQLServersClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MySQLServersClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return MySQLServersClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *MySQLServersClient) getCreateRequest(ctx context.Context, resourceGroupName string, siteName string, serverName string, _ *MySQLServersClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers/{serverName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if serverName == "" {
		return nil, errors.New("parameter serverName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverName}", url.PathEscape(serverName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MySQLServersClient) getHandleResponse(resp *http.Response) (MySQLServersClientGetResponse, error) {
	result := MySQLServersClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MySQLServer); err != nil {
		return MySQLServersClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySitePager - Lists the MySQLServers resource in MySQLSites.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - options - MySQLServersClientListBySiteOptions contains the optional parameters for the MySQLServersClient.NewListBySitePager
//     method.
func (client *MySQLServersClient) NewListBySitePager(resourceGroupName string, siteName string, options *MySQLServersClientListBySiteOptions) *runtime.Pager[MySQLServersClientListBySiteResponse] {
	return runtime.NewPager(runtime.PagingHandler[MySQLServersClientListBySiteResponse]{
		More: func(page MySQLServersClientListBySiteResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *MySQLServersClientListBySiteResponse) (MySQLServersClientListBySiteResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "MySQLServersClient.NewListBySitePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySiteCreateRequest(ctx, resourceGroupName, siteName, options)
			}, nil)
			if err != nil {
				return MySQLServersClientListBySiteResponse{}, err
			}
			return client.listBySiteHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySiteCreateRequest creates the ListBySite request.
func (client *MySQLServersClient) listBySiteCreateRequest(ctx context.Context, resourceGroupName string, siteName string, _ *MySQLServersClientListBySiteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySiteHandleResponse handles the ListBySite response.
func (client *MySQLServersClient) listBySiteHandleResponse(resp *http.Response) (MySQLServersClientListBySiteResponse, error) {
	result := MySQLServersClientListBySiteResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MySQLServerList); err != nil {
		return MySQLServersClientListBySiteResponse{}, err
	}
	return result, nil
}

// BeginUpdate - Patch the MySQLServers resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - serverName - The name of Server
//   - properties - Clouds patch payload.
//   - options - MySQLServersClientBeginUpdateOptions contains the optional parameters for the MySQLServersClient.BeginUpdate
//     method.
func (client *MySQLServersClient) BeginUpdate(ctx context.Context, resourceGroupName string, siteName string, serverName string, properties MySQLServerResourcePatch, options *MySQLServersClientBeginUpdateOptions) (*runtime.Poller[MySQLServersClientUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.update(ctx, resourceGroupName, siteName, serverName, properties, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[MySQLServersClientUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[MySQLServersClientUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Update - Patch the MySQLServers resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
func (client *MySQLServersClient) update(ctx context.Context, resourceGroupName string, siteName string, serverName string, properties MySQLServerResourcePatch, options *MySQLServersClientBeginUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "MySQLServersClient.BeginUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, resourceGroupName, siteName, serverName, properties, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCreateRequest creates the Update request.
func (client *MySQLServersClient) updateCreateRequest(ctx context.Context, resourceGroupName string, siteName string, serverName string, properties MySQLServerResourcePatch, _ *MySQLServersClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/MySQLServers/{serverName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if serverName == "" {
		return nil, errors.New("parameter serverName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{serverName}", url.PathEscape(serverName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}
