//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmysqldiscovery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MysqlSitesClient contains the methods for the MysqlSites group.
// Don't use this type directly, use NewMysqlSitesClient() instead.
type MysqlSitesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewMysqlSitesClient creates a new instance of MysqlSitesClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewMysqlSitesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*MysqlSitesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &MysqlSitesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Puts the MysqlSites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - resource - The machines to add to the assessment
//   - options - MysqlSitesClientBeginCreateOrUpdateOptions contains the optional parameters for the MysqlSitesClient.BeginCreateOrUpdate
//     method.
func (client *MysqlSitesClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, siteName string, resource MysqlSite, options *MysqlSitesClientBeginCreateOrUpdateOptions) (*runtime.Poller[MysqlSitesClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceGroupName, siteName, resource, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[MysqlSitesClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[MysqlSitesClientCreateOrUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrUpdate - Puts the MysqlSites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
func (client *MysqlSitesClient) createOrUpdate(ctx context.Context, resourceGroupName string, siteName string, resource MysqlSite, options *MysqlSitesClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "MysqlSitesClient.BeginCreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, siteName, resource, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *MysqlSitesClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, siteName string, resource MysqlSite, options *MysqlSitesClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// Delete - Deletes the MysqlSites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - options - MysqlSitesClientDeleteOptions contains the optional parameters for the MysqlSitesClient.Delete method.
func (client *MysqlSitesClient) Delete(ctx context.Context, resourceGroupName string, siteName string, options *MysqlSitesClientDeleteOptions) (MysqlSitesClientDeleteResponse, error) {
	var err error
	const operationName = "MysqlSitesClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, siteName, options)
	if err != nil {
		return MysqlSitesClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MysqlSitesClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return MysqlSitesClientDeleteResponse{}, err
	}
	return MysqlSitesClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *MysqlSitesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, siteName string, options *MysqlSitesClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets the MysqlSites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - options - MysqlSitesClientGetOptions contains the optional parameters for the MysqlSitesClient.Get method.
func (client *MysqlSitesClient) Get(ctx context.Context, resourceGroupName string, siteName string, options *MysqlSitesClientGetOptions) (MysqlSitesClientGetResponse, error) {
	var err error
	const operationName = "MysqlSitesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, siteName, options)
	if err != nil {
		return MysqlSitesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MysqlSitesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return MysqlSitesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *MysqlSitesClient) getCreateRequest(ctx context.Context, resourceGroupName string, siteName string, options *MysqlSitesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MysqlSitesClient) getHandleResponse(resp *http.Response) (MysqlSitesClientGetResponse, error) {
	result := MysqlSitesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MysqlSite); err != nil {
		return MysqlSitesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByResourceGroupPager - Lits the MysqlSites resource in a resource group.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - MysqlSitesClientListByResourceGroupOptions contains the optional parameters for the MysqlSitesClient.NewListByResourceGroupPager
//     method.
func (client *MysqlSitesClient) NewListByResourceGroupPager(resourceGroupName string, options *MysqlSitesClientListByResourceGroupOptions) *runtime.Pager[MysqlSitesClientListByResourceGroupResponse] {
	return runtime.NewPager(runtime.PagingHandler[MysqlSitesClientListByResourceGroupResponse]{
		More: func(page MysqlSitesClientListByResourceGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *MysqlSitesClientListByResourceGroupResponse) (MysqlSitesClientListByResourceGroupResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "MysqlSitesClient.NewListByResourceGroupPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByResourceGroupCreateRequest(ctx, resourceGroupName, options)
			}, nil)
			if err != nil {
				return MysqlSitesClientListByResourceGroupResponse{}, err
			}
			return client.listByResourceGroupHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByResourceGroupCreateRequest creates the ListByResourceGroup request.
func (client *MysqlSitesClient) listByResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *MysqlSitesClientListByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByResourceGroupHandleResponse handles the ListByResourceGroup response.
func (client *MysqlSitesClient) listByResourceGroupHandleResponse(resp *http.Response) (MysqlSitesClientListByResourceGroupResponse, error) {
	result := MysqlSitesClientListByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MysqlSiteList); err != nil {
		return MysqlSitesClientListByResourceGroupResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - Lists the MysqlSites resource in a subscription.
//
// Generated from API version 2024-09-30-preview
//   - options - MysqlSitesClientListBySubscriptionOptions contains the optional parameters for the MysqlSitesClient.NewListBySubscriptionPager
//     method.
func (client *MysqlSitesClient) NewListBySubscriptionPager(options *MysqlSitesClientListBySubscriptionOptions) *runtime.Pager[MysqlSitesClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[MysqlSitesClientListBySubscriptionResponse]{
		More: func(page MysqlSitesClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *MysqlSitesClientListBySubscriptionResponse) (MysqlSitesClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "MysqlSitesClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return MysqlSitesClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *MysqlSitesClient) listBySubscriptionCreateRequest(ctx context.Context, options *MysqlSitesClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.MySQLDiscovery/MySQLSites"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *MysqlSitesClient) listBySubscriptionHandleResponse(resp *http.Response) (MysqlSitesClientListBySubscriptionResponse, error) {
	result := MysqlSitesClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MysqlSiteList); err != nil {
		return MysqlSitesClientListBySubscriptionResponse{}, err
	}
	return result, nil
}

// BeginTriggerRefresh - Trigger Refresh Refresh action
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - options - MysqlSitesClientBeginTriggerRefreshOptions contains the optional parameters for the MysqlSitesClient.BeginTriggerRefresh
//     method.
func (client *MysqlSitesClient) BeginTriggerRefresh(ctx context.Context, resourceGroupName string, siteName string, options *MysqlSitesClientBeginTriggerRefreshOptions) (*runtime.Poller[MysqlSitesClientTriggerRefreshResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.triggerRefresh(ctx, resourceGroupName, siteName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[MysqlSitesClientTriggerRefreshResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[MysqlSitesClientTriggerRefreshResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// TriggerRefresh - Trigger Refresh Refresh action
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
func (client *MysqlSitesClient) triggerRefresh(ctx context.Context, resourceGroupName string, siteName string, options *MysqlSitesClientBeginTriggerRefreshOptions) (*http.Response, error) {
	var err error
	const operationName = "MysqlSitesClient.BeginTriggerRefresh"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.triggerRefreshCreateRequest(ctx, resourceGroupName, siteName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// triggerRefreshCreateRequest creates the TriggerRefresh request.
func (client *MysqlSitesClient) triggerRefreshCreateRequest(ctx context.Context, resourceGroupName string, siteName string, options *MysqlSitesClientBeginTriggerRefreshOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}/refresh"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// BeginUpdate - Patch the MysqlSites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - The name of Site
//   - properties - Clouds patch payload.
//   - options - MysqlSitesClientBeginUpdateOptions contains the optional parameters for the MysqlSitesClient.BeginUpdate method.
func (client *MysqlSitesClient) BeginUpdate(ctx context.Context, resourceGroupName string, siteName string, properties MysqlSitesResourcePatch, options *MysqlSitesClientBeginUpdateOptions) (*runtime.Poller[MysqlSitesClientUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.update(ctx, resourceGroupName, siteName, properties, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[MysqlSitesClientUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[MysqlSitesClientUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Update - Patch the MysqlSites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-30-preview
func (client *MysqlSitesClient) update(ctx context.Context, resourceGroupName string, siteName string, properties MysqlSitesResourcePatch, options *MysqlSitesClientBeginUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "MysqlSitesClient.BeginUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, resourceGroupName, siteName, properties, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCreateRequest creates the Update request.
func (client *MysqlSitesClient) updateCreateRequest(ctx context.Context, resourceGroupName string, siteName string, properties MysqlSitesResourcePatch, options *MysqlSitesClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MySQLDiscovery/MySQLSites/{siteName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-30-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}
