//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationdiscovery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// HypervSoftwareInventoriesControllerClient contains the methods for the HypervSoftwareInventoriesController group.
// Don't use this type directly, use NewHypervSoftwareInventoriesControllerClient() instead.
type HypervSoftwareInventoriesControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewHypervSoftwareInventoriesControllerClient creates a new instance of HypervSoftwareInventoriesControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewHypervSoftwareInventoriesControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*HypervSoftwareInventoriesControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &HypervSoftwareInventoriesControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetMachineSoftwareInventory - Method to get a machines software inventory like applications and roles.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - machineName - HypervMachine name
//   - defaultParam - Default value.
//   - options - HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryOptions contains the optional parameters
//     for the HypervSoftwareInventoriesControllerClient.GetMachineSoftwareInventory method.
func (client *HypervSoftwareInventoriesControllerClient) GetMachineSoftwareInventory(ctx context.Context, resourceGroupName string, siteName string, machineName string, defaultParam Default, options *HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryOptions) (HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse, error) {
	var err error
	const operationName = "HypervSoftwareInventoriesControllerClient.GetMachineSoftwareInventory"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMachineSoftwareInventoryCreateRequest(ctx, resourceGroupName, siteName, machineName, defaultParam, options)
	if err != nil {
		return HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	resp, err := client.getMachineSoftwareInventoryHandleResponse(httpResp)
	return resp, err
}

// getMachineSoftwareInventoryCreateRequest creates the GetMachineSoftwareInventory request.
func (client *HypervSoftwareInventoriesControllerClient) getMachineSoftwareInventoryCreateRequest(ctx context.Context, resourceGroupName string, siteName string, machineName string, defaultParam Default, options *HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines/{machineName}/softwareInventories/{default}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if machineName == "" {
		return nil, errors.New("parameter machineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{machineName}", url.PathEscape(machineName))
	if defaultParam == "" {
		return nil, errors.New("parameter defaultParam cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{default}", url.PathEscape(string(defaultParam)))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getMachineSoftwareInventoryHandleResponse handles the GetMachineSoftwareInventory response.
func (client *HypervSoftwareInventoriesControllerClient) getMachineSoftwareInventoryHandleResponse(resp *http.Response) (HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse, error) {
	result := HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.HypervVMSoftwareInventory); err != nil {
		return HypervSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	return result, nil
}

// NewListByHypervMachinePager - List HypervVmSoftwareInventory resources by HypervMachine
//
// Generated from API version 2023-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - machineName - HypervMachine name
//   - options - HypervSoftwareInventoriesControllerClientListByHypervMachineOptions contains the optional parameters for the
//     HypervSoftwareInventoriesControllerClient.NewListByHypervMachinePager method.
func (client *HypervSoftwareInventoriesControllerClient) NewListByHypervMachinePager(resourceGroupName string, siteName string, machineName string, options *HypervSoftwareInventoriesControllerClientListByHypervMachineOptions) *runtime.Pager[HypervSoftwareInventoriesControllerClientListByHypervMachineResponse] {
	return runtime.NewPager(runtime.PagingHandler[HypervSoftwareInventoriesControllerClientListByHypervMachineResponse]{
		More: func(page HypervSoftwareInventoriesControllerClientListByHypervMachineResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *HypervSoftwareInventoriesControllerClientListByHypervMachineResponse) (HypervSoftwareInventoriesControllerClientListByHypervMachineResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "HypervSoftwareInventoriesControllerClient.NewListByHypervMachinePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByHypervMachineCreateRequest(ctx, resourceGroupName, siteName, machineName, options)
			}, nil)
			if err != nil {
				return HypervSoftwareInventoriesControllerClientListByHypervMachineResponse{}, err
			}
			return client.listByHypervMachineHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByHypervMachineCreateRequest creates the ListByHypervMachine request.
func (client *HypervSoftwareInventoriesControllerClient) listByHypervMachineCreateRequest(ctx context.Context, resourceGroupName string, siteName string, machineName string, options *HypervSoftwareInventoriesControllerClientListByHypervMachineOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/hypervSites/{siteName}/machines/{machineName}/softwareinventories"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if machineName == "" {
		return nil, errors.New("parameter machineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{machineName}", url.PathEscape(machineName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByHypervMachineHandleResponse handles the ListByHypervMachine response.
func (client *HypervSoftwareInventoriesControllerClient) listByHypervMachineHandleResponse(resp *http.Response) (HypervSoftwareInventoriesControllerClientListByHypervMachineResponse, error) {
	result := HypervSoftwareInventoriesControllerClientListByHypervMachineResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.HypervVMSoftwareInventoryListResult); err != nil {
		return HypervSoftwareInventoriesControllerClientListByHypervMachineResponse{}, err
	}
	return result, nil
}
