//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationdiscovery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ServerOperationsStatusControllerClient contains the methods for the ServerOperationsStatusController group.
// Don't use this type directly, use NewServerOperationsStatusControllerClient() instead.
type ServerOperationsStatusControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewServerOperationsStatusControllerClient creates a new instance of ServerOperationsStatusControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewServerOperationsStatusControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ServerOperationsStatusControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ServerOperationsStatusControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetServerSiteOperationsStatus - A operation status resource belonging to a site resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - operationStatusName - Operation status Arm Name.
//   - options - ServerOperationsStatusControllerClientGetServerSiteOperationsStatusOptions contains the optional parameters for
//     the ServerOperationsStatusControllerClient.GetServerSiteOperationsStatus method.
func (client *ServerOperationsStatusControllerClient) GetServerSiteOperationsStatus(ctx context.Context, resourceGroupName string, siteName string, operationStatusName string, options *ServerOperationsStatusControllerClientGetServerSiteOperationsStatusOptions) (ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse, error) {
	var err error
	const operationName = "ServerOperationsStatusControllerClient.GetServerSiteOperationsStatus"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getServerSiteOperationsStatusCreateRequest(ctx, resourceGroupName, siteName, operationStatusName, options)
	if err != nil {
		return ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse{}, err
	}
	resp, err := client.getServerSiteOperationsStatusHandleResponse(httpResp)
	return resp, err
}

// getServerSiteOperationsStatusCreateRequest creates the GetServerSiteOperationsStatus request.
func (client *ServerOperationsStatusControllerClient) getServerSiteOperationsStatusCreateRequest(ctx context.Context, resourceGroupName string, siteName string, operationStatusName string, options *ServerOperationsStatusControllerClientGetServerSiteOperationsStatusOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/serverSites/{siteName}/operationsStatus/{operationStatusName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if operationStatusName == "" {
		return nil, errors.New("parameter operationStatusName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{operationStatusName}", url.PathEscape(operationStatusName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getServerSiteOperationsStatusHandleResponse handles the GetServerSiteOperationsStatus response.
func (client *ServerOperationsStatusControllerClient) getServerSiteOperationsStatusHandleResponse(resp *http.Response) (ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse, error) {
	result := ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationStatus); err != nil {
		return ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse{}, err
	}
	return result, nil
}
