//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationdiscovery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ServerSoftwareInventoriesControllerClient contains the methods for the ServerSoftwareInventoriesController group.
// Don't use this type directly, use NewServerSoftwareInventoriesControllerClient() instead.
type ServerSoftwareInventoriesControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewServerSoftwareInventoriesControllerClient creates a new instance of ServerSoftwareInventoriesControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewServerSoftwareInventoriesControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ServerSoftwareInventoriesControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ServerSoftwareInventoriesControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetMachineSoftwareInventory - Method to get a machines software inventory like applications and roles.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - machineName - A server machine name
//   - defaultParam - Default value.
//   - options - ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryOptions contains the optional parameters
//     for the ServerSoftwareInventoriesControllerClient.GetMachineSoftwareInventory method.
func (client *ServerSoftwareInventoriesControllerClient) GetMachineSoftwareInventory(ctx context.Context, resourceGroupName string, siteName string, machineName string, defaultParam Default, options *ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryOptions) (ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse, error) {
	var err error
	const operationName = "ServerSoftwareInventoriesControllerClient.GetMachineSoftwareInventory"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getMachineSoftwareInventoryCreateRequest(ctx, resourceGroupName, siteName, machineName, defaultParam, options)
	if err != nil {
		return ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	resp, err := client.getMachineSoftwareInventoryHandleResponse(httpResp)
	return resp, err
}

// getMachineSoftwareInventoryCreateRequest creates the GetMachineSoftwareInventory request.
func (client *ServerSoftwareInventoriesControllerClient) getMachineSoftwareInventoryCreateRequest(ctx context.Context, resourceGroupName string, siteName string, machineName string, defaultParam Default, options *ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/serverSites/{siteName}/machines/{machineName}/softwareInventories/{default}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if machineName == "" {
		return nil, errors.New("parameter machineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{machineName}", url.PathEscape(machineName))
	if defaultParam == "" {
		return nil, errors.New("parameter defaultParam cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{default}", url.PathEscape(string(defaultParam)))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getMachineSoftwareInventoryHandleResponse handles the GetMachineSoftwareInventory response.
func (client *ServerSoftwareInventoriesControllerClient) getMachineSoftwareInventoryHandleResponse(resp *http.Response) (ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse, error) {
	result := ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServerSoftwareInventory); err != nil {
		return ServerSoftwareInventoriesControllerClientGetMachineSoftwareInventoryResponse{}, err
	}
	return result, nil
}

// NewListByServerPager - List ServerSoftwareInventory resources by Server
//
// Generated from API version 2023-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - machineName - A server machine name
//   - options - ServerSoftwareInventoriesControllerClientListByServerOptions contains the optional parameters for the ServerSoftwareInventoriesControllerClient.NewListByServerPager
//     method.
func (client *ServerSoftwareInventoriesControllerClient) NewListByServerPager(resourceGroupName string, siteName string, machineName string, options *ServerSoftwareInventoriesControllerClientListByServerOptions) *runtime.Pager[ServerSoftwareInventoriesControllerClientListByServerResponse] {
	return runtime.NewPager(runtime.PagingHandler[ServerSoftwareInventoriesControllerClientListByServerResponse]{
		More: func(page ServerSoftwareInventoriesControllerClientListByServerResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ServerSoftwareInventoriesControllerClientListByServerResponse) (ServerSoftwareInventoriesControllerClientListByServerResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ServerSoftwareInventoriesControllerClient.NewListByServerPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByServerCreateRequest(ctx, resourceGroupName, siteName, machineName, options)
			}, nil)
			if err != nil {
				return ServerSoftwareInventoriesControllerClientListByServerResponse{}, err
			}
			return client.listByServerHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByServerCreateRequest creates the ListByServer request.
func (client *ServerSoftwareInventoriesControllerClient) listByServerCreateRequest(ctx context.Context, resourceGroupName string, siteName string, machineName string, options *ServerSoftwareInventoriesControllerClientListByServerOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/serverSites/{siteName}/machines/{machineName}/softwareinventories"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if machineName == "" {
		return nil, errors.New("parameter machineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{machineName}", url.PathEscape(machineName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByServerHandleResponse handles the ListByServer response.
func (client *ServerSoftwareInventoriesControllerClient) listByServerHandleResponse(resp *http.Response) (ServerSoftwareInventoriesControllerClientListByServerResponse, error) {
	result := ServerSoftwareInventoriesControllerClientListByServerResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ServerSoftwareInventoryListResult); err != nil {
		return ServerSoftwareInventoriesControllerClientListByServerResponse{}, err
	}
	return result, nil
}
