//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationdiscovery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// WebAppPropertiesControllerClient contains the methods for the WebAppPropertiesController group.
// Don't use this type directly, use NewWebAppPropertiesControllerClient() instead.
type WebAppPropertiesControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewWebAppPropertiesControllerClient creates a new instance of WebAppPropertiesControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewWebAppPropertiesControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*WebAppPropertiesControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &WebAppPropertiesControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginUpdateProperties - Method to update properties for web applications. in a site.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - siteName - Site name
//   - webAppSiteName - Web app site name.
//   - body - The content of the action request
//   - options - WebAppPropertiesControllerClientBeginUpdatePropertiesOptions contains the optional parameters for the WebAppPropertiesControllerClient.BeginUpdateProperties
//     method.
func (client *WebAppPropertiesControllerClient) BeginUpdateProperties(ctx context.Context, resourceGroupName string, siteName string, webAppSiteName string, body WebAppPropertiesCollection, options *WebAppPropertiesControllerClientBeginUpdatePropertiesOptions) (*runtime.Poller[WebAppPropertiesControllerClientUpdatePropertiesResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.updateProperties(ctx, resourceGroupName, siteName, webAppSiteName, body, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[WebAppPropertiesControllerClientUpdatePropertiesResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[WebAppPropertiesControllerClientUpdatePropertiesResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// UpdateProperties - Method to update properties for web applications. in a site.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-01-preview
func (client *WebAppPropertiesControllerClient) updateProperties(ctx context.Context, resourceGroupName string, siteName string, webAppSiteName string, body WebAppPropertiesCollection, options *WebAppPropertiesControllerClientBeginUpdatePropertiesOptions) (*http.Response, error) {
	var err error
	const operationName = "WebAppPropertiesControllerClient.BeginUpdateProperties"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updatePropertiesCreateRequest(ctx, resourceGroupName, siteName, webAppSiteName, body, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updatePropertiesCreateRequest creates the UpdateProperties request.
func (client *WebAppPropertiesControllerClient) updatePropertiesCreateRequest(ctx context.Context, resourceGroupName string, siteName string, webAppSiteName string, body WebAppPropertiesCollection, options *WebAppPropertiesControllerClientBeginUpdatePropertiesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/masterSites/{siteName}/webAppSites/{webAppSiteName}/updateProperties"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if siteName == "" {
		return nil, errors.New("parameter siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(siteName))
	if webAppSiteName == "" {
		return nil, errors.New("parameter webAppSiteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{webAppSiteName}", url.PathEscape(webAppSiteName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}
