//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armprofessionalservice

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ForEnrollmentClient contains the methods for the ProfessionalServiceForEnrollment group.
// Don't use this type directly, use NewForEnrollmentClient() instead.
type ForEnrollmentClient struct {
	host                     string
	enrollmentBillingAccount string
	pl                       runtime.Pipeline
}

// NewForEnrollmentClient creates a new instance of ForEnrollmentClient with the specified values.
// enrollmentBillingAccount - The enrollment billing account id.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewForEnrollmentClient(enrollmentBillingAccount string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ForEnrollmentClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &ForEnrollmentClient{
		enrollmentBillingAccount: enrollmentBillingAccount,
		host:                     ep,
		pl:                       pl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Creates or updates a ProfessionalService resource for enrollment account.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2020-05-01
// resourceName - The name of the resource.
// parameters - Parameters supplied to the create or update ProfessionalService operation.
// options - ForEnrollmentClientBeginCreateOrUpdateOptions contains the optional parameters for the ForEnrollmentClient.BeginCreateOrUpdate
// method.
func (client *ForEnrollmentClient) BeginCreateOrUpdate(ctx context.Context, resourceName string, parameters ResourceCreation, options *ForEnrollmentClientBeginCreateOrUpdateOptions) (*runtime.Poller[ForEnrollmentClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceName, parameters, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.pl, &runtime.NewPollerOptions[ForEnrollmentClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
		})
	} else {
		return runtime.NewPollerFromResumeToken[ForEnrollmentClientCreateOrUpdateResponse](options.ResumeToken, client.pl, nil)
	}
}

// CreateOrUpdate - Creates or updates a ProfessionalService resource for enrollment account.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2020-05-01
func (client *ForEnrollmentClient) createOrUpdate(ctx context.Context, resourceName string, parameters ResourceCreation, options *ForEnrollmentClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ForEnrollmentClient) createOrUpdateCreateRequest(ctx context.Context, resourceName string, parameters ResourceCreation, options *ForEnrollmentClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Billing/billingAccounts/{enrollmentBillingAccount}/providers/Microsoft.ProfessionalService/resources/{resourceName}"
	if client.enrollmentBillingAccount == "" {
		return nil, errors.New("parameter client.enrollmentBillingAccount cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{enrollmentBillingAccount}", url.PathEscape(client.enrollmentBillingAccount))
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, parameters)
}

// BeginDelete - Deletes the specified ProfessionalService for enrollment account.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2020-05-01
// resourceName - The name of the resource.
// options - ForEnrollmentClientBeginDeleteOptions contains the optional parameters for the ForEnrollmentClient.BeginDelete
// method.
func (client *ForEnrollmentClient) BeginDelete(ctx context.Context, resourceName string, options *ForEnrollmentClientBeginDeleteOptions) (*runtime.Poller[ForEnrollmentClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceName, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.pl, &runtime.NewPollerOptions[ForEnrollmentClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
		})
	} else {
		return runtime.NewPollerFromResumeToken[ForEnrollmentClientDeleteResponse](options.ResumeToken, client.pl, nil)
	}
}

// Delete - Deletes the specified ProfessionalService for enrollment account.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2020-05-01
func (client *ForEnrollmentClient) deleteOperation(ctx context.Context, resourceName string, options *ForEnrollmentClientBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ForEnrollmentClient) deleteCreateRequest(ctx context.Context, resourceName string, options *ForEnrollmentClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Billing/billingAccounts/{enrollmentBillingAccount}/providers/Microsoft.ProfessionalService/resources/{resourceName}"
	if client.enrollmentBillingAccount == "" {
		return nil, errors.New("parameter client.enrollmentBillingAccount cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{enrollmentBillingAccount}", url.PathEscape(client.enrollmentBillingAccount))
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets information about the specified Professional Service for enrollment account.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2020-05-01
// resourceName - The name of the resource.
// options - ForEnrollmentClientGetOptions contains the optional parameters for the ForEnrollmentClient.Get method.
func (client *ForEnrollmentClient) Get(ctx context.Context, resourceName string, options *ForEnrollmentClientGetOptions) (ForEnrollmentClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceName, options)
	if err != nil {
		return ForEnrollmentClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return ForEnrollmentClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ForEnrollmentClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *ForEnrollmentClient) getCreateRequest(ctx context.Context, resourceName string, options *ForEnrollmentClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Billing/billingAccounts/{enrollmentBillingAccount}/providers/Microsoft.ProfessionalService/resources/{resourceName}"
	if client.enrollmentBillingAccount == "" {
		return nil, errors.New("parameter client.enrollmentBillingAccount cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{enrollmentBillingAccount}", url.PathEscape(client.enrollmentBillingAccount))
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ForEnrollmentClient) getHandleResponse(resp *http.Response) (ForEnrollmentClientGetResponse, error) {
	result := ForEnrollmentClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Resource); err != nil {
		return ForEnrollmentClientGetResponse{}, err
	}
	return result, nil
}
