//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armappcomplianceautomation

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// SnapshotResourcesClient contains the methods for the SnapshotResources group.
// Don't use this type directly, use NewSnapshotResourcesClient() instead.
type SnapshotResourcesClient struct {
	internal *arm.Client
}

// NewSnapshotResourcesClient creates a new instance of SnapshotResourcesClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSnapshotResourcesClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*SnapshotResourcesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SnapshotResourcesClient{
		internal: cl,
	}
	return client, nil
}

// BeginDownload - Download compliance needs from snapshot, like: Compliance Report, Resource List.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-16-preview
//   - reportName - Report Name.
//   - snapshotName - Snapshot Name.
//   - body - The content of the action request
//   - options - SnapshotResourcesClientBeginDownloadOptions contains the optional parameters for the SnapshotResourcesClient.BeginDownload
//     method.
func (client *SnapshotResourcesClient) BeginDownload(ctx context.Context, reportName string, snapshotName string, body SnapshotDownloadRequest, options *SnapshotResourcesClientBeginDownloadOptions) (*runtime.Poller[SnapshotResourcesClientDownloadResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.download(ctx, reportName, snapshotName, body, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[SnapshotResourcesClientDownloadResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[SnapshotResourcesClientDownloadResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Download - Download compliance needs from snapshot, like: Compliance Report, Resource List.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-16-preview
func (client *SnapshotResourcesClient) download(ctx context.Context, reportName string, snapshotName string, body SnapshotDownloadRequest, options *SnapshotResourcesClientBeginDownloadOptions) (*http.Response, error) {
	var err error
	const operationName = "SnapshotResourcesClient.BeginDownload"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.downloadCreateRequest(ctx, reportName, snapshotName, body, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// downloadCreateRequest creates the Download request.
func (client *SnapshotResourcesClient) downloadCreateRequest(ctx context.Context, reportName string, snapshotName string, body SnapshotDownloadRequest, options *SnapshotResourcesClientBeginDownloadOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/snapshots/{snapshotName}/download"
	if reportName == "" {
		return nil, errors.New("parameter reportName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{reportName}", url.PathEscape(reportName))
	if snapshotName == "" {
		return nil, errors.New("parameter snapshotName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{snapshotName}", url.PathEscape(snapshotName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-16-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// Get - Get the AppComplianceAutomation snapshot and its properties.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-11-16-preview
//   - reportName - Report Name.
//   - snapshotName - Snapshot Name.
//   - options - SnapshotResourcesClientGetOptions contains the optional parameters for the SnapshotResourcesClient.Get method.
func (client *SnapshotResourcesClient) Get(ctx context.Context, reportName string, snapshotName string, options *SnapshotResourcesClientGetOptions) (SnapshotResourcesClientGetResponse, error) {
	var err error
	const operationName = "SnapshotResourcesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, reportName, snapshotName, options)
	if err != nil {
		return SnapshotResourcesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SnapshotResourcesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return SnapshotResourcesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *SnapshotResourcesClient) getCreateRequest(ctx context.Context, reportName string, snapshotName string, options *SnapshotResourcesClientGetOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/snapshots/{snapshotName}"
	if reportName == "" {
		return nil, errors.New("parameter reportName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{reportName}", url.PathEscape(reportName))
	if snapshotName == "" {
		return nil, errors.New("parameter snapshotName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{snapshotName}", url.PathEscape(snapshotName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-16-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SnapshotResourcesClient) getHandleResponse(resp *http.Response) (SnapshotResourcesClientGetResponse, error) {
	result := SnapshotResourcesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SnapshotResource); err != nil {
		return SnapshotResourcesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByReportResourcePager - Get the AppComplianceAutomation snapshot list.
//
// Generated from API version 2022-11-16-preview
//   - reportName - Report Name.
//   - options - SnapshotResourcesClientListByReportResourceOptions contains the optional parameters for the SnapshotResourcesClient.NewListByReportResourcePager
//     method.
func (client *SnapshotResourcesClient) NewListByReportResourcePager(reportName string, options *SnapshotResourcesClientListByReportResourceOptions) *runtime.Pager[SnapshotResourcesClientListByReportResourceResponse] {
	return runtime.NewPager(runtime.PagingHandler[SnapshotResourcesClientListByReportResourceResponse]{
		More: func(page SnapshotResourcesClientListByReportResourceResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SnapshotResourcesClientListByReportResourceResponse) (SnapshotResourcesClientListByReportResourceResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "SnapshotResourcesClient.NewListByReportResourcePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByReportResourceCreateRequest(ctx, reportName, options)
			}, nil)
			if err != nil {
				return SnapshotResourcesClientListByReportResourceResponse{}, err
			}
			return client.listByReportResourceHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByReportResourceCreateRequest creates the ListByReportResource request.
func (client *SnapshotResourcesClient) listByReportResourceCreateRequest(ctx context.Context, reportName string, options *SnapshotResourcesClientListByReportResourceOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AppComplianceAutomation/reports/{reportName}/snapshots"
	if reportName == "" {
		return nil, errors.New("parameter reportName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{reportName}", url.PathEscape(reportName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-16-preview")
	if options != nil && options.SkipToken != nil {
		reqQP.Set("$skipToken", *options.SkipToken)
	}
	if options != nil && options.Top != nil {
		reqQP.Set("$top", strconv.FormatInt(int64(*options.Top), 10))
	}
	if options != nil && options.Select != nil {
		reqQP.Set("$select", *options.Select)
	}
	if options != nil && options.ReportCreatorTenantID != nil {
		reqQP.Set("reportCreatorTenantId", *options.ReportCreatorTenantID)
	}
	if options != nil && options.OfferGUID != nil {
		reqQP.Set("offerGuid", *options.OfferGUID)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByReportResourceHandleResponse handles the ListByReportResource response.
func (client *SnapshotResourcesClient) listByReportResourceHandleResponse(resp *http.Response) (SnapshotResourcesClientListByReportResourceResponse, error) {
	result := SnapshotResourcesClientListByReportResourceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SnapshotResourceListResult); err != nil {
		return SnapshotResourcesClientListByReportResourceResponse{}, err
	}
	return result, nil
}
