// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmarketplace

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PrivateStoreCollectionOffersWithContextsPlansClient contains the methods for the PrivateStoreCollectionOffersWithContextsPlans
// group.
// Don't use this type directly, use NewPrivateStoreCollectionOffersWithContextsPlansClient() instead.
type PrivateStoreCollectionOffersWithContextsPlansClient struct {
	internal *arm.Client
}

// NewPrivateStoreCollectionOffersWithContextsPlansClient creates a new instance of PrivateStoreCollectionOffersWithContextsPlansClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewPrivateStoreCollectionOffersWithContextsPlansClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*PrivateStoreCollectionOffersWithContextsPlansClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PrivateStoreCollectionOffersWithContextsPlansClient{
		internal: cl,
	}
	return client, nil
}

// NewListPager - Get a list of offers in the given private store and collection including private plans.
//
// Generated from API version 2025-01-01
//   - privateStoreID - The store ID - must use the tenant ID
//   - collectionID - The collection ID
//   - options - PrivateStoreCollectionOffersWithContextsPlansClientListOptions contains the optional parameters for the PrivateStoreCollectionOffersWithContextsPlansClient.NewListPager
//     method.
func (client *PrivateStoreCollectionOffersWithContextsPlansClient) NewListPager(privateStoreID string, collectionID string, options *PrivateStoreCollectionOffersWithContextsPlansClientListOptions) *runtime.Pager[PrivateStoreCollectionOffersWithContextsPlansClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[PrivateStoreCollectionOffersWithContextsPlansClientListResponse]{
		More: func(page PrivateStoreCollectionOffersWithContextsPlansClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *PrivateStoreCollectionOffersWithContextsPlansClientListResponse) (PrivateStoreCollectionOffersWithContextsPlansClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "PrivateStoreCollectionOffersWithContextsPlansClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, privateStoreID, collectionID, options)
			}, nil)
			if err != nil {
				return PrivateStoreCollectionOffersWithContextsPlansClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *PrivateStoreCollectionOffersWithContextsPlansClient) listCreateRequest(ctx context.Context, privateStoreID string, collectionID string, options *PrivateStoreCollectionOffersWithContextsPlansClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}/collections/{collectionId}/offers"
	if privateStoreID == "" {
		return nil, errors.New("parameter privateStoreID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{privateStoreId}", url.PathEscape(privateStoreID))
	if collectionID == "" {
		return nil, errors.New("parameter collectionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{collectionId}", url.PathEscape(collectionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.Payload != nil {
		if err := runtime.MarshalAsJSON(req, *options.Payload); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *PrivateStoreCollectionOffersWithContextsPlansClient) listHandleResponse(resp *http.Response) (PrivateStoreCollectionOffersWithContextsPlansClientListResponse, error) {
	result := PrivateStoreCollectionOffersWithContextsPlansClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OfferListResponse); err != nil {
		return PrivateStoreCollectionOffersWithContextsPlansClientListResponse{}, err
	}
	return result, nil
}
