// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/synapse/armsynapse"
	"net/http"
	"net/url"
	"regexp"
)

// SQLPoolOperationResultsServer is a fake server for instances of the armsynapse.SQLPoolOperationResultsClient type.
type SQLPoolOperationResultsServer struct {
	// GetLocationHeaderResult is the fake for method SQLPoolOperationResultsClient.GetLocationHeaderResult
	// HTTP status codes to indicate success: http.StatusOK, http.StatusCreated
	GetLocationHeaderResult func(ctx context.Context, resourceGroupName string, workspaceName string, sqlPoolName string, operationID string, options *armsynapse.SQLPoolOperationResultsClientGetLocationHeaderResultOptions) (resp azfake.Responder[armsynapse.SQLPoolOperationResultsClientGetLocationHeaderResultResponse], errResp azfake.ErrorResponder)
}

// NewSQLPoolOperationResultsServerTransport creates a new instance of SQLPoolOperationResultsServerTransport with the provided implementation.
// The returned SQLPoolOperationResultsServerTransport instance is connected to an instance of armsynapse.SQLPoolOperationResultsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewSQLPoolOperationResultsServerTransport(srv *SQLPoolOperationResultsServer) *SQLPoolOperationResultsServerTransport {
	return &SQLPoolOperationResultsServerTransport{srv: srv}
}

// SQLPoolOperationResultsServerTransport connects instances of armsynapse.SQLPoolOperationResultsClient to instances of SQLPoolOperationResultsServer.
// Don't use this type directly, use NewSQLPoolOperationResultsServerTransport instead.
type SQLPoolOperationResultsServerTransport struct {
	srv *SQLPoolOperationResultsServer
}

// Do implements the policy.Transporter interface for SQLPoolOperationResultsServerTransport.
func (s *SQLPoolOperationResultsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return s.dispatchToMethodFake(req, method)
}

func (s *SQLPoolOperationResultsServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if sqlPoolOperationResultsServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = sqlPoolOperationResultsServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "SQLPoolOperationResultsClient.GetLocationHeaderResult":
				res.resp, res.err = s.dispatchGetLocationHeaderResult(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (s *SQLPoolOperationResultsServerTransport) dispatchGetLocationHeaderResult(req *http.Request) (*http.Response, error) {
	if s.srv.GetLocationHeaderResult == nil {
		return nil, &nonRetriableError{errors.New("fake for method GetLocationHeaderResult not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Synapse/workspaces/(?P<workspaceName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/sqlPools/(?P<sqlPoolName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operationResults/(?P<operationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	workspaceNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("workspaceName")])
	if err != nil {
		return nil, err
	}
	sqlPoolNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("sqlPoolName")])
	if err != nil {
		return nil, err
	}
	operationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := s.srv.GetLocationHeaderResult(req.Context(), resourceGroupNameParam, workspaceNameParam, sqlPoolNameParam, operationIDParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK, http.StatusCreated}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusCreated", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).SQLPool, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to SQLPoolOperationResultsServerTransport
var sqlPoolOperationResultsServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
