//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/desktopvirtualization/armdesktopvirtualization/v2"
	"net/http"
	"net/url"
	"regexp"
	"strconv"
)

// SessionHostManagementsOperationStatusServer is a fake server for instances of the armdesktopvirtualization.SessionHostManagementsOperationStatusClient type.
type SessionHostManagementsOperationStatusServer struct {
	// Get is the fake for method SessionHostManagementsOperationStatusClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, hostPoolName string, operationID string, options *armdesktopvirtualization.SessionHostManagementsOperationStatusClientGetOptions) (resp azfake.Responder[armdesktopvirtualization.SessionHostManagementsOperationStatusClientGetResponse], errResp azfake.ErrorResponder)

	// NewListPager is the fake for method SessionHostManagementsOperationStatusClient.NewListPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListPager func(resourceGroupName string, hostPoolName string, options *armdesktopvirtualization.SessionHostManagementsOperationStatusClientListOptions) (resp azfake.PagerResponder[armdesktopvirtualization.SessionHostManagementsOperationStatusClientListResponse])
}

// NewSessionHostManagementsOperationStatusServerTransport creates a new instance of SessionHostManagementsOperationStatusServerTransport with the provided implementation.
// The returned SessionHostManagementsOperationStatusServerTransport instance is connected to an instance of armdesktopvirtualization.SessionHostManagementsOperationStatusClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewSessionHostManagementsOperationStatusServerTransport(srv *SessionHostManagementsOperationStatusServer) *SessionHostManagementsOperationStatusServerTransport {
	return &SessionHostManagementsOperationStatusServerTransport{
		srv:          srv,
		newListPager: newTracker[azfake.PagerResponder[armdesktopvirtualization.SessionHostManagementsOperationStatusClientListResponse]](),
	}
}

// SessionHostManagementsOperationStatusServerTransport connects instances of armdesktopvirtualization.SessionHostManagementsOperationStatusClient to instances of SessionHostManagementsOperationStatusServer.
// Don't use this type directly, use NewSessionHostManagementsOperationStatusServerTransport instead.
type SessionHostManagementsOperationStatusServerTransport struct {
	srv          *SessionHostManagementsOperationStatusServer
	newListPager *tracker[azfake.PagerResponder[armdesktopvirtualization.SessionHostManagementsOperationStatusClientListResponse]]
}

// Do implements the policy.Transporter interface for SessionHostManagementsOperationStatusServerTransport.
func (s *SessionHostManagementsOperationStatusServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "SessionHostManagementsOperationStatusClient.Get":
		resp, err = s.dispatchGet(req)
	case "SessionHostManagementsOperationStatusClient.NewListPager":
		resp, err = s.dispatchNewListPager(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (s *SessionHostManagementsOperationStatusServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if s.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.DesktopVirtualization/hostPools/(?P<hostPoolName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/sessionHostManagements/default/operationStatuses/(?P<operationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	hostPoolNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("hostPoolName")])
	if err != nil {
		return nil, err
	}
	operationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := s.srv.Get(req.Context(), resourceGroupNameParam, hostPoolNameParam, operationIDParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).SessionHostManagementOperationStatus, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (s *SessionHostManagementsOperationStatusServerTransport) dispatchNewListPager(req *http.Request) (*http.Response, error) {
	if s.srv.NewListPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListPager not implemented")}
	}
	newListPager := s.newListPager.get(req)
	if newListPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.DesktopVirtualization/hostPools/(?P<hostPoolName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/sessionHostManagements/default/operationStatuses`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 3 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		qp := req.URL.Query()
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		hostPoolNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("hostPoolName")])
		if err != nil {
			return nil, err
		}
		isLatestUnescaped, err := url.QueryUnescape(qp.Get("isLatest"))
		if err != nil {
			return nil, err
		}
		isLatestParam, err := parseOptional(isLatestUnescaped, strconv.ParseBool)
		if err != nil {
			return nil, err
		}
		typeUnescaped, err := url.QueryUnescape(qp.Get("type"))
		if err != nil {
			return nil, err
		}
		typeParam := getOptional(typeUnescaped)
		isNonTerminalUnescaped, err := url.QueryUnescape(qp.Get("isNonTerminal"))
		if err != nil {
			return nil, err
		}
		isNonTerminalParam, err := parseOptional(isNonTerminalUnescaped, strconv.ParseBool)
		if err != nil {
			return nil, err
		}
		correlationIDUnescaped, err := url.QueryUnescape(qp.Get("correlationId"))
		if err != nil {
			return nil, err
		}
		correlationIDParam := getOptional(correlationIDUnescaped)
		actionUnescaped, err := url.QueryUnescape(qp.Get("action"))
		if err != nil {
			return nil, err
		}
		actionParam := getOptional(actionUnescaped)
		isInitiatingOperationUnescaped, err := url.QueryUnescape(qp.Get("isInitiatingOperation"))
		if err != nil {
			return nil, err
		}
		isInitiatingOperationParam, err := parseOptional(isInitiatingOperationUnescaped, strconv.ParseBool)
		if err != nil {
			return nil, err
		}
		var options *armdesktopvirtualization.SessionHostManagementsOperationStatusClientListOptions
		if isLatestParam != nil || typeParam != nil || isNonTerminalParam != nil || correlationIDParam != nil || actionParam != nil || isInitiatingOperationParam != nil {
			options = &armdesktopvirtualization.SessionHostManagementsOperationStatusClientListOptions{
				IsLatest:              isLatestParam,
				Type:                  typeParam,
				IsNonTerminal:         isNonTerminalParam,
				CorrelationID:         correlationIDParam,
				Action:                actionParam,
				IsInitiatingOperation: isInitiatingOperationParam,
			}
		}
		resp := s.srv.NewListPager(resourceGroupNameParam, hostPoolNameParam, options)
		newListPager = &resp
		s.newListPager.add(req, newListPager)
		server.PagerResponderInjectNextLinks(newListPager, req, func(page *armdesktopvirtualization.SessionHostManagementsOperationStatusClientListResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		s.newListPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListPager) {
		s.newListPager.remove(req)
	}
	return resp, nil
}
