//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdeviceregistry

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DiscoveredAssetEndpointProfilesClient contains the methods for the DiscoveredAssetEndpointProfiles group.
// Don't use this type directly, use NewDiscoveredAssetEndpointProfilesClient() instead.
type DiscoveredAssetEndpointProfilesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewDiscoveredAssetEndpointProfilesClient creates a new instance of DiscoveredAssetEndpointProfilesClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDiscoveredAssetEndpointProfilesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DiscoveredAssetEndpointProfilesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &DiscoveredAssetEndpointProfilesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginCreateOrReplace - Create a DiscoveredAssetEndpointProfile
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - discoveredAssetEndpointProfileName - Discovered Asset Endpoint Profile name parameter.
//   - resource - Resource create parameters.
//   - options - DiscoveredAssetEndpointProfilesClientBeginCreateOrReplaceOptions contains the optional parameters for the DiscoveredAssetEndpointProfilesClient.BeginCreateOrReplace
//     method.
func (client *DiscoveredAssetEndpointProfilesClient) BeginCreateOrReplace(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, resource DiscoveredAssetEndpointProfile, options *DiscoveredAssetEndpointProfilesClientBeginCreateOrReplaceOptions) (*runtime.Poller[DiscoveredAssetEndpointProfilesClientCreateOrReplaceResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrReplace(ctx, resourceGroupName, discoveredAssetEndpointProfileName, resource, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[DiscoveredAssetEndpointProfilesClientCreateOrReplaceResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[DiscoveredAssetEndpointProfilesClientCreateOrReplaceResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// CreateOrReplace - Create a DiscoveredAssetEndpointProfile
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01-preview
func (client *DiscoveredAssetEndpointProfilesClient) createOrReplace(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, resource DiscoveredAssetEndpointProfile, options *DiscoveredAssetEndpointProfilesClientBeginCreateOrReplaceOptions) (*http.Response, error) {
	var err error
	const operationName = "DiscoveredAssetEndpointProfilesClient.BeginCreateOrReplace"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrReplaceCreateRequest(ctx, resourceGroupName, discoveredAssetEndpointProfileName, resource, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createOrReplaceCreateRequest creates the CreateOrReplace request.
func (client *DiscoveredAssetEndpointProfilesClient) createOrReplaceCreateRequest(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, resource DiscoveredAssetEndpointProfile, options *DiscoveredAssetEndpointProfilesClientBeginCreateOrReplaceOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/discoveredAssetEndpointProfiles/{discoveredAssetEndpointProfileName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if discoveredAssetEndpointProfileName == "" {
		return nil, errors.New("parameter discoveredAssetEndpointProfileName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{discoveredAssetEndpointProfileName}", url.PathEscape(discoveredAssetEndpointProfileName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginDelete - Delete a DiscoveredAssetEndpointProfile
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - discoveredAssetEndpointProfileName - Discovered Asset Endpoint Profile name parameter.
//   - options - DiscoveredAssetEndpointProfilesClientBeginDeleteOptions contains the optional parameters for the DiscoveredAssetEndpointProfilesClient.BeginDelete
//     method.
func (client *DiscoveredAssetEndpointProfilesClient) BeginDelete(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, options *DiscoveredAssetEndpointProfilesClientBeginDeleteOptions) (*runtime.Poller[DiscoveredAssetEndpointProfilesClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceGroupName, discoveredAssetEndpointProfileName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[DiscoveredAssetEndpointProfilesClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[DiscoveredAssetEndpointProfilesClientDeleteResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Delete - Delete a DiscoveredAssetEndpointProfile
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01-preview
func (client *DiscoveredAssetEndpointProfilesClient) deleteOperation(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, options *DiscoveredAssetEndpointProfilesClientBeginDeleteOptions) (*http.Response, error) {
	var err error
	const operationName = "DiscoveredAssetEndpointProfilesClient.BeginDelete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, discoveredAssetEndpointProfileName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusAccepted, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *DiscoveredAssetEndpointProfilesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, options *DiscoveredAssetEndpointProfilesClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/discoveredAssetEndpointProfiles/{discoveredAssetEndpointProfileName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if discoveredAssetEndpointProfileName == "" {
		return nil, errors.New("parameter discoveredAssetEndpointProfileName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{discoveredAssetEndpointProfileName}", url.PathEscape(discoveredAssetEndpointProfileName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a DiscoveredAssetEndpointProfile
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - discoveredAssetEndpointProfileName - Discovered Asset Endpoint Profile name parameter.
//   - options - DiscoveredAssetEndpointProfilesClientGetOptions contains the optional parameters for the DiscoveredAssetEndpointProfilesClient.Get
//     method.
func (client *DiscoveredAssetEndpointProfilesClient) Get(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, options *DiscoveredAssetEndpointProfilesClientGetOptions) (DiscoveredAssetEndpointProfilesClientGetResponse, error) {
	var err error
	const operationName = "DiscoveredAssetEndpointProfilesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, discoveredAssetEndpointProfileName, options)
	if err != nil {
		return DiscoveredAssetEndpointProfilesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DiscoveredAssetEndpointProfilesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return DiscoveredAssetEndpointProfilesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *DiscoveredAssetEndpointProfilesClient) getCreateRequest(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, options *DiscoveredAssetEndpointProfilesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/discoveredAssetEndpointProfiles/{discoveredAssetEndpointProfileName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if discoveredAssetEndpointProfileName == "" {
		return nil, errors.New("parameter discoveredAssetEndpointProfileName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{discoveredAssetEndpointProfileName}", url.PathEscape(discoveredAssetEndpointProfileName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *DiscoveredAssetEndpointProfilesClient) getHandleResponse(resp *http.Response) (DiscoveredAssetEndpointProfilesClientGetResponse, error) {
	result := DiscoveredAssetEndpointProfilesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DiscoveredAssetEndpointProfile); err != nil {
		return DiscoveredAssetEndpointProfilesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByResourceGroupPager - List DiscoveredAssetEndpointProfile resources by resource group
//
// Generated from API version 2024-09-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - DiscoveredAssetEndpointProfilesClientListByResourceGroupOptions contains the optional parameters for the DiscoveredAssetEndpointProfilesClient.NewListByResourceGroupPager
//     method.
func (client *DiscoveredAssetEndpointProfilesClient) NewListByResourceGroupPager(resourceGroupName string, options *DiscoveredAssetEndpointProfilesClientListByResourceGroupOptions) *runtime.Pager[DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse] {
	return runtime.NewPager(runtime.PagingHandler[DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse]{
		More: func(page DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse) (DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "DiscoveredAssetEndpointProfilesClient.NewListByResourceGroupPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByResourceGroupCreateRequest(ctx, resourceGroupName, options)
			}, nil)
			if err != nil {
				return DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse{}, err
			}
			return client.listByResourceGroupHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByResourceGroupCreateRequest creates the ListByResourceGroup request.
func (client *DiscoveredAssetEndpointProfilesClient) listByResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *DiscoveredAssetEndpointProfilesClientListByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/discoveredAssetEndpointProfiles"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByResourceGroupHandleResponse handles the ListByResourceGroup response.
func (client *DiscoveredAssetEndpointProfilesClient) listByResourceGroupHandleResponse(resp *http.Response) (DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse, error) {
	result := DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DiscoveredAssetEndpointProfileListResult); err != nil {
		return DiscoveredAssetEndpointProfilesClientListByResourceGroupResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - List DiscoveredAssetEndpointProfile resources by subscription ID
//
// Generated from API version 2024-09-01-preview
//   - options - DiscoveredAssetEndpointProfilesClientListBySubscriptionOptions contains the optional parameters for the DiscoveredAssetEndpointProfilesClient.NewListBySubscriptionPager
//     method.
func (client *DiscoveredAssetEndpointProfilesClient) NewListBySubscriptionPager(options *DiscoveredAssetEndpointProfilesClientListBySubscriptionOptions) *runtime.Pager[DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse]{
		More: func(page DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse) (DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "DiscoveredAssetEndpointProfilesClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *DiscoveredAssetEndpointProfilesClient) listBySubscriptionCreateRequest(ctx context.Context, options *DiscoveredAssetEndpointProfilesClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceRegistry/discoveredAssetEndpointProfiles"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *DiscoveredAssetEndpointProfilesClient) listBySubscriptionHandleResponse(resp *http.Response) (DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse, error) {
	result := DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DiscoveredAssetEndpointProfileListResult); err != nil {
		return DiscoveredAssetEndpointProfilesClientListBySubscriptionResponse{}, err
	}
	return result, nil
}

// BeginUpdate - Update a DiscoveredAssetEndpointProfile
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - discoveredAssetEndpointProfileName - Discovered Asset Endpoint Profile name parameter.
//   - properties - The resource properties to be updated.
//   - options - DiscoveredAssetEndpointProfilesClientBeginUpdateOptions contains the optional parameters for the DiscoveredAssetEndpointProfilesClient.BeginUpdate
//     method.
func (client *DiscoveredAssetEndpointProfilesClient) BeginUpdate(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, properties DiscoveredAssetEndpointProfileUpdate, options *DiscoveredAssetEndpointProfilesClientBeginUpdateOptions) (*runtime.Poller[DiscoveredAssetEndpointProfilesClientUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.update(ctx, resourceGroupName, discoveredAssetEndpointProfileName, properties, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[DiscoveredAssetEndpointProfilesClientUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[DiscoveredAssetEndpointProfilesClientUpdateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Update - Update a DiscoveredAssetEndpointProfile
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-01-preview
func (client *DiscoveredAssetEndpointProfilesClient) update(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, properties DiscoveredAssetEndpointProfileUpdate, options *DiscoveredAssetEndpointProfilesClientBeginUpdateOptions) (*http.Response, error) {
	var err error
	const operationName = "DiscoveredAssetEndpointProfilesClient.BeginUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.updateCreateRequest(ctx, resourceGroupName, discoveredAssetEndpointProfileName, properties, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// updateCreateRequest creates the Update request.
func (client *DiscoveredAssetEndpointProfilesClient) updateCreateRequest(ctx context.Context, resourceGroupName string, discoveredAssetEndpointProfileName string, properties DiscoveredAssetEndpointProfileUpdate, options *DiscoveredAssetEndpointProfilesClientBeginUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceRegistry/discoveredAssetEndpointProfiles/{discoveredAssetEndpointProfileName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if discoveredAssetEndpointProfileName == "" {
		return nil, errors.New("parameter discoveredAssetEndpointProfileName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{discoveredAssetEndpointProfileName}", url.PathEscape(discoveredAssetEndpointProfileName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, properties); err != nil {
		return nil, err
	}
	return req, nil
}
