//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armconsumption

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// OperationsResultClient contains the methods for the OperationsResult group.
// Don't use this type directly, use NewOperationsResultClient() instead.
type OperationsResultClient struct {
	host string
	pl   runtime.Pipeline
}

// NewOperationsResultClient creates a new instance of OperationsResultClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewOperationsResultClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*OperationsResultClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &OperationsResultClient{
		host: ep,
		pl:   pl,
	}
	return client, nil
}

// NewListPager - Lists all of the available consumption REST API operations.
//
// Generated from API version 2023-03-01
//   - options - OperationsResultClientListOptions contains the optional parameters for the OperationsResultClient.NewListPager
//     method.
func (client *OperationsResultClient) NewListPager(options *OperationsResultClientListOptions) *runtime.Pager[OperationsResultClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[OperationsResultClientListResponse]{
		More: func(page OperationsResultClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *OperationsResultClientListResponse) (OperationsResultClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return OperationsResultClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return OperationsResultClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return OperationsResultClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *OperationsResultClient) listCreateRequest(ctx context.Context, options *OperationsResultClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Consumption/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-03-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *OperationsResultClient) listHandleResponse(resp *http.Response) (OperationsResultClientListResponse, error) {
	result := OperationsResultClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationListResultV2); err != nil {
		return OperationsResultClientListResponse{}, err
	}
	return result, nil
}
