//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/containerservicefleet/armcontainerservicefleet"
	"net/http"
	"net/url"
	"regexp"
)

// AutoUpgradeProfileOperationsServer is a fake server for instances of the armcontainerservicefleet.AutoUpgradeProfileOperationsClient type.
type AutoUpgradeProfileOperationsServer struct {
	// BeginGenerate is the fake for method AutoUpgradeProfileOperationsClient.BeginGenerate
	// HTTP status codes to indicate success: http.StatusOK, http.StatusAccepted
	BeginGenerate func(ctx context.Context, resourceGroupName string, fleetName string, autoUpgradeProfileName string, options *armcontainerservicefleet.AutoUpgradeProfileOperationsClientBeginGenerateOptions) (resp azfake.PollerResponder[armcontainerservicefleet.AutoUpgradeProfileOperationsClientGenerateResponse], errResp azfake.ErrorResponder)

	// GenerateUpdateRuns is the fake for method AutoUpgradeProfileOperationsClient.GenerateUpdateRuns
	// HTTP status codes to indicate success: http.StatusOK
	GenerateUpdateRuns func(ctx context.Context, resourceGroupName string, fleetName string, autoUpgradeProfileName string, body armcontainerservicefleet.GenerateUpdateRunRequest, options *armcontainerservicefleet.AutoUpgradeProfileOperationsClientGenerateUpdateRunsOptions) (resp azfake.Responder[armcontainerservicefleet.AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse], errResp azfake.ErrorResponder)
}

// NewAutoUpgradeProfileOperationsServerTransport creates a new instance of AutoUpgradeProfileOperationsServerTransport with the provided implementation.
// The returned AutoUpgradeProfileOperationsServerTransport instance is connected to an instance of armcontainerservicefleet.AutoUpgradeProfileOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewAutoUpgradeProfileOperationsServerTransport(srv *AutoUpgradeProfileOperationsServer) *AutoUpgradeProfileOperationsServerTransport {
	return &AutoUpgradeProfileOperationsServerTransport{
		srv:           srv,
		beginGenerate: newTracker[azfake.PollerResponder[armcontainerservicefleet.AutoUpgradeProfileOperationsClientGenerateResponse]](),
	}
}

// AutoUpgradeProfileOperationsServerTransport connects instances of armcontainerservicefleet.AutoUpgradeProfileOperationsClient to instances of AutoUpgradeProfileOperationsServer.
// Don't use this type directly, use NewAutoUpgradeProfileOperationsServerTransport instead.
type AutoUpgradeProfileOperationsServerTransport struct {
	srv           *AutoUpgradeProfileOperationsServer
	beginGenerate *tracker[azfake.PollerResponder[armcontainerservicefleet.AutoUpgradeProfileOperationsClientGenerateResponse]]
}

// Do implements the policy.Transporter interface for AutoUpgradeProfileOperationsServerTransport.
func (a *AutoUpgradeProfileOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "AutoUpgradeProfileOperationsClient.BeginGenerate":
		resp, err = a.dispatchBeginGenerate(req)
	case "AutoUpgradeProfileOperationsClient.GenerateUpdateRuns":
		resp, err = a.dispatchGenerateUpdateRuns(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (a *AutoUpgradeProfileOperationsServerTransport) dispatchBeginGenerate(req *http.Request) (*http.Response, error) {
	if a.srv.BeginGenerate == nil {
		return nil, &nonRetriableError{errors.New("fake for method BeginGenerate not implemented")}
	}
	beginGenerate := a.beginGenerate.get(req)
	if beginGenerate == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ContainerService/fleets/(?P<fleetName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/autoUpgradeProfiles/(?P<autoUpgradeProfileName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/generate`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 4 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		startUpdateRunParam := getOptional(getHeaderValue(req.Header, "StartUpdateRun"))
		fleetNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("fleetName")])
		if err != nil {
			return nil, err
		}
		autoUpgradeProfileNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("autoUpgradeProfileName")])
		if err != nil {
			return nil, err
		}
		var options *armcontainerservicefleet.AutoUpgradeProfileOperationsClientBeginGenerateOptions
		if startUpdateRunParam != nil {
			options = &armcontainerservicefleet.AutoUpgradeProfileOperationsClientBeginGenerateOptions{
				StartUpdateRun: startUpdateRunParam,
			}
		}
		respr, errRespr := a.srv.BeginGenerate(req.Context(), resourceGroupNameParam, fleetNameParam, autoUpgradeProfileNameParam, options)
		if respErr := server.GetError(errRespr, req); respErr != nil {
			return nil, respErr
		}
		beginGenerate = &respr
		a.beginGenerate.add(req, beginGenerate)
	}

	resp, err := server.PollerResponderNext(beginGenerate, req)
	if err != nil {
		return nil, err
	}

	if !contains([]int{http.StatusOK, http.StatusAccepted}, resp.StatusCode) {
		a.beginGenerate.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusAccepted", resp.StatusCode)}
	}
	if !server.PollerResponderMore(beginGenerate) {
		a.beginGenerate.remove(req)
	}

	return resp, nil
}

func (a *AutoUpgradeProfileOperationsServerTransport) dispatchGenerateUpdateRuns(req *http.Request) (*http.Response, error) {
	if a.srv.GenerateUpdateRuns == nil {
		return nil, &nonRetriableError{errors.New("fake for method GenerateUpdateRuns not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.ContainerService/fleets/(?P<fleetName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/autoUpgradeProfiles/(?P<autoUpgradeProfileName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/generateUpdateRuns`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	body, err := server.UnmarshalRequestAsJSON[armcontainerservicefleet.GenerateUpdateRunRequest](req)
	if err != nil {
		return nil, err
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	ifMatchParam := getOptional(getHeaderValue(req.Header, "If-Match"))
	fleetNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("fleetName")])
	if err != nil {
		return nil, err
	}
	autoUpgradeProfileNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("autoUpgradeProfileName")])
	if err != nil {
		return nil, err
	}
	var options *armcontainerservicefleet.AutoUpgradeProfileOperationsClientGenerateUpdateRunsOptions
	if ifMatchParam != nil {
		options = &armcontainerservicefleet.AutoUpgradeProfileOperationsClientGenerateUpdateRunsOptions{
			IfMatch: ifMatchParam,
		}
	}
	respr, errRespr := a.srv.GenerateUpdateRuns(req.Context(), resourceGroupNameParam, fleetNameParam, autoUpgradeProfileNameParam, body, options)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).AutoUpgradeProfile, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}
