//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazureadexternalidentities

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// CheckNameAPIClient contains the methods for the CheckNameAPI group.
// Don't use this type directly, use NewCheckNameAPIClient() instead.
type CheckNameAPIClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewCheckNameAPIClient creates a new instance of CheckNameAPIClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewCheckNameAPIClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*CheckNameAPIClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &CheckNameAPIClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CheckGlobalName - Checks that the trusted signing account name is valid and is not already in use.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01
//   - body - The CheckAvailability request
//   - options - CheckNameAPIClientCheckGlobalNameOptions contains the optional parameters for the CheckNameAPIClient.CheckGlobalName
//     method.
func (client *CheckNameAPIClient) CheckGlobalName(ctx context.Context, body CustomCheckNameAvailabilityRequest, options *CheckNameAPIClientCheckGlobalNameOptions) (CheckNameAPIClientCheckGlobalNameResponse, error) {
	var err error
	const operationName = "CheckNameAPIClient.CheckGlobalName"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.checkGlobalNameCreateRequest(ctx, body, options)
	if err != nil {
		return CheckNameAPIClientCheckGlobalNameResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CheckNameAPIClientCheckGlobalNameResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return CheckNameAPIClientCheckGlobalNameResponse{}, err
	}
	resp, err := client.checkGlobalNameHandleResponse(httpResp)
	return resp, err
}

// checkGlobalNameCreateRequest creates the CheckGlobalName request.
func (client *CheckNameAPIClient) checkGlobalNameCreateRequest(ctx context.Context, body CustomCheckNameAvailabilityRequest, options *CheckNameAPIClientCheckGlobalNameOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/checkNameAvailability"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// checkGlobalNameHandleResponse handles the CheckGlobalName response.
func (client *CheckNameAPIClient) checkGlobalNameHandleResponse(resp *http.Response) (CheckNameAPIClientCheckGlobalNameResponse, error) {
	result := CheckNameAPIClientCheckGlobalNameResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CheckNameAvailabilityResponse); err != nil {
		return CheckNameAPIClientCheckGlobalNameResponse{}, err
	}
	return result, nil
}
