//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazureadexternalidentities

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ExternalIdentitiesConfigurationClient contains the methods for the ExternalIdentitiesConfigurationClient group.
// Don't use this type directly, use NewExternalIdentitiesConfigurationClient() instead.
type ExternalIdentitiesConfigurationClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewExternalIdentitiesConfigurationClient creates a new instance of ExternalIdentitiesConfigurationClient with the specified values.
//   - subscriptionID - Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms
//     part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewExternalIdentitiesConfigurationClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ExternalIdentitiesConfigurationClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ExternalIdentitiesConfigurationClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CheckNameAvailability - Checks the availability and validity of a domain name for the tenant.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-05-17-preview
//   - options - ExternalIdentitiesConfigurationClientCheckNameAvailabilityOptions contains the optional parameters for the ExternalIdentitiesConfigurationClient.CheckNameAvailability
//     method.
func (client *ExternalIdentitiesConfigurationClient) CheckNameAvailability(ctx context.Context, options *ExternalIdentitiesConfigurationClientCheckNameAvailabilityOptions) (ExternalIdentitiesConfigurationClientCheckNameAvailabilityResponse, error) {
	var err error
	const operationName = "ExternalIdentitiesConfigurationClient.CheckNameAvailability"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.checkNameAvailabilityCreateRequest(ctx, options)
	if err != nil {
		return ExternalIdentitiesConfigurationClientCheckNameAvailabilityResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ExternalIdentitiesConfigurationClientCheckNameAvailabilityResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ExternalIdentitiesConfigurationClientCheckNameAvailabilityResponse{}, err
	}
	resp, err := client.checkNameAvailabilityHandleResponse(httpResp)
	return resp, err
}

// checkNameAvailabilityCreateRequest creates the CheckNameAvailability request.
func (client *ExternalIdentitiesConfigurationClient) checkNameAvailabilityCreateRequest(ctx context.Context, options *ExternalIdentitiesConfigurationClientCheckNameAvailabilityOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.AzureActiveDirectory/checkNameAvailability"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-05-17-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.CheckNameAvailabilityRequestBody != nil {
		if err := runtime.MarshalAsJSON(req, *options.CheckNameAvailabilityRequestBody); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// checkNameAvailabilityHandleResponse handles the CheckNameAvailability response.
func (client *ExternalIdentitiesConfigurationClient) checkNameAvailabilityHandleResponse(resp *http.Response) (ExternalIdentitiesConfigurationClientCheckNameAvailabilityResponse, error) {
	result := ExternalIdentitiesConfigurationClientCheckNameAvailabilityResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.NameAvailabilityResponse); err != nil {
		return ExternalIdentitiesConfigurationClientCheckNameAvailabilityResponse{}, err
	}
	return result, nil
}
