//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationdiscovery/armmigrationdiscovery"
	"net/http"
	"net/url"
	"regexp"
)

// MasterSitesOperationsStatusControllerServer is a fake server for instances of the armmigrationdiscovery.MasterSitesOperationsStatusControllerClient type.
type MasterSitesOperationsStatusControllerServer struct {
	// GetVmwareOperationStatus is the fake for method MasterSitesOperationsStatusControllerClient.GetVmwareOperationStatus
	// HTTP status codes to indicate success: http.StatusOK
	GetVmwareOperationStatus func(ctx context.Context, resourceGroupName string, siteName string, operationStatusName string, options *armmigrationdiscovery.MasterSitesOperationsStatusControllerClientGetVmwareOperationStatusOptions) (resp azfake.Responder[armmigrationdiscovery.MasterSitesOperationsStatusControllerClientGetVmwareOperationStatusResponse], errResp azfake.ErrorResponder)
}

// NewMasterSitesOperationsStatusControllerServerTransport creates a new instance of MasterSitesOperationsStatusControllerServerTransport with the provided implementation.
// The returned MasterSitesOperationsStatusControllerServerTransport instance is connected to an instance of armmigrationdiscovery.MasterSitesOperationsStatusControllerClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewMasterSitesOperationsStatusControllerServerTransport(srv *MasterSitesOperationsStatusControllerServer) *MasterSitesOperationsStatusControllerServerTransport {
	return &MasterSitesOperationsStatusControllerServerTransport{srv: srv}
}

// MasterSitesOperationsStatusControllerServerTransport connects instances of armmigrationdiscovery.MasterSitesOperationsStatusControllerClient to instances of MasterSitesOperationsStatusControllerServer.
// Don't use this type directly, use NewMasterSitesOperationsStatusControllerServerTransport instead.
type MasterSitesOperationsStatusControllerServerTransport struct {
	srv *MasterSitesOperationsStatusControllerServer
}

// Do implements the policy.Transporter interface for MasterSitesOperationsStatusControllerServerTransport.
func (m *MasterSitesOperationsStatusControllerServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "MasterSitesOperationsStatusControllerClient.GetVmwareOperationStatus":
		resp, err = m.dispatchGetVmwareOperationStatus(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (m *MasterSitesOperationsStatusControllerServerTransport) dispatchGetVmwareOperationStatus(req *http.Request) (*http.Response, error) {
	if m.srv.GetVmwareOperationStatus == nil {
		return nil, &nonRetriableError{errors.New("fake for method GetVmwareOperationStatus not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.OffAzure/masterSites/(?P<siteName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operationsStatus/(?P<operationStatusName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	siteNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("siteName")])
	if err != nil {
		return nil, err
	}
	operationStatusNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationStatusName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := m.srv.GetVmwareOperationStatus(req.Context(), resourceGroupNameParam, siteNameParam, operationStatusNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).OperationStatus, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}
