//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationdiscovery/armmigrationdiscovery"
	"net/http"
	"net/url"
	"regexp"
)

// ServerOperationsStatusControllerServer is a fake server for instances of the armmigrationdiscovery.ServerOperationsStatusControllerClient type.
type ServerOperationsStatusControllerServer struct {
	// GetServerSiteOperationsStatus is the fake for method ServerOperationsStatusControllerClient.GetServerSiteOperationsStatus
	// HTTP status codes to indicate success: http.StatusOK
	GetServerSiteOperationsStatus func(ctx context.Context, resourceGroupName string, siteName string, operationStatusName string, options *armmigrationdiscovery.ServerOperationsStatusControllerClientGetServerSiteOperationsStatusOptions) (resp azfake.Responder[armmigrationdiscovery.ServerOperationsStatusControllerClientGetServerSiteOperationsStatusResponse], errResp azfake.ErrorResponder)
}

// NewServerOperationsStatusControllerServerTransport creates a new instance of ServerOperationsStatusControllerServerTransport with the provided implementation.
// The returned ServerOperationsStatusControllerServerTransport instance is connected to an instance of armmigrationdiscovery.ServerOperationsStatusControllerClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewServerOperationsStatusControllerServerTransport(srv *ServerOperationsStatusControllerServer) *ServerOperationsStatusControllerServerTransport {
	return &ServerOperationsStatusControllerServerTransport{srv: srv}
}

// ServerOperationsStatusControllerServerTransport connects instances of armmigrationdiscovery.ServerOperationsStatusControllerClient to instances of ServerOperationsStatusControllerServer.
// Don't use this type directly, use NewServerOperationsStatusControllerServerTransport instead.
type ServerOperationsStatusControllerServerTransport struct {
	srv *ServerOperationsStatusControllerServer
}

// Do implements the policy.Transporter interface for ServerOperationsStatusControllerServerTransport.
func (s *ServerOperationsStatusControllerServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "ServerOperationsStatusControllerClient.GetServerSiteOperationsStatus":
		resp, err = s.dispatchGetServerSiteOperationsStatus(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (s *ServerOperationsStatusControllerServerTransport) dispatchGetServerSiteOperationsStatus(req *http.Request) (*http.Response, error) {
	if s.srv.GetServerSiteOperationsStatus == nil {
		return nil, &nonRetriableError{errors.New("fake for method GetServerSiteOperationsStatus not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.OffAzure/serverSites/(?P<siteName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operationsStatus/(?P<operationStatusName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	siteNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("siteName")])
	if err != nil {
		return nil, err
	}
	operationStatusNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationStatusName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := s.srv.GetServerSiteOperationsStatus(req.Context(), resourceGroupNameParam, siteNameParam, operationStatusNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).OperationStatus, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}
