//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armlogic

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// LocationsClient contains the methods for the Locations group.
// Don't use this type directly, use NewLocationsClient() instead.
type LocationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewLocationsClient creates a new instance of LocationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewLocationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*LocationsClient, error) {
	cl, err := arm.NewClient(moduleName+".LocationsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &LocationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// ValidateWorkflowExport - Validates the workflow export.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-09-01-preview
//   - location - The name of Azure region.
//   - workflowExportRequest - The workflow export request.
//   - options - LocationsClientValidateWorkflowExportOptions contains the optional parameters for the LocationsClient.ValidateWorkflowExport
//     method.
func (client *LocationsClient) ValidateWorkflowExport(ctx context.Context, location string, workflowExportRequest WorkflowExportRequest, options *LocationsClientValidateWorkflowExportOptions) (LocationsClientValidateWorkflowExportResponse, error) {
	var err error
	req, err := client.validateWorkflowExportCreateRequest(ctx, location, workflowExportRequest, options)
	if err != nil {
		return LocationsClientValidateWorkflowExportResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return LocationsClientValidateWorkflowExportResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return LocationsClientValidateWorkflowExportResponse{}, err
	}
	resp, err := client.validateWorkflowExportHandleResponse(httpResp)
	return resp, err
}

// validateWorkflowExportCreateRequest creates the ValidateWorkflowExport request.
func (client *LocationsClient) validateWorkflowExportCreateRequest(ctx context.Context, location string, workflowExportRequest WorkflowExportRequest, options *LocationsClientValidateWorkflowExportOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/locations/{location}/validateWorkflowExport"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, workflowExportRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// validateWorkflowExportHandleResponse handles the ValidateWorkflowExport response.
func (client *LocationsClient) validateWorkflowExportHandleResponse(resp *http.Response) (LocationsClientValidateWorkflowExportResponse, error) {
	result := LocationsClientValidateWorkflowExportResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkflowExportValidityResult); err != nil {
		return LocationsClientValidateWorkflowExportResponse{}, err
	}
	return result, nil
}

// WorkflowExport - Executes the workflow export.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-09-01-preview
//   - location - The name of Azure region.
//   - workflowExportRequest - The workflow export request.
//   - options - LocationsClientWorkflowExportOptions contains the optional parameters for the LocationsClient.WorkflowExport
//     method.
func (client *LocationsClient) WorkflowExport(ctx context.Context, location string, workflowExportRequest WorkflowExportRequest, options *LocationsClientWorkflowExportOptions) (LocationsClientWorkflowExportResponse, error) {
	var err error
	req, err := client.workflowExportCreateRequest(ctx, location, workflowExportRequest, options)
	if err != nil {
		return LocationsClientWorkflowExportResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return LocationsClientWorkflowExportResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return LocationsClientWorkflowExportResponse{}, err
	}
	resp, err := client.workflowExportHandleResponse(httpResp)
	return resp, err
}

// workflowExportCreateRequest creates the WorkflowExport request.
func (client *LocationsClient) workflowExportCreateRequest(ctx context.Context, location string, workflowExportRequest WorkflowExportRequest, options *LocationsClientWorkflowExportOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/locations/{location}/workflowExport"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-09-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, workflowExportRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// workflowExportHandleResponse handles the WorkflowExport response.
func (client *LocationsClient) workflowExportHandleResponse(resp *http.Response) (LocationsClientWorkflowExportResponse, error) {
	result := LocationsClientWorkflowExportResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WorkflowExportResult); err != nil {
		return LocationsClientWorkflowExportResponse{}, err
	}
	return result, nil
}
