//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/mysql/armmysqlflexibleservers/v2"
	"net/http"
	"net/url"
	"regexp"
)

// OperationsOngoingServer is a fake server for instances of the armmysqlflexibleservers.OperationsOngoingClient type.
type OperationsOngoingServer struct {
	// NewListPager is the fake for method OperationsOngoingClient.NewListPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListPager func(locationName string, filter string, options *armmysqlflexibleservers.OperationsOngoingClientListOptions) (resp azfake.PagerResponder[armmysqlflexibleservers.OperationsOngoingClientListResponse])
}

// NewOperationsOngoingServerTransport creates a new instance of OperationsOngoingServerTransport with the provided implementation.
// The returned OperationsOngoingServerTransport instance is connected to an instance of armmysqlflexibleservers.OperationsOngoingClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewOperationsOngoingServerTransport(srv *OperationsOngoingServer) *OperationsOngoingServerTransport {
	return &OperationsOngoingServerTransport{
		srv:          srv,
		newListPager: newTracker[azfake.PagerResponder[armmysqlflexibleservers.OperationsOngoingClientListResponse]](),
	}
}

// OperationsOngoingServerTransport connects instances of armmysqlflexibleservers.OperationsOngoingClient to instances of OperationsOngoingServer.
// Don't use this type directly, use NewOperationsOngoingServerTransport instead.
type OperationsOngoingServerTransport struct {
	srv          *OperationsOngoingServer
	newListPager *tracker[azfake.PagerResponder[armmysqlflexibleservers.OperationsOngoingClientListResponse]]
}

// Do implements the policy.Transporter interface for OperationsOngoingServerTransport.
func (o *OperationsOngoingServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "OperationsOngoingClient.NewListPager":
		resp, err = o.dispatchNewListPager(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (o *OperationsOngoingServerTransport) dispatchNewListPager(req *http.Request) (*http.Response, error) {
	if o.srv.NewListPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListPager not implemented")}
	}
	newListPager := o.newListPager.get(req)
	if newListPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.DBforMySQL/locations/(?P<locationName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operationsOngoing`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 2 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		qp := req.URL.Query()
		locationNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("locationName")])
		if err != nil {
			return nil, err
		}
		filterParam, err := url.QueryUnescape(qp.Get("filter"))
		if err != nil {
			return nil, err
		}
		resp := o.srv.NewListPager(locationNameParam, filterParam, nil)
		newListPager = &resp
		o.newListPager.add(req, newListPager)
		server.PagerResponderInjectNextLinks(newListPager, req, func(page *armmysqlflexibleservers.OperationsOngoingClientListResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		o.newListPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListPager) {
		o.newListPager.remove(req)
	}
	return resp, nil
}
