//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcompute

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SoftDeleteClient contains the methods for the SoftDelete group.
// Don't use this type directly, use NewSoftDeleteClient() instead.
type SoftDeleteClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewSoftDeleteClient creates a new instance of SoftDeleteClient with the specified values.
//   - subscriptionID - Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms
//     part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSoftDeleteClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SoftDeleteClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SoftDeleteClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListSoftDeletedResourcesByArtifactNamePager - List soft-deleted resources of an artifact in the gallery, such as soft-deleted
// gallery image version of an image.
//
// Generated from API version 2024-03-03
//   - resourceGroupName - The name of the resource group.
//   - galleryName - The name of the Gallery in which the soft-deleted resources resides.
//   - artifactType - The type of the artifact to be listed, such as gallery image version.
//   - artifactName - The artifact name to be listed. If artifact type is Images, then the artifact name should be the gallery
//     image name.
//   - options - SoftDeleteClientListSoftDeletedResourcesByArtifactNameOptions contains the optional parameters for the SoftDeleteClient.NewListSoftDeletedResourcesByArtifactNamePager
//     method.
func (client *SoftDeleteClient) NewListSoftDeletedResourcesByArtifactNamePager(resourceGroupName string, galleryName string, artifactType string, artifactName string, options *SoftDeleteClientListSoftDeletedResourcesByArtifactNameOptions) *runtime.Pager[SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse] {
	return runtime.NewPager(runtime.PagingHandler[SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse]{
		More: func(page SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse) (SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "SoftDeleteClient.NewListSoftDeletedResourcesByArtifactNamePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listSoftDeletedResourcesByArtifactNameCreateRequest(ctx, resourceGroupName, galleryName, artifactType, artifactName, options)
			}, nil)
			if err != nil {
				return SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse{}, err
			}
			return client.listSoftDeletedResourcesByArtifactNameHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listSoftDeletedResourcesByArtifactNameCreateRequest creates the ListSoftDeletedResourcesByArtifactName request.
func (client *SoftDeleteClient) listSoftDeletedResourcesByArtifactNameCreateRequest(ctx context.Context, resourceGroupName string, galleryName string, artifactType string, artifactName string, options *SoftDeleteClientListSoftDeletedResourcesByArtifactNameOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/softDeletedArtifactTypes/{artifactType}/artifacts/{artifactName}/versions"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if galleryName == "" {
		return nil, errors.New("parameter galleryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{galleryName}", url.PathEscape(galleryName))
	if artifactType == "" {
		return nil, errors.New("parameter artifactType cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{artifactType}", url.PathEscape(artifactType))
	if artifactName == "" {
		return nil, errors.New("parameter artifactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{artifactName}", url.PathEscape(artifactName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-03-03")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listSoftDeletedResourcesByArtifactNameHandleResponse handles the ListSoftDeletedResourcesByArtifactName response.
func (client *SoftDeleteClient) listSoftDeletedResourcesByArtifactNameHandleResponse(resp *http.Response) (SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse, error) {
	result := SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.GallerySoftDeletedResourceList); err != nil {
		return SoftDeleteClientListSoftDeletedResourcesByArtifactNameResponse{}, err
	}
	return result, nil
}
