// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armimpact

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// CategoriesClient contains the methods for the ImpactCategories group.
// Don't use this type directly, use NewCategoriesClient() instead.
type CategoriesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewCategoriesClient creates a new instance of CategoriesClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewCategoriesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*CategoriesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &CategoriesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get a ImpactCategory
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-05-01-preview
//   - impactCategoryName - Name of the impact category
//   - options - CategoriesClientGetOptions contains the optional parameters for the CategoriesClient.Get method.
func (client *CategoriesClient) Get(ctx context.Context, impactCategoryName string, options *CategoriesClientGetOptions) (CategoriesClientGetResponse, error) {
	var err error
	const operationName = "CategoriesClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, impactCategoryName, options)
	if err != nil {
		return CategoriesClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return CategoriesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return CategoriesClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *CategoriesClient) getCreateRequest(ctx context.Context, impactCategoryName string, _ *CategoriesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/impactCategories/{impactCategoryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if impactCategoryName == "" {
		return nil, errors.New("parameter impactCategoryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{impactCategoryName}", url.PathEscape(impactCategoryName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *CategoriesClient) getHandleResponse(resp *http.Response) (CategoriesClientGetResponse, error) {
	result := CategoriesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Category); err != nil {
		return CategoriesClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - List ImpactCategory resources by subscription
//
// Generated from API version 2024-05-01-preview
//   - resourceType - Filter by resource type
//   - options - CategoriesClientListBySubscriptionOptions contains the optional parameters for the CategoriesClient.NewListBySubscriptionPager
//     method.
func (client *CategoriesClient) NewListBySubscriptionPager(resourceType string, options *CategoriesClientListBySubscriptionOptions) *runtime.Pager[CategoriesClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[CategoriesClientListBySubscriptionResponse]{
		More: func(page CategoriesClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *CategoriesClientListBySubscriptionResponse) (CategoriesClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "CategoriesClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, resourceType, options)
			}, nil)
			if err != nil {
				return CategoriesClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *CategoriesClient) listBySubscriptionCreateRequest(ctx context.Context, resourceType string, options *CategoriesClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/impactCategories"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-05-01-preview")
	if options != nil && options.CategoryName != nil {
		reqQP.Set("categoryName", *options.CategoryName)
	}
	reqQP.Set("resourceType", resourceType)
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *CategoriesClient) listBySubscriptionHandleResponse(resp *http.Response) (CategoriesClientListBySubscriptionResponse, error) {
	result := CategoriesClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CategoryListResult); err != nil {
		return CategoriesClientListBySubscriptionResponse{}, err
	}
	return result, nil
}
