//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armimpact

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// TopologyImpactsClient contains the methods for the TopologyImpacts group.
// Don't use this type directly, use NewTopologyImpactsClient() instead.
type TopologyImpactsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewTopologyImpactsClient creates a new instance of TopologyImpactsClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewTopologyImpactsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*TopologyImpactsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &TopologyImpactsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginCreate - Create a TopologyImpact
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - topologyImpactName - topologyImpact resource
//   - resource - Resource create parameters.
//   - options - TopologyImpactsClientBeginCreateOptions contains the optional parameters for the TopologyImpactsClient.BeginCreate
//     method.
func (client *TopologyImpactsClient) BeginCreate(ctx context.Context, topologyImpactName string, resource TopologyImpact, options *TopologyImpactsClientBeginCreateOptions) (*runtime.Poller[TopologyImpactsClientCreateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.create(ctx, topologyImpactName, resource, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[TopologyImpactsClientCreateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[TopologyImpactsClientCreateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Create - Create a TopologyImpact
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
func (client *TopologyImpactsClient) create(ctx context.Context, topologyImpactName string, resource TopologyImpact, options *TopologyImpactsClientBeginCreateOptions) (*http.Response, error) {
	var err error
	const operationName = "TopologyImpactsClient.BeginCreate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createCreateRequest(ctx, topologyImpactName, resource, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// createCreateRequest creates the Create request.
func (client *TopologyImpactsClient) createCreateRequest(ctx context.Context, topologyImpactName string, resource TopologyImpact, options *TopologyImpactsClientBeginCreateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts/{topologyImpactName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if topologyImpactName == "" {
		return nil, errors.New("parameter topologyImpactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topologyImpactName}", url.PathEscape(topologyImpactName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, resource); err != nil {
		return nil, err
	}
	return req, nil
}

// Delete - Delete a TopologyImpact
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - topologyImpactName - topologyImpact resource
//   - options - TopologyImpactsClientDeleteOptions contains the optional parameters for the TopologyImpactsClient.Delete method.
func (client *TopologyImpactsClient) Delete(ctx context.Context, topologyImpactName string, options *TopologyImpactsClientDeleteOptions) (TopologyImpactsClientDeleteResponse, error) {
	var err error
	const operationName = "TopologyImpactsClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, topologyImpactName, options)
	if err != nil {
		return TopologyImpactsClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TopologyImpactsClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return TopologyImpactsClientDeleteResponse{}, err
	}
	return TopologyImpactsClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *TopologyImpactsClient) deleteCreateRequest(ctx context.Context, topologyImpactName string, options *TopologyImpactsClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts/{topologyImpactName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if topologyImpactName == "" {
		return nil, errors.New("parameter topologyImpactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topologyImpactName}", url.PathEscape(topologyImpactName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Get a TopologyImpact
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - topologyImpactName - topologyImpact resource
//   - options - TopologyImpactsClientGetOptions contains the optional parameters for the TopologyImpactsClient.Get method.
func (client *TopologyImpactsClient) Get(ctx context.Context, topologyImpactName string, options *TopologyImpactsClientGetOptions) (TopologyImpactsClientGetResponse, error) {
	var err error
	const operationName = "TopologyImpactsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, topologyImpactName, options)
	if err != nil {
		return TopologyImpactsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return TopologyImpactsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return TopologyImpactsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *TopologyImpactsClient) getCreateRequest(ctx context.Context, topologyImpactName string, options *TopologyImpactsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts/{topologyImpactName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if topologyImpactName == "" {
		return nil, errors.New("parameter topologyImpactName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{topologyImpactName}", url.PathEscape(topologyImpactName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *TopologyImpactsClient) getHandleResponse(resp *http.Response) (TopologyImpactsClientGetResponse, error) {
	result := TopologyImpactsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TopologyImpact); err != nil {
		return TopologyImpactsClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - List TopologyImpact resources by subscription ID
//
// Generated from API version 2023-12-01-preview
//   - options - TopologyImpactsClientListBySubscriptionOptions contains the optional parameters for the TopologyImpactsClient.NewListBySubscriptionPager
//     method.
func (client *TopologyImpactsClient) NewListBySubscriptionPager(options *TopologyImpactsClientListBySubscriptionOptions) *runtime.Pager[TopologyImpactsClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[TopologyImpactsClientListBySubscriptionResponse]{
		More: func(page TopologyImpactsClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *TopologyImpactsClientListBySubscriptionResponse) (TopologyImpactsClientListBySubscriptionResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "TopologyImpactsClient.NewListBySubscriptionPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listBySubscriptionCreateRequest(ctx, options)
			}, nil)
			if err != nil {
				return TopologyImpactsClientListBySubscriptionResponse{}, err
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *TopologyImpactsClient) listBySubscriptionCreateRequest(ctx context.Context, options *TopologyImpactsClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *TopologyImpactsClient) listBySubscriptionHandleResponse(resp *http.Response) (TopologyImpactsClientListBySubscriptionResponse, error) {
	result := TopologyImpactsClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TopologyImpactListResult); err != nil {
		return TopologyImpactsClientListBySubscriptionResponse{}, err
	}
	return result, nil
}
