//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armimpact

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// UploadServiceClient contains the methods for the UploadService group.
// Don't use this type directly, use NewUploadServiceClient() instead.
type UploadServiceClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewUploadServiceClient creates a new instance of UploadServiceClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewUploadServiceClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*UploadServiceClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &UploadServiceClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetUploadToken - Customer can use this POST endpoint to trigger an action, where the UserRP/AzImpactRP service creates
// and returns a user-delegate SAS token for the storage account/container unique to the customer
// (identified by subscription ID).
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-02-01-preview
//   - options - UploadServiceClientGetUploadTokenOptions contains the optional parameters for the UploadServiceClient.GetUploadToken
//     method.
func (client *UploadServiceClient) GetUploadToken(ctx context.Context, options *UploadServiceClientGetUploadTokenOptions) (UploadServiceClientGetUploadTokenResponse, error) {
	var err error
	const operationName = "UploadServiceClient.GetUploadToken"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getUploadTokenCreateRequest(ctx, options)
	if err != nil {
		return UploadServiceClientGetUploadTokenResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return UploadServiceClientGetUploadTokenResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return UploadServiceClientGetUploadTokenResponse{}, err
	}
	resp, err := client.getUploadTokenHandleResponse(httpResp)
	return resp, err
}

// getUploadTokenCreateRequest creates the GetUploadToken request.
func (client *UploadServiceClient) getUploadTokenCreateRequest(ctx context.Context, options *UploadServiceClientGetUploadTokenOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/getUploadToken"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-02-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getUploadTokenHandleResponse handles the GetUploadToken response.
func (client *UploadServiceClient) getUploadTokenHandleResponse(resp *http.Response) (UploadServiceClientGetUploadTokenResponse, error) {
	result := UploadServiceClientGetUploadTokenResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.UploadTokenResponse); err != nil {
		return UploadServiceClientGetUploadTokenResponse{}, err
	}
	return result, nil
}
