//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/videoanalyzer/armvideoanalyzer"
	"net/http"
	"net/url"
	"regexp"
)

// LivePipelineOperationStatusesServer is a fake server for instances of the armvideoanalyzer.LivePipelineOperationStatusesClient type.
type LivePipelineOperationStatusesServer struct {
	// Get is the fake for method LivePipelineOperationStatusesClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, accountName string, livePipelineName string, operationID string, options *armvideoanalyzer.LivePipelineOperationStatusesClientGetOptions) (resp azfake.Responder[armvideoanalyzer.LivePipelineOperationStatusesClientGetResponse], errResp azfake.ErrorResponder)
}

// NewLivePipelineOperationStatusesServerTransport creates a new instance of LivePipelineOperationStatusesServerTransport with the provided implementation.
// The returned LivePipelineOperationStatusesServerTransport instance is connected to an instance of armvideoanalyzer.LivePipelineOperationStatusesClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewLivePipelineOperationStatusesServerTransport(srv *LivePipelineOperationStatusesServer) *LivePipelineOperationStatusesServerTransport {
	return &LivePipelineOperationStatusesServerTransport{srv: srv}
}

// LivePipelineOperationStatusesServerTransport connects instances of armvideoanalyzer.LivePipelineOperationStatusesClient to instances of LivePipelineOperationStatusesServer.
// Don't use this type directly, use NewLivePipelineOperationStatusesServerTransport instead.
type LivePipelineOperationStatusesServerTransport struct {
	srv *LivePipelineOperationStatusesServer
}

// Do implements the policy.Transporter interface for LivePipelineOperationStatusesServerTransport.
func (l *LivePipelineOperationStatusesServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "LivePipelineOperationStatusesClient.Get":
		resp, err = l.dispatchGet(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (l *LivePipelineOperationStatusesServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if l.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Media/videoAnalyzers/(?P<accountName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/livePipelines/(?P<livePipelineName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operationStatuses/(?P<operationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	accountNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("accountName")])
	if err != nil {
		return nil, err
	}
	livePipelineNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("livePipelineName")])
	if err != nil {
		return nil, err
	}
	operationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := l.srv.Get(req.Context(), resourceGroupNameParam, accountNameParam, livePipelineNameParam, operationIDParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).LivePipelineOperationStatus, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}
