//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/to"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/sovereign/armsovereign"
	"net/http"
	"net/url"
	"regexp"
)

// LandingZoneRegistrationOperationsServer is a fake server for instances of the armsovereign.LandingZoneRegistrationOperationsClient type.
type LandingZoneRegistrationOperationsServer struct {
	// BeginCreate is the fake for method LandingZoneRegistrationOperationsClient.BeginCreate
	// HTTP status codes to indicate success: http.StatusOK, http.StatusCreated
	BeginCreate func(ctx context.Context, resourceGroupName string, landingZoneAccountName string, landingZoneRegistrationName string, resource armsovereign.LandingZoneRegistrationResource, options *armsovereign.LandingZoneRegistrationOperationsClientBeginCreateOptions) (resp azfake.PollerResponder[armsovereign.LandingZoneRegistrationOperationsClientCreateResponse], errResp azfake.ErrorResponder)

	// Delete is the fake for method LandingZoneRegistrationOperationsClient.Delete
	// HTTP status codes to indicate success: http.StatusOK, http.StatusNoContent
	Delete func(ctx context.Context, resourceGroupName string, landingZoneAccountName string, landingZoneRegistrationName string, options *armsovereign.LandingZoneRegistrationOperationsClientDeleteOptions) (resp azfake.Responder[armsovereign.LandingZoneRegistrationOperationsClientDeleteResponse], errResp azfake.ErrorResponder)

	// Get is the fake for method LandingZoneRegistrationOperationsClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, resourceGroupName string, landingZoneAccountName string, landingZoneRegistrationName string, options *armsovereign.LandingZoneRegistrationOperationsClientGetOptions) (resp azfake.Responder[armsovereign.LandingZoneRegistrationOperationsClientGetResponse], errResp azfake.ErrorResponder)

	// NewListByResourceGroupPager is the fake for method LandingZoneRegistrationOperationsClient.NewListByResourceGroupPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListByResourceGroupPager func(resourceGroupName string, landingZoneAccountName string, options *armsovereign.LandingZoneRegistrationOperationsClientListByResourceGroupOptions) (resp azfake.PagerResponder[armsovereign.LandingZoneRegistrationOperationsClientListByResourceGroupResponse])

	// NewListBySubscriptionPager is the fake for method LandingZoneRegistrationOperationsClient.NewListBySubscriptionPager
	// HTTP status codes to indicate success: http.StatusOK
	NewListBySubscriptionPager func(landingZoneAccountName string, options *armsovereign.LandingZoneRegistrationOperationsClientListBySubscriptionOptions) (resp azfake.PagerResponder[armsovereign.LandingZoneRegistrationOperationsClientListBySubscriptionResponse])

	// BeginUpdate is the fake for method LandingZoneRegistrationOperationsClient.BeginUpdate
	// HTTP status codes to indicate success: http.StatusOK, http.StatusAccepted
	BeginUpdate func(ctx context.Context, resourceGroupName string, landingZoneAccountName string, landingZoneRegistrationName string, properties armsovereign.LandingZoneRegistrationResourceUpdate, options *armsovereign.LandingZoneRegistrationOperationsClientBeginUpdateOptions) (resp azfake.PollerResponder[armsovereign.LandingZoneRegistrationOperationsClientUpdateResponse], errResp azfake.ErrorResponder)
}

// NewLandingZoneRegistrationOperationsServerTransport creates a new instance of LandingZoneRegistrationOperationsServerTransport with the provided implementation.
// The returned LandingZoneRegistrationOperationsServerTransport instance is connected to an instance of armsovereign.LandingZoneRegistrationOperationsClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewLandingZoneRegistrationOperationsServerTransport(srv *LandingZoneRegistrationOperationsServer) *LandingZoneRegistrationOperationsServerTransport {
	return &LandingZoneRegistrationOperationsServerTransport{
		srv:                         srv,
		beginCreate:                 newTracker[azfake.PollerResponder[armsovereign.LandingZoneRegistrationOperationsClientCreateResponse]](),
		newListByResourceGroupPager: newTracker[azfake.PagerResponder[armsovereign.LandingZoneRegistrationOperationsClientListByResourceGroupResponse]](),
		newListBySubscriptionPager:  newTracker[azfake.PagerResponder[armsovereign.LandingZoneRegistrationOperationsClientListBySubscriptionResponse]](),
		beginUpdate:                 newTracker[azfake.PollerResponder[armsovereign.LandingZoneRegistrationOperationsClientUpdateResponse]](),
	}
}

// LandingZoneRegistrationOperationsServerTransport connects instances of armsovereign.LandingZoneRegistrationOperationsClient to instances of LandingZoneRegistrationOperationsServer.
// Don't use this type directly, use NewLandingZoneRegistrationOperationsServerTransport instead.
type LandingZoneRegistrationOperationsServerTransport struct {
	srv                         *LandingZoneRegistrationOperationsServer
	beginCreate                 *tracker[azfake.PollerResponder[armsovereign.LandingZoneRegistrationOperationsClientCreateResponse]]
	newListByResourceGroupPager *tracker[azfake.PagerResponder[armsovereign.LandingZoneRegistrationOperationsClientListByResourceGroupResponse]]
	newListBySubscriptionPager  *tracker[azfake.PagerResponder[armsovereign.LandingZoneRegistrationOperationsClientListBySubscriptionResponse]]
	beginUpdate                 *tracker[azfake.PollerResponder[armsovereign.LandingZoneRegistrationOperationsClientUpdateResponse]]
}

// Do implements the policy.Transporter interface for LandingZoneRegistrationOperationsServerTransport.
func (l *LandingZoneRegistrationOperationsServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "LandingZoneRegistrationOperationsClient.BeginCreate":
		resp, err = l.dispatchBeginCreate(req)
	case "LandingZoneRegistrationOperationsClient.Delete":
		resp, err = l.dispatchDelete(req)
	case "LandingZoneRegistrationOperationsClient.Get":
		resp, err = l.dispatchGet(req)
	case "LandingZoneRegistrationOperationsClient.NewListByResourceGroupPager":
		resp, err = l.dispatchNewListByResourceGroupPager(req)
	case "LandingZoneRegistrationOperationsClient.NewListBySubscriptionPager":
		resp, err = l.dispatchNewListBySubscriptionPager(req)
	case "LandingZoneRegistrationOperationsClient.BeginUpdate":
		resp, err = l.dispatchBeginUpdate(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (l *LandingZoneRegistrationOperationsServerTransport) dispatchBeginCreate(req *http.Request) (*http.Response, error) {
	if l.srv.BeginCreate == nil {
		return nil, &nonRetriableError{errors.New("fake for method BeginCreate not implemented")}
	}
	beginCreate := l.beginCreate.get(req)
	if beginCreate == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Sovereign/landingZoneAccounts/(?P<landingZoneAccountName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/landingZoneRegistrations/(?P<landingZoneRegistrationName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 4 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		body, err := server.UnmarshalRequestAsJSON[armsovereign.LandingZoneRegistrationResource](req)
		if err != nil {
			return nil, err
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		landingZoneAccountNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneAccountName")])
		if err != nil {
			return nil, err
		}
		landingZoneRegistrationNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneRegistrationName")])
		if err != nil {
			return nil, err
		}
		respr, errRespr := l.srv.BeginCreate(req.Context(), resourceGroupNameParam, landingZoneAccountNameParam, landingZoneRegistrationNameParam, body, nil)
		if respErr := server.GetError(errRespr, req); respErr != nil {
			return nil, respErr
		}
		beginCreate = &respr
		l.beginCreate.add(req, beginCreate)
	}

	resp, err := server.PollerResponderNext(beginCreate, req)
	if err != nil {
		return nil, err
	}

	if !contains([]int{http.StatusOK, http.StatusCreated}, resp.StatusCode) {
		l.beginCreate.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusCreated", resp.StatusCode)}
	}
	if !server.PollerResponderMore(beginCreate) {
		l.beginCreate.remove(req)
	}

	return resp, nil
}

func (l *LandingZoneRegistrationOperationsServerTransport) dispatchDelete(req *http.Request) (*http.Response, error) {
	if l.srv.Delete == nil {
		return nil, &nonRetriableError{errors.New("fake for method Delete not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Sovereign/landingZoneAccounts/(?P<landingZoneAccountName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/landingZoneRegistrations/(?P<landingZoneRegistrationName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	landingZoneAccountNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneAccountName")])
	if err != nil {
		return nil, err
	}
	landingZoneRegistrationNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneRegistrationName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := l.srv.Delete(req.Context(), resourceGroupNameParam, landingZoneAccountNameParam, landingZoneRegistrationNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK, http.StatusNoContent}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusNoContent", respContent.HTTPStatus)}
	}
	resp, err := server.NewResponse(respContent, req, nil)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (l *LandingZoneRegistrationOperationsServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if l.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Sovereign/landingZoneAccounts/(?P<landingZoneAccountName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/landingZoneRegistrations/(?P<landingZoneRegistrationName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	landingZoneAccountNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneAccountName")])
	if err != nil {
		return nil, err
	}
	landingZoneRegistrationNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneRegistrationName")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := l.srv.Get(req.Context(), resourceGroupNameParam, landingZoneAccountNameParam, landingZoneRegistrationNameParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).LandingZoneRegistrationResource, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

func (l *LandingZoneRegistrationOperationsServerTransport) dispatchNewListByResourceGroupPager(req *http.Request) (*http.Response, error) {
	if l.srv.NewListByResourceGroupPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListByResourceGroupPager not implemented")}
	}
	newListByResourceGroupPager := l.newListByResourceGroupPager.get(req)
	if newListByResourceGroupPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Sovereign/landingZoneAccounts/(?P<landingZoneAccountName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/landingZoneRegistrations`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 3 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		landingZoneAccountNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneAccountName")])
		if err != nil {
			return nil, err
		}
		resp := l.srv.NewListByResourceGroupPager(resourceGroupNameParam, landingZoneAccountNameParam, nil)
		newListByResourceGroupPager = &resp
		l.newListByResourceGroupPager.add(req, newListByResourceGroupPager)
		server.PagerResponderInjectNextLinks(newListByResourceGroupPager, req, func(page *armsovereign.LandingZoneRegistrationOperationsClientListByResourceGroupResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListByResourceGroupPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		l.newListByResourceGroupPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListByResourceGroupPager) {
		l.newListByResourceGroupPager.remove(req)
	}
	return resp, nil
}

func (l *LandingZoneRegistrationOperationsServerTransport) dispatchNewListBySubscriptionPager(req *http.Request) (*http.Response, error) {
	if l.srv.NewListBySubscriptionPager == nil {
		return nil, &nonRetriableError{errors.New("fake for method NewListBySubscriptionPager not implemented")}
	}
	newListBySubscriptionPager := l.newListBySubscriptionPager.get(req)
	if newListBySubscriptionPager == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Sovereign/landingZoneAccounts/(?P<landingZoneAccountName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/landingZoneRegistrations`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 2 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		landingZoneAccountNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneAccountName")])
		if err != nil {
			return nil, err
		}
		resp := l.srv.NewListBySubscriptionPager(landingZoneAccountNameParam, nil)
		newListBySubscriptionPager = &resp
		l.newListBySubscriptionPager.add(req, newListBySubscriptionPager)
		server.PagerResponderInjectNextLinks(newListBySubscriptionPager, req, func(page *armsovereign.LandingZoneRegistrationOperationsClientListBySubscriptionResponse, createLink func() string) {
			page.NextLink = to.Ptr(createLink())
		})
	}
	resp, err := server.PagerResponderNext(newListBySubscriptionPager, req)
	if err != nil {
		return nil, err
	}
	if !contains([]int{http.StatusOK}, resp.StatusCode) {
		l.newListBySubscriptionPager.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", resp.StatusCode)}
	}
	if !server.PagerResponderMore(newListBySubscriptionPager) {
		l.newListBySubscriptionPager.remove(req)
	}
	return resp, nil
}

func (l *LandingZoneRegistrationOperationsServerTransport) dispatchBeginUpdate(req *http.Request) (*http.Response, error) {
	if l.srv.BeginUpdate == nil {
		return nil, &nonRetriableError{errors.New("fake for method BeginUpdate not implemented")}
	}
	beginUpdate := l.beginUpdate.get(req)
	if beginUpdate == nil {
		const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Sovereign/landingZoneAccounts/(?P<landingZoneAccountName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/landingZoneRegistrations/(?P<landingZoneRegistrationName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
		regex := regexp.MustCompile(regexStr)
		matches := regex.FindStringSubmatch(req.URL.EscapedPath())
		if matches == nil || len(matches) < 4 {
			return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
		}
		body, err := server.UnmarshalRequestAsJSON[armsovereign.LandingZoneRegistrationResourceUpdate](req)
		if err != nil {
			return nil, err
		}
		resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
		if err != nil {
			return nil, err
		}
		landingZoneAccountNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneAccountName")])
		if err != nil {
			return nil, err
		}
		landingZoneRegistrationNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("landingZoneRegistrationName")])
		if err != nil {
			return nil, err
		}
		respr, errRespr := l.srv.BeginUpdate(req.Context(), resourceGroupNameParam, landingZoneAccountNameParam, landingZoneRegistrationNameParam, body, nil)
		if respErr := server.GetError(errRespr, req); respErr != nil {
			return nil, respErr
		}
		beginUpdate = &respr
		l.beginUpdate.add(req, beginUpdate)
	}

	resp, err := server.PollerResponderNext(beginUpdate, req)
	if err != nil {
		return nil, err
	}

	if !contains([]int{http.StatusOK, http.StatusAccepted}, resp.StatusCode) {
		l.beginUpdate.remove(req)
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK, http.StatusAccepted", resp.StatusCode)}
	}
	if !server.PollerResponderMore(beginUpdate) {
		l.beginUpdate.remove(req)
	}

	return resp, nil
}
