//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armhybridcloud

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// CloudConnectorsClient contains the methods for the CloudConnectors group.
// Don't use this type directly, use NewCloudConnectorsClient() instead.
type CloudConnectorsClient struct {
	host               string
	subscriptionID     string
	cloudConnectorName string
	pl                 runtime.Pipeline
}

// NewCloudConnectorsClient creates a new instance of CloudConnectorsClient with the specified values.
// subscriptionID - The ID of the target subscription.
// cloudConnectorName - The name of the cloud connector resource
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewCloudConnectorsClient(subscriptionID string, cloudConnectorName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*CloudConnectorsClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &CloudConnectorsClient{
		subscriptionID:     subscriptionID,
		cloudConnectorName: cloudConnectorName,
		host:               ep,
		pl:                 pl,
	}
	return client, nil
}

// BeginCreateOrUpdate - Creates or updates a Cloud Connector resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01-preview
// resourceGroupName - The name of the resource group. The name is case insensitive.
// parameters - The parameters to provide for the created Cloud Connector.
// options - CloudConnectorsClientBeginCreateOrUpdateOptions contains the optional parameters for the CloudConnectorsClient.BeginCreateOrUpdate
// method.
func (client *CloudConnectorsClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, parameters CloudConnector, options *CloudConnectorsClientBeginCreateOrUpdateOptions) (*runtime.Poller[CloudConnectorsClientCreateOrUpdateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.createOrUpdate(ctx, resourceGroupName, parameters, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.pl, &runtime.NewPollerOptions[CloudConnectorsClientCreateOrUpdateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
		})
	} else {
		return runtime.NewPollerFromResumeToken[CloudConnectorsClientCreateOrUpdateResponse](options.ResumeToken, client.pl, nil)
	}
}

// CreateOrUpdate - Creates or updates a Cloud Connector resource
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01-preview
func (client *CloudConnectorsClient) createOrUpdate(ctx context.Context, resourceGroupName string, parameters CloudConnector, options *CloudConnectorsClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *CloudConnectorsClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, parameters CloudConnector, options *CloudConnectorsClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCloud/cloudConnectors/{cloudConnectorName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.cloudConnectorName == "" {
		return nil, errors.New("parameter client.cloudConnectorName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cloudConnectorName}", url.PathEscape(client.cloudConnectorName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, parameters)
}

// BeginDelete - Deletes a specified Cloud Connector resource.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01-preview
// resourceGroupName - The name of the resource group. The name is case insensitive.
// options - CloudConnectorsClientBeginDeleteOptions contains the optional parameters for the CloudConnectorsClient.BeginDelete
// method.
func (client *CloudConnectorsClient) BeginDelete(ctx context.Context, resourceGroupName string, options *CloudConnectorsClientBeginDeleteOptions) (*runtime.Poller[CloudConnectorsClientDeleteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.deleteOperation(ctx, resourceGroupName, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.pl, &runtime.NewPollerOptions[CloudConnectorsClientDeleteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
		})
	} else {
		return runtime.NewPollerFromResumeToken[CloudConnectorsClientDeleteResponse](options.ResumeToken, client.pl, nil)
	}
}

// Delete - Deletes a specified Cloud Connector resource.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01-preview
func (client *CloudConnectorsClient) deleteOperation(ctx context.Context, resourceGroupName string, options *CloudConnectorsClientBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted, http.StatusNoContent) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *CloudConnectorsClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, options *CloudConnectorsClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCloud/cloudConnectors/{cloudConnectorName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.cloudConnectorName == "" {
		return nil, errors.New("parameter client.cloudConnectorName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cloudConnectorName}", url.PathEscape(client.cloudConnectorName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// DiscoverResources - Given the name of a cloud connector find the return a list of the remote cloud resources that are attached
// to that name.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01-preview
// resourceGroupName - The name of the resource group. The name is case insensitive.
// options - CloudConnectorsClientDiscoverResourcesOptions contains the optional parameters for the CloudConnectorsClient.DiscoverResources
// method.
func (client *CloudConnectorsClient) DiscoverResources(ctx context.Context, resourceGroupName string, options *CloudConnectorsClientDiscoverResourcesOptions) (CloudConnectorsClientDiscoverResourcesResponse, error) {
	req, err := client.discoverResourcesCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return CloudConnectorsClientDiscoverResourcesResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CloudConnectorsClientDiscoverResourcesResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CloudConnectorsClientDiscoverResourcesResponse{}, runtime.NewResponseError(resp)
	}
	return client.discoverResourcesHandleResponse(resp)
}

// discoverResourcesCreateRequest creates the DiscoverResources request.
func (client *CloudConnectorsClient) discoverResourcesCreateRequest(ctx context.Context, resourceGroupName string, options *CloudConnectorsClientDiscoverResourcesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCloud/cloudConnectors/{cloudConnectorName}/discoverResources"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.cloudConnectorName == "" {
		return nil, errors.New("parameter client.cloudConnectorName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cloudConnectorName}", url.PathEscape(client.cloudConnectorName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// discoverResourcesHandleResponse handles the DiscoverResources response.
func (client *CloudConnectorsClient) discoverResourcesHandleResponse(resp *http.Response) (CloudConnectorsClientDiscoverResourcesResponse, error) {
	result := CloudConnectorsClientDiscoverResourcesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DiscoverResources); err != nil {
		return CloudConnectorsClientDiscoverResourcesResponse{}, err
	}
	return result, nil
}

// Get - Gets the specified Cloud Connector in a specified resource group
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01-preview
// resourceGroupName - The name of the resource group. The name is case insensitive.
// options - CloudConnectorsClientGetOptions contains the optional parameters for the CloudConnectorsClient.Get method.
func (client *CloudConnectorsClient) Get(ctx context.Context, resourceGroupName string, options *CloudConnectorsClientGetOptions) (CloudConnectorsClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return CloudConnectorsClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CloudConnectorsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CloudConnectorsClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *CloudConnectorsClient) getCreateRequest(ctx context.Context, resourceGroupName string, options *CloudConnectorsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCloud/cloudConnectors/{cloudConnectorName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.cloudConnectorName == "" {
		return nil, errors.New("parameter client.cloudConnectorName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cloudConnectorName}", url.PathEscape(client.cloudConnectorName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *CloudConnectorsClient) getHandleResponse(resp *http.Response) (CloudConnectorsClientGetResponse, error) {
	result := CloudConnectorsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CloudConnector); err != nil {
		return CloudConnectorsClientGetResponse{}, err
	}
	return result, nil
}

// UpdateTags - Updates the specified Cloud Connector tags.
// If the operation fails it returns an *azcore.ResponseError type.
// Generated from API version 2022-11-01-preview
// resourceGroupName - The name of the resource group. The name is case insensitive.
// parameters - Parameters supplied to update Cloud Connector tags.
// options - CloudConnectorsClientUpdateTagsOptions contains the optional parameters for the CloudConnectorsClient.UpdateTags
// method.
func (client *CloudConnectorsClient) UpdateTags(ctx context.Context, resourceGroupName string, parameters CloudConnectorTagsObject, options *CloudConnectorsClientUpdateTagsOptions) (CloudConnectorsClientUpdateTagsResponse, error) {
	req, err := client.updateTagsCreateRequest(ctx, resourceGroupName, parameters, options)
	if err != nil {
		return CloudConnectorsClientUpdateTagsResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return CloudConnectorsClientUpdateTagsResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return CloudConnectorsClientUpdateTagsResponse{}, runtime.NewResponseError(resp)
	}
	return client.updateTagsHandleResponse(resp)
}

// updateTagsCreateRequest creates the UpdateTags request.
func (client *CloudConnectorsClient) updateTagsCreateRequest(ctx context.Context, resourceGroupName string, parameters CloudConnectorTagsObject, options *CloudConnectorsClientUpdateTagsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCloud/cloudConnectors/{cloudConnectorName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.cloudConnectorName == "" {
		return nil, errors.New("parameter client.cloudConnectorName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{cloudConnectorName}", url.PathEscape(client.cloudConnectorName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, parameters)
}

// updateTagsHandleResponse handles the UpdateTags response.
func (client *CloudConnectorsClient) updateTagsHandleResponse(resp *http.Response) (CloudConnectorsClientUpdateTagsResponse, error) {
	result := CloudConnectorsClientUpdateTagsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CloudConnector); err != nil {
		return CloudConnectorsClientUpdateTagsResponse{}, err
	}
	return result, nil
}
