//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armhybridcloud

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/cloud"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// CloudConnectorsBySubscriptionClient contains the methods for the CloudConnectorsBySubscription group.
// Don't use this type directly, use NewCloudConnectorsBySubscriptionClient() instead.
type CloudConnectorsBySubscriptionClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewCloudConnectorsBySubscriptionClient creates a new instance of CloudConnectorsBySubscriptionClient with the specified values.
// subscriptionID - The ID of the target subscription.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewCloudConnectorsBySubscriptionClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*CloudConnectorsBySubscriptionClient, error) {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := cloud.AzurePublic.Services[cloud.ResourceManager].Endpoint
	if c, ok := options.Cloud.Services[cloud.ResourceManager]; ok {
		ep = c.Endpoint
	}
	pl, err := armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options)
	if err != nil {
		return nil, err
	}
	client := &CloudConnectorsBySubscriptionClient{
		subscriptionID: subscriptionID,
		host:           ep,
		pl:             pl,
	}
	return client, nil
}

// NewListPager - Return list of Cloud Connectors in a subscription
// Generated from API version 2022-11-01-preview
// options - CloudConnectorsBySubscriptionClientListOptions contains the optional parameters for the CloudConnectorsBySubscriptionClient.List
// method.
func (client *CloudConnectorsBySubscriptionClient) NewListPager(options *CloudConnectorsBySubscriptionClientListOptions) *runtime.Pager[CloudConnectorsBySubscriptionClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[CloudConnectorsBySubscriptionClientListResponse]{
		More: func(page CloudConnectorsBySubscriptionClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *CloudConnectorsBySubscriptionClientListResponse) (CloudConnectorsBySubscriptionClientListResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return CloudConnectorsBySubscriptionClientListResponse{}, err
			}
			resp, err := client.pl.Do(req)
			if err != nil {
				return CloudConnectorsBySubscriptionClientListResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return CloudConnectorsBySubscriptionClientListResponse{}, runtime.NewResponseError(resp)
			}
			return client.listHandleResponse(resp)
		},
	})
}

// listCreateRequest creates the List request.
func (client *CloudConnectorsBySubscriptionClient) listCreateRequest(ctx context.Context, options *CloudConnectorsBySubscriptionClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCloud/cloudConnectors"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-11-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *CloudConnectorsBySubscriptionClient) listHandleResponse(resp *http.Response) (CloudConnectorsBySubscriptionClientListResponse, error) {
	result := CloudConnectorsBySubscriptionClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CloudConnectorListResult); err != nil {
		return CloudConnectorsBySubscriptionClientListResponse{}, err
	}
	return result, nil
}
