//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazuredatatransfer

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// Client contains the methods for the AzureDataTransfer group.
// Don't use this type directly, use NewClient() instead.
type Client struct {
	internal *arm.Client
}

// NewClient creates a new instance of Client with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*Client, error) {
	cl, err := arm.NewClient(moduleName+".Client", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &Client{
		internal: cl,
	}
	return client, nil
}

// Action - Performs an action request on Azure Data Transfer.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-11-preview
//   - parameters - The action request parameters.
//   - options - ClientActionOptions contains the optional parameters for the Client.Action method.
func (client *Client) Action(ctx context.Context, parameters ActionRequest, options *ClientActionOptions) (ClientActionResponse, error) {
	var err error
	req, err := client.actionCreateRequest(ctx, parameters, options)
	if err != nil {
		return ClientActionResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ClientActionResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ClientActionResponse{}, err
	}
	resp, err := client.actionHandleResponse(httpResp)
	return resp, err
}

// actionCreateRequest creates the Action request.
func (client *Client) actionCreateRequest(ctx context.Context, parameters ActionRequest, options *ClientActionOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.AzureDataTransfer/action"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-11-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// actionHandleResponse handles the Action response.
func (client *Client) actionHandleResponse(resp *http.Response) (ClientActionResponse, error) {
	result := ClientActionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ActionResult); err != nil {
		return ClientActionResponse{}, err
	}
	return result, nil
}
