//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazuredatatransfer

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ListPendingFlowsClient contains the methods for the ListPendingFlows group.
// Don't use this type directly, use NewListPendingFlowsClient() instead.
type ListPendingFlowsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewListPendingFlowsClient creates a new instance of ListPendingFlowsClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewListPendingFlowsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ListPendingFlowsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ListPendingFlowsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListPager - Lists all pending flows for a connection.
//
// Generated from API version 2024-01-25
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - connectionName - The name for the connection that is to be requested.
//   - options - ListPendingFlowsClientListOptions contains the optional parameters for the ListPendingFlowsClient.NewListPager
//     method.
func (client *ListPendingFlowsClient) NewListPager(resourceGroupName string, connectionName string, options *ListPendingFlowsClientListOptions) *runtime.Pager[ListPendingFlowsClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[ListPendingFlowsClientListResponse]{
		More: func(page ListPendingFlowsClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ListPendingFlowsClientListResponse) (ListPendingFlowsClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ListPendingFlowsClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, resourceGroupName, connectionName, options)
			}, nil)
			if err != nil {
				return ListPendingFlowsClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *ListPendingFlowsClient) listCreateRequest(ctx context.Context, resourceGroupName string, connectionName string, options *ListPendingFlowsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/connections/{connectionName}/listPendingFlows"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if connectionName == "" {
		return nil, errors.New("parameter connectionName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{connectionName}", url.PathEscape(connectionName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-01-25")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ListPendingFlowsClient) listHandleResponse(resp *http.Response) (ListPendingFlowsClientListResponse, error) {
	result := ListPendingFlowsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PendingFlowsListResult); err != nil {
		return ListPendingFlowsClientListResponse{}, err
	}
	return result, nil
}
