//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazuredatatransfer

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ListSchemasClient contains the methods for the ListSchemas group.
// Don't use this type directly, use NewListSchemasClient() instead.
type ListSchemasClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewListSchemasClient creates a new instance of ListSchemasClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewListSchemasClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ListSchemasClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ListSchemasClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// List - Lists the schemas for the specified connection in a pipeline.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-09-27
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - pipelineName - The name for the pipeline that is to be requested.
//   - schema - Schema(s) to retrieve
//   - options - ListSchemasClientListOptions contains the optional parameters for the ListSchemasClient.List method.
func (client *ListSchemasClient) List(ctx context.Context, resourceGroupName string, pipelineName string, schema Schema, options *ListSchemasClientListOptions) (ListSchemasClientListResponse, error) {
	var err error
	const operationName = "ListSchemasClient.List"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listCreateRequest(ctx, resourceGroupName, pipelineName, schema, options)
	if err != nil {
		return ListSchemasClientListResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ListSchemasClientListResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ListSchemasClientListResponse{}, err
	}
	resp, err := client.listHandleResponse(httpResp)
	return resp, err
}

// listCreateRequest creates the List request.
func (client *ListSchemasClient) listCreateRequest(ctx context.Context, resourceGroupName string, pipelineName string, schema Schema, options *ListSchemasClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/listSchemas"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if pipelineName == "" {
		return nil, errors.New("parameter pipelineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{pipelineName}", url.PathEscape(pipelineName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-09-27")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, schema); err != nil {
		return nil, err
	}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ListSchemasClient) listHandleResponse(resp *http.Response) (ListSchemasClientListResponse, error) {
	result := ListSchemasClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SchemasListResult); err != nil {
		return ListSchemasClientListResponse{}, err
	}
	return result, nil
}
