// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazuredatatransfer

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ListFlowsByPipelineClient contains the methods for the ListFlowsByPipeline group.
// Don't use this type directly, use NewListFlowsByPipelineClient() instead.
type ListFlowsByPipelineClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewListFlowsByPipelineClient creates a new instance of ListFlowsByPipelineClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewListFlowsByPipelineClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ListFlowsByPipelineClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ListFlowsByPipelineClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// List - Lists the flows in a pipeline.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-04-11-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - pipelineName - The name for the pipeline that is to be requested.
//   - options - ListFlowsByPipelineClientListOptions contains the optional parameters for the ListFlowsByPipelineClient.List
//     method.
func (client *ListFlowsByPipelineClient) List(ctx context.Context, resourceGroupName string, pipelineName string, options *ListFlowsByPipelineClientListOptions) (ListFlowsByPipelineClientListResponse, error) {
	var err error
	const operationName = "ListFlowsByPipelineClient.List"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.listCreateRequest(ctx, resourceGroupName, pipelineName, options)
	if err != nil {
		return ListFlowsByPipelineClientListResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ListFlowsByPipelineClientListResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ListFlowsByPipelineClientListResponse{}, err
	}
	resp, err := client.listHandleResponse(httpResp)
	return resp, err
}

// listCreateRequest creates the List request.
func (client *ListFlowsByPipelineClient) listCreateRequest(ctx context.Context, resourceGroupName string, pipelineName string, options *ListFlowsByPipelineClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/listFlows"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if pipelineName == "" {
		return nil, errors.New("parameter pipelineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{pipelineName}", url.PathEscape(pipelineName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-04-11-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.Connections != nil {
		if err := runtime.MarshalAsJSON(req, *options.Connections); err != nil {
			return nil, err
		}
		return req, nil
	}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ListFlowsByPipelineClient) listHandleResponse(resp *http.Response) (ListFlowsByPipelineClientListResponse, error) {
	result := ListFlowsByPipelineClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ListFlowsByPipelineResult); err != nil {
		return ListFlowsByPipelineClientListResponse{}, err
	}
	return result, nil
}
