//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armscom

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ManagedGatewaysClient contains the methods for the ManagedGateways group.
// Don't use this type directly, use NewManagedGatewaysClient() instead.
type ManagedGatewaysClient struct {
	internal           *arm.Client
	subscriptionID     string
	instanceName       string
	managedGatewayName string
}

// NewManagedGatewaysClient creates a new instance of ManagedGatewaysClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - instanceName - Name of the SCOM managed instance.
//   - managedGatewayName - The gateway resource name.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewManagedGatewaysClient(subscriptionID string, instanceName string, managedGatewayName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ManagedGatewaysClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ManagedGatewaysClient{
		subscriptionID:     subscriptionID,
		instanceName:       instanceName,
		managedGatewayName: managedGatewayName,
		internal:           cl,
	}
	return client, nil
}

// CreateOrUpdate - Create or update a gateway resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - managedGateway - SCOM Managed Gateway Resource
//   - options - ManagedGatewaysClientCreateOrUpdateOptions contains the optional parameters for the ManagedGatewaysClient.CreateOrUpdate
//     method.
func (client *ManagedGatewaysClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, managedGateway ManagedGateway, options *ManagedGatewaysClientCreateOrUpdateOptions) (ManagedGatewaysClientCreateOrUpdateResponse, error) {
	var err error
	const operationName = "ManagedGatewaysClient.CreateOrUpdate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, managedGateway, options)
	if err != nil {
		return ManagedGatewaysClientCreateOrUpdateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ManagedGatewaysClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusCreated) {
		err = runtime.NewResponseError(httpResp)
		return ManagedGatewaysClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.createOrUpdateHandleResponse(httpResp)
	return resp, err
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ManagedGatewaysClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, managedGateway ManagedGateway, options *ManagedGatewaysClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways/{managedGatewayName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.instanceName == "" {
		return nil, errors.New("parameter client.instanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{instanceName}", url.PathEscape(client.instanceName))
	if client.managedGatewayName == "" {
		return nil, errors.New("parameter client.managedGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managedGatewayName}", url.PathEscape(client.managedGatewayName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-30")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, managedGateway); err != nil {
		return nil, err
	}
	return req, nil
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *ManagedGatewaysClient) createOrUpdateHandleResponse(resp *http.Response) (ManagedGatewaysClientCreateOrUpdateResponse, error) {
	result := ManagedGatewaysClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ManagedGateway); err != nil {
		return ManagedGatewaysClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Remove a gateway resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ManagedGatewaysClientDeleteOptions contains the optional parameters for the ManagedGatewaysClient.Delete method.
func (client *ManagedGatewaysClient) Delete(ctx context.Context, resourceGroupName string, options *ManagedGatewaysClientDeleteOptions) (ManagedGatewaysClientDeleteResponse, error) {
	var err error
	const operationName = "ManagedGatewaysClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return ManagedGatewaysClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ManagedGatewaysClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return ManagedGatewaysClientDeleteResponse{}, err
	}
	return ManagedGatewaysClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ManagedGatewaysClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, options *ManagedGatewaysClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways/{managedGatewayName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.instanceName == "" {
		return nil, errors.New("parameter client.instanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{instanceName}", url.PathEscape(client.instanceName))
	if client.managedGatewayName == "" {
		return nil, errors.New("parameter client.managedGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managedGatewayName}", url.PathEscape(client.managedGatewayName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-30")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Retrieve the details of the gateway resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ManagedGatewaysClientGetOptions contains the optional parameters for the ManagedGatewaysClient.Get method.
func (client *ManagedGatewaysClient) Get(ctx context.Context, resourceGroupName string, options *ManagedGatewaysClientGetOptions) (ManagedGatewaysClientGetResponse, error) {
	var err error
	const operationName = "ManagedGatewaysClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return ManagedGatewaysClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ManagedGatewaysClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return ManagedGatewaysClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *ManagedGatewaysClient) getCreateRequest(ctx context.Context, resourceGroupName string, options *ManagedGatewaysClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways/{managedGatewayName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.instanceName == "" {
		return nil, errors.New("parameter client.instanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{instanceName}", url.PathEscape(client.instanceName))
	if client.managedGatewayName == "" {
		return nil, errors.New("parameter client.managedGatewayName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{managedGatewayName}", url.PathEscape(client.managedGatewayName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-30")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ManagedGatewaysClient) getHandleResponse(resp *http.Response) (ManagedGatewaysClientGetResponse, error) {
	result := ManagedGatewaysClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ManagedGateway); err != nil {
		return ManagedGatewaysClientGetResponse{}, err
	}
	return result, nil
}

// NewListByManagedInstancePager - A comprehensive list of all gateway resources within a SCOM managed instance.
//
// Generated from API version 2023-10-30
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ManagedGatewaysClientListByManagedInstanceOptions contains the optional parameters for the ManagedGatewaysClient.NewListByManagedInstancePager
//     method.
func (client *ManagedGatewaysClient) NewListByManagedInstancePager(resourceGroupName string, options *ManagedGatewaysClientListByManagedInstanceOptions) *runtime.Pager[ManagedGatewaysClientListByManagedInstanceResponse] {
	return runtime.NewPager(runtime.PagingHandler[ManagedGatewaysClientListByManagedInstanceResponse]{
		More: func(page ManagedGatewaysClientListByManagedInstanceResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ManagedGatewaysClientListByManagedInstanceResponse) (ManagedGatewaysClientListByManagedInstanceResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "ManagedGatewaysClient.NewListByManagedInstancePager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listByManagedInstanceCreateRequest(ctx, resourceGroupName, options)
			}, nil)
			if err != nil {
				return ManagedGatewaysClientListByManagedInstanceResponse{}, err
			}
			return client.listByManagedInstanceHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listByManagedInstanceCreateRequest creates the ListByManagedInstance request.
func (client *ManagedGatewaysClient) listByManagedInstanceCreateRequest(ctx context.Context, resourceGroupName string, options *ManagedGatewaysClientListByManagedInstanceOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.instanceName == "" {
		return nil, errors.New("parameter client.instanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{instanceName}", url.PathEscape(client.instanceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-30")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByManagedInstanceHandleResponse handles the ListByManagedInstance response.
func (client *ManagedGatewaysClient) listByManagedInstanceHandleResponse(resp *http.Response) (ManagedGatewaysClientListByManagedInstanceResponse, error) {
	result := ManagedGatewaysClientListByManagedInstanceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ManagedGateways); err != nil {
		return ManagedGatewaysClientListByManagedInstanceResponse{}, err
	}
	return result, nil
}
