//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armscom

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// OffboardClient contains the methods for the Offboard group.
// Don't use this type directly, use NewOffboardClient() instead.
type OffboardClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewOffboardClient creates a new instance of OffboardClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewOffboardClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*OffboardClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &OffboardClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginGateway - Gateway removal approval for deleting gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - instanceName - Name of the Azure Monitor Operations Manager Managed Instance (SCOM MI)
//   - options - OffboardClientBeginGatewayOptions contains the optional parameters for the OffboardClient.BeginGateway method.
func (client *OffboardClient) BeginGateway(ctx context.Context, resourceGroupName string, instanceName string, body GatewayOnboardingProperties, options *OffboardClientBeginGatewayOptions) (*runtime.Poller[OffboardClientGatewayResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.gateway(ctx, resourceGroupName, instanceName, body, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[OffboardClientGatewayResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[OffboardClientGatewayResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Gateway - Gateway removal approval for deleting gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
func (client *OffboardClient) gateway(ctx context.Context, resourceGroupName string, instanceName string, body GatewayOnboardingProperties, options *OffboardClientBeginGatewayOptions) (*http.Response, error) {
	var err error
	const operationName = "OffboardClient.BeginGateway"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.gatewayCreateRequest(ctx, resourceGroupName, instanceName, body, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// gatewayCreateRequest creates the Gateway request.
func (client *OffboardClient) gatewayCreateRequest(ctx context.Context, resourceGroupName string, instanceName string, body GatewayOnboardingProperties, options *OffboardClientBeginGatewayOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/offboardGateway"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if instanceName == "" {
		return nil, errors.New("parameter instanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{instanceName}", url.PathEscape(instanceName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-30")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// BeginMonitoredResource - Api to remove monitored resource from management server.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - instanceName - Name of the Azure Monitor Operations Manager Managed Instance (SCOM MI)
//   - options - OffboardClientBeginMonitoredResourceOptions contains the optional parameters for the OffboardClient.BeginMonitoredResource
//     method.
func (client *OffboardClient) BeginMonitoredResource(ctx context.Context, resourceGroupName string, instanceName string, body MonitoredResourceOffboardingProperties, options *OffboardClientBeginMonitoredResourceOptions) (*runtime.Poller[OffboardClientMonitoredResourceResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.monitoredResource(ctx, resourceGroupName, instanceName, body, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[OffboardClientMonitoredResourceResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[OffboardClientMonitoredResourceResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// MonitoredResource - Api to remove monitored resource from management server.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
func (client *OffboardClient) monitoredResource(ctx context.Context, resourceGroupName string, instanceName string, body MonitoredResourceOffboardingProperties, options *OffboardClientBeginMonitoredResourceOptions) (*http.Response, error) {
	var err error
	const operationName = "OffboardClient.BeginMonitoredResource"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.monitoredResourceCreateRequest(ctx, resourceGroupName, instanceName, body, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// monitoredResourceCreateRequest creates the MonitoredResource request.
func (client *OffboardClient) monitoredResourceCreateRequest(ctx context.Context, resourceGroupName string, instanceName string, body MonitoredResourceOffboardingProperties, options *OffboardClientBeginMonitoredResourceOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/offboardMonitoredResource"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if instanceName == "" {
		return nil, errors.New("parameter instanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{instanceName}", url.PathEscape(instanceName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-30")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}
