//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armscom

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// OnboardClient contains the methods for the Onboard group.
// Don't use this type directly, use NewOnboardClient() instead.
type OnboardClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewOnboardClient creates a new instance of OnboardClient with the specified values.
//   - subscriptionID - The ID of the target subscription. The value must be an UUID.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewOnboardClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*OnboardClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &OnboardClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginGateway - Gateway approval for onboarding gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - instanceName - Name of the Azure Monitor Operations Manager Managed Instance (SCOM MI)
//   - options - OnboardClientBeginGatewayOptions contains the optional parameters for the OnboardClient.BeginGateway method.
func (client *OnboardClient) BeginGateway(ctx context.Context, resourceGroupName string, instanceName string, body GatewayOnboardingProperties, options *OnboardClientBeginGatewayOptions) (*runtime.Poller[OnboardClientGatewayResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.gateway(ctx, resourceGroupName, instanceName, body, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[OnboardClientGatewayResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[OnboardClientGatewayResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Gateway - Gateway approval for onboarding gateway.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-10-30
func (client *OnboardClient) gateway(ctx context.Context, resourceGroupName string, instanceName string, body GatewayOnboardingProperties, options *OnboardClientBeginGatewayOptions) (*http.Response, error) {
	var err error
	const operationName = "OnboardClient.BeginGateway"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.gatewayCreateRequest(ctx, resourceGroupName, instanceName, body, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// gatewayCreateRequest creates the Gateway request.
func (client *OnboardClient) gatewayCreateRequest(ctx context.Context, resourceGroupName string, instanceName string, body GatewayOnboardingProperties, options *OnboardClientBeginGatewayOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/onboardGateway"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if instanceName == "" {
		return nil, errors.New("parameter instanceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{instanceName}", url.PathEscape(instanceName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-10-30")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}
