//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcontainerservicefleet

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// AutoUpgradeProfileOperationsClient contains the methods for the AutoUpgradeProfileOperations group.
// Don't use this type directly, use NewAutoUpgradeProfileOperationsClient() instead.
type AutoUpgradeProfileOperationsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewAutoUpgradeProfileOperationsClient creates a new instance of AutoUpgradeProfileOperationsClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewAutoUpgradeProfileOperationsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*AutoUpgradeProfileOperationsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &AutoUpgradeProfileOperationsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// BeginGenerate - A long-running resource action.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - fleetName - The name of the Fleet resource.
//   - autoUpgradeProfileName - The name of the AutoUpgradeProfile resource.
//   - options - AutoUpgradeProfileOperationsClientBeginGenerateOptions contains the optional parameters for the AutoUpgradeProfileOperationsClient.BeginGenerate
//     method.
func (client *AutoUpgradeProfileOperationsClient) BeginGenerate(ctx context.Context, resourceGroupName string, fleetName string, autoUpgradeProfileName string, options *AutoUpgradeProfileOperationsClientBeginGenerateOptions) (*runtime.Poller[AutoUpgradeProfileOperationsClientGenerateResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.generate(ctx, resourceGroupName, fleetName, autoUpgradeProfileName, options)
		if err != nil {
			return nil, err
		}
		poller, err := runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[AutoUpgradeProfileOperationsClientGenerateResponse]{
			FinalStateVia: runtime.FinalStateViaAzureAsyncOp,
			Tracer:        client.internal.Tracer(),
		})
		return poller, err
	} else {
		return runtime.NewPollerFromResumeToken(options.ResumeToken, client.internal.Pipeline(), &runtime.NewPollerFromResumeTokenOptions[AutoUpgradeProfileOperationsClientGenerateResponse]{
			Tracer: client.internal.Tracer(),
		})
	}
}

// Generate - A long-running resource action.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01
func (client *AutoUpgradeProfileOperationsClient) generate(ctx context.Context, resourceGroupName string, fleetName string, autoUpgradeProfileName string, options *AutoUpgradeProfileOperationsClientBeginGenerateOptions) (*http.Response, error) {
	var err error
	const operationName = "AutoUpgradeProfileOperationsClient.BeginGenerate"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.generateCreateRequest(ctx, resourceGroupName, fleetName, autoUpgradeProfileName, options)
	if err != nil {
		return nil, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusAccepted) {
		err = runtime.NewResponseError(httpResp)
		return nil, err
	}
	return httpResp, nil
}

// generateCreateRequest creates the Generate request.
func (client *AutoUpgradeProfileOperationsClient) generateCreateRequest(ctx context.Context, resourceGroupName string, fleetName string, autoUpgradeProfileName string, options *AutoUpgradeProfileOperationsClientBeginGenerateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/autoUpgradeProfiles/{autoUpgradeProfileName}/generate"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if fleetName == "" {
		return nil, errors.New("parameter fleetName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{fleetName}", url.PathEscape(fleetName))
	if autoUpgradeProfileName == "" {
		return nil, errors.New("parameter autoUpgradeProfileName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{autoUpgradeProfileName}", url.PathEscape(autoUpgradeProfileName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.StartUpdateRun != nil {
		req.Raw().Header["StartUpdateRun"] = []string{*options.StartUpdateRun}
	}
	return req, nil
}

// GenerateUpdateRuns - A synchronous resource action.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-03-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - fleetName - The name of the Fleet resource.
//   - autoUpgradeProfileName - The name of the AutoUpgradeProfile resource.
//   - body - The content of the action request
//   - options - AutoUpgradeProfileOperationsClientGenerateUpdateRunsOptions contains the optional parameters for the AutoUpgradeProfileOperationsClient.GenerateUpdateRuns
//     method.
func (client *AutoUpgradeProfileOperationsClient) GenerateUpdateRuns(ctx context.Context, resourceGroupName string, fleetName string, autoUpgradeProfileName string, body GenerateUpdateRunRequest, options *AutoUpgradeProfileOperationsClientGenerateUpdateRunsOptions) (AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse, error) {
	var err error
	const operationName = "AutoUpgradeProfileOperationsClient.GenerateUpdateRuns"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.generateUpdateRunsCreateRequest(ctx, resourceGroupName, fleetName, autoUpgradeProfileName, body, options)
	if err != nil {
		return AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse{}, err
	}
	resp, err := client.generateUpdateRunsHandleResponse(httpResp)
	return resp, err
}

// generateUpdateRunsCreateRequest creates the GenerateUpdateRuns request.
func (client *AutoUpgradeProfileOperationsClient) generateUpdateRunsCreateRequest(ctx context.Context, resourceGroupName string, fleetName string, autoUpgradeProfileName string, body GenerateUpdateRunRequest, options *AutoUpgradeProfileOperationsClientGenerateUpdateRunsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/autoUpgradeProfiles/{autoUpgradeProfileName}/generateUpdateRuns"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if fleetName == "" {
		return nil, errors.New("parameter fleetName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{fleetName}", url.PathEscape(fleetName))
	if autoUpgradeProfileName == "" {
		return nil, errors.New("parameter autoUpgradeProfileName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{autoUpgradeProfileName}", url.PathEscape(autoUpgradeProfileName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-03-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if options != nil && options.IfMatch != nil {
		req.Raw().Header["If-Match"] = []string{*options.IfMatch}
	}
	if err := runtime.MarshalAsJSON(req, body); err != nil {
		return nil, err
	}
	return req, nil
}

// generateUpdateRunsHandleResponse handles the GenerateUpdateRuns response.
func (client *AutoUpgradeProfileOperationsClient) generateUpdateRunsHandleResponse(resp *http.Response) (AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse, error) {
	result := AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AutoUpgradeProfile); err != nil {
		return AutoUpgradeProfileOperationsClientGenerateUpdateRunsResponse{}, err
	}
	return result, nil
}
