// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazurestack

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// DeploymentLicenseClient contains the methods for the DeploymentLicense group.
// Don't use this type directly, use NewDeploymentLicenseClient() instead.
type DeploymentLicenseClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewDeploymentLicenseClient creates a new instance of DeploymentLicenseClient with the specified values.
//   - subscriptionID - Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms
//     part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDeploymentLicenseClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DeploymentLicenseClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &DeploymentLicenseClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Create - Creates a license that can be used to deploy an Azure Stack device.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-06-01
//   - deploymentLicenseRequest - Request body for creating a deployment license.
//   - options - DeploymentLicenseClientCreateOptions contains the optional parameters for the DeploymentLicenseClient.Create
//     method.
func (client *DeploymentLicenseClient) Create(ctx context.Context, deploymentLicenseRequest DeploymentLicenseRequest, options *DeploymentLicenseClientCreateOptions) (DeploymentLicenseClientCreateResponse, error) {
	var err error
	const operationName = "DeploymentLicenseClient.Create"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.createCreateRequest(ctx, deploymentLicenseRequest, options)
	if err != nil {
		return DeploymentLicenseClientCreateResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DeploymentLicenseClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return DeploymentLicenseClientCreateResponse{}, err
	}
	resp, err := client.createHandleResponse(httpResp)
	return resp, err
}

// createCreateRequest creates the Create request.
func (client *DeploymentLicenseClient) createCreateRequest(ctx context.Context, deploymentLicenseRequest DeploymentLicenseRequest, _ *DeploymentLicenseClientCreateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStack/generateDeploymentLicense"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-06-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, deploymentLicenseRequest); err != nil {
		return nil, err
	}
	return req, nil
}

// createHandleResponse handles the Create response.
func (client *DeploymentLicenseClient) createHandleResponse(resp *http.Response) (DeploymentLicenseClientCreateResponse, error) {
	result := DeploymentLicenseClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DeploymentLicenseResponse); err != nil {
		return DeploymentLicenseClientCreateResponse{}, err
	}
	return result, nil
}
