//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdashboard

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// EnterpriseDetailsClient contains the methods for the EnterpriseDetails group.
// Don't use this type directly, use NewEnterpriseDetailsClient() instead.
type EnterpriseDetailsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewEnterpriseDetailsClient creates a new instance of EnterpriseDetailsClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewEnterpriseDetailsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*EnterpriseDetailsClient, error) {
	cl, err := arm.NewClient(moduleName+".EnterpriseDetailsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &EnterpriseDetailsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Post - Retrieve enterprise add-on details information
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2022-10-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The workspace name of Azure Managed Grafana.
//   - options - EnterpriseDetailsClientPostOptions contains the optional parameters for the EnterpriseDetailsClient.Post method.
func (client *EnterpriseDetailsClient) Post(ctx context.Context, resourceGroupName string, workspaceName string, options *EnterpriseDetailsClientPostOptions) (EnterpriseDetailsClientPostResponse, error) {
	var err error
	req, err := client.postCreateRequest(ctx, resourceGroupName, workspaceName, options)
	if err != nil {
		return EnterpriseDetailsClientPostResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return EnterpriseDetailsClientPostResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return EnterpriseDetailsClientPostResponse{}, err
	}
	resp, err := client.postHandleResponse(httpResp)
	return resp, err
}

// postCreateRequest creates the Post request.
func (client *EnterpriseDetailsClient) postCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, options *EnterpriseDetailsClientPostOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/checkEnterpriseDetails"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2022-10-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// postHandleResponse handles the Post response.
func (client *EnterpriseDetailsClient) postHandleResponse(resp *http.Response) (EnterpriseDetailsClientPostResponse, error) {
	result := EnterpriseDetailsClientPostResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EnterpriseDetails); err != nil {
		return EnterpriseDetailsClientPostResponse{}, err
	}
	return result, nil
}
