//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armsynapse

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ScopePoolsListByWorkspaceClient contains the methods for the ScopePoolsListByWorkspace group.
// Don't use this type directly, use NewScopePoolsListByWorkspaceClient() instead.
type ScopePoolsListByWorkspaceClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewScopePoolsListByWorkspaceClient creates a new instance of ScopePoolsListByWorkspaceClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewScopePoolsListByWorkspaceClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ScopePoolsListByWorkspaceClient, error) {
	cl, err := arm.NewClient(moduleName+".ScopePoolsListByWorkspaceClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ScopePoolsListByWorkspaceClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewGetPager - Gets a list of scope pools
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - options - ScopePoolsListByWorkspaceClientGetOptions contains the optional parameters for the ScopePoolsListByWorkspaceClient.NewGetPager
//     method.
func (client *ScopePoolsListByWorkspaceClient) NewGetPager(resourceGroupName string, workspaceName string, options *ScopePoolsListByWorkspaceClientGetOptions) *runtime.Pager[ScopePoolsListByWorkspaceClientGetResponse] {
	return runtime.NewPager(runtime.PagingHandler[ScopePoolsListByWorkspaceClientGetResponse]{
		More: func(page ScopePoolsListByWorkspaceClientGetResponse) bool {
			return false
		},
		Fetcher: func(ctx context.Context, page *ScopePoolsListByWorkspaceClientGetResponse) (ScopePoolsListByWorkspaceClientGetResponse, error) {
			req, err := client.getCreateRequest(ctx, resourceGroupName, workspaceName, options)
			if err != nil {
				return ScopePoolsListByWorkspaceClientGetResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return ScopePoolsListByWorkspaceClientGetResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return ScopePoolsListByWorkspaceClientGetResponse{}, runtime.NewResponseError(resp)
			}
			return client.getHandleResponse(resp)
		},
	})
}

// getCreateRequest creates the Get request.
func (client *ScopePoolsListByWorkspaceClient) getCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, options *ScopePoolsListByWorkspaceClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/scopePools"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ScopePoolsListByWorkspaceClient) getHandleResponse(resp *http.Response) (ScopePoolsListByWorkspaceClientGetResponse, error) {
	result := ScopePoolsListByWorkspaceClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ScopePoolsListResult); err != nil {
		return ScopePoolsListByWorkspaceClientGetResponse{}, err
	}
	return result, nil
}
