//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armsynapse

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SQLPoolsDatawareHouseQueriesStepsClient contains the methods for the SQLPoolsDatawareHouseQueriesSteps group.
// Don't use this type directly, use NewSQLPoolsDatawareHouseQueriesStepsClient() instead.
type SQLPoolsDatawareHouseQueriesStepsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewSQLPoolsDatawareHouseQueriesStepsClient creates a new instance of SQLPoolsDatawareHouseQueriesStepsClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSQLPoolsDatawareHouseQueriesStepsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SQLPoolsDatawareHouseQueriesStepsClient, error) {
	cl, err := arm.NewClient(moduleName+".SQLPoolsDatawareHouseQueriesStepsClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SQLPoolsDatawareHouseQueriesStepsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// List - SQL pool datawareHouse queries steps
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - sqlPoolName - SQL pool name
//   - dataWarehouseQueriesID - DatawareHouseQueries Id
//   - options - SQLPoolsDatawareHouseQueriesStepsClientListOptions contains the optional parameters for the SQLPoolsDatawareHouseQueriesStepsClient.List
//     method.
func (client *SQLPoolsDatawareHouseQueriesStepsClient) List(ctx context.Context, resourceGroupName string, workspaceName string, sqlPoolName string, dataWarehouseQueriesID string, options *SQLPoolsDatawareHouseQueriesStepsClientListOptions) (SQLPoolsDatawareHouseQueriesStepsClientListResponse, error) {
	req, err := client.listCreateRequest(ctx, resourceGroupName, workspaceName, sqlPoolName, dataWarehouseQueriesID, options)
	if err != nil {
		return SQLPoolsDatawareHouseQueriesStepsClientListResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SQLPoolsDatawareHouseQueriesStepsClientListResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SQLPoolsDatawareHouseQueriesStepsClientListResponse{}, runtime.NewResponseError(resp)
	}
	return client.listHandleResponse(resp)
}

// listCreateRequest creates the List request.
func (client *SQLPoolsDatawareHouseQueriesStepsClient) listCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, sqlPoolName string, dataWarehouseQueriesID string, options *SQLPoolsDatawareHouseQueriesStepsClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlPools/{sqlPoolName}/dataWarehouseQueries/{dataWarehouseQueriesId}/steps"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	if sqlPoolName == "" {
		return nil, errors.New("parameter sqlPoolName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{sqlPoolName}", url.PathEscape(sqlPoolName))
	if dataWarehouseQueriesID == "" {
		return nil, errors.New("parameter dataWarehouseQueriesID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{dataWarehouseQueriesId}", url.PathEscape(dataWarehouseQueriesID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *SQLPoolsDatawareHouseQueriesStepsClient) listHandleResponse(resp *http.Response) (SQLPoolsDatawareHouseQueriesStepsClientListResponse, error) {
	result := SQLPoolsDatawareHouseQueriesStepsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DataWarehouseQueriesStepsList); err != nil {
		return SQLPoolsDatawareHouseQueriesStepsClientListResponse{}, err
	}
	return result, nil
}
