//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armsynapse

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// WorkspaceTrustedServiceByPassConfigurationClient contains the methods for the WorkspaceTrustedServiceByPassConfiguration group.
// Don't use this type directly, use NewWorkspaceTrustedServiceByPassConfigurationClient() instead.
type WorkspaceTrustedServiceByPassConfigurationClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewWorkspaceTrustedServiceByPassConfigurationClient creates a new instance of WorkspaceTrustedServiceByPassConfigurationClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewWorkspaceTrustedServiceByPassConfigurationClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*WorkspaceTrustedServiceByPassConfigurationClient, error) {
	cl, err := arm.NewClient(moduleName+".WorkspaceTrustedServiceByPassConfigurationClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &WorkspaceTrustedServiceByPassConfigurationClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// CreateOrUpdate - Create or update Trusted Service By Pass Configuration
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - trustedServiceByPassConfiguration - Trusted Service By Pass Configuration
//   - options - WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateOptions contains the optional parameters for the
//     WorkspaceTrustedServiceByPassConfigurationClient.CreateOrUpdate method.
func (client *WorkspaceTrustedServiceByPassConfigurationClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, workspaceName string, trustedServiceByPassConfiguration any, options *WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateOptions) (WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, workspaceName, trustedServiceByPassConfiguration, options)
	if err != nil {
		return WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *WorkspaceTrustedServiceByPassConfigurationClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, trustedServiceByPassConfiguration any, options *WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/trustedServiceByPassConfiguration/default"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, trustedServiceByPassConfiguration)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *WorkspaceTrustedServiceByPassConfigurationClient) createOrUpdateHandleResponse(resp *http.Response) (WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateResponse, error) {
	result := WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.TrustedServiceByPassConfigurationArray); err != nil {
		return WorkspaceTrustedServiceByPassConfigurationClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}
