//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.
// DO NOT EDIT.

package armsynapse

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// WorkspaceCheckDefaultStorageAccountStatusClient contains the methods for the WorkspaceCheckDefaultStorageAccountStatus group.
// Don't use this type directly, use NewWorkspaceCheckDefaultStorageAccountStatusClient() instead.
type WorkspaceCheckDefaultStorageAccountStatusClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewWorkspaceCheckDefaultStorageAccountStatusClient creates a new instance of WorkspaceCheckDefaultStorageAccountStatusClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewWorkspaceCheckDefaultStorageAccountStatusClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*WorkspaceCheckDefaultStorageAccountStatusClient, error) {
	cl, err := arm.NewClient(moduleName+".WorkspaceCheckDefaultStorageAccountStatusClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &WorkspaceCheckDefaultStorageAccountStatusClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Create - Check Default Storage Account Status
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-08-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - workspaceName - The name of the workspace.
//   - checkDefaultStorageAccountStatus - Check Default Storage Account Status
//   - options - WorkspaceCheckDefaultStorageAccountStatusClientCreateOptions contains the optional parameters for the WorkspaceCheckDefaultStorageAccountStatusClient.Create
//     method.
func (client *WorkspaceCheckDefaultStorageAccountStatusClient) Create(ctx context.Context, resourceGroupName string, workspaceName string, checkDefaultStorageAccountStatus any, options *WorkspaceCheckDefaultStorageAccountStatusClientCreateOptions) (WorkspaceCheckDefaultStorageAccountStatusClientCreateResponse, error) {
	req, err := client.createCreateRequest(ctx, resourceGroupName, workspaceName, checkDefaultStorageAccountStatus, options)
	if err != nil {
		return WorkspaceCheckDefaultStorageAccountStatusClientCreateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkspaceCheckDefaultStorageAccountStatusClientCreateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return WorkspaceCheckDefaultStorageAccountStatusClientCreateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createHandleResponse(resp)
}

// createCreateRequest creates the Create request.
func (client *WorkspaceCheckDefaultStorageAccountStatusClient) createCreateRequest(ctx context.Context, resourceGroupName string, workspaceName string, checkDefaultStorageAccountStatus any, options *WorkspaceCheckDefaultStorageAccountStatusClientCreateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/checkDefaultStorageAccountStatus"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if workspaceName == "" {
		return nil, errors.New("parameter workspaceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workspaceName}", url.PathEscape(workspaceName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-08-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, checkDefaultStorageAccountStatus)
}

// createHandleResponse handles the Create response.
func (client *WorkspaceCheckDefaultStorageAccountStatusClient) createHandleResponse(resp *http.Response) (WorkspaceCheckDefaultStorageAccountStatusClientCreateResponse, error) {
	result := WorkspaceCheckDefaultStorageAccountStatusClientCreateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.CheckDefaultStorageAccountStatusArray); err != nil {
		return WorkspaceCheckDefaultStorageAccountStatusClientCreateResponse{}, err
	}
	return result, nil
}
