// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armkeyvault

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// NetworkSecurityPerimeterClient contains the methods for the NetworkSecurityPerimeter group.
// Don't use this type directly, use NewNetworkSecurityPerimeterClient() instead.
type NetworkSecurityPerimeterClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewNetworkSecurityPerimeterClient creates a new instance of NetworkSecurityPerimeterClient with the specified values.
//   - subscriptionID - Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms
//     part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewNetworkSecurityPerimeterClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*NetworkSecurityPerimeterClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &NetworkSecurityPerimeterClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetConfiguration - The Get operation gets information about the network security perimeter associations for the key vault.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2025-04-01
//   - resourceGroupName - Name of the resource group that contains the key vault.
//   - vaultName - The name of the key vault.
//   - associationProxyName - Association proxy name associated with the key vault.
//   - options - NetworkSecurityPerimeterClientGetConfigurationOptions contains the optional parameters for the NetworkSecurityPerimeterClient.GetConfiguration
//     method.
func (client *NetworkSecurityPerimeterClient) GetConfiguration(ctx context.Context, resourceGroupName string, vaultName string, associationProxyName string, options *NetworkSecurityPerimeterClientGetConfigurationOptions) (NetworkSecurityPerimeterClientGetConfigurationResponse, error) {
	var err error
	const operationName = "NetworkSecurityPerimeterClient.GetConfiguration"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getConfigurationCreateRequest(ctx, resourceGroupName, vaultName, associationProxyName, options)
	if err != nil {
		return NetworkSecurityPerimeterClientGetConfigurationResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return NetworkSecurityPerimeterClientGetConfigurationResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return NetworkSecurityPerimeterClientGetConfigurationResponse{}, err
	}
	resp, err := client.getConfigurationHandleResponse(httpResp)
	return resp, err
}

// getConfigurationCreateRequest creates the GetConfiguration request.
func (client *NetworkSecurityPerimeterClient) getConfigurationCreateRequest(ctx context.Context, resourceGroupName string, vaultName string, associationProxyName string, _ *NetworkSecurityPerimeterClientGetConfigurationOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/networkSecurityPerimeterConfigurations/{associationProxyName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if vaultName == "" {
		return nil, errors.New("parameter vaultName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vaultName}", url.PathEscape(vaultName))
	if associationProxyName == "" {
		return nil, errors.New("parameter associationProxyName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{associationProxyName}", url.PathEscape(associationProxyName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getConfigurationHandleResponse handles the GetConfiguration response.
func (client *NetworkSecurityPerimeterClient) getConfigurationHandleResponse(resp *http.Response) (NetworkSecurityPerimeterClientGetConfigurationResponse, error) {
	result := NetworkSecurityPerimeterClientGetConfigurationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.NetworkSecurityPerimeterConfiguration); err != nil {
		return NetworkSecurityPerimeterClientGetConfigurationResponse{}, err
	}
	return result, nil
}

// NewListConfigurationPager - The List operation gets information about the network security perimeter associations for the
// key vault.
//
// Generated from API version 2025-04-01
//   - resourceGroupName - Name of the resource group that contains the key vault.
//   - vaultName - The name of the key vault.
//   - options - NetworkSecurityPerimeterClientListConfigurationOptions contains the optional parameters for the NetworkSecurityPerimeterClient.NewListConfigurationPager
//     method.
func (client *NetworkSecurityPerimeterClient) NewListConfigurationPager(resourceGroupName string, vaultName string, options *NetworkSecurityPerimeterClientListConfigurationOptions) *runtime.Pager[NetworkSecurityPerimeterClientListConfigurationResponse] {
	return runtime.NewPager(runtime.PagingHandler[NetworkSecurityPerimeterClientListConfigurationResponse]{
		More: func(page NetworkSecurityPerimeterClientListConfigurationResponse) bool {
			return false
		},
		Fetcher: func(ctx context.Context, page *NetworkSecurityPerimeterClientListConfigurationResponse) (NetworkSecurityPerimeterClientListConfigurationResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "NetworkSecurityPerimeterClient.NewListConfigurationPager")
			req, err := client.listConfigurationCreateRequest(ctx, resourceGroupName, vaultName, options)
			if err != nil {
				return NetworkSecurityPerimeterClientListConfigurationResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return NetworkSecurityPerimeterClientListConfigurationResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return NetworkSecurityPerimeterClientListConfigurationResponse{}, runtime.NewResponseError(resp)
			}
			return client.listConfigurationHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listConfigurationCreateRequest creates the ListConfiguration request.
func (client *NetworkSecurityPerimeterClient) listConfigurationCreateRequest(ctx context.Context, resourceGroupName string, vaultName string, _ *NetworkSecurityPerimeterClientListConfigurationOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KeyVault/vaults/{vaultName}/networkSecurityPerimeterConfigurations"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if vaultName == "" {
		return nil, errors.New("parameter vaultName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vaultName}", url.PathEscape(vaultName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2025-04-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listConfigurationHandleResponse handles the ListConfiguration response.
func (client *NetworkSecurityPerimeterClient) listConfigurationHandleResponse(resp *http.Response) (NetworkSecurityPerimeterClientListConfigurationResponse, error) {
	result := NetworkSecurityPerimeterClientListConfigurationResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.NetworkSecurityPerimeterConfigurationListResult); err != nil {
		return NetworkSecurityPerimeterClientListConfigurationResponse{}, err
	}
	return result, nil
}
