//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcontainerservice

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// MachineClient contains the methods for the Machine group.
// Don't use this type directly, use NewMachineClient() instead.
type MachineClient struct {
	internal       *arm.Client
	subscriptionID string
	agentPoolName  string
}

// NewMachineClient creates a new instance of MachineClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - agentPoolName - The name of the agent pool.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewMachineClient(subscriptionID string, agentPoolName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*MachineClient, error) {
	cl, err := arm.NewClient(moduleName+".MachineClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &MachineClient{
		subscriptionID: subscriptionID,
		agentPoolName:  agentPoolName,
		internal:       cl,
	}
	return client, nil
}

// Get - Get info of spec machine in the specified managed cluster adn specified agentpool.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-07-02-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - resourceName - The name of the managed cluster resource.
//   - machineName - host name of the machine
//   - options - MachineClientGetOptions contains the optional parameters for the MachineClient.Get method.
func (client *MachineClient) Get(ctx context.Context, resourceGroupName string, resourceName string, machineName string, options *MachineClientGetOptions) (MachineClientGetResponse, error) {
	var err error
	const operationName = "MachineClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, resourceGroupName, resourceName, machineName, options)
	if err != nil {
		return MachineClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return MachineClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return MachineClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *MachineClient) getCreateRequest(ctx context.Context, resourceGroupName string, resourceName string, machineName string, options *MachineClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/machines/{machineName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if resourceName == "" {
		return nil, errors.New("parameter resourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceName}", url.PathEscape(resourceName))
	if client.agentPoolName == "" {
		return nil, errors.New("parameter client.agentPoolName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{agentPoolName}", url.PathEscape(client.agentPoolName))
	if machineName == "" {
		return nil, errors.New("parameter machineName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{machineName}", url.PathEscape(machineName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-07-02-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *MachineClient) getHandleResponse(resp *http.Response) (MachineClientGetResponse, error) {
	result := MachineClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Machine); err != nil {
		return MachineClientGetResponse{}, err
	}
	return result, nil
}
