//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// Code generated by Microsoft (R) AutoRest Code Generator.Changes may cause incorrect behavior and will be lost if the code
// is regenerated.
// DO NOT EDIT.

package armoffazurespringboot

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// ErrorSummariesClient contains the methods for the ErrorSummaries group.
// Don't use this type directly, use NewErrorSummariesClient() instead.
type ErrorSummariesClient struct {
	internal         *arm.Client
	subscriptionID   string
	siteName         string
	errorSummaryName string
}

// NewErrorSummariesClient creates a new instance of ErrorSummariesClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - siteName - The springbootsites name.
//   - errorSummaryName - The name of error summary
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewErrorSummariesClient(subscriptionID string, siteName string, errorSummaryName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*ErrorSummariesClient, error) {
	cl, err := arm.NewClient(moduleName+".ErrorSummariesClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &ErrorSummariesClient{
		subscriptionID:   subscriptionID,
		siteName:         siteName,
		errorSummaryName: errorSummaryName,
		internal:         cl,
	}
	return client, nil
}

// CreateOrUpdate - Puts the ErrorSummaries resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - body - The ErrorSummaries of discovered springbootsites
//   - options - ErrorSummariesClientCreateOrUpdateOptions contains the optional parameters for the ErrorSummariesClient.CreateOrUpdate
//     method.
func (client *ErrorSummariesClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, body ErrorSummary, options *ErrorSummariesClientCreateOrUpdateOptions) (ErrorSummariesClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, body, options)
	if err != nil {
		return ErrorSummariesClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ErrorSummariesClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ErrorSummariesClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *ErrorSummariesClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, body ErrorSummary, options *ErrorSummariesClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	if client.errorSummaryName == "" {
		return nil, errors.New("parameter client.errorSummaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{errorSummaryName}", url.PathEscape(client.errorSummaryName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *ErrorSummariesClient) createOrUpdateHandleResponse(resp *http.Response) (ErrorSummariesClientCreateOrUpdateResponse, error) {
	result := ErrorSummariesClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ErrorSummary); err != nil {
		return ErrorSummariesClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Deletes the ErrorSummaries resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ErrorSummariesClientDeleteOptions contains the optional parameters for the ErrorSummariesClient.Delete method.
func (client *ErrorSummariesClient) Delete(ctx context.Context, resourceGroupName string, options *ErrorSummariesClientDeleteOptions) (ErrorSummariesClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return ErrorSummariesClientDeleteResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ErrorSummariesClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return ErrorSummariesClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return ErrorSummariesClientDeleteResponse{}, nil
}

// deleteCreateRequest creates the Delete request.
func (client *ErrorSummariesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, options *ErrorSummariesClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	if client.errorSummaryName == "" {
		return nil, errors.New("parameter client.errorSummaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{errorSummaryName}", url.PathEscape(client.errorSummaryName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Get - Gets the ErrorSummaries resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ErrorSummariesClientGetOptions contains the optional parameters for the ErrorSummariesClient.Get method.
func (client *ErrorSummariesClient) Get(ctx context.Context, resourceGroupName string, options *ErrorSummariesClientGetOptions) (ErrorSummariesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return ErrorSummariesClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ErrorSummariesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return ErrorSummariesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *ErrorSummariesClient) getCreateRequest(ctx context.Context, resourceGroupName string, options *ErrorSummariesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	if client.errorSummaryName == "" {
		return nil, errors.New("parameter client.errorSummaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{errorSummaryName}", url.PathEscape(client.errorSummaryName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *ErrorSummariesClient) getHandleResponse(resp *http.Response) (ErrorSummariesClientGetResponse, error) {
	result := ErrorSummariesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ErrorSummary); err != nil {
		return ErrorSummariesClientGetResponse{}, err
	}
	return result, nil
}

// NewListBySitePager - Lists the ErrorSummaries resource in springbootsites.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - ErrorSummariesClientListBySiteOptions contains the optional parameters for the ErrorSummariesClient.NewListBySitePager
//     method.
func (client *ErrorSummariesClient) NewListBySitePager(resourceGroupName string, options *ErrorSummariesClientListBySiteOptions) *runtime.Pager[ErrorSummariesClientListBySiteResponse] {
	return runtime.NewPager(runtime.PagingHandler[ErrorSummariesClientListBySiteResponse]{
		More: func(page ErrorSummariesClientListBySiteResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *ErrorSummariesClientListBySiteResponse) (ErrorSummariesClientListBySiteResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listBySiteCreateRequest(ctx, resourceGroupName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return ErrorSummariesClientListBySiteResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return ErrorSummariesClientListBySiteResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return ErrorSummariesClientListBySiteResponse{}, runtime.NewResponseError(resp)
			}
			return client.listBySiteHandleResponse(resp)
		},
	})
}

// listBySiteCreateRequest creates the ListBySite request.
func (client *ErrorSummariesClient) listBySiteCreateRequest(ctx context.Context, resourceGroupName string, options *ErrorSummariesClientListBySiteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySiteHandleResponse handles the ListBySite response.
func (client *ErrorSummariesClient) listBySiteHandleResponse(resp *http.Response) (ErrorSummariesClientListBySiteResponse, error) {
	result := ErrorSummariesClientListBySiteResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ErrorSummaryList); err != nil {
		return ErrorSummariesClientListBySiteResponse{}, err
	}
	return result, nil
}

// Update - Patch the ErrorSummaries resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - body - Clouds patch payload.
//   - options - ErrorSummariesClientUpdateOptions contains the optional parameters for the ErrorSummariesClient.Update method.
func (client *ErrorSummariesClient) Update(ctx context.Context, resourceGroupName string, body ErrorSummariesResourcePatch, options *ErrorSummariesClientUpdateOptions) (ErrorSummariesClientUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, resourceGroupName, body, options)
	if err != nil {
		return ErrorSummariesClientUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return ErrorSummariesClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return ErrorSummariesClientUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *ErrorSummariesClient) updateCreateRequest(ctx context.Context, resourceGroupName string, body ErrorSummariesResourcePatch, options *ErrorSummariesClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.siteName == "" {
		return nil, errors.New("parameter client.siteName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{siteName}", url.PathEscape(client.siteName))
	if client.errorSummaryName == "" {
		return nil, errors.New("parameter client.errorSummaryName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{errorSummaryName}", url.PathEscape(client.errorSummaryName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, body)
}

// updateHandleResponse handles the Update response.
func (client *ErrorSummariesClient) updateHandleResponse(resp *http.Response) (ErrorSummariesClientUpdateResponse, error) {
	result := ErrorSummariesClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ErrorSummary); err != nil {
		return ErrorSummariesClientUpdateResponse{}, err
	}
	return result, nil
}
