//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// http://www.apache.org/licenses/LICENSE-2.0
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// Code generated by Microsoft (R) AutoRest Code Generator.Changes may cause incorrect behavior and will be lost if the code
// is regenerated.
// DO NOT EDIT.

package armoffazurespringboot

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// SpringbootsitesClient contains the methods for the Springbootsites group.
// Don't use this type directly, use NewSpringbootsitesClient() instead.
type SpringbootsitesClient struct {
	internal            *arm.Client
	subscriptionID      string
	springbootsitesName string
}

// NewSpringbootsitesClient creates a new instance of SpringbootsitesClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - springbootsitesName - The springbootsites name.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewSpringbootsitesClient(subscriptionID string, springbootsitesName string, credential azcore.TokenCredential, options *arm.ClientOptions) (*SpringbootsitesClient, error) {
	cl, err := arm.NewClient(moduleName+".SpringbootsitesClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &SpringbootsitesClient{
		subscriptionID:      subscriptionID,
		springbootsitesName: springbootsitesName,
		internal:            cl,
	}
	return client, nil
}

// CreateOrUpdate - Create a springbootsites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - springbootsites - Create a springbootsites payload.
//   - options - SpringbootsitesClientCreateOrUpdateOptions contains the optional parameters for the SpringbootsitesClient.CreateOrUpdate
//     method.
func (client *SpringbootsitesClient) CreateOrUpdate(ctx context.Context, resourceGroupName string, springbootsites SpringbootsitesModel, options *SpringbootsitesClientCreateOrUpdateOptions) (SpringbootsitesClientCreateOrUpdateResponse, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, springbootsites, options)
	if err != nil {
		return SpringbootsitesClientCreateOrUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SpringbootsitesClientCreateOrUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return SpringbootsitesClientCreateOrUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.createOrUpdateHandleResponse(resp)
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *SpringbootsitesClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, springbootsites SpringbootsitesModel, options *SpringbootsitesClientCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.springbootsitesName == "" {
		return nil, errors.New("parameter client.springbootsitesName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{springbootsitesName}", url.PathEscape(client.springbootsitesName))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, springbootsites)
}

// createOrUpdateHandleResponse handles the CreateOrUpdate response.
func (client *SpringbootsitesClient) createOrUpdateHandleResponse(resp *http.Response) (SpringbootsitesClientCreateOrUpdateResponse, error) {
	result := SpringbootsitesClientCreateOrUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SpringbootsitesModel); err != nil {
		return SpringbootsitesClientCreateOrUpdateResponse{}, err
	}
	return result, nil
}

// Delete - Delete a springbootsites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - SpringbootsitesClientDeleteOptions contains the optional parameters for the SpringbootsitesClient.Delete method.
func (client *SpringbootsitesClient) Delete(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientDeleteOptions) (SpringbootsitesClientDeleteResponse, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return SpringbootsitesClientDeleteResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SpringbootsitesClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusNoContent) {
		return SpringbootsitesClientDeleteResponse{}, runtime.NewResponseError(resp)
	}
	return client.deleteHandleResponse(resp)
}

// deleteCreateRequest creates the Delete request.
func (client *SpringbootsitesClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.springbootsitesName == "" {
		return nil, errors.New("parameter client.springbootsitesName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{springbootsitesName}", url.PathEscape(client.springbootsitesName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// deleteHandleResponse handles the Delete response.
func (client *SpringbootsitesClient) deleteHandleResponse(resp *http.Response) (SpringbootsitesClientDeleteResponse, error) {
	result := SpringbootsitesClientDeleteResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SpringbootsitesModel); err != nil {
		return SpringbootsitesClientDeleteResponse{}, err
	}
	return result, nil
}

// Get - Get a springbootsites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - SpringbootsitesClientGetOptions contains the optional parameters for the SpringbootsitesClient.Get method.
func (client *SpringbootsitesClient) Get(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientGetOptions) (SpringbootsitesClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return SpringbootsitesClientGetResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SpringbootsitesClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SpringbootsitesClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *SpringbootsitesClient) getCreateRequest(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.springbootsitesName == "" {
		return nil, errors.New("parameter client.springbootsitesName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{springbootsitesName}", url.PathEscape(client.springbootsitesName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *SpringbootsitesClient) getHandleResponse(resp *http.Response) (SpringbootsitesClientGetResponse, error) {
	result := SpringbootsitesClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SpringbootsitesModel); err != nil {
		return SpringbootsitesClientGetResponse{}, err
	}
	return result, nil
}

// NewListByResourceGroupPager - List springbootsites resource by resourceGroup.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - SpringbootsitesClientListByResourceGroupOptions contains the optional parameters for the SpringbootsitesClient.NewListByResourceGroupPager
//     method.
func (client *SpringbootsitesClient) NewListByResourceGroupPager(resourceGroupName string, options *SpringbootsitesClientListByResourceGroupOptions) *runtime.Pager[SpringbootsitesClientListByResourceGroupResponse] {
	return runtime.NewPager(runtime.PagingHandler[SpringbootsitesClientListByResourceGroupResponse]{
		More: func(page SpringbootsitesClientListByResourceGroupResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SpringbootsitesClientListByResourceGroupResponse) (SpringbootsitesClientListByResourceGroupResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listByResourceGroupCreateRequest(ctx, resourceGroupName, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return SpringbootsitesClientListByResourceGroupResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return SpringbootsitesClientListByResourceGroupResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return SpringbootsitesClientListByResourceGroupResponse{}, runtime.NewResponseError(resp)
			}
			return client.listByResourceGroupHandleResponse(resp)
		},
	})
}

// listByResourceGroupCreateRequest creates the ListByResourceGroup request.
func (client *SpringbootsitesClient) listByResourceGroupCreateRequest(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientListByResourceGroupOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listByResourceGroupHandleResponse handles the ListByResourceGroup response.
func (client *SpringbootsitesClient) listByResourceGroupHandleResponse(resp *http.Response) (SpringbootsitesClientListByResourceGroupResponse, error) {
	result := SpringbootsitesClientListByResourceGroupResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SpringbootsitesListResult); err != nil {
		return SpringbootsitesClientListByResourceGroupResponse{}, err
	}
	return result, nil
}

// NewListBySubscriptionPager - List springbootsites resource by subscription
//
// Generated from API version 2023-01-01-preview
//   - options - SpringbootsitesClientListBySubscriptionOptions contains the optional parameters for the SpringbootsitesClient.NewListBySubscriptionPager
//     method.
func (client *SpringbootsitesClient) NewListBySubscriptionPager(options *SpringbootsitesClientListBySubscriptionOptions) *runtime.Pager[SpringbootsitesClientListBySubscriptionResponse] {
	return runtime.NewPager(runtime.PagingHandler[SpringbootsitesClientListBySubscriptionResponse]{
		More: func(page SpringbootsitesClientListBySubscriptionResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *SpringbootsitesClientListBySubscriptionResponse) (SpringbootsitesClientListBySubscriptionResponse, error) {
			var req *policy.Request
			var err error
			if page == nil {
				req, err = client.listBySubscriptionCreateRequest(ctx, options)
			} else {
				req, err = runtime.NewRequest(ctx, http.MethodGet, *page.NextLink)
			}
			if err != nil {
				return SpringbootsitesClientListBySubscriptionResponse{}, err
			}
			resp, err := client.internal.Pipeline().Do(req)
			if err != nil {
				return SpringbootsitesClientListBySubscriptionResponse{}, err
			}
			if !runtime.HasStatusCode(resp, http.StatusOK) {
				return SpringbootsitesClientListBySubscriptionResponse{}, runtime.NewResponseError(resp)
			}
			return client.listBySubscriptionHandleResponse(resp)
		},
	})
}

// listBySubscriptionCreateRequest creates the ListBySubscription request.
func (client *SpringbootsitesClient) listBySubscriptionCreateRequest(ctx context.Context, options *SpringbootsitesClientListBySubscriptionOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.OffAzureSpringBoot/springbootsites"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listBySubscriptionHandleResponse handles the ListBySubscription response.
func (client *SpringbootsitesClient) listBySubscriptionHandleResponse(resp *http.Response) (SpringbootsitesClientListBySubscriptionResponse, error) {
	result := SpringbootsitesClientListBySubscriptionResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SpringbootsitesListResult); err != nil {
		return SpringbootsitesClientListBySubscriptionResponse{}, err
	}
	return result, nil
}

// BeginTriggerRefreshSite - Trigger refresh springbootsites action
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - options - SpringbootsitesClientBeginTriggerRefreshSiteOptions contains the optional parameters for the SpringbootsitesClient.BeginTriggerRefreshSite
//     method.
func (client *SpringbootsitesClient) BeginTriggerRefreshSite(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientBeginTriggerRefreshSiteOptions) (*runtime.Poller[SpringbootsitesClientTriggerRefreshSiteResponse], error) {
	if options == nil || options.ResumeToken == "" {
		resp, err := client.triggerRefreshSite(ctx, resourceGroupName, options)
		if err != nil {
			return nil, err
		}
		return runtime.NewPoller(resp, client.internal.Pipeline(), &runtime.NewPollerOptions[SpringbootsitesClientTriggerRefreshSiteResponse]{
			FinalStateVia: runtime.FinalStateViaLocation,
		})
	} else {
		return runtime.NewPollerFromResumeToken[SpringbootsitesClientTriggerRefreshSiteResponse](options.ResumeToken, client.internal.Pipeline(), nil)
	}
}

// TriggerRefreshSite - Trigger refresh springbootsites action
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
func (client *SpringbootsitesClient) triggerRefreshSite(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientBeginTriggerRefreshSiteOptions) (*http.Response, error) {
	req, err := client.triggerRefreshSiteCreateRequest(ctx, resourceGroupName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// triggerRefreshSiteCreateRequest creates the TriggerRefreshSite request.
func (client *SpringbootsitesClient) triggerRefreshSiteCreateRequest(ctx context.Context, resourceGroupName string, options *SpringbootsitesClientBeginTriggerRefreshSiteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}/RefreshSite"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.springbootsitesName == "" {
		return nil, errors.New("parameter client.springbootsitesName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{springbootsitesName}", url.PathEscape(client.springbootsitesName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// Update - Update a springbootsites resource.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01-preview
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - springbootsites - Update a springbootsites payload.
//   - options - SpringbootsitesClientUpdateOptions contains the optional parameters for the SpringbootsitesClient.Update method.
func (client *SpringbootsitesClient) Update(ctx context.Context, resourceGroupName string, springbootsites SpringbootsitesPatch, options *SpringbootsitesClientUpdateOptions) (SpringbootsitesClientUpdateResponse, error) {
	req, err := client.updateCreateRequest(ctx, resourceGroupName, springbootsites, options)
	if err != nil {
		return SpringbootsitesClientUpdateResponse{}, err
	}
	resp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return SpringbootsitesClientUpdateResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusCreated) {
		return SpringbootsitesClientUpdateResponse{}, runtime.NewResponseError(resp)
	}
	return client.updateHandleResponse(resp)
}

// updateCreateRequest creates the Update request.
func (client *SpringbootsitesClient) updateCreateRequest(ctx context.Context, resourceGroupName string, springbootsites SpringbootsitesPatch, options *SpringbootsitesClientUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{springbootsitesName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if client.springbootsitesName == "" {
		return nil, errors.New("parameter client.springbootsitesName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{springbootsitesName}", url.PathEscape(client.springbootsitesName))
	req, err := runtime.NewRequest(ctx, http.MethodPatch, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, runtime.MarshalAsJSON(req, springbootsites)
}

// updateHandleResponse handles the Update response.
func (client *SpringbootsitesClient) updateHandleResponse(resp *http.Response) (SpringbootsitesClientUpdateResponse, error) {
	result := SpringbootsitesClientUpdateResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.SpringbootsitesModel); err != nil {
		return SpringbootsitesClientUpdateResponse{}, err
	}
	return result, nil
}
