//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armnetwork

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PerimeterAssociableResourceTypesClient contains the methods for the PerimeterAssociableResourceTypes group.
// Don't use this type directly, use NewPerimeterAssociableResourceTypesClient() instead.
type PerimeterAssociableResourceTypesClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewPerimeterAssociableResourceTypesClient creates a new instance of PerimeterAssociableResourceTypesClient with the specified values.
//   - subscriptionID - The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription
//     ID forms part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewPerimeterAssociableResourceTypesClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*PerimeterAssociableResourceTypesClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PerimeterAssociableResourceTypesClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewListPager - Gets the list of resources that are onboarded with NSP. These resources can be associated with a network
// security perimeter
//
// Generated from API version 2024-07-01
//   - location - The location of network security perimeter.
//   - options - PerimeterAssociableResourceTypesClientListOptions contains the optional parameters for the PerimeterAssociableResourceTypesClient.NewListPager
//     method.
func (client *PerimeterAssociableResourceTypesClient) NewListPager(location string, options *PerimeterAssociableResourceTypesClientListOptions) *runtime.Pager[PerimeterAssociableResourceTypesClientListResponse] {
	return runtime.NewPager(runtime.PagingHandler[PerimeterAssociableResourceTypesClientListResponse]{
		More: func(page PerimeterAssociableResourceTypesClientListResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *PerimeterAssociableResourceTypesClientListResponse) (PerimeterAssociableResourceTypesClientListResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "PerimeterAssociableResourceTypesClient.NewListPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listCreateRequest(ctx, location, options)
			}, nil)
			if err != nil {
				return PerimeterAssociableResourceTypesClientListResponse{}, err
			}
			return client.listHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listCreateRequest creates the List request.
func (client *PerimeterAssociableResourceTypesClient) listCreateRequest(ctx context.Context, location string, options *PerimeterAssociableResourceTypesClientListOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if location == "" {
		return nil, errors.New("parameter location cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{location}", url.PathEscape(location))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-07-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listHandleResponse handles the List response.
func (client *PerimeterAssociableResourceTypesClient) listHandleResponse(resp *http.Response) (PerimeterAssociableResourceTypesClientListResponse, error) {
	result := PerimeterAssociableResourceTypesClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PerimeterAssociableResourcesListResult); err != nil {
		return PerimeterAssociableResourceTypesClientListResponse{}, err
	}
	return result, nil
}
