//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// DatabasesControllerClient contains the methods for the DatabasesController group.
// Don't use this type directly, use NewDatabasesControllerClient() instead.
type DatabasesControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewDatabasesControllerClient creates a new instance of DatabasesControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewDatabasesControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*DatabasesControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &DatabasesControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetDatabase - Gets a database in the migrate project.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - databaseName - Unique name of a database in Azure migration hub.
//   - options - DatabasesControllerClientGetDatabaseOptions contains the optional parameters for the DatabasesControllerClient.GetDatabase
//     method.
func (client *DatabasesControllerClient) GetDatabase(ctx context.Context, resourceGroupName string, migrateProjectName string, databaseName string, options *DatabasesControllerClientGetDatabaseOptions) (DatabasesControllerClientGetDatabaseResponse, error) {
	var err error
	const operationName = "DatabasesControllerClient.GetDatabase"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getDatabaseCreateRequest(ctx, resourceGroupName, migrateProjectName, databaseName, options)
	if err != nil {
		return DatabasesControllerClientGetDatabaseResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return DatabasesControllerClientGetDatabaseResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return DatabasesControllerClientGetDatabaseResponse{}, err
	}
	resp, err := client.getDatabaseHandleResponse(httpResp)
	return resp, err
}

// getDatabaseCreateRequest creates the GetDatabase request.
func (client *DatabasesControllerClient) getDatabaseCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, databaseName string, options *DatabasesControllerClientGetDatabaseOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases/{databaseName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	if databaseName == "" {
		return nil, errors.New("parameter databaseName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{databaseName}", url.PathEscape(databaseName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getDatabaseHandleResponse handles the GetDatabase response.
func (client *DatabasesControllerClient) getDatabaseHandleResponse(resp *http.Response) (DatabasesControllerClientGetDatabaseResponse, error) {
	result := DatabasesControllerClientGetDatabaseResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Database); err != nil {
		return DatabasesControllerClientGetDatabaseResponse{}, err
	}
	return result, nil
}

// NewListDatabasesPager - Gets a list of databases in the migrate project.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - options - DatabasesControllerClientListDatabasesOptions contains the optional parameters for the DatabasesControllerClient.NewListDatabasesPager
//     method.
func (client *DatabasesControllerClient) NewListDatabasesPager(resourceGroupName string, migrateProjectName string, options *DatabasesControllerClientListDatabasesOptions) *runtime.Pager[DatabasesControllerClientListDatabasesResponse] {
	return runtime.NewPager(runtime.PagingHandler[DatabasesControllerClientListDatabasesResponse]{
		More: func(page DatabasesControllerClientListDatabasesResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *DatabasesControllerClientListDatabasesResponse) (DatabasesControllerClientListDatabasesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "DatabasesControllerClient.NewListDatabasesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listDatabasesCreateRequest(ctx, resourceGroupName, migrateProjectName, options)
			}, nil)
			if err != nil {
				return DatabasesControllerClientListDatabasesResponse{}, err
			}
			return client.listDatabasesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listDatabasesCreateRequest creates the ListDatabases request.
func (client *DatabasesControllerClient) listDatabasesCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, options *DatabasesControllerClientListDatabasesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.PageSize != nil {
		reqQP.Set("pageSize", strconv.FormatInt(int64(*options.PageSize), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listDatabasesHandleResponse handles the ListDatabases response.
func (client *DatabasesControllerClient) listDatabasesHandleResponse(resp *http.Response) (DatabasesControllerClientListDatabasesResponse, error) {
	result := DatabasesControllerClientListDatabasesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.DatabaseCollection); err != nil {
		return DatabasesControllerClientListDatabasesResponse{}, err
	}
	return result, nil
}
