//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// EventsControllerClient contains the methods for the EventsController group.
// Don't use this type directly, use NewEventsControllerClient() instead.
type EventsControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewEventsControllerClient creates a new instance of EventsControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewEventsControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*EventsControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &EventsControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Delete - Delete the migrate event. Deleting non-existent migrate event is a no-operation.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - eventName - Unique name of an event within a migrate project.
//   - options - EventsControllerClientDeleteOptions contains the optional parameters for the EventsControllerClient.Delete method.
func (client *EventsControllerClient) Delete(ctx context.Context, resourceGroupName string, migrateProjectName string, eventName string, options *EventsControllerClientDeleteOptions) (EventsControllerClientDeleteResponse, error) {
	var err error
	const operationName = "EventsControllerClient.Delete"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, migrateProjectName, eventName, options)
	if err != nil {
		return EventsControllerClientDeleteResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return EventsControllerClientDeleteResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK, http.StatusNoContent) {
		err = runtime.NewResponseError(httpResp)
		return EventsControllerClientDeleteResponse{}, err
	}
	resp, err := client.deleteHandleResponse(httpResp)
	return resp, err
}

// deleteCreateRequest creates the Delete request.
func (client *EventsControllerClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, eventName string, options *EventsControllerClientDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents/{eventName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	if eventName == "" {
		return nil, errors.New("parameter eventName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{eventName}", url.PathEscape(eventName))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// deleteHandleResponse handles the Delete response.
func (client *EventsControllerClient) deleteHandleResponse(resp *http.Response) (EventsControllerClientDeleteResponse, error) {
	result := EventsControllerClientDeleteResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.Interface); err != nil {
		return EventsControllerClientDeleteResponse{}, err
	}
	return result, nil
}

// GetEvent - Gets an event in the migrate project.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - eventName - Unique name of an event within a migrate project.
//   - options - EventsControllerClientGetEventOptions contains the optional parameters for the EventsControllerClient.GetEvent
//     method.
func (client *EventsControllerClient) GetEvent(ctx context.Context, resourceGroupName string, migrateProjectName string, eventName string, options *EventsControllerClientGetEventOptions) (EventsControllerClientGetEventResponse, error) {
	var err error
	const operationName = "EventsControllerClient.GetEvent"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getEventCreateRequest(ctx, resourceGroupName, migrateProjectName, eventName, options)
	if err != nil {
		return EventsControllerClientGetEventResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return EventsControllerClientGetEventResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return EventsControllerClientGetEventResponse{}, err
	}
	resp, err := client.getEventHandleResponse(httpResp)
	return resp, err
}

// getEventCreateRequest creates the GetEvent request.
func (client *EventsControllerClient) getEventCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, eventName string, options *EventsControllerClientGetEventOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents/{eventName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	if eventName == "" {
		return nil, errors.New("parameter eventName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{eventName}", url.PathEscape(eventName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getEventHandleResponse handles the GetEvent response.
func (client *EventsControllerClient) getEventHandleResponse(resp *http.Response) (EventsControllerClientGetEventResponse, error) {
	result := EventsControllerClientGetEventResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.MigrateEvent); err != nil {
		return EventsControllerClientGetEventResponse{}, err
	}
	return result, nil
}

// NewListEventsPager - Gets a list of events in the migrate project.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - options - EventsControllerClientListEventsOptions contains the optional parameters for the EventsControllerClient.NewListEventsPager
//     method.
func (client *EventsControllerClient) NewListEventsPager(resourceGroupName string, migrateProjectName string, options *EventsControllerClientListEventsOptions) *runtime.Pager[EventsControllerClientListEventsResponse] {
	return runtime.NewPager(runtime.PagingHandler[EventsControllerClientListEventsResponse]{
		More: func(page EventsControllerClientListEventsResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *EventsControllerClientListEventsResponse) (EventsControllerClientListEventsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "EventsControllerClient.NewListEventsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listEventsCreateRequest(ctx, resourceGroupName, migrateProjectName, options)
			}, nil)
			if err != nil {
				return EventsControllerClientListEventsResponse{}, err
			}
			return client.listEventsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listEventsCreateRequest creates the ListEvents request.
func (client *EventsControllerClient) listEventsCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, options *EventsControllerClientListEventsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/migrateEvents"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listEventsHandleResponse handles the ListEvents response.
func (client *EventsControllerClient) listEventsHandleResponse(resp *http.Response) (EventsControllerClientListEventsResponse, error) {
	result := EventsControllerClientListEventsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.EventCollection); err != nil {
		return EventsControllerClientListEventsResponse{}, err
	}
	return result, nil
}
