//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PrivateLinkResourceControllerClient contains the methods for the PrivateLinkResourceController group.
// Don't use this type directly, use NewPrivateLinkResourceControllerClient() instead.
type PrivateLinkResourceControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewPrivateLinkResourceControllerClient creates a new instance of PrivateLinkResourceControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewPrivateLinkResourceControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*PrivateLinkResourceControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PrivateLinkResourceControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetPrivateLinkResource - Get the private link resource with the specified name.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - privateLinkResourceName - Private Link resource name.
//   - options - PrivateLinkResourceControllerClientGetPrivateLinkResourceOptions contains the optional parameters for the PrivateLinkResourceControllerClient.GetPrivateLinkResource
//     method.
func (client *PrivateLinkResourceControllerClient) GetPrivateLinkResource(ctx context.Context, resourceGroupName string, migrateProjectName string, privateLinkResourceName string, options *PrivateLinkResourceControllerClientGetPrivateLinkResourceOptions) (PrivateLinkResourceControllerClientGetPrivateLinkResourceResponse, error) {
	var err error
	const operationName = "PrivateLinkResourceControllerClient.GetPrivateLinkResource"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getPrivateLinkResourceCreateRequest(ctx, resourceGroupName, migrateProjectName, privateLinkResourceName, options)
	if err != nil {
		return PrivateLinkResourceControllerClientGetPrivateLinkResourceResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return PrivateLinkResourceControllerClientGetPrivateLinkResourceResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return PrivateLinkResourceControllerClientGetPrivateLinkResourceResponse{}, err
	}
	resp, err := client.getPrivateLinkResourceHandleResponse(httpResp)
	return resp, err
}

// getPrivateLinkResourceCreateRequest creates the GetPrivateLinkResource request.
func (client *PrivateLinkResourceControllerClient) getPrivateLinkResourceCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, privateLinkResourceName string, options *PrivateLinkResourceControllerClientGetPrivateLinkResourceOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources/{privateLinkResourceName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	if privateLinkResourceName == "" {
		return nil, errors.New("parameter privateLinkResourceName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{privateLinkResourceName}", url.PathEscape(privateLinkResourceName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getPrivateLinkResourceHandleResponse handles the GetPrivateLinkResource response.
func (client *PrivateLinkResourceControllerClient) getPrivateLinkResourceHandleResponse(resp *http.Response) (PrivateLinkResourceControllerClientGetPrivateLinkResourceResponse, error) {
	result := PrivateLinkResourceControllerClientGetPrivateLinkResourceResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PrivateLinkResource); err != nil {
		return PrivateLinkResourceControllerClientGetPrivateLinkResourceResponse{}, err
	}
	return result, nil
}

// NewGetPrivateLinkResourcesPager - Get the list of private link resources under a resource group and migrate project.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - options - PrivateLinkResourceControllerClientGetPrivateLinkResourcesOptions contains the optional parameters for the PrivateLinkResourceControllerClient.NewGetPrivateLinkResourcesPager
//     method.
func (client *PrivateLinkResourceControllerClient) NewGetPrivateLinkResourcesPager(resourceGroupName string, migrateProjectName string, options *PrivateLinkResourceControllerClientGetPrivateLinkResourcesOptions) *runtime.Pager[PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse] {
	return runtime.NewPager(runtime.PagingHandler[PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse]{
		More: func(page PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse) (PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "PrivateLinkResourceControllerClient.NewGetPrivateLinkResourcesPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.getPrivateLinkResourcesCreateRequest(ctx, resourceGroupName, migrateProjectName, options)
			}, nil)
			if err != nil {
				return PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse{}, err
			}
			return client.getPrivateLinkResourcesHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// getPrivateLinkResourcesCreateRequest creates the GetPrivateLinkResources request.
func (client *PrivateLinkResourceControllerClient) getPrivateLinkResourcesCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, options *PrivateLinkResourceControllerClientGetPrivateLinkResourcesOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getPrivateLinkResourcesHandleResponse handles the GetPrivateLinkResources response.
func (client *PrivateLinkResourceControllerClient) getPrivateLinkResourcesHandleResponse(resp *http.Response) (PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse, error) {
	result := PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PrivateLinkResourceCollection); err != nil {
		return PrivateLinkResourceControllerClientGetPrivateLinkResourcesResponse{}, err
	}
	return result, nil
}
