//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// PrivateEndpointConnectionsControllerClient contains the methods for the PrivateEndpointConnectionsController group.
// Don't use this type directly, use NewPrivateEndpointConnectionsControllerClient() instead.
type PrivateEndpointConnectionsControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewPrivateEndpointConnectionsControllerClient creates a new instance of PrivateEndpointConnectionsControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewPrivateEndpointConnectionsControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*PrivateEndpointConnectionsControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &PrivateEndpointConnectionsControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// NewGetPrivateEndpointConnectionsPager - Get all the private endpoint connections under a migrate project.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - options - PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsOptions contains the optional parameters
//     for the PrivateEndpointConnectionsControllerClient.NewGetPrivateEndpointConnectionsPager method.
func (client *PrivateEndpointConnectionsControllerClient) NewGetPrivateEndpointConnectionsPager(resourceGroupName string, migrateProjectName string, options *PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsOptions) *runtime.Pager[PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse] {
	return runtime.NewPager(runtime.PagingHandler[PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse]{
		More: func(page PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse) (PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "PrivateEndpointConnectionsControllerClient.NewGetPrivateEndpointConnectionsPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.getPrivateEndpointConnectionsCreateRequest(ctx, resourceGroupName, migrateProjectName, options)
			}, nil)
			if err != nil {
				return PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse{}, err
			}
			return client.getPrivateEndpointConnectionsHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// getPrivateEndpointConnectionsCreateRequest creates the GetPrivateEndpointConnections request.
func (client *PrivateEndpointConnectionsControllerClient) getPrivateEndpointConnectionsCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, options *PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnections"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getPrivateEndpointConnectionsHandleResponse handles the GetPrivateEndpointConnections response.
func (client *PrivateEndpointConnectionsControllerClient) getPrivateEndpointConnectionsHandleResponse(resp *http.Response) (PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse, error) {
	result := PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.PrivateEndpointConnectionCollection); err != nil {
		return PrivateEndpointConnectionsControllerClientGetPrivateEndpointConnectionsResponse{}, err
	}
	return result, nil
}
