//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// VirtualDesktopUserControllerClient contains the methods for the VirtualDesktopUserController group.
// Don't use this type directly, use NewVirtualDesktopUserControllerClient() instead.
type VirtualDesktopUserControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewVirtualDesktopUserControllerClient creates a new instance of VirtualDesktopUserControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewVirtualDesktopUserControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*VirtualDesktopUserControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &VirtualDesktopUserControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetVirtualDesktopUser - Gets a virtual desktop user in the migrate project.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - virtualDesktopUserName - The ARM name of the webserver to be fetched.
//   - options - VirtualDesktopUserControllerClientGetVirtualDesktopUserOptions contains the optional parameters for the VirtualDesktopUserControllerClient.GetVirtualDesktopUser
//     method.
func (client *VirtualDesktopUserControllerClient) GetVirtualDesktopUser(ctx context.Context, resourceGroupName string, migrateProjectName string, virtualDesktopUserName string, options *VirtualDesktopUserControllerClientGetVirtualDesktopUserOptions) (VirtualDesktopUserControllerClientGetVirtualDesktopUserResponse, error) {
	var err error
	const operationName = "VirtualDesktopUserControllerClient.GetVirtualDesktopUser"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getVirtualDesktopUserCreateRequest(ctx, resourceGroupName, migrateProjectName, virtualDesktopUserName, options)
	if err != nil {
		return VirtualDesktopUserControllerClientGetVirtualDesktopUserResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return VirtualDesktopUserControllerClientGetVirtualDesktopUserResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return VirtualDesktopUserControllerClientGetVirtualDesktopUserResponse{}, err
	}
	resp, err := client.getVirtualDesktopUserHandleResponse(httpResp)
	return resp, err
}

// getVirtualDesktopUserCreateRequest creates the GetVirtualDesktopUser request.
func (client *VirtualDesktopUserControllerClient) getVirtualDesktopUserCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, virtualDesktopUserName string, options *VirtualDesktopUserControllerClientGetVirtualDesktopUserOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers/{virtualDesktopUserName}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	if virtualDesktopUserName == "" {
		return nil, errors.New("parameter virtualDesktopUserName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{virtualDesktopUserName}", url.PathEscape(virtualDesktopUserName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getVirtualDesktopUserHandleResponse handles the GetVirtualDesktopUser response.
func (client *VirtualDesktopUserControllerClient) getVirtualDesktopUserHandleResponse(resp *http.Response) (VirtualDesktopUserControllerClientGetVirtualDesktopUserResponse, error) {
	result := VirtualDesktopUserControllerClientGetVirtualDesktopUserResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.VirtualDesktopUser); err != nil {
		return VirtualDesktopUserControllerClientGetVirtualDesktopUserResponse{}, err
	}
	return result, nil
}

// NewListVirtualDesktopUsersPager - Gets a list of virtual desktop users in the migrate project.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - options - VirtualDesktopUserControllerClientListVirtualDesktopUsersOptions contains the optional parameters for the VirtualDesktopUserControllerClient.NewListVirtualDesktopUsersPager
//     method.
func (client *VirtualDesktopUserControllerClient) NewListVirtualDesktopUsersPager(resourceGroupName string, migrateProjectName string, options *VirtualDesktopUserControllerClientListVirtualDesktopUsersOptions) *runtime.Pager[VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse] {
	return runtime.NewPager(runtime.PagingHandler[VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse]{
		More: func(page VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse) (VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "VirtualDesktopUserControllerClient.NewListVirtualDesktopUsersPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listVirtualDesktopUsersCreateRequest(ctx, resourceGroupName, migrateProjectName, options)
			}, nil)
			if err != nil {
				return VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse{}, err
			}
			return client.listVirtualDesktopUsersHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listVirtualDesktopUsersCreateRequest creates the ListVirtualDesktopUsers request.
func (client *VirtualDesktopUserControllerClient) listVirtualDesktopUsersCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, options *VirtualDesktopUserControllerClientListVirtualDesktopUsersOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.PageSize != nil {
		reqQP.Set("pageSize", strconv.FormatInt(int64(*options.PageSize), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listVirtualDesktopUsersHandleResponse handles the ListVirtualDesktopUsers response.
func (client *VirtualDesktopUserControllerClient) listVirtualDesktopUsersHandleResponse(resp *http.Response) (VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse, error) {
	result := VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.VirtualDesktopUserCollection); err != nil {
		return VirtualDesktopUserControllerClientListVirtualDesktopUsersResponse{}, err
	}
	return result, nil
}
