//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmigrationhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strconv"
	"strings"
)

// WebServersControllerClient contains the methods for the WebServersController group.
// Don't use this type directly, use NewWebServersControllerClient() instead.
type WebServersControllerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewWebServersControllerClient creates a new instance of WebServersControllerClient with the specified values.
//   - subscriptionID - The ID of the target subscription.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewWebServersControllerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*WebServersControllerClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &WebServersControllerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// GetWebServer - Gets a webserver in the migrate project.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - webServerID - The ARM name of the virtual desktop user.
//   - options - WebServersControllerClientGetWebServerOptions contains the optional parameters for the WebServersControllerClient.GetWebServer
//     method.
func (client *WebServersControllerClient) GetWebServer(ctx context.Context, resourceGroupName string, migrateProjectName string, webServerID string, options *WebServersControllerClientGetWebServerOptions) (WebServersControllerClientGetWebServerResponse, error) {
	var err error
	const operationName = "WebServersControllerClient.GetWebServer"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getWebServerCreateRequest(ctx, resourceGroupName, migrateProjectName, webServerID, options)
	if err != nil {
		return WebServersControllerClientGetWebServerResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WebServersControllerClientGetWebServerResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return WebServersControllerClientGetWebServerResponse{}, err
	}
	resp, err := client.getWebServerHandleResponse(httpResp)
	return resp, err
}

// getWebServerCreateRequest creates the GetWebServer request.
func (client *WebServersControllerClient) getWebServerCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, webServerID string, options *WebServersControllerClientGetWebServerOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webServers/{webServerId}"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	if webServerID == "" {
		return nil, errors.New("parameter webServerID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{webServerId}", url.PathEscape(webServerID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getWebServerHandleResponse handles the GetWebServer response.
func (client *WebServersControllerClient) getWebServerHandleResponse(resp *http.Response) (WebServersControllerClientGetWebServerResponse, error) {
	result := WebServersControllerClientGetWebServerResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WebServer); err != nil {
		return WebServersControllerClientGetWebServerResponse{}, err
	}
	return result, nil
}

// NewListWebServersPager - Gets a list of WebServers in the migrate project.
//
// Generated from API version 2023-01-01
//   - resourceGroupName - The name of the resource group. The name is case insensitive.
//   - migrateProjectName - Name of the Azure Migrate project.
//   - options - WebServersControllerClientListWebServersOptions contains the optional parameters for the WebServersControllerClient.NewListWebServersPager
//     method.
func (client *WebServersControllerClient) NewListWebServersPager(resourceGroupName string, migrateProjectName string, options *WebServersControllerClientListWebServersOptions) *runtime.Pager[WebServersControllerClientListWebServersResponse] {
	return runtime.NewPager(runtime.PagingHandler[WebServersControllerClientListWebServersResponse]{
		More: func(page WebServersControllerClientListWebServersResponse) bool {
			return page.NextLink != nil && len(*page.NextLink) > 0
		},
		Fetcher: func(ctx context.Context, page *WebServersControllerClientListWebServersResponse) (WebServersControllerClientListWebServersResponse, error) {
			ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, "WebServersControllerClient.NewListWebServersPager")
			nextLink := ""
			if page != nil {
				nextLink = *page.NextLink
			}
			resp, err := runtime.FetcherForNextLink(ctx, client.internal.Pipeline(), nextLink, func(ctx context.Context) (*policy.Request, error) {
				return client.listWebServersCreateRequest(ctx, resourceGroupName, migrateProjectName, options)
			}, nil)
			if err != nil {
				return WebServersControllerClientListWebServersResponse{}, err
			}
			return client.listWebServersHandleResponse(resp)
		},
		Tracer: client.internal.Tracer(),
	})
}

// listWebServersCreateRequest creates the ListWebServers request.
func (client *WebServersControllerClient) listWebServersCreateRequest(ctx context.Context, resourceGroupName string, migrateProjectName string, options *WebServersControllerClientListWebServersOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webServers"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if migrateProjectName == "" {
		return nil, errors.New("parameter migrateProjectName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{migrateProjectName}", url.PathEscape(migrateProjectName))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-01-01")
	if options != nil && options.ContinuationToken != nil {
		reqQP.Set("continuationToken", *options.ContinuationToken)
	}
	if options != nil && options.PageSize != nil {
		reqQP.Set("pageSize", strconv.FormatInt(int64(*options.PageSize), 10))
	}
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// listWebServersHandleResponse handles the ListWebServers response.
func (client *WebServersControllerClient) listWebServersHandleResponse(resp *http.Response) (WebServersControllerClientListWebServersResponse, error) {
	result := WebServersControllerClientListWebServersResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.WebServerCollection); err != nil {
		return WebServersControllerClientListWebServersResponse{}, err
	}
	return result, nil
}
