// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationmodernization/armmigrationmodernization"
	"net/http"
	"net/url"
	"regexp"
)

// MigrateAgentOperationStatusServer is a fake server for instances of the armmigrationmodernization.MigrateAgentOperationStatusClient type.
type MigrateAgentOperationStatusServer struct {
	// Get is the fake for method MigrateAgentOperationStatusClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, subscriptionID string, resourceGroupName string, modernizeProjectName string, agentName string, operationID string, options *armmigrationmodernization.MigrateAgentOperationStatusClientGetOptions) (resp azfake.Responder[armmigrationmodernization.MigrateAgentOperationStatusClientGetResponse], errResp azfake.ErrorResponder)
}

// NewMigrateAgentOperationStatusServerTransport creates a new instance of MigrateAgentOperationStatusServerTransport with the provided implementation.
// The returned MigrateAgentOperationStatusServerTransport instance is connected to an instance of armmigrationmodernization.MigrateAgentOperationStatusClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewMigrateAgentOperationStatusServerTransport(srv *MigrateAgentOperationStatusServer) *MigrateAgentOperationStatusServerTransport {
	return &MigrateAgentOperationStatusServerTransport{srv: srv}
}

// MigrateAgentOperationStatusServerTransport connects instances of armmigrationmodernization.MigrateAgentOperationStatusClient to instances of MigrateAgentOperationStatusServer.
// Don't use this type directly, use NewMigrateAgentOperationStatusServerTransport instead.
type MigrateAgentOperationStatusServerTransport struct {
	srv *MigrateAgentOperationStatusServer
}

// Do implements the policy.Transporter interface for MigrateAgentOperationStatusServerTransport.
func (m *MigrateAgentOperationStatusServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return m.dispatchToMethodFake(req, method)
}

func (m *MigrateAgentOperationStatusServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if migrateAgentOperationStatusServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = migrateAgentOperationStatusServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "MigrateAgentOperationStatusClient.Get":
				res.resp, res.err = m.dispatchGet(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (m *MigrateAgentOperationStatusServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if m.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/modernizeProjects/(?P<modernizeProjectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/migrateAgents/(?P<agentName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operations/(?P<operationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	subscriptionIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("subscriptionId")])
	if err != nil {
		return nil, err
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	modernizeProjectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("modernizeProjectName")])
	if err != nil {
		return nil, err
	}
	agentNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("agentName")])
	if err != nil {
		return nil, err
	}
	operationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := m.srv.Get(req.Context(), subscriptionIDParam, resourceGroupNameParam, modernizeProjectNameParam, agentNameParam, operationIDParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).OperationStatus, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to MigrateAgentOperationStatusServerTransport
var migrateAgentOperationStatusServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
