// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationmodernization/armmigrationmodernization"
	"net/http"
	"net/url"
	"regexp"
)

// ModernizeProjectOperationStatusServer is a fake server for instances of the armmigrationmodernization.ModernizeProjectOperationStatusClient type.
type ModernizeProjectOperationStatusServer struct {
	// Get is the fake for method ModernizeProjectOperationStatusClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, subscriptionID string, resourceGroupName string, modernizeProjectName string, operationID string, options *armmigrationmodernization.ModernizeProjectOperationStatusClientGetOptions) (resp azfake.Responder[armmigrationmodernization.ModernizeProjectOperationStatusClientGetResponse], errResp azfake.ErrorResponder)
}

// NewModernizeProjectOperationStatusServerTransport creates a new instance of ModernizeProjectOperationStatusServerTransport with the provided implementation.
// The returned ModernizeProjectOperationStatusServerTransport instance is connected to an instance of armmigrationmodernization.ModernizeProjectOperationStatusClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewModernizeProjectOperationStatusServerTransport(srv *ModernizeProjectOperationStatusServer) *ModernizeProjectOperationStatusServerTransport {
	return &ModernizeProjectOperationStatusServerTransport{srv: srv}
}

// ModernizeProjectOperationStatusServerTransport connects instances of armmigrationmodernization.ModernizeProjectOperationStatusClient to instances of ModernizeProjectOperationStatusServer.
// Don't use this type directly, use NewModernizeProjectOperationStatusServerTransport instead.
type ModernizeProjectOperationStatusServerTransport struct {
	srv *ModernizeProjectOperationStatusServer
}

// Do implements the policy.Transporter interface for ModernizeProjectOperationStatusServerTransport.
func (m *ModernizeProjectOperationStatusServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	return m.dispatchToMethodFake(req, method)
}

func (m *ModernizeProjectOperationStatusServerTransport) dispatchToMethodFake(req *http.Request, method string) (*http.Response, error) {
	resultChan := make(chan result)
	defer close(resultChan)

	go func() {
		var intercepted bool
		var res result
		if modernizeProjectOperationStatusServerTransportInterceptor != nil {
			res.resp, res.err, intercepted = modernizeProjectOperationStatusServerTransportInterceptor.Do(req)
		}
		if !intercepted {
			switch method {
			case "ModernizeProjectOperationStatusClient.Get":
				res.resp, res.err = m.dispatchGet(req)
			default:
				res.err = fmt.Errorf("unhandled API %s", method)
			}

		}
		select {
		case resultChan <- res:
		case <-req.Context().Done():
		}
	}()

	select {
	case <-req.Context().Done():
		return nil, req.Context().Err()
	case res := <-resultChan:
		return res.resp, res.err
	}
}

func (m *ModernizeProjectOperationStatusServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if m.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/modernizeProjects/(?P<modernizeProjectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operations/(?P<operationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 4 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	qp := req.URL.Query()
	subscriptionIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("subscriptionId")])
	if err != nil {
		return nil, err
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	modernizeProjectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("modernizeProjectName")])
	if err != nil {
		return nil, err
	}
	operationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationId")])
	if err != nil {
		return nil, err
	}
	operationTypeUnescaped, err := url.QueryUnescape(qp.Get("OperationType"))
	if err != nil {
		return nil, err
	}
	operationTypeParam := getOptional(operationTypeUnescaped)
	var options *armmigrationmodernization.ModernizeProjectOperationStatusClientGetOptions
	if operationTypeParam != nil {
		options = &armmigrationmodernization.ModernizeProjectOperationStatusClientGetOptions{
			OperationType: operationTypeParam,
		}
	}
	respr, errRespr := m.srv.Get(req.Context(), subscriptionIDParam, resourceGroupNameParam, modernizeProjectNameParam, operationIDParam, options)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).OperationStatus, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}

// set this to conditionally intercept incoming requests to ModernizeProjectOperationStatusServerTransport
var modernizeProjectOperationStatusServerTransportInterceptor interface {
	// Do returns true if the server transport should use the returned response/error
	Do(*http.Request) (*http.Response, error, bool)
}
