//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package fake

import (
	"context"
	"errors"
	"fmt"
	azfake "github.com/Azure/azure-sdk-for-go/sdk/azcore/fake"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/fake/server"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/resourcemanager/migrationmodernization/armmigrationmodernization"
	"net/http"
	"net/url"
	"regexp"
)

// WorkloadInstanceOperationStatusServer is a fake server for instances of the armmigrationmodernization.WorkloadInstanceOperationStatusClient type.
type WorkloadInstanceOperationStatusServer struct {
	// Get is the fake for method WorkloadInstanceOperationStatusClient.Get
	// HTTP status codes to indicate success: http.StatusOK
	Get func(ctx context.Context, subscriptionID string, resourceGroupName string, modernizeProjectName string, workloadInstanceName string, operationID string, options *armmigrationmodernization.WorkloadInstanceOperationStatusClientGetOptions) (resp azfake.Responder[armmigrationmodernization.WorkloadInstanceOperationStatusClientGetResponse], errResp azfake.ErrorResponder)
}

// NewWorkloadInstanceOperationStatusServerTransport creates a new instance of WorkloadInstanceOperationStatusServerTransport with the provided implementation.
// The returned WorkloadInstanceOperationStatusServerTransport instance is connected to an instance of armmigrationmodernization.WorkloadInstanceOperationStatusClient via the
// azcore.ClientOptions.Transporter field in the client's constructor parameters.
func NewWorkloadInstanceOperationStatusServerTransport(srv *WorkloadInstanceOperationStatusServer) *WorkloadInstanceOperationStatusServerTransport {
	return &WorkloadInstanceOperationStatusServerTransport{srv: srv}
}

// WorkloadInstanceOperationStatusServerTransport connects instances of armmigrationmodernization.WorkloadInstanceOperationStatusClient to instances of WorkloadInstanceOperationStatusServer.
// Don't use this type directly, use NewWorkloadInstanceOperationStatusServerTransport instead.
type WorkloadInstanceOperationStatusServerTransport struct {
	srv *WorkloadInstanceOperationStatusServer
}

// Do implements the policy.Transporter interface for WorkloadInstanceOperationStatusServerTransport.
func (w *WorkloadInstanceOperationStatusServerTransport) Do(req *http.Request) (*http.Response, error) {
	rawMethod := req.Context().Value(runtime.CtxAPINameKey{})
	method, ok := rawMethod.(string)
	if !ok {
		return nil, nonRetriableError{errors.New("unable to dispatch request, missing value for CtxAPINameKey")}
	}

	var resp *http.Response
	var err error

	switch method {
	case "WorkloadInstanceOperationStatusClient.Get":
		resp, err = w.dispatchGet(req)
	default:
		err = fmt.Errorf("unhandled API %s", method)
	}

	if err != nil {
		return nil, err
	}

	return resp, nil
}

func (w *WorkloadInstanceOperationStatusServerTransport) dispatchGet(req *http.Request) (*http.Response, error) {
	if w.srv.Get == nil {
		return nil, &nonRetriableError{errors.New("fake for method Get not implemented")}
	}
	const regexStr = `/subscriptions/(?P<subscriptionId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/resourceGroups/(?P<resourceGroupName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/providers/Microsoft\.Migrate/modernizeProjects/(?P<modernizeProjectName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/workloadInstances/(?P<workloadInstanceName>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)/operations/(?P<operationId>[!#&$-;=?-\[\]_a-zA-Z0-9~%@]+)`
	regex := regexp.MustCompile(regexStr)
	matches := regex.FindStringSubmatch(req.URL.EscapedPath())
	if matches == nil || len(matches) < 5 {
		return nil, fmt.Errorf("failed to parse path %s", req.URL.Path)
	}
	subscriptionIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("subscriptionId")])
	if err != nil {
		return nil, err
	}
	resourceGroupNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("resourceGroupName")])
	if err != nil {
		return nil, err
	}
	modernizeProjectNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("modernizeProjectName")])
	if err != nil {
		return nil, err
	}
	workloadInstanceNameParam, err := url.PathUnescape(matches[regex.SubexpIndex("workloadInstanceName")])
	if err != nil {
		return nil, err
	}
	operationIDParam, err := url.PathUnescape(matches[regex.SubexpIndex("operationId")])
	if err != nil {
		return nil, err
	}
	respr, errRespr := w.srv.Get(req.Context(), subscriptionIDParam, resourceGroupNameParam, modernizeProjectNameParam, workloadInstanceNameParam, operationIDParam, nil)
	if respErr := server.GetError(errRespr, req); respErr != nil {
		return nil, respErr
	}
	respContent := server.GetResponseContent(respr)
	if !contains([]int{http.StatusOK}, respContent.HTTPStatus) {
		return nil, &nonRetriableError{fmt.Errorf("unexpected status code %d. acceptable values are http.StatusOK", respContent.HTTPStatus)}
	}
	resp, err := server.MarshalResponseAsJSON(respContent, server.GetResponse(respr).OperationStatus, req)
	if err != nil {
		return nil, err
	}
	return resp, nil
}
