//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armeventhub

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// UpgradeWindowTriggerClient contains the methods for the UpgradeWindowTrigger group.
// Don't use this type directly, use NewUpgradeWindowTriggerClient() instead.
type UpgradeWindowTriggerClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewUpgradeWindowTriggerClient creates a new instance of UpgradeWindowTriggerClient with the specified values.
//   - subscriptionID - Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms
//     part of the URI for every service call.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewUpgradeWindowTriggerClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*UpgradeWindowTriggerClient, error) {
	cl, err := arm.NewClient(moduleName+".UpgradeWindowTriggerClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &UpgradeWindowTriggerClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Post - Trigger cluster upgrade if and when possible
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2023-12-01-preview
//   - resourceGroupName - Name of the resource group within the azure subscription.
//   - clusterName - The name of the Event Hubs Cluster.
//   - options - UpgradeWindowTriggerClientPostOptions contains the optional parameters for the UpgradeWindowTriggerClient.Post
//     method.
func (client *UpgradeWindowTriggerClient) Post(ctx context.Context, resourceGroupName string, clusterName string, options *UpgradeWindowTriggerClientPostOptions) (UpgradeWindowTriggerClientPostResponse, error) {
	var err error
	req, err := client.postCreateRequest(ctx, resourceGroupName, clusterName, options)
	if err != nil {
		return UpgradeWindowTriggerClientPostResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return UpgradeWindowTriggerClientPostResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return UpgradeWindowTriggerClientPostResponse{}, err
	}
	return UpgradeWindowTriggerClientPostResponse{}, nil
}

// postCreateRequest creates the Post request.
func (client *UpgradeWindowTriggerClient) postCreateRequest(ctx context.Context, resourceGroupName string, clusterName string, options *UpgradeWindowTriggerClientPostOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/upgradewindowtrigger"
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if clusterName == "" {
		return nil, errors.New("parameter clusterName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{clusterName}", url.PathEscape(clusterName))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2023-12-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}
