//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armazuresiterecovery

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// WorkflowOperationStatusClient contains the methods for the WorkflowOperationStatus group.
// Don't use this type directly, use NewWorkflowOperationStatusClient() instead.
type WorkflowOperationStatusClient struct {
	internal *arm.Client
}

// NewWorkflowOperationStatusClient creates a new instance of WorkflowOperationStatusClient with the specified values.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewWorkflowOperationStatusClient(credential azcore.TokenCredential, options *arm.ClientOptions) (*WorkflowOperationStatusClient, error) {
	cl, err := arm.NewClient(moduleName+".WorkflowOperationStatusClient", moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &WorkflowOperationStatusClient{
		internal: cl,
	}
	return client, nil
}

// Get - Tracks the results of an asynchronous operation on the job.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2021-02-16-preview
//   - subscriptionID - The subscription Id.
//   - resourceGroupName - Resource group name.
//   - vaultName - Vault name.
//   - workflowName - Workflow name.
//   - operationID - Operation Id.
//   - options - WorkflowOperationStatusClientGetOptions contains the optional parameters for the WorkflowOperationStatusClient.Get
//     method.
func (client *WorkflowOperationStatusClient) Get(ctx context.Context, subscriptionID string, resourceGroupName string, vaultName string, workflowName string, operationID string, options *WorkflowOperationStatusClientGetOptions) (WorkflowOperationStatusClientGetResponse, error) {
	var err error
	req, err := client.getCreateRequest(ctx, subscriptionID, resourceGroupName, vaultName, workflowName, operationID, options)
	if err != nil {
		return WorkflowOperationStatusClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return WorkflowOperationStatusClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return WorkflowOperationStatusClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *WorkflowOperationStatusClient) getCreateRequest(ctx context.Context, subscriptionID string, resourceGroupName string, vaultName string, workflowName string, operationID string, options *WorkflowOperationStatusClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/jobs/{workflowName}/operations/{operationId}"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if vaultName == "" {
		return nil, errors.New("parameter vaultName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{vaultName}", url.PathEscape(vaultName))
	if workflowName == "" {
		return nil, errors.New("parameter workflowName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{workflowName}", url.PathEscape(workflowName))
	if operationID == "" {
		return nil, errors.New("parameter operationID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{operationId}", url.PathEscape(operationID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-02-16-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *WorkflowOperationStatusClient) getHandleResponse(resp *http.Response) (WorkflowOperationStatusClientGetResponse, error) {
	result := WorkflowOperationStatusClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.OperationStatus); err != nil {
		return WorkflowOperationStatusClientGetResponse{}, err
	}
	return result, nil
}
