//go:build go1.18
// +build go1.18

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator. DO NOT EDIT.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armrecoveryservicesbackup

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// BackupCrrJobDetailsClient contains the methods for the BackupCrrJobDetails group.
// Don't use this type directly, use NewBackupCrrJobDetailsClient() instead.
type BackupCrrJobDetailsClient struct {
	internal       *arm.Client
	subscriptionID string
}

// NewBackupCrrJobDetailsClient creates a new instance of BackupCrrJobDetailsClient with the specified values.
//   - subscriptionID - The subscription Id.
//   - credential - used to authorize requests. Usually a credential from azidentity.
//   - options - pass nil to accept the default values.
func NewBackupCrrJobDetailsClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) (*BackupCrrJobDetailsClient, error) {
	cl, err := arm.NewClient(moduleName, moduleVersion, credential, options)
	if err != nil {
		return nil, err
	}
	client := &BackupCrrJobDetailsClient{
		subscriptionID: subscriptionID,
		internal:       cl,
	}
	return client, nil
}

// Get - Get CRR job details from target region.
// If the operation fails it returns an *azcore.ResponseError type.
//
// Generated from API version 2024-11-15
//   - azureRegion - Azure region to hit Api
//   - parameters - CRR Job request
//   - options - BackupCrrJobDetailsClientGetOptions contains the optional parameters for the BackupCrrJobDetailsClient.Get method.
func (client *BackupCrrJobDetailsClient) Get(ctx context.Context, azureRegion string, parameters CrrJobRequest, options *BackupCrrJobDetailsClientGetOptions) (BackupCrrJobDetailsClientGetResponse, error) {
	var err error
	const operationName = "BackupCrrJobDetailsClient.Get"
	ctx = context.WithValue(ctx, runtime.CtxAPINameKey{}, operationName)
	ctx, endSpan := runtime.StartSpan(ctx, operationName, client.internal.Tracer(), nil)
	defer func() { endSpan(err) }()
	req, err := client.getCreateRequest(ctx, azureRegion, parameters, options)
	if err != nil {
		return BackupCrrJobDetailsClientGetResponse{}, err
	}
	httpResp, err := client.internal.Pipeline().Do(req)
	if err != nil {
		return BackupCrrJobDetailsClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(httpResp, http.StatusOK) {
		err = runtime.NewResponseError(httpResp)
		return BackupCrrJobDetailsClientGetResponse{}, err
	}
	resp, err := client.getHandleResponse(httpResp)
	return resp, err
}

// getCreateRequest creates the Get request.
func (client *BackupCrrJobDetailsClient) getCreateRequest(ctx context.Context, azureRegion string, parameters CrrJobRequest, options *BackupCrrJobDetailsClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupCrrJob"
	if azureRegion == "" {
		return nil, errors.New("parameter azureRegion cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{azureRegion}", url.PathEscape(azureRegion))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.internal.Endpoint(), urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2024-11-15")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header["Accept"] = []string{"application/json"}
	if err := runtime.MarshalAsJSON(req, parameters); err != nil {
		return nil, err
	}
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *BackupCrrJobDetailsClient) getHandleResponse(resp *http.Response) (BackupCrrJobDetailsClientGetResponse, error) {
	result := BackupCrrJobDetailsClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.JobResource); err != nil {
		return BackupCrrJobDetailsClientGetResponse{}, err
	}
	return result, nil
}
